/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto }
* { margin:0; padding:0; box-sizing: border-box }


/* === CONTAINERS FOR CONTENT IN FLEXBOX GRIDS === */

.block-content-flexbox { 
	background-color: #fff4e4;
	padding: 4% 8%;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap
}

/* === TWO COLUMNS IN FLEXBOX GRIDS === */
.col-2 { width: 46% }
.col-2:nth-child(1) { margin-right: 6% }
.col-2:nth-child(2) { margin-right: 0 }
.col-2:nth-child(3) { margin-right: 6% }
.col-2:nth-child(2) { margin-right: 0 }

/* === THREE COLUMNS IN FLEXBOX GRIDS === */
.col-3 { width: 30% }
.col-3:nth-child(1) { margin-right: 4% }
.col-3:nth-child(2) { margin-right: 4% }
.col-3:nth-child(3) { margin-right: 0 }
.col-3:nth-child(4) { margin-right: 4% }
.col-3:nth-child(5) { margin-right: 4% }
.col-3:nth-child(6) { margin-right: 0 }

/* === FOUR COLUMNS IN FLEXBOX GRIDS === */
.col-4 { width: 22% }
.col-4:nth-child(1) { margin-right: 4% }
.col-4:nth-child(2) { margin-right: 4% }
.col-4:nth-child(3) { margin-right: 4% }
.col-4:nth-child(4) { margin-right: 0 }
.col-4:nth-child(5) { margin-right: 4% }
.col-4:nth-child(6) { margin-right: 4% }
.col-4:nth-child(7) { margin-right: 4% }
.col-4:nth-child(8) { margin-right: 0 }


/* === FOUR COLUMNS TO TWO COLUMNS IN FLEXBOX GRIDS === */
.col-4-2 { width: 22% }
.col-4-2:nth-child(1) { margin-right: 4% }
.col-4-2:nth-child(2) { margin-right: 4% }
.col-4-2:nth-child(3) { margin-right: 4% }
.col-4-2:nth-child(4) { margin-right: 0 }
.col-4-2:nth-child(5) { margin-right: 4% }
.col-4-2:nth-child(6) { margin-right: 4% }
.col-4-2:nth-child(7) { margin-right: 4% }
.col-4-2:nth-child(8) { margin-right: 0 }


/* Mobiles - single columns */
@media all and (max-width:767px) {
	.block-content-flexbox { 
		padding: 4% 8%;
		flex-direction: column;
	}
	.col-2, .col-3, .col-4 {
		width: 100%;
		margin-right: 0;
	}
}

/* Mobiles - four to two columns */
@media all and (max-width:767px) {
	.block-content-flexbox.four-to-two { 
		padding: 4% 8%;
		flex-direction: row;
	}
	.col-4-2 {
		width: 46%;
	}
	.col-4-2:nth-child(1) { margin-right: 6% }
	.col-4-2:nth-child(2) { margin-right: 0 }
	.col-4-2:nth-child(3) { margin-right: 6% }
	.col-4-2:nth-child(4) { margin-right: 0 }
	.col-4-2:nth-child(5) { margin-right: 6% }
	.col-4-2:nth-child(6) { margin-right: 0 }
	.col-4-2:nth-child(7) { margin-right: 6% }
	.col-4-2:nth-child(8) { margin-right: 0 }
}



.block-content-flexbox h3 { 
	font-weight: bold; 
	color: #d1274b;
	line-height: 1.2;
	margin-bottom: 4px;
	font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1600 - 320))); 
}

.block-content-flexbox p { 
	font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
	margin-bottom: 14px;
}

