/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box }
html { height: 100% }
body { min-height: 100%; min-width: 320px; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/* ========== MAIN CONTENT CONTAINERS ========= */
/* Desktops */
@media all and (min-width:768px) { .container-block { padding: 4% 8% } }

/* Mobiles */
@media all and (max-width:767px) { .container-block { padding: 11% 8% } }


/* ========== FLEXBOX PARENT AND CHILD COLUMN ELEMENTS ========= */

/* Flexbox parent container */
.container-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

/* Desktops: flexbox child columns */
@media all and (min-width: 768px) {
    .item-col-4 { width: 22% }
}

/* Mobiles: flexbox child columns */
@media all and (max-width: 767px) {
    .item-col-4 { width: 100% }
    /* Vertical spacing under child columns */
    .item-col-4 { margin-bottom: 32px }
    /* No vertical spacing under last child column */
    .item-col-4:last-child  { margin-bottom: 0 } 
}

/* Desktops: inner padding for child columns */
@media all and (min-width: 768px) {
    .item-col-4.item-col-padding { padding: 1.8% 2% 2.2% 2% }
}

/* Mobiles: inner padding for child columns  */
@media all and (max-width: 767px) {
    .item-col-4.item-col-padding { padding: 6.5% 7% 7% 7% }
}


/* =========== SUB-HEADINGS AND PARAGRAPHS ============*/

/* Sub-headings inside flexbox child columns */
.item-col-4 h3 { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(24px + (28 - 24) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 4px;
}

/* Paragraphs inside flexbox child columns */
.item-col-4 p { 
    font-family: 'Roboto', sans-serif;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320)));
}

/* Desktops: paragraph line-spacing and bottom margin */
@media all and (min-width: 768px) {
    .item-col-4 p { line-height: 1.6; margin-bottom: 20px }
}

/* Mobiles: paragraph line-spacing and bottom margin */
@media all and (max-width: 767px) {
    .item-col-4 p { line-height: 1.4; margin-bottom: 14px }
}

/* No vertical spacing under final item inside child columns */
.item-col-4 *:last-child { margin-bottom: 0 }

/* Images inside child columns */
.item-col-4 img { margin-bottom: 20px }


/* ========= COLOURED BACKGROUNDS =========== */
.bg-light { background-color: #f5f5f5 }
.bg-dark  { background-color: #0e2439 }


/* Colours for sub-headings and paragraphs */
.container-flexbox.bg-dark .item-col-4 * { color: #fff }
.container-flexbox .item-col-4.bg-dark * { color: #fff }


