/* ==== BROWSER RESETS  ==== */
img { 
    display: block; width: 100%; height: auto; 

}

/* Web page */
body { 
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
    background-color: #d1274b
}

/* Main heading */
h1 {
	font-family: serif;
	font-weight: bold;
    font-size: 112px;
    color: #fff;
    text-align: center;
    line-height: 1.2;    
    margin-top: 56px;
    margin-bottom: 30px;
}

/* Small headings */
h2 {
	font-family: serif;
    font-weight: bold;
    font-size: 38px;
    color: #fff;
    text-align: center;
    line-height: 1.3;    
    margin-top: 0;
    margin-bottom: 42px;
    color:#DDA0DD
}

/* Smaller headings */
h3 {
	font-family: serif;
    font-weight: bold;
    font-size: 56px;
    color: #fff;
    text-align: center;
    line-height: 1.3; 
    letter-spacing:2px;
    margin-top: 12px;
    margin-bottom: 2px;
}

/* Text paragraphs */
p {
    font-family: serif;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 1.6;
    margin-top:0;
    margin-bottom: 32px;
}

/* Images */
img {
    margin-top: 64px;
    margin-bottom: 12px
}