/* ==== Browser resets  ==== */
img { display: block; width: 100%; height: auto }


/* Web page */
body { 
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 32px;
    background-color: rgb(247,233,225) 
}

/* Main heading */
h1 {
	font-family: serif;
	font-weight: bold;
	font-size: 54px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 32px;
}

/* Small headings */
h2 {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(91,86,154);    
    font-size: 32px;
    text-align:center;
    margin-top: 0;
    margin-bottom: 42px;
}

/* Smaller headings */
h3 {
	font-family: serif;
    font-weight: bold;
    font-size: 48px;
    color: rgb(91,86,154);
    margin-top: 32px;
    margin-bottom:4px;
}

/* Text paragraphs */
p {
   font-family: sans-serif;
   font-weight: normal;
   font-size: 22px;
   line-height: 1.6;
   margin-top: 0;
   margin-bottom: 20px;
}

/* Images */
img { 
    margin-bottom: 32px
}