#control-menu #content-1 { left: 68.5% } 
#control-menu #content-2 { left: 70.2% } 
#control-menu #content-3 { left: 64.4% } 
#control-menu #content-4 { left: 59.5% }
#control-menu #content-5 { left: 62.35% }


/* ============ 2: UPPER BLOCK MENU ============ */

#content-2 input[type="checkbox"].switch { margin-top: 6px; width: 60px }
#content-2 #label-align { margin-left: 20px; width: 60px; min-width: 60px }
#content-2 .input-group > label { min-width: 112px }
#content-2 .dialog-box .input-group select { min-width: 120px }


/* ============ 3: COLUMNS MENU ============ */

#content-3 .dialog-box .input-group > label { min-width: 120px }
#content-3 .dialog-box .input-group select { min-width: 84px }

#content-4 .rb-switch label:first-of-type {
    border-radius: 4px 0 0 4px;
    border-right-width: 1px;
    padding-top: 0;
    padding-bottom: 2px;
}

#content-4 .rb-switch label {
    padding: 0 10px 0px 6px;
}