
#control-menu #content-1 { left: 73.5% } 
#control-menu #content-2 { left: 70.4% } 
#control-menu #content-3 { left: 60.1% }
#control-menu #content-4 { left: 69.7% }

/* ============ 1: SECTION MAIN OPTIONS ============*/

#content-1 label { width: 148px }
#content-1 select#dd_class_name { min-width: 168px }
#content-1 select#dd_section_width { min-width: 132px }

#content-1 .rb-switch label:first-of-type { 
    border-radius: 4px 0 0 4px; border-width: 1px 0 1px 1px;
}
#content-1 .rb-switch label:last-of-type { border-radius: 0 4px 4px 0 }

#content-1 .dialog-box .input-group { margin-bottom: 24px }
#content-1 .dialog-box .input-group:last-of-type { margin-bottom: 0 }

#content-1 .dialog-box #btn_section_bg_solid,
#content-1 .dialog-box #btn_section_bg_gradient {
    padding: 6px 12px 10px 12px; min-width: 92px; width: 92px;
}


#form-bg-gradient-section-direction label { width: 42px }



/* ============ 2: UPPER MENU ============ */

#content-2 .dialog-box .input-group { margin-bottom: 18px; min-width: 320px }
#content-2 #label-align { margin-left: 20px; width: 60px; min-width: 60px }
#content-2 .input-group > label { min-width: 120px }
#content-2 .dialog-box .input-group select { min-width: 160px }
#content-2 .dialog-box hr { margin-top: 0 }
#content-2 .rb-switch label:first-of-type { border-radius: 4px 0 0 4px; border-right-width: 0 }
#content-2 .rb-switch label:last-of-type  { border-radius: 0 4px 4px 0 }
#content-2 .rb-switch input[disabled] + label:last-of-type { border-width: 1px 1px 1px 1px }
#content-2 .dialog-box .input-group { margin-bottom: 22px }
#content-2 .dialog-box .input-group:last-of-type { margin-bottom: 0 }



/* ============ 3: BUTTONS MENU ============ */

#content-3 .dialog-box-header { margin-bottom: -10px }
#content-3 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-3 .input-group:last-child { margin-bottom: 0 }
#content-3 input[type="radio"] { margin-right: 10px }
#content-3 label { display: inline-block; width: 100px }
#content-3 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 8px; margin-left: 8px }
#content-3 hr { margin-top: 16px }
#content-3 #dd_section_buttons { width: 86px }

#content-3 .switch-field,
#content-3 .dialog-box .input-group .switch-field { display: flex; overflow: hidden }

#content-3 .dialog-box .switch-field input,
#content-3 .dialog-box .input-group .switch-field input {
	position: absolute !important; overflow: hidden; 
	clip: rect(0, 0, 0, 0); height: 1px; width: 1px; border: 0;
}

#content-3 .dialog-box .switch-field label, 
#content-3 .dialog-box .input-group .switch-field label {
    background-color: var(--gray-400); 
    color: var(--gray-700);  fill: var(--gray-700);
    font-size: 16px; line-height: 1; text-align: center;  
    padding: 4px 10px 0 6px; margin-right: -1px; font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

#content-3 .dialog-box .switch-field label:hover,
#content-3 .dialog-box .input-group .switch-field label:hover { cursor: pointer }

#content-3 .dialog-box .switch-field input:checked + label,
#content-3 .dialog-box .input-group .switch-field input:checked + label {  
    box-shadow: none; background-color: #000; 
    color: var(--gray-200); fill: var(--gray-200) !important;
}

#content-3 .dialog-box .switch-field label:first-of-type,
#content-3 .dialog-box .input-group  .switch-field label:first-of-type { border-radius: 4px 0 0 4px }

#content-3 .dialog-box .switch-field label:last-of-type,
#content-3 .dialog-box .input-group  .switch-field label:last-of-type { border-radius: 0 4px 4px 0 }

#content-3 #rb-horz-left-mobile:checked + label {
    fill: var(--gray-200) !important;
}
#content-3 .rb-switch label:first-of-type {
    border-radius: 4px 0 0 4px;
    border-right-width: 1px;
    padding-top: 0;
    padding-bottom: 2px;
}

#content-3 .rb-switch label:last-of-type {
    border-radius: 0 4px 4px 0;
    padding-top: 0;
    padding-bottom: 2px;
}

#content-3 .input-group.two-col .column.column-wider {
    width: 47%;
    min-width: 280px;
    padding-right: 20px;
}

#content-3 .controls-top .content .input-group button {
    font-size: 14px;
    color: #000;
    background-color: #00ddff;
    padding: 0 8px 8px 8px;
    font-weight: 400;
    border-radius: 3px;
    border: solid 1px #00ddff;
}

#content-3 .container-buttons-block {
    min-width: 400px;
    margin: 20px auto 0 auto;
    /* background-color: #454946; */
    color: #fff;
}

#content-3 .buttonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    /* background-color: #454946; */
    min-width: 460px
}

#content-3 .buttonWrapper > button {
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px; letter-spacing: 2px;
    color: var(--gray-100); font-weight: 400;
    background-color: var(--dialog-bg);
    border-top: solid 1ox var(--dialog-bg);
    border-left: solid 1ox var(--dialog-bg);
    border-right: solid 1px var(--dialog-bg);
    border-bottom: solid 1px var(--gray-500);
    margin-bottom: -1px;
    z-index: 9; display: inline-block;
}

#content-3 .buttonWrapper > button:hover { 
    padding: 10px 10px 10px 9px; display: inline-block;
    background-color: var(--slate-600); color: #fff;
    border-left: solid 1px var(--slate-600);
    border-right: solid 1px var(--slate-600);
    border-bottom: solid 1px var(--slate-600);
    border-top-width: 0
}

#content-3 button.active { 
    color: #fff;
    background-color: #454946; 
    border-top: solid 1px var(--gray-500);
    border-left: solid 1px var(--gray-500);
    border-right: solid 1px var(--gray-500);
    border-bottom-color: #454946; 
}

#content-3 button.active:hover { 
    color: #fff;
    background-color: #454946; 
    border-bottom-color: #454946;
    border-left: solid 1px #9fb1bd;
    border-right: solid 1px #9fb1bd;
    border-top: solid 1px #9fb1bd;    
}

#content-3 .active { background-color: #454946 }

#content-3 .tab-content { 
    display: none; padding: 20px 12px 20px 10px;
    border-left: solid 1px #9fb1bd;
    border-right: solid 1px #9fb1bd;
    border-top: solid 1px #9fb1bd;    
    border-bottom: solid 1px #9fb1bd;    
    position: relative;
    z-index: 1; 
}

#content-3 .tab-content.active { display: block }

.contentWrapper .input-group button.btn_style {
    min-width: 140px
}


/* ============ 4: ILLUSTRATIONS MENU ============ */

#content-4 label { width: 160px }

/* .slidecontainer { padding-top: 12px } */
.container-slider span { color: #fff }
.container-slider #num { margin-top: -12px; display: inline-block }
.slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.container-slider input[type="range"] { accent-color: #03d4f4 } 

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #00ddff;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ddff;
    cursor: pointer;
}

#slider-display { color: #fff; margin-left: 12px }

