
#control-menu #content-1 { left: 70.05% } 
#control-menu #content-2 { left: 71.8% } 
#control-menu #content-3 { left: 65.9% } 
#control-menu #content-4 { left: 63.7% }
#control-menu #content-5 { left: 63.85% }

/* ============ 1: SECTION MAIN OPTIONS ============*/

#content-1 label { width: 148px }
#content-1 select#dd_class_name { min-width: 168px }
#content-1 select#dd_section_width { min-width: 132px }

#content-1 .rb-switch label:first-of-type { 
    border-radius: 4px 0 0 4px; border-width: 1px 0 1px 1px;
}
#content-1 .rb-switch label:last-of-type { border-radius: 0 4px 4px 0 }

#content-1 .dialog-box .input-group { margin-bottom: 24px }
#content-1 .dialog-box .input-group:last-of-type { margin-bottom: 0 }

#content-1 .dialog-box #btn_section_bg_solid,
#content-1 .dialog-box #btn_section_bg_gradient {
    padding: 6px 12px 10px 12px; min-width: 92px; width: 92px;
}


#form-bg-gradient-section-direction label { width: 42px }



/* ============ 2: UPPER BLOCK MENU ============ */

#content-2 .dialog-box .input-group { margin-bottom: 18px; min-width: 320px }
#content-2 #label-align { margin-left: 20px; width: 60px; min-width: 60px }
#content-2 .input-group > label { min-width: 120px }
#content-2 .dialog-box .input-group select { min-width: 160px }
#content-2 .dialog-box hr { margin-top: 0 }
#content-2 .rb-switch label:first-of-type { border-radius: 4px 0 0 4px; border-right-width: 0 }
#content-2 .rb-switch label:last-of-type  { border-radius: 0 4px 4px 0 }
#content-2 .rb-switch input[disabled] + label:last-of-type { border-width: 1px 1px 1px 1px }
#content-2 .dialog-box .input-group { margin-bottom: 22px }
#content-2 .dialog-box .input-group:last-of-type { margin-bottom: 0 }

/* ============ 3: COLUMNS MENU ============ */

#content-3 .dialog-box .input-group > label { min-width: 120px }
#content-3 .dialog-box .input-group select { min-width: 94px }
#content-3 .dialog-box .input-group button { min-width: 132px; padding: 2px 22px 8px 12px }
#content-3 .dialog-box .input-group:last-child { margin-bottom: 0 !important }
#content-3 .dialog-box hr { margin-top: -4px; margin-bottom: 18px }
#content-3 .rb-switch label:first-of-type { border-radius: 4px 0 0 4px; border-right-width: 0 }
#content-3 .rb-switch label:last-of-type  { border-radius: 0 4px 4px 0 }
#content-3 .dialog-box .input-group { margin-bottom: 20px }
#content-3 .dialog-box .input-group:last-of-type { margin-bottom: 0 }

#form_switch_fa_icons label { width: 40px; height: 36px }
#form_switch_fa_icons label span { padding-left: 4px }
#form_switch_fa_icons label span i { color: #fff }

/* ============ 4: BUTTONS MENU ============ */

#content-4 .dialog-box-header { margin-bottom: -10px }
#content-4 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-4 .input-group:last-child { margin-bottom: 0 }
#content-4 input[type="radio"] { margin-right: 10px }
#content-4 label.shape { display: inline-block; width: 72px }
#content-4 label { display: inline-block; width: 100px }

#content-4 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 8px; margin-left: 8px }
#content-4 hr { margin-top: 16px }
#content-4 #dd_section_buttons { width: 86px }
#content-4 button { min-width: 138px } 

#content-4 .rb-switch label { padding: 4px 10px 0px 6px }

#content-4 .rb-switch label:first-of-type { border-radius: 4px 0 0 4px; border-right-width: 0 }
#content-4 .rb-switch label:last-of-type  { border-radius: 0 4px 4px 0; border-left-width: 0  }

#content-4 .rb-switch input[disabled] + label:last-of-type { border-width: 1px 1px 1px 0 }


/* ============ 5: ILLUSTRATIONS MENU ============ */

#content-5 .dialog-box .flex-two-col { 
    display: flex; justify-content: flex-start; flex-wrap: nowrap;
}

/* left column */
#content-5 .flex-two-col div:nth-child(1) .input-group { width: 180px }

#content-5 .flex-two-col div:nth-child(1) .input-group.controls-illustrations label {
    min-width: 92px; margin-top: -6px; margin-right: 8px;
}
#content-5 .flex-two-col div:nth-child(1) .input-group.controls-illustrations input { 
    margin-top: 2px 
}

#content-5 #form_vis_types { margin-top: 12px; width: 180px }
#content-5 #form_vis_types label { margin-top: -8px; margin-left: 14px }
#content-5 #form_vis_types.input-group input [type="radio"] { 
    margin: 5px 0 5px 0;
}

/* right column */
#content-5 .flex-two-col div:nth-child(2) h4 { margin-top: 0; margin-bottom: 2px } 

#content-5 #outer-properties { 
    border-style: solid;
    border-width: 1px;
    padding: 12px 12px 10px 16px; min-width: 240px
}

#content-5 #outer-properties .input-group:nth-child(1) { margin-top: 14px }
#content-5 #outer-properties .input-group { 
    margin-top: 14px; margin-bottom: 14px; min-width: 200px;
}

#content-5 #outer-properties .input-group input[type="checkbox"].cb-switch { margin-top: 8px }

#content-5 #properties-photos .input-group label { margin-top:0; width: 148px }

#content-5 #properties-icons .input-group #properties-photos label { width: 148px }

#content-5 #properties-icons .input-group { margin-top: 22px; margin-bottom: 22px }
#content-5 #properties-icons .input-group:last-child { margin-bottom: 14px }

#content-5 #btn_icon_color { padding: 0 8px 8px 8px } 
#content-5 #btn_icon_color .ui-icon-paint-svg { margin-right: 4px }

#content-5 .rb-switch label:first-of-type { border-radius: 4px 0 0 4px; border-right-width: 0 }
#content-5 .rb-switch label:last-of-type  { border-radius: 0 4px 4px 0 }

/* .slidecontainer { padding-top: 12px } */
.container-slider span { color: #fff }
.container-slider #num { margin-top: -12px; display: inline-block }
.slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.container-slider input[type="range"] { accent-color: #03d4f4 } 

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #00ddff;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ddff;
    cursor: pointer;
}

