section > * { margin-left: 0 }

.bono, .edge, .adam, .larry {
    padding: 20px;
	margin-bottom: 42px;
    width: 220px;
}

/* Headings */
.bono h3, .edge h3, .adam h3, .larry h3 {
    font-size: var(--font-size-md);
	line-height: 1.2;
    margin-bottom: 2px;
}

/* Paragraphs of text */
.bono p, .edge p, .adam p, .larry p {
    font-size: var(--font-size-base);
    line-height: 1.7
}

.bono { background-color: #4081ec }
.edge { background-color: #ffbb33 }
.adam { background-color: #f73345 }
.larry { background-color: #e0e0e0 }

.bono h3, .bono p,
.adam h3, .adam p { color: #fff }

.edge h3, .edge p { color: #000 }
.larry h3, .larry p { color: #000 }