

.section-selector-1 { font-family: 'Work Sans', sans-serif }
.section-selector-1 {
    /* background-color: #000; */
    background-image: linear-gradient(230deg, var(--gray-800) 10%, #000 80%);
}

.section-selector-1 .badge span {
    background-color: #fff;
    color: #000
}

.section-selector-1 h2 {
	color: #fff;
	letter-spacing: 1px;
	font-size: var(--font-size-xl);
}

.section-selector-1 p {
	font-size: var(--font-size-md);
	letter-spacing: 1px
}

.section-selector-1 h2 span { color: #b99960 }
.section-selector-1 p { color: #fff }

.section-selector-2 { background-image: linear-gradient(90deg, #fff, var(--sky-300)) ;}

.section-selector-2 h2 span { color: var(--red-600) }

.section-selector-2 p { font-size: var(--font-size-md)  }

.section-selector-3 { background-color: var(--yellow-300) }
.section-selector-3 h2 {
    font-size: var(--font-size-xxl);
    font-weight: 400
}

.section-selector-4 {
    background-color: var(--trend-900);
}

.section-selector-4 > h2 {
    color: var(--white-000);
    font-size: var(--font-size-xxl);
}

.section-selector-4 > p {
    color: var(--gray-100);
    font-size: var(--font-size-md);
}

.section-selector-4 > .badge span {
    color: var(--blue-400);
    background-color: var(--trans-000);
    font-size: var(--font-size-base);
}

.section-selector-6 { background-color: var(--purple-300); }
.section-selector-6 > h2 { color: var(--gray-800 ); }

.section-selector-6 > h2 span { color: var(--blue-400) }

.section-selector-6 > p {
    font-size: var(--font-size-md);
    color: var(--gray-700);
}
