/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
html { height: 100%; scroll-behavior: smooth; scroll-padding-top: 72px }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto; font-family: sans-serif }  
img { width: 100%; height: auto; display: block }

/* Default font and colours */
body { font-family: 'Rubik', sans-serif }
h1, h2, h3 { color: #222 }
p, li { color: #403d50 }
.bg-pastel-green { background-color: rgb(227,250,245) }
.bg-pastel-grey { background-color: #edf5f1 }


/* ===================== BEGIN MENU STYLES ========================== */

/* === All screen sizes ====== */

.unhide-content-under-sticky-menu { margin-top: 72px }

/* Positions all menus in front of page content */
.container-menu-desktop, 
.container-menu-bar-mobile, 
.flyout-menu { z-index: 999 }
.container-menu-desktop, .container-menu-bar-mobile { width:100% }

/* on mobiles - hide desktop menu */
@media all and (max-width:767px) { 
    .container-menu-desktop.menu-light { display: none }
}

/* on desktops - hide mobile menu bar and list of menu options */
@media all and (min-width:768px) { 
    .container-menu-bar-mobile.menu-light,
    .flyout-menu.menu-light { display: none }
}

/* sticks menu to top of desktop and/or mobile screen */
.menu-sticky { position: fixed; top: 0; left: 0; right: 0; }

/* prevents content from disappearing udner sticky menus */
.sticky-anchor {
    position: relative;
    border-top: 90px solid transparent;
    margin: -90px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
 }
 
 .sticky-anchor:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
 }
 
/* Height of desktop menu and mobile menu bar */
.container-menu-desktop, .container-menu-bar-mobile { height:72px }

/* website logo fixed size in desktop menu and mobile menu bar  */
.container-menu-desktop    a:first-child img,
.container-menu-bar-mobile a:first-child img { width: 200px; height: 40px }

/* website logo vertically centered in desktop menu and mobile menu bar  */
.container-menu-desktop    a:first-child,
.container-menu-bar-mobile a:first-child { display: flex; flex-direction: row; align-items: center }

/* hide bullet character on listed links */
.container-menu-desktop ul li,
.flyout-menu            ul li { list-style-type: none }

/* hide link underlines on desktop and mobile menus */
.container-menu-desktop ul li a,
.flyout-menu            ul li a { text-decoration: none }

/* make desktop menu options bold */
.container-menu-desktop ul li a { font-weight:bold }

/* style cta button on desktop and mobile menus */
.container-menu-desktop ul li a.btn-cta,
.flyout-menu            ul li a.btn-cta {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}

/* style icon in cta button on desktop and mobile menus */
.container-menu-desktop ul li a.btn-cta i,
.flyout-menu            ul li a.btn-cta i { margin-right: 8px; font-size: 90% }

/* on mobiles, prevent scrolling outside flyout menu */
.no-scroll { overflow: hidden }

.menu-drop-shadow { box-shadow: 0 1px 10px #888 }

/* ======= DESKTOP MENU ======= */

/* outer parent flexbox container 
   home page link (with website logo) at left and ul links at right are its two children */
.container-menu-desktop {
	display: flex;
    justify-content: space-between;
    padding: 0 6% 0 6%;
    width: 100%;
}

/* menu links and cta button aligned horizontally */
.container-menu-desktop ul li {
    display: inline-block;
    margin: 0 80px 0 0; /* spacing at right of menu links, cta button */
}

.container-menu-desktop ul li:last-child {
    margin-right: 0 /* no spacing at right of last menu link or cta button */
}

/* vertically center menu links and cta button */
.container-menu-desktop ul { display: flex; align-items: center }

/* style text for links and cta button  */
.container-menu-desktop ul li a {
    font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
    /* font-weight:bold */
    /* text-transform: uppercase */
}

/* cta button padding */
.container-menu-desktop ul li a.btn-cta { padding: 6px 20px }


/* ======= MOBILE MENU  ======== */

/* outer flexbox container for mobile menu bar 
   home page link (with website logo) at left and hamburger icon at right are its two children */
.container-menu-bar-mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    padding: 0 6% 0 6%;
}

/* three bars hozizontal in hamburger icon */
.container-menu-bar-mobile .item-icon .bar1, 
.container-menu-bar-mobile .item-icon .bar2, 
.container-menu-bar-mobile .item-icon .bar3 { width: 36px; height: 4px; margin: 7px 0; transition: 0.4s }

/* hamburger icon changes shape to 'X' when fly-out menu is visible */
.change .bar1 { transform: rotate(-45deg) translate(-9px, 6px) }
.change .bar2 { opacity: 0 }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px) }

/* container div for flyout menu content */
.flyout-menu { 
    position: fixed; display: block; 
    top: 72px; /* same height as menu bar */
    width: 320px; 
    max-height: 100%;
    height: 100%;
    padding: 30px 40px 40px 40px;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch; /* safari on mobiles */    
}

.flyout-menu.flyout-menu-is-closed {
    right: -320px; /* hides flyout menu */
}

.flyout-menu.flyout-menu-is-open {
    right: 0; /* displays flyout menu */
    overscroll-behavior: contain;
    overscroll-behavior-y: contain
}

/* drop shadow border at left of fly-out menu */
.flyout-menu.flyout-menu-is-open {
    box-shadow: 0px 1px 10px #888 
}

/* list of links on flyout menu */
.flyout-menu ul li { margin: 0 40px 30px 0 }

/* style flyout menu links */
.flyout-menu ul li a {
    font-size: 18px;
    /* font-weight:bold */
    /* text-transform: uppercase */
}

/* cta button */
.flyout-menu a.btn-cta {
    display: inline-block;
    padding: 10px 24px;
}

.flyout-menu hr { 
    height: 4px;
    margin: 32px 0 0 0;
    border-style: solid;
    border-width: 1px 
} 

.flyout-menu h4 {
    font-size: 20px;
    margin: 42px 0 4px 0;
    text-align: center;
    /* letter-spacing: 2px; *./
    /* text-transform: uppercase */
}

.flyout-menu h5 {
    font-size: 17px;
    margin: 20px 0 20px 0;
    text-align: center
}

.flyout-menu h5 a {
    font-size: 17px;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px
}

.flyout-menu p { 
    text-align: center; font-size: 15px; line-height: 1.4;
}

.flyout-menu.flyout-menu-is-open div.fly-out-profile-box,
.flyout-menu.flyout-menu-is-open div.fly-out-social-icons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
}

.flyout-menu.flyout-menu-is-open div.fly-out-profile-box img,
.flyout-menu.flyout-menu-is-open div.fly-out-profile-box p { width: 47% }

.flyout-menu.flyout-menu-is-open div.fly-out-profile-box img {
    display: block; border-radius: 100%;
    width: 104px; height: 104px; 
    border-style: solid;
    border-width: 2px
}

.flyout-menu.flyout-menu-is-open div.fly-out-profile-box p {
    text-align:left 
}

.flyout-menu.flyout-menu-is-open div.fly-out-social-icons { 
    margin-top:12px
}

.flyout-menu.flyout-menu-is-open div.fly-out-social-icons a {
    font-size: 26px;
    text-align: center 
}

/* ========= Light background menu - desktops and mobiles ========= */

/* background colour */
.menu-light { 
	background-color: #fff;
	transition: all .5s ease-in-out;
}

/* menu links */

.menu-light ul li a { font-weight: 500 } 
.menu-light ul li a:link,  .menu-light ul li a:visited { color: #403d50 }
.menu-light ul li a:hover, .menu-light ul li a:active  { color: rgb(49,145,131) }

/* cta button */

.menu-light ul li a.btn-cta { font-weight: 500 }
.menu-light ul li a.btn-cta:link, 
.menu-light ul li a.btn-cta:visited {
    border-color: rgb(80,227,194);
    background-color: rgb(80,227,194);
    color: #000;
}

.menu-light ul li a.btn-cta:hover,
.menu-light ul li a.btn-cta:active {
    border-color: #403d50;
    background-color: #403d50;
    color: #fff
}

/* on mobiles only */
.flyout-menu.menu-light { background-color: rgb(227,250,245) }
.menu-light.flyout-menu hr { background-color:rgb(80,227,194); border-color: rgb(80,227,194) } 

.menu-light.flyout-menu h4,
.menu-light.flyout-menu h5,
.menu-light.flyout-menu h5 a, 
.menu-light.flyout-menu p { color: #403d50 } 

/* colour of hamburger icon bars */
.menu-light .item-icon .bar1, 
.menu-light .item-icon .bar2, 
.menu-light .item-icon .bar3 { background-color:#403d50 }	

/* phone number link */
a[href^=tel] { text-decoration: none; color: red }

/* email link */
.menu-light.flyout-menu h5 a:link, 
.menu-light.flyout-menu h5 a:visited {
    border-bottom-color: rgb(80,227,194);
}

.menu-light.flyout-menu h5 a:hover, 
.menu-light.flyout-menu h5 a:active {
    border-bottom-color: transparent;
}

/* profile image border colour */
.menu-light.flyout-menu.flyout-menu-is-open div.fly-out-profile-box img { border-color: rgb(80,227,194) }

/* contact icons */
.menu-light.flyout-menu .fly-out-social-icons a i { color: rgb(80,227,194) }

/* === End light background menu === */



/* ======= HERO BLOCK, FLEXBOX TWO COLUMNS ===== */

/* Hero block height and spacing  */
@media all and (min-width: 768px) {
	.container-flexbox.container-hero-block-two-columns { 
        background-color: #fff;
    }
	.container-flexbox.container-hero-block-two-columns h1 { margin-top: 2% }
 
	.container-flexbox.container-hero-block-two-columns .item-2:nth-child(2) { 
	   display: flex;
	   flex-direction: column;
	   justify-content: center
	}
}
 
@media all and (max-width: 767px) {
    .container-flexbox.container-hero-block-two-columns { 
        background-color: #fff;    
        margin-top: 16%;
        margin-bottom: 10%
    }
    
    .container-flexbox.container-hero-block-two-columns .item-2:nth-child(2) { padding-bottom: 5% }
    .container-flexbox.container-hero-block-two-columns .item-2:nth-child(1) { order: 2 }    
}

.container-flexbox.container-hero-block-two-columns .item-2 h1 {
    font-family: 'Rubik', sans-serif; 
    color: #2c3e50;
	font-weight: 700; 
	line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing:-2px;
	font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox.container-hero-block-two-columns .item-2 h2 { 
	font-weight: normal; 
	color: #4b6584;
    line-height: 1.3;
	margin-bottom: 30px;    
	font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox.container-hero-block-two-columns .item-2 img {
    margin-bottom: 0
}

/* ======= END HERO BLOCK ===== */


/* ==== CONTAINER FOR SINGLE COLUMN OF CONTENT ==== */

/* Desktop */
@media all and (min-width:768px) {
    .container-one-column { padding: 4% 20% 5% 20% }
}

/* Mobiles */
@media all and (max-width:767px) {
     .container-one-column { 
         padding: 7% 7% 10% 7%;
         text-align: center;
    }
}

.container-one-column h1{
    line-height: 1.2; margin-bottom: 32px;
    font-size: calc(38px + (54 - 38) * ((100vw - 320px)/(1600 - 320)));
}

.container-one-column h2 {
     line-height: 1.3; margin-top:32px; margin-bottom: 12px;
     font-size: calc(32px + (48 - 32) * ((100vw - 320px)/(1600 - 320)));
}
 
.container-one-column h3 {
     line-height: 1.4; margin-top:28px; margin-bottom: 2px;
     font-size: calc(22px + (32 - 22) * ((100vw - 320px)/(1600 - 320)));
}
 
.container-one-column p,
.container-one-column li {
     line-height: 1.5; margin-bottom:14px;
     font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320)));
}

.container-one-column ul { margin-left: 17px }


/* ============== FAUX BUTTONS =================== */

a.button:link, a.button:visited, a.button:hover, a.button:active { 
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-width: 2px;
    padding: 18px 28px;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 
a.button-solid:link, .button-solid:visited {
    border-color: rgb(80,227,194);
    background-color: rgb(80,227,194);
    color: #000;
} 
 
a.button-solid:hover, .button-solid:active {
    border-color: #403d50;
    background-color: #403d50;
    color: #fff
}
 
a.button-ghost:link, a.button-ghost:visited {
    border-color: #403d50;
    background-color: transparent;
    color: #403d50
} 
 
a.button-ghost:hover, .button-ghost:active {
    border-color: #403d50;
    background-color: #403d50;
    color: #fff
}
 
a.button-soft { border-radius: 5px }
a.button-round { border-radius: 25px }

/* Hide button icons on narrow desktop sceens */
@media all and (min-width:768px) and (max-width: 1024px) {
    .container-flexbox .item-3 a.button i { display: none}
}
 

/* ============== FANCY HYPERLINKS =================== */

a.fancy-link:link, a.fancy-link:visited,
a.fancy-link:hover, a.fancy-link:active { 
    text-decoration: none;
    color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 2px;
}

a.fancy-link:link, a.fancy-link:visited { color: rgb(49,145,131); border-bottom-color:rgb(49,145,131) }

a.fancy-link:hover, a.fancy-link:active { color: rgb(36,64,84); border-bottom-color: rgb(36,64,84) }


/* ============== FLEXBOX MULTI-COLUMN LAYOUTS ================== */


/* ============ PARENT FLEXBOX CONTAINERS ========== */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktops only - inside padding  */
@media all and (min-width:768px) {
	.container-flexbox { padding: 2% 10% 1% 10% }
}

/* Mobiles only - inside padding */
@media all and (max-width:767px) {
	.container-flexbox { padding: 7% 8% 1% 8% }
}

/* ====== INNER FLEXBOX COLUMN: 1 COLUMN EVERY SCREEN ======= */

.container-flexbox .item-1 { 
	width: 100%;
    padding: 1% 6% 0 6%;
    text-align: center; 
}

/* ====== FLEXBOX ITEM COLUMNS: 2 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ====== */

/* Desktops - 2 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-2 { 
		width: 45%;
		padding: 3% 0 4% 0;
	}
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-2 {
		text-align: center; 
		width: 100%;
		padding: 5% 5% 5% 5%;
	}
}

.container-flexbox .item-2 h2 {
    font-size: calc(24px + (48 - 16) * ((100vw - 320px) / (1600 - 320)));
}

.container-flexbox .item-2 p {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* =======INNER FLEXBOX COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ===== */


/* Desktops - 3 columns */
@media all and (min-width:768px) { 
	.container-flexbox .item-3 { width: 30% }
	.container-flexbox .item-3 { margin-bottom: 6% }
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-flexbox .item-3 { width: 100% }
	.container-flexbox .item-3 { margin-bottom: 14% }
}


/* Spacing under images in children of parent flexbox containers */
.container-flexbox img { margin-bottom: 20px }

/* Drop shadow effect around images  */
img.image-shadow { 
    box-shadow: 8px 10px 8px #888;
    margin-bottom: 30px
}

/* Makes square images circles  */
img.image-circle { 
    border-radius: 100%;
}

.container-flexbox .item-1 h2 {
    color: #2c3e50;
    line-height: 1.2; margin-bottom: 8px;
    letter-spacing:-1px;
    font-size: calc(24px + (48 - 24) * ((100vw - 320px)/(1600 - 320)));
}

.container-flexbox .item-1 p {
    line-height: 1.5; margin-bottom: 14px;
    font-size: calc(17px + (22 - 17) * ((100vw - 320px)/(1600 - 320)));
}

@media all and (max-width:767px) {
    .container-flexbox .item-1 { text-align: center }
}

.container-flexbox .item-1,
.container-flexbox .item-2 p,
.container-flexbox .item-3 p {
    line-height: 1.5; margin-bottom:20px;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320)));
}

.container-flexbox .item-2 h3,
.container-flexbox .item-3 h3 {
    line-height: 1.2; margin-bottom: 12px;
}

/* Centre-align text within two, three and four columns on mobiles */
@media all and (max-width:767px) {
    .container-flexbox .item-2,    
    .container-flexbox .item-3  { text-align: center }
    .container-flexbox .item-3 img {
        width: 90%;
        max-width: 390px;
        margin-left: auto;
        margin-right: auto;
    }
}

.container-flexbox .item-3 h3,
.container-flexbox .item-3-2 h3 {
    font-size: calc(20px + (26 - 20) * ((100vw - 320px)/(1600 - 320)));
    margin-bottom:12px;
    margin-top: 42px;
    font-weight: 500;
    line-height: 1.6
}

.container-flexbox .item-3 img {
    margin-top: 12px
}


/* =============== BEGIN CONTACT FORM CSS ============= */

/* == Contact form container == */

/* All screens */
.container-contact-form { 
	text-align: center; 
	background-color: #fff; 
	border: solid 1px gray
}

/* Desktop */
@media all and (min-width:1024px) { 
	.container-contact-form {
		margin: 4% 23% 4% 23%;
		padding: 2% 4% 1% 4%
	}
}

/* Mobiles */
@media all and (max-width:1023px) { 
	.container-contact-form { 
		margin: 6% 8% 18% 8%;
		padding: 7% 8% 8% 8%;
	}
}

/* == Contact form heading and text == */

/* Heading */
.container-contact-form h3 { 
	font-weight: bold; 
	color: #2c3e50;
	line-height: 1.2;
	margin-bottom: 3%;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

/* Text */
.container-contact-form p { 
    font-weight: normal;
    color: #000; 
	line-height: 1.5;
	margin-bottom: 7%;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* == Contact form fields == */

#contact-form .flex-row { display: flex; justify-content: space-between }

/* Desktop */
@media all and (min-width: 1024px) {
	#contact-form .flex-row { flex-direction: row; text-align: left; margin-bottom: 6% }
	#contact-form .flex-row .item-name,
	#contact-form .flex-row .item-email { width: 47% }
	#contact-form .flex-row .item-textarea { width: 64% }
	#contact-form .flex-row .item-btn { width: 30%; align-self: flex-end }
}

/* Mobiles */
@media all and (max-width: 1023px) {
	#contact-form .flex-row { flex-direction: column; text-align: center; }
}

#contact-form label, #contact-form input, #contact-form textarea {
	font-family: sans-serif;
	color: #000;
	display: block;
}

#contact-form label {
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); 
	font-weight: bold;
	margin-bottom: 8px;
	display: flex;
	align-items: baseline;
}

#contact-form [type="text"], 
#contact-form [type="email"],
#contact-form textarea { width: 100% }
#contact-form ::placeholder { font-size: 94% }

/* Mobiles */
@media all and (max-width: 1023px) { 
	#contact-form [type="text"], 
	#contact-form [type="email"],
	#contact-form textarea { margin-bottom: 20px }
}

#contact-form input, #contact-form textarea {
	padding: 10px 12px;
	border: 2px solid rgb(49,145,131);
	background-color: #f0f0f0;
	border-radius: 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
	background-color: #fff;
}

#contact-form.flex-row .item-btn { width: 26% }

#contact-form #btn-submit { 
	float: right; 
	border: none; 
    background-color: rgb(80,227,194);
    color: #000;
	font-weight: bold;
    padding: 18px 28px;
    font-size: 18px
}


#contact-form #btn-submit:hover, 
#contact-form #btn-submit:active { 
    background-color: #403d50;
    color: #fff
}

#contact-form #btn-submit i.fas {
	margin-left: 9px;
	font-size: 104%
}



/* =============== BEGIN FOOTER CSS ================== */


/* == Begin footer CSS == */

/* Outer footer parent container */
.container-footer { 
    text-align: center;
    color:#fff;
    background-color:rgb(36,64,84);
}

/* Desktop footer - inside padding  */
@media all and (min-width:768px) {
	.container-footer { padding: 4% 8% 4% 8% }
}

/* Mobiles footer - inside padding */
@media all and (max-width:767px) {
	.container-footer { padding: 8% 8% 12% 8% }
}

/* Styles for footer background, text, icons and links */

.container-footer h4,
.container-footer h5,
.container-footer ul li,
.container-footer ul li a,
.container-footer p,
.container-footer p a {
   color: #fff
}

/* Footer headings */
.container-footer h4 {
   font-family: serif;
   font-weight: normal;
   font-style: italic;
   font-size: calc(26px + (48 - 26) * ((100vw - 320px)/(1600 - 320)));
   margin: 0 auto 16px 0;
}

.container-footer h5 {
    font-family: sans-serif;
    font-weight: normal;
    font-style:  italic;
    color: #38a696;
    margin: 0 auto 36px auto;
    font-size: calc(20px + (32 - 20) * ((100vw - 320px)/(1600 - 320)));
}

/* Footer text links and icon links */
.container-footer ul.footer-links,
.container-footer ul.footer-icons {
    list-style-type: none;
}

.container-footer ul.footer-links {
    margin: 0 auto 48px auto;
}

.container-footer ul.footer-icons {
    margin: 0 auto 48px auto;
}

.container-footer ul.footer-links li,
.container-footer ul.footer-icons li {
    display: inline-block;
    margin: 0 32px 0 0;
}

.container-footer ul.footer-links li:last-child,
.container-footer ul.footer-icons li:last-child {
    margin-right: 0;
}

/* Footer text links */
.container-footer ul.footer-links li a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom:2px;    
    font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer ul.footer-links li a:link, 
.container-footer ul.footer-links li a:visited  {
   border-bottom-color: transparent;
}

.container-footer ul.footer-links li a:hover, 
.container-footer ul.footer-links li a:active  {
   border-bottom-color: #38a696;
}

/* Footer icons */
.container-footer ul.footer-icons li a i {
    text-decoration: none;
    font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer ul.footer-icons li a:hover, 
.container-footer ul.footer-icons li a:active  {
   color: #38a696
}

/* Privacy and legal link */
.container-footer p a {
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom:2px;    
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer p a:link, 
.container-footer p a:visited  {
   border-bottom-color: transparent;
}

.container-footer p a:hover, 
.container-footer p a:active  {
   border-bottom-color: #38a696
}

a.privacy-legal {
    font-family: sans-serif;    
    display: inline-block;
    color:#fff;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom:2px;    
    font-size: calc(14px + (17 - 14) * ((100vw - 320px)/(1600 - 320)));
}

a.privacy-legal:link,
a.privacy-legal:visited {
    border-bottom-color: transparent;
}

a.privacy-legal:active,
a.privacy-legal:hover {
    border-bottom-color: #38a696
}

/* == End footer CSS == */

/* ----------------------------------------------
 * Generated by Animista 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
