/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/* Desktops */
@media (min-width:768px) { .container-block { padding: 4% 18% } }

/* Mobiles */
@media (max-width:767px) { .container-block { padding: 12% 8% } }


/* Main heading */
.container-block h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(32px + (84 - 32) * ((100vw - 320px) / (1600 - 320)));
    color: #3e414f;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* Smaller headings */
.container-block h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1600 - 320)));
    color: #000000;
    line-height: 1.6;
    text-align: center;
}

/* Smallest headings */
.container-block h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1600 - 320))); 
    letter-spacing: 4px;
    text-transform: uppercase;    
    color: #e1f5fe;
    margin-bottom: 12px;
}

/* Text paragraphs */
.container-block p {
    font-family: 'PT Sans', sans-serif;
    font-size: calc(19px + (21 - 19) * ((100vw - 320px) / (1600 - 320)));
    color: #fff;
    line-height: 1.8;   
    margin-bottom: 20px;
}

/* Desktops: paragraph text inter-line spacing */
@media (min-width:768px) { 
    .container-block p { line-height: 1.8 }
}

/* Mobiles: paragraph text inter-line spacing */
@media (max-width:767px) {
    .container-block p { line-height: 1.6 }
}

/* Last content at bottom of container block */
.container-block *:last-child { margin-bottom: 0 }

/* Images */
.container-block img { margin-bottom: 32px }

/* Coloured backgrounds */
.bg-hero-block { background-color: #f5f9fb }
.bg-dark-1     { background-color: #000000 }
.bg-dark-2     { background-color: #3e414f }
