/* ==== PAGE WIDTH ==== */
body {
    padding-left: 20%;
    padding-right: 20%
}

h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 32px
}

h2 {
    font-size: 36px;
    margin-bottom: 4px;
}

h3 {
    font-size: 24px;
    margin-bottom: 4px;  
}

p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-top: 0;
}
