body {
    background-color: lightcyan;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
}

h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    color: blue;
    letter-spacing: -2px;
    margin-bottom: 32px;
    font-family: sans-serif;
}

h2 {
    font-size: 36px;
    color: blue;
    margin-bottom: 4px;
}

h3 {
    font-size: 24px;
    color: blue;
    margin-bottom: 4px;  
}

p {
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 0;
    color: darkslateblue;
    line-height: 1.6;

}