body {
    background-color: antiquewhite;
    padding-left:20%;
    padding-right:20%;
    padding-bottom:32px
}


h1 {
    font-size: 72px;
    text-align: center;
    color: brown;
    letter-spacing: 4px;
    font-family: sans-serif;
}

h2 {
    font-size: 30px;
    color: brown;
    margin-bottom: 4px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 56px    
}

h3 {
    font-size: 32px;
    color: brown;
    margin-bottom: 4px;
    font-family: sans-serif;    
}

p {
    font-size: 22px;
    font-family: serif;
    line-height: 1.6;
    margin-top:0;
}