body {
    background-color: purple;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px
}

h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 4px;
    margin-bottom: 64px;
    color: white
}

h2 {
    font-size: 28px;
    margin-bottom: 4px;
    margin-top:54px;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-top:0;
    color:white
}
