body {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
    background-color: #0d2033

}

h1 {
    font-size: 72px;
    font-weight: normal;
    letter-spacing: 4px;
    margin-bottom: 64px;
    font-family: sans-serif;
    color: white
}

h2 {
    font-size: 26px;
    margin-bottom: 4px;
    margin-top:54px;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: deeppink
}

h3 {
    font-size: 24px;
    margin-bottom: 4px;
    margin-top:42px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: lightseagreen
}

p {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-top:0;
    color: #9cb3c9
}