
#box-msg.is-visible {
    top: 5%;
    z-index: 1; 
}

#box-msg.is-hidden {
    top: -2000px;
}

#box-msg {
    width: 400px;
    min-height: 120px;
    left: 30%;
    right: 30%;
    background-color: #222;
    overflow: auto; /* Enable scroll if needed */
    transition: all .4s;
    background-color: #1f364d;
    margin: auto; padding: 14px 40px 32px 40px;
    border: 1px solid #888;
    border-radius: 4px;
    position: fixed;
}

/* The Close Button */
#box-msg .close-box-msg {
    position: absolute; top: 10px; right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#box-msg .close-box-msg:hover, #box-msg .close-box-msg:focus {
    color: pink;
    text-decoration: none;
    cursor: pointer;
}

#box-msg h3 {
    font-size: calc(19px + (24 - 19) * ((100vw - 320px)/(1140 - 320)));
    color: #fff
}

#box-msg h3 i {
    color: #feca57;
}


#box-msg p, #box-msg li {
    font-size: calc(17px + (19 - 17) * ((100vw - 320px)/(1140 - 320)));
    color: #fff;
    margin-bottom:6px;
}

#box-msg li {
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1140 - 320)));
    margin-left: -11px; padding-left: 5px; 
}

#box-msg li span i {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px)/(1140 - 320)));
    color: #55efc4
}