
/* ============= TWO INDIVIDUAL COLUMNS ============ */

.text-center .container-flex.col-2 { text-align: center }
.container-flex .col-2.text-center  { text-align: center !important }

/* Desktops  */
@media (min-width: 768px) { 
    .container-flex .col-2 { width: 45% }
    .wrapper-narrow-flex .col-2 { width: 46% }
    .container-flex .col-2 img { margin-bottom: 24px }
    .wrapper-narrow-flex .col-2 img { margin-bottom: 16px }
    .container-flex .col-2 { margin-bottom: 54px }
    .container-flex .col-2:nth-last-child(-n+2) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    .container-flex.col-2 { width: 100%; margin-bottom: 16px }
    .container-flex.col-2 img { margin-bottom: 20px }
    .container-flex.col-2:last-child { margin-bottom: 20px }
}

/* =================== TYPOGRAPHY  ================== */

/* Upper label */
.container-flex .col-2 div.upper-heading {
    font-weight: bold;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px; word-spacing: 120%;
    width: 100%;
    margin-bottom: 20px;
}



/* Column sub-headings */
.container-flex .col-2 h3 {
    margin-bottom: 2px;
    margin-top: 12px;
    font-weight: bold;
}

.container-flex .col-2 h3 {
    font-size: calc(19px + (28 - 19) * ((100vw - 320px) / (1140 - 320)));
}

.wrapper-narrow-flex .col-2 h3 {
    font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1140 - 320)));
}

/* Paragraphs and Lists */
.container-flex .col-2 p, 
.container-flex .col-2 li {
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1140 - 320)))
}

.wrapper-narrow-flex .col-2 p, 
.wrapper-narrow-flex .col-2 li {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (960 - 320)));
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-flex.col-2 p,
    .container-flex.col-2 ul li { line-height: 1.35 }
    .container-flex.col-2:last-child{ margin-bottom: 20px }
}

/* Paragraphs */
.container-flex .col-2 p { margin-bottom: 16px }
.wrapper-narrow-flex .col-2 p { margin-bottom: 12px }
.container-flex .col-2 p:last-child { margin-bottom: 0 }

/* Lists */
.container-flex .col-2 li   { margin-bottom: 16px }
.wrapper-narrow-flex .col-2 li { margin-bottom: 14px; line-height: 1.4 }

@media (min-width: 768px) { 
    .container-flex.col-2 ul li { margin-left: 20px; padding-left: 10px; line-height: 1.4 }
    .container-flex.col-2 ul.fa-ul { margin-left: 18px }
    .container-flex.col-2 ul.fa-ul li { margin-left: 14px; padding-left: 14px; line-height: 1.4 }
}

@media (max-width: 767px) { 
    .container-flex.col-2 ul li { margin-left: 14px; padding-left: 8px; line-height: 1.4 }
    .container-flex.col-2 ul.fa-ul { margin-left: 14px }
    .container-flex.col-2 ul.fa-ul li { margin-left: 10px; padding-left: 10px; line-height: 1.4 }
    .container-flex.col-2 ul,
    .container-flex.col-2 ul.fa-ul { margin-bottom: -12px }
}


/* ================= IMAGES ================= */

@media (max-width: 767px) { 
    .container-flex.col-2 img { margin-top: 30px }
}

/* ================= ICONS ================= */

.container-flex.col-2 figure.icon { 
    display: inline-block; line-height: 1.4;
}

/* Font Awesome */
.container-flex .col-2 figure.icon i.fas,
.container-flex .col-2 figure.icon i.far {
    font-size: calc(100px + (160 - 100) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 20px;
}

.wrapper-narrow-flex .col-2 figure.icon i.fas,
.wrapper-narrow-flex .col-2 figure.icon i.far {
    font-size: calc(80px + (140 - 80) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 16px;
}

/* Light Awesome */
.container-flex .col-2 figure.icon i.las {
    font-size: calc(120px + (180 - 120) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 12px;
}

.wrapper-narrow-flex .col-2 figure.icon i.las {
    font-size: calc(80px + (160 - 80) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 12px;
}

/* =========== BUTTONS ============= */

/* Faux buttons */
.container-flex.col-2 a.btn-solid, 
.container-flex.col-2 a.btn-ghost { 
	padding: 14px 22px;
	font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px;
}


