/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
/* h1, h2, h3, h4 { width: 100% } */
input, button, textarea, select { font: inherit }

/* Sans-serif system font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* ============ SECTIONS: VERTCAL AND HORIZONTAL PADDING ============ */

@media (min-width: 1200px) { 
	section { 
		margin-left: auto;
		margin-right: auto;
		padding: 3.5% 0 5% 0; 
		padding-left: calc( (100% - 1140px)/2 );
		padding-right: calc( (100% - 1140px)/2 );
	} 

	.section-narrow {
		padding-left: calc( (100% - 960px)/2 );
		padding-right: calc( (100% - 960px)/2 );
	}

	.section-narrower {
		padding-left: calc( (100% - 800px)/2 );
		padding-right: calc( (100% - 800px)/2 );
	}
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) { 
	section { padding: 3% 12% 3% 12% } 
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
	section { padding: 4% 5% 4% 5% }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
	section { 
		padding: 7% 13% 8% 13%;
	/*	max-width: 400px; */
		margin-left: auto;
		margin-right: auto
	}
}

/* Smaller mobiles */
@media (max-width: 399px) { 
	section { padding: 7% 10% 8% 10% } 
}


/* ============= PARENT FLEX CONTAINERS ============ */

.container-flex { 
    display: flex; justify-content: space-between; flex-wrap: wrap; align-items: stretch;
	width: 100%; position: relatve; text-align: left; margin: 0 auto; 
}

/* Large Desktops/Laptops  */
@media (min-width: 1200px) { 
	.container-flex { width: 100% }
	.container-narrow  { width: 90% }
}

/* Small Desktops/Laptops  */
@media (min-width: 1025px) and (max-width: 1199px ) { 
    .container-narrow   { width: 80% }
}

/* Container width */

@media (max-width: 1024px ) { 
    section > .container-flex,
	section > .container-narrow,
	section.section-narrow > .container-flex,
	section.section-narrow > .container-narrow {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media (min-width: 1025px ) { 
	/* section is 100% wide, container is 100% wide */
	section:not(.section-narrow) > .container-flex:not(.container-narrow) { 
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		background-color: blanchedalmond;
	}

	/* section is 85% narrow, container is 100% wide */
	section.section-narrow > .container-flex,
	section.section-narrow > .container-flex.container-narrow {
		margin-left: -9%;
		margin-right: auto;
		width: 119%;
	}

	/* section is 100% wide, container is max 960px narrow */
	section > .container-flex.container-narrow {
		margin-left: 8%;
		margin-right: auto;
		max-width: 960px
	}

	/* section is 85% narrow, container is max 960px narrow */
	section.section-narrow > .container-flex.container-narrow {
		margin-left: auto;
		margin-right: auto;
		max-width: 960px
	}
}

/* ============== CONTENT ALIGNMENT =============== */

section .container-flex { text-align: left }

section:not(.text-center) .container-flex { text-align: left }
section.text-center .container-flex { text-align: center }

.container-flex [class*="col-"] {
	text-align: left !important;
}

/* ============== TYPOGRAPHY  =========== */

.container-flex:not(.text-center)  h1  { margin-left: -6px }
.container-flex:not(.text-center)  h2  { margin-left: -3px;}

/* ================= IMAGES =============== */

img.corner-soft { border-radius: 15px !important }

img.drop-shadow-faint {  
	filter: drop-shadow(8px 8px 10px #888 )
} 

img.drop-shadow-heavy {  
	filter: drop-shadow(8px 8px 10px #444)
} 

img.drop-shadow-solid { box-shadow: 8px 10px 0 purple }

img.border-thin { border: solid 2px #888 }
img.border-thick { border: solid 4px purple }

/* For square images only */
img.rounded { border-radius: 100% }


/* ================= COLUMNS =============== */

/* Alignment: all columns in grid and individual columns */
.container-flex.text-center [class*="col-"], 
.container-flex [class*="col-"].text-center { text-align: center }



.col-2.col-padding {
	padding: 16px 18px 18px 18px
}

.col-3.col-padding {
	padding: 16px 18px 18px 18px
}

.col-4.col-padding {
	padding: 14px 16px 18px 16px
}

[class*="col-"].drop-shadow-faint { 
	border: solid #D3D3D3 1px; 
	box-shadow: 7px 5px 20px rgba(0, 0, 0, 0.1); 
} 

[class*="col-"].drop-shadow-heavy {  
	border: solid #D3D3D3 1px; 
	box-shadow: 7px 5px 20px rgba(0, 0, 0, 0.5); 
} 

[class*="col-"].drop-shadow-solid { box-shadow: 8px 10px 0 purple }

[class*="col-"].border-thin  { border: solid 1px #888 }
[class*="col-"].border-thick { border: solid 3px purple }

[class*="col-"].corner-soft { border-radius: 15px !important}


/* =========== BUTTONS ============= */

/* Faux buttons */
.container-flex a.btn-solid, .container-flex a.btn-ghost { 
	display: inline-block;
	line-height: 1; text-transform: uppercase; letter-spacing: 2px; font-weight: 700;
	text-decoration: none; border-style: solid; border-width: 2px;
	padding: 16px 32px;
	font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px;
	margin-bottom: 12px !important;
}

.container-flex a.btn-solid i { margin-right: 12px; color: #fff }
.container-flex a.btn-ghost i { margin-right: 12px; color: #230cea }

.container-flex a.btn-soft  { border-radius: 5px }
.container-flex a.btn-rounded { border-radius: 100px }

.container-flex a.btn-solid:link,
.container-flex a.btn-solid:visited {
	background-color: #230cea;
	border-color: #230cea;
	color: #fff;
	transition: background-color 300ms;
	transition: border-color 300ms;
}

.container-flex a.btn-solid:focus,
.container-flex a.btn-solid:hover, 
.container-flex a.btn-solid:active {
	background-color: darkblue;
	border-color: darkblue;
	color: #fff;
	transition: 0.2s;
}

.container-flex a.btn-ghost:link,
.container-flex a.btn-ghost:visited {
	background-color: transparent;
	border-color: darkblue;
	color: darkblue;
	transition: background-color 300ms;
	transition: border-color 300ms;
}

.container-flex a.btn-ghost:focus,
.container-flex a.btn-ghost:hover, 
.container-flex a.btn-ghost:active {
	background-color: darkblue;
	border-color: darkblue;
	color: #fff;
	transition: 0.2s;
}

.container-flex a.btn-ghost:focus i,
.container-flex a.btn-ghost:hover i, 
.container-flex a.btn-ghost:active i { color: #fff }



/* ================== COLOURS ================= */

.theme-light { background-color: #f7f7f8 }
.theme-dark { background-color: purple }

/* Light background colours */

.theme-light { background-color: #fff }
.theme-light h2 { color: #660066 }
.theme-light p.intro { color: #535c68 }
.theme-light * { color: #222 }

/* Dark background colours */
.theme-dark { background-color: #660066 }
.theme-dark h2 { color: lightgoldenrodyellow }
.theme-dark p.intro { color:#dff9fb }
.theme-dark * { color: #fff }

.theme-dark .container-flex > h3 { color: lightgoldenrodyellow }

.theme-light .container-flex .col-2 h3,
.theme-light .container-flex .col-3 h3,
.theme-light .container-flex .col-4 h3 { color: purple }
.theme-light .container-flex figure.icon i { color: purple }
.theme-light .container-flex ul li::marker { color: purple }
.theme-light .container-flex ul.fa-ul span i { color: purple }

.theme-dark .container-flex figure.icon i { color: lightgoldenrodyellow }
.theme-dark .container-flex ul li::marker { color: lightgoldenrodyellow }
.theme-dark .container-flex ul.fa-ul span i { color: lightgoldenrodyellow }


/* ============== UTILITY CLASSES =============== */

.text-left { text-align: left }
.text-center { text-align: center }
