
/* ============= TWO COLUMNS: SPLIT TEXT AND IMAGE ============ */

/* Desktops/Laptops */
@media (min-width: 1200px) { 
	.cols-2-split { 
        padding-left: 12%;
        padding-right: 12%;
		margin: 0 auto;
	} 
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) {
    .cols-2-split { 
        padding-left: 12%;
        padding-right: 12%;
        margin: 0 auto;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    .cols-2-split { 
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
    }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
    .cols-2-split { 
        padding-left: 13%;
        padding-right: 13%;
        margin: 0 auto; 
    }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
    .cols-2-split { 
        padding-left: 10%;
        padding-right: 10%;
        margin: 0 auto;
    }
}

/* Individual Columns */
.cols-2-split .col-2 {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    position: relative; 
    overflow: hidden;
}

/* Non-mobiles */
@media (min-width: 768px) { 
    .cols-2-split .col-2 { width: 47%; margin-bottom: 72px }
    .cols-2-split .col-2:nth-last-child(-n+2) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    .cols-2-split .col-2 { 
        width: 100%; 
        max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 48px;
    }
}


/* =================== TYPOGRAPHY  ================== */

/* Column sub-headings */
.cols-2-split .col-2 h3 {
    font-size: calc(19px + (32 - 19) * ((100vw - 320px) / (1140 - 320)));
    font-weight: 700; line-height: 1.15; margin-bottom: 6px;
}

/* Paragraphs and Lists */
.cols-2-split .col-2 p {
    font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.5; margin-bottom: 16px;
}

.cols-2-split .col-2 li { 
    font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1140 - 320))); 
    line-height: 1.4; margin-bottom: 10px; 
    margin-left: 15px; padding-left: 12px; 
}

/* All viewports: Paragraphs and lists */
.cols-2-split .col-2  p:last-child,
.cols-2-split .col-2 li:last-child { margin-bottom: 0 }

/* =============== FAUX BUTTONS ================ */
section.cols-2-split .col-2 a.btn {
    display: flex; 
    flex-direction: row; 
    align-self: flex-start;
    margin-top: 12px;
	padding: 16px 32px;
	font-size: calc(17px + (18 - 17) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px; margin-bottom: 12px !important;
}

 a.btn i { margin-right: 16px } 

/* Ghost buttons */
 .btn-ghost:any-link {
    border: solid 2px #222; color: #222; background-color: transparent; 
} 

 :is(.btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active)  {
    border: solid 2px blue; background-color: blue;  color: #fff;
} 

 .btn-ghost i { color: #222 }
 .btn-ghost:focus i, 
 .btn-ghost:hover i, 
 .btn-ghost:active i { color: #fff } 



/* ================= IMAGES, DRAWINGS, BIG ICONS ================= */

@media (min-width: 768px) {
    .cols-2-split .col-2 figure { margin-bottom: 0 }
}

@media (max-width: 767px) { 
    .cols-2-split .col-2 figure { margin-bottom: 20px }
}

.img-shadow.cols-2-split .col-2 figure img {
    filter: drop-shadow(8px 8px 10px #888 );
}

.img-border.cols-2-split .col-2 figure img {
    border: solid 2px #888;
}

.img-corners-soft .cols-2-split .col-2 figure img {
    border-radius: 15px;
}

/* ================= ICONS AS ILLUSTRATIONS  ================= */

.container-flex .cols-2-split .col-2 figure.icon {
    display: block; line-height: 1.4;
    color: var(--gray-600);
}

/* Font Awesome: Larger and smaller icons */
.cols-2-split .col-2 figure.icon i[class*='fa'] { font-size: 116px }
.icon-small .cols-2-split .col-2 figure.icon i[class*='fa'] { font-size: 80px; }

/* Light Awesome: Larger and smaller icons */
.cols-2-split .col-2 figure.icon i[class*="la"] { font-size: 150px }
.icon-small .cols-2-split .col-2 figure.icon i[class*="la"] { font-size: 110px }

/* Material UI (Outline): Larger and smaller icons */
.cols-2-split .col-2 figure.icon { font-family: 'Material Icons'; display: inline-block }
.cols-2-split .col-2 figure.icon span.material-icons-outlined { font-size: 140px }
.icon-small .cols-2-split .col-2 figure.icon span.material-icons-outlined { font-size: 140px }


/* Font Awesome: Vertical spacing */
@media (min-width: 768px) { 
    .cols-2-split .col-2  figure.icon i[class*='fa'] { margin-top: 24px; margin-bottom: 0 }
}
@media (max-width: 767px) { 
    .cols-2-split .col-2  figure.icon i[class*='fa'] { margin-top: 0; margin-bottom: 18px }
}

/* Light Awesome: Vertical spacing */
.cols-2-split .col-2  figure.icon i[class*="la"] { margin-top: 0; margin-bottom: -12px }

/* Material UI: Vertical spacing */
@media (min-width: 768px) { 
    .cols-2-split .col-2  figure.icon span.material-icons-outlined { margin-top: 24px; margin-bottom: -72px }
}

@media (max-width: 768px) { 
    .cols-2-split .col-2  figure.icon span.material-icons-outlined { margin-top: 12px; margin-bottom: -56px }
}


/*  Icons alignment */

/* Icons centre-aligned by default on all viewports */
.cols-2-split .col-2 figure.icon { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Icons left-aligned */
.icon-left .cols-2-split .col-2 figure.icon { 
    text-align: left;
    margin-left: 0;
}

