/* ============= THREE COLUMNS ============ */

/* Non-mobiles */
@media (min-width: 768px) { 
    .col-3 { width: 30%; margin-bottom: 54px }
    .col-3:nth-last-child(-n+3) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    /* 3 columns to 1 column */
    .col-3 { 
        width: 100%;
        max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 48px
    }

    /* 3 columns to 2 columns */
   .mobile-col-2 .col-3 { 
       width: 49%;
       margin-bottom: 20px 
    }
    .mobile-col-2 .col-3:nth-child(odd) { margin-right: -3% }
    .mobile-col-2 .col-3:nth-child(even) { margin-left: -3% }
    .mobile-col-2 .col-3:nth-last-child(-n+2) { margin-bottom: 0 }

    .mobile-col-2 .col-3 p, 
    .mobile-col-2 .col-3 li { line-height: 1.4 }
    .mobile-col-2 .col-3 li { padding-left: 2px }
}

/* =================== TYPOGRAPHY  ================== */

.col-3 h3 { 
    font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1140 - 320)));
    font-weight: 700; line-height: 1.15; margin-bottom: 6px;
}

@media (max-width: 767px) { 
    .mobile-col-2 .col-3 h3 { font-size: 19px }
}

.col-3 p {
    font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.5; margin-bottom: 16px;
}

.col-3 li { 
    font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1140 - 320))); 
    line-height: 1.4; margin-bottom: 10px; 
    margin-left: 15px; padding-left: 12px; 
}

/* All viewports: Paragraphs and lists */
.col-3  p:last-child,
.col-3 li:last-child { margin-bottom: 0 }

/* Padding on columns */
.col-padding .col-3 {
    padding: 16px 18px 18px 18px;
}

/* Column effects */
.box-shadow .col-3 {
    border: solid #D3D3D3 1px;
    box-shadow: 5px 5px 20px rgba(160,160,160,0.8);
}

.col-borders .col-3 {
    border: solid 1px var(--gray-800)
}

.corners-soft .col-3 {
    border-radius: 12px
}

.bg-color-light .col-3 {
   background-color: var(--gray-200)
}

.bg-color-dark .col-3 {
    background-color: var(--gray-800)
}


/* =============== FAUX BUTTONS ================ */
.col-3 a.btn { 
    margin-top: 12px;
	padding: 16px 32px;
	font-size: calc(17px + (18 - 17) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px; margin-bottom: 12px !important;
}

 a.btn i { margin-right: 16px } 

/* Ghost buttons */
 .btn-ghost:any-link {
    border: solid 2px #222; color: #222; background-color: transparent; 
} 

 :is(.btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active)  {
    border: solid 2px blue; background-color: blue;  color: #fff;
} 

 .btn-ghost i { color: #222 }
 .btn-ghost:focus i, 
 .btn-ghost:hover i, 
 .btn-ghost:active i { color: #fff } 


/* ================= IMAGES, DRAWINGS, BIG ICONS ================= */

@media (min-width: 1200px) {
    .col-3 figure { margin-bottom: 32px }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .col-3 figure { margin-bottom: 26px }
}

@media (max-width: 767px) { 
    .col-3 figure { margin-bottom: 20px }
}

.img-shadow .col-3 figure img {
    filter: drop-shadow(8px 8px 10px #888 );
}

.img-border .col-3 figure img {
    border: solid 2px #888;
}

.img-corners-soft .col-3 figure img {
    border-radius: 15px;
}

/* ================= ICONS AS ILLUSTRATIONS  ================= */

.container-flex .col-3 figure.icon {
    display: block; line-height: 1.4;
    color: var(--gray-600);
}

/* Font Awesome: Larger and smaller icons */
.col-3 figure.icon i[class*='fa'] { font-size: 116px }
.icon-small .col-3 figure.icon i[class*='fa'] { font-size: 80px; }

/* Light Awesome: Larger and smaller icons */
.col-3 figure.icon i[class*="la"] { font-size: 150px }
.icon-small .col-3 figure.icon i[class*="la"] { font-size: 110px }

/* Material UI (Outline): Larger and smaller icons */
.col-3 figure.icon { font-family: 'Material Icons'; display: inline-block }
.col-3 figure.icon span.material-icons-outlined { font-size: 140px }
.icon-small .col-3 figure.icon span.material-icons-outlined { font-size: 140px }

/* Font Awesome: Vertical spacing */
@media (min-width: 768px) { 
    .col-3 figure.icon i[class*='fa'] { margin-top: 24px; margin-bottom: 0 }
}
@media (max-width: 767px) { 
    .col-3 figure.icon i[class*='fa'] { margin-top: 0; margin-bottom: 18px }
}

/* Light Awesome: Vertical spacing */
.col-3 figure.icon i[class*="la"] { margin-top: 0; margin-bottom: -12px }

/* Material UI: Vertical spacing */
@media (min-width: 768px) { 
    .col-3 figure.icon span.material-icons-outlined { margin-top: 24px; margin-bottom: -72px }
}

@media (max-width: 768px) { 
    .col-3 figure.icon span.material-icons-outlined { margin-top: 12px; margin-bottom: -56px }
}


/*  Icons alignment */

/* Icons centre-aligned by default on all viewports */
.col-3 figure.icon { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Icons left-aligned */
.icon-left .col-3 figure.icon { 
    text-align: left;
    margin-left: 0;
}

