/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* Help prevent overflow of long words/names/URLs */
h1, h2, h3, h4, p, li { word-break: break-word; hyphens: auto }
  
/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }

/* ================= ENDS ================ */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero-block {
    position: relative;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    background-image: linear-gradient(90deg,#ff00cc,#333399);
    overflow: hidden 
}

.hero-block.hero-half {
    background-color: #fff;
}

@media (min-width: 768px) { 
    .hero-block { height: 75vh }
}

.hero-text-container { padding: 0 12% 2% 12%; z-index: 2 }

.hero-bg-media {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}

.hero-bg-media * {
    object-fit: cover; width: 100%; height: 100%;
}

.bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));    
}

.hero-block h1, .hero-block h2 {
    line-height: 1.2;
    color:#fff;
    text-shadow: 2px 2px #222;
    text-align: left;
}

.hero-block h1 {
    font-size: calc(48px + (94 - 48) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
    letter-spacing: -2px
}

.hero-block h2 {
    font-weight: normal;
    font-size: calc(22px + (54 - 22) * ((100vw - 320px) / (1600 - 320)));
}

.hero-block.text-center h1,
.hero-block.text-center h2 { text-align: center }

header.hero-block hr {
    background-color: #fff;
    border: none;
    height: 8px;
    width: 30%;
    margin: 40px auto 40px 0;
    display: block
}

header > h1 + hr {
    margin: 0 auto 40px 0;
    display: block
}

header.text-center, 
header.text-center hr { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header.text-center > h2 + hr,
header.text-center > h1 + hr {
    margin-left: auto;
    margin-right: auto;
}


/* ===========   HEADER: BUTTONS AND ICONS  ============= */


header .container-btn { display: flex }

header .container-btn .btn { align-self: flex-start } 

/* Ghost buttons */
header.hero-block .btn-ghost:link, 
header.hero-block .btn-ghost:visited {
    border-color: #fff;
    color: #fff;
} 

header.hero-block .btn-ghost i { color: #fff }

header.hero-block .btn-ghost:focus, 
header.hero-block .btn-ghost:hover, 
header.hero-block .btn-ghost:active  {
    background-color: blue;
    border-color: blue
} 

@media (min-width: 767px) {
  header .container-btn { margin-top: 64px }
  header .container-btn a:first-child { margin-right: 40px }
  /* header .container-btn { justify-content: center } */
  header.hero-block.text-center .container-btn { justify-content: center }
}

@media (max-width: 767px) {
  header .container-btn { margin-top: 42px }
  header .container-btn { flex-direction: column }
  header .container-btn a:first-child { margin-bottom: 32px }
  header .container-btn a:last-child { margin-bottom: 0 }
  header.hero-block.text-center .container-btn .btn { align-self: center } 
}


/* ================= TWO COLUMN HEADER ====================== */

header.hero-block.hero-half { 
  height: auto; min-height: 470px; 
  background-color: #fff;
  background-image: linear-gradient(#fff,#fff);
}



.hero-block.hero-half > .container-flex { 
    display: flex; justify-content: space-between; 
    flex-direction: row;
    text-align: left;
    margin: 3% 8% 2% 8%;
    width: auto;
}

.hero-block.hero-half .hero-text-container { 
    padding: 0; z-index: 2 
}

header.hero-block.hero-half .hero-text-container hr {
  background-color: purple !important
}


@media (min-width: 768px) { 
      .hero-block.hero-half > .container-flex .col-2 { width: 50% }
      .hero-block.hero-half > .container-flex .col-2 img { 
          width: 80%; margin-right: 0; margin-left: auto; text-align: right;
      }
      .hero-block.hero-half .container-btn { margin-top: 40px }
      .hero-block.hero-half .container-btn a:first-child { margin-right: 30px }
      /* header .container-btn { justify-content: center } */
      header.hero-block.text-center .container-btn { justify-content: center }
}

/* Mobiles */
@media (max-width: 767px) { 
    .hero-block.hero-half .container-flex .col-2 { width: 100%; margin-bottom: 16px }
    .hero-block.hero-half .container-flex .col-2 img { margin-bottom: 20px }
 }

.hero-block.hero-half > .container-flex h1 {
    letter-spacing: -1px; line-height: 1.1; color: purple;
    text-shadow: 0 0 #222;
}

.hero-block.hero-half > .container-flex h2 {
    font-weight: normal; color: #888;
    letter-spacing: 0;  text-shadow: 0 0 #222;
}

@media (min-width: 1100px) {
    .hero-block.hero-half > .container-flex h1 {
        font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1600 - 320)));
    }
    .hero-block.hero-half > .container-flex h2 {
        font-size: calc(20px + (42 - 20) * ((100vw - 320px) / (1600 - 320)));
    }
}

 @media (min-width: 768px) and (max-width: 1099px) {
  .hero-block.hero-half > .container-flex h1 {
      font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320)));
  }
  .hero-block.hero-half > .container-flex h2 {
      font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1600 - 320)));
  }
}

@media (max-width: 767px) {
    .hero-block.hero-half > .container-flex > .col-2:first-child { order: 2 }
    .hero-block.hero-half > .container-flex > .col-2:last-child  { order: 1 }
    .hero-block.hero-half > .container-flex h1 {
        font-size: calc(48px + (64 - 48) * ((100vw - 320px) / (1600 - 320)));
        text-align: center;
    }
    .hero-block.hero-half > .container-flex h2 {
        font-size: calc(22px + (36 - 22) * ((100vw - 320px) / (1600 - 320)));
        text-align: center;
    }
    .hero-block.hero-half > .container-flex .col-2 img { 
        max-width: 80%;
        margin: 20px auto }
        .hero-block.hero-half > .container-flex { margin-bottom: 30px}
}

@media (min-width: 414px) and (max-width: 767px ) {
  .hero-block.hero-half > .container-flex .col-2 {
    max-width: 400px; 
    margin-left: auto; margin-right: auto;
  }
}


@media (min-width: 1140px) {
  .hero-block.hero-half .container-btn { margin-top: 64px }
  .hero-block.hero-half .container-btn a:first-child { margin-right: 40px }
  /* header .container-btn { justify-content: center } */
  header.hero-block.text-center .container-btn { justify-content: center }
}

@media (min-width: 768px) and  (max-width: 1139px) {
  .hero-block.hero-half .container-btn { margin-top: 22px }
  .hero-block.hero-half .container-btn { flex-direction: column }
  .hero-block.hero-half .container-btn a:first-child { margin-bottom: 32px }
  .hero-block.hero-half .container-btn a:last-child { margin-bottom: 0 }
  .hero-block.hero-half .container-btn .btn { align-self: flex-start } 
}


@media (max-width: 767px) {
  .hero-block.hero-half .container-btn { margin-top: 42px }
  .hero-block.hero-half .container-btn { flex-direction: column }
  .hero-block.hero-half .container-btn a:first-child { margin-bottom: 32px }
  .hero-block.hero-half .container-btn a:last-child { margin-bottom: 0 }
  .hero-block.hero-half .container-btn .btn { align-self: center } 
}

/* Ghost buttons */
header.hero-block.hero-half .btn-ghost:link, 
header.hero-block.hero-half .btn-ghost:visited {
  border-color: blue;
  color: blue;
} 

header.hero-block.hero-half .btn-ghost i { color:blue }
header.hero-block.hero-half .btn-ghost:hover i,
header.hero-block.hero-half .btn-ghost:active i { color:#fff }

header.hero-block .btn-ghost i { color:#fff }

header.hero-block.hero-half .btn-ghost:hover, 
header.hero-block.hero-half .btn-ghost:active {
  border-color: blue;
  color: #fff;
} 


.hero-block.text-center h1,
.hero-block.text-center h2 { text-align: center }



/* All buttons */
.btn {
  font-family: sans-serif; text-decoration: none;
  padding: 14px 26px; font-size: 18px; font-weight: bold;
  /* text-transform: uppercase; 
  letter-spacing: 1px;
  word-spacing: 102%; */
}

/* Solid buttons */
.btn-solid:link, .btn-solid:visited {
  background-color: blue; 
  color: #fff;
} 

.btn-solid:focus, .btn-solid:hover, .btn-solid:active  {
  background-color: darkblue;
  color: #fff;
} 

/* Gradient buttons */
.btn-gradient:link, .btn-gradient:visited {
  background-image: linear-gradient(90deg,#e052a0,#f15c41);
  color: #fff;
} 

.btn-gradient:focus, .btn-gradient:hover, .btn-gradient:active  {
  background-image: linear-gradient(to right,#3ec7e0,#526bf4);
  color: #fff;
} 

/* Ghost buttons */
.btn-ghost:link, .btn-ghost:visited {
  border: solid 2px #000;
  color: #000;
  background-color: transparent; 
  padding: 12px 24px;
} 

.btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active  {
  border: solid 2px blue;
  color: blue;
  background-color: transparent; 
  padding: 12px 24px;
} 

/* Button corner styles */
.btn-soft    { border-radius: 5px }
.btn-rounded { border-radius: 30px }

/* Buttons with Font Awesome icons */
.btn i { margin-right: 10px; }



/* ----------------------------------------------
 * Generated by Animista on 2020-7-30 7:28:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
}

.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-29 19:38:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}


/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }





