/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
/* h1, h2, h3, h4 { width: 100% } */
input, button, textarea, select { font: inherit }

header, section { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child { margin-bottom: 0 }

/* Sans-serif system font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body { font-family: 'Source Serif Pro', serif }


/* ============ SECTIONS: VERTCAL AND HORIZONTAL PADDING ============ */

@media (min-width: 1200px) { 
	section { 
		padding: 3.5% 0 5% 0; 
		padding-left: calc( (100% - 1140px)/2 );
		padding-right: calc( (100% - 1140px)/2 );
		margin-left: auto; margin-right: auto;
	} 
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) { 
	section { padding: 3% 12% 3% 12% } 
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
	section { padding: 4% 5% 4% 5% }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
	section { padding: 7% 13% 8% 13% }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
	section { padding: 7% 10% 8% 10% } 
}

/* Narrow section widths on large viewports only */
@media (min-width: 1200px) { 
	.section-narrow {
		padding-left: calc( (100% - 800px)/2 );
		padding-right: calc( (100% - 800px)/2 );
	}
}

@media (min-width: 768px) and (max-width: 1190px) { 
	.section-narrow {
		padding-left: 15%;
		padding-right: 15%;
	}
}

/* Narrow section widths ignored on mobiles */
@media (max-width: 767px) { .section-narrow { width: 100% } }


/* =============== SECTIONS: DIRECT DESCENDENTS ============== */


/* ================== Headings and text ================ */

section > h2 {
	font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1140 - 320)));
	line-height: 1.2; 
	letter-spacing: -1px;
	margin-bottom: 10px;
    margin-top: 48px
}

section > h2:first-child { margin-top: 0 } 

section > h3 {
	font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1140 - 320)));
	line-height: 1.2; 
	margin-top: 26px; margin-bottom: 2px;
    color: #444
}

section > p {
	font-size: calc(18px + (21 - 18) * ((100vw - 320px) / (1140 - 320)));
	line-height: 1.6; margin-bottom: 16px;
}

/* Text effects */
section > h2 span,
section > h3 span,
section > p span {
    color: #00f;
	padding-right: 4px; padding-left: 4px; padding-bottom: 4px;
}

/* =================== Blockquotes ==================== */

blockquote {
	font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1140 - 320)));
	line-height: 1.6; font-style: italic;
	margin-top: 26px; margin-bottom: 2px;
    background-color: #f1e8e6;
	padding: 16px 20px;
    margin-bottom: 20px
}

blockquote::before, blockquote::after { 
	font-size: 240%;
	font-weight: bold;
	color: #272643;
	font-family: serif;
	line-height: 0;
	position: relative;
    top: 15px;
}

blockquote::before  { content: open-quote; margin-left: -5px; margin-right: 2px  }
blockquote::after { content: close-quote; margin-left: -6px }
blockquote { quotes: "“" "”" "‘" "’"; }


/* ====================== Images =================== */

section > figure img { margin-bottom: 12px }
section > figure figcaption  {
	font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1140 - 320)));
    font-family: sans-serif
}

section > figure { margin-bottom: 54px }

/* Images resizng */
section > .figure-90 { width: 90% }
section > .figure-75 { width: 75% }
section > .figure-50 { width: 50% }
section > .figure-25 { width: 25% }

section > [class*="figure-"] {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

section > .figure-110 { 
	width: 110%;
	margin-left: -5%;
	margin-right: -5%;
}

/* Image fancy effects */
img.shadow-faint { filter: drop-shadow(8px 8px 10px #888) }
img.shadow-heavy { filter: drop-shadow(8px 8px 10px #444) }
img.soft-corners { border-radius: 15px }
img.rotate-clock { transform: rotate(2deg) }
img.rotate-cclock { transform: rotate(-2deg) }

/* For square images only */
img.rounded { border-radius: 50% }

@media (min-width: 768px) {
    img.shadow-solid { box-shadow: -28px 28px 0 #00f; margin-left: -2% }
}

@media (max-width: 767px) {
    img.shadow-solid { box-shadow: -18px 18px 0 #00f; margin-left: 0 }
}

/* ================== Media objects =================== */

.media-object {
    display: flex;
    align-items: flex-start;
    padding: 16px 20px 20px 20px;
    background-color: #f1e8e6;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .media-object { margin-left: -5%; margin-right: -5% }
}

.media-object *:last-child { margin-bottom: 0 }
  
img.media-image { margin-top: 4px }

@media (min-width: 768px) { img.media-image { margin-right: 30px; max-width: 25% } }
@media (max-width: 767px) { img.media-image { margin-right: 20px; max-width: 40% } }

.media-body { flex: 1 }
.media-body h3 {
    font-size: calc(16px + (20 - 17) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.2; margin-bottom: 0; color: #222;
}
.media-body p {
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.4; margin-bottom: 16px;
}

/* ================== Hyperlinks =================== */

a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

a:link, a:visited { color: #222 }

a:focus, a:hover, a:active { color: #777 }

/* ================== Forms =================== */

section > form { 
    display: flex; 
    margin: 20px auto 48px auto
}

@media (min-width: 768px) { 
    section > form { width: 80% } 
    section > form button { padding: 12px 20px }
}

@media (max-width: 767px) { 
    section > form { 
        width: 90%;
        flex-direction: column;
    } 
    section > form input { border-right: solid 1px #00f }
    section > form button { 
        display: inline-block; 
        margin-top: 20px;
        padding: 12px 20px;
    }
}

section > form input { 
    flex-grow: 1; 
    border-left: solid 1px #00f;
    border-top: solid 1px #00f;
    border-bottom: solid 1px #00f;
    padding: 8px 8px;
    line-height: 1;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1140 - 320)));
}
  
section > form button {
    padding: 8px 20px;
    background: #0000ff;
    border: solid 1px #0000ff;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1140 - 320)));
}



.img-inline { 
    display: inline-block; 
    max-width: 30px; 
    max-height: 30px;
    margin-right: 10px;
    vertical-align: bottom;
}

/* ============== CUSTOM COLOURS =============== */





/* ============== UTILITY CLASSES =============== */

.text-left   { text-align: left   !important }
.text-center { text-align: center !important }


