/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }


/* Web page */
body {
    background-color: #FFFFBD;
    font-family: 'Merriweather', serif;
}

/* Main heading */
h1 {   
    font-size: 84px;
    line-height: 1.1;
    font-weight: normal;
    color: #3434B0;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 32px;
}

/* Small headings */
h2 { 
    font-size: 24px;
    color:#3434B0;
    line-height: 1.5;
    margin-bottom: 42px;
}

/* Smaller headings */
h3 {  
    font-size: 42px;
    color: #000;
    letter-spacing:-1px;
    margin-top: 40px;
    margin-bottom: 2px;
    line-height: 1.2;
}

/* Text paragraphs */
p {
    font-size: 20px;
    color: #455C80;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 22px;
}

/* Images */
img { 
    margin-bottom: 42px;
    /* Drop shadow effect at right and bottom of image */
    box-shadow: 8px 10px 8px #888;    
}


