/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

body { 
    background-color: #f8f5f3;
    border-top: solid 20px #f820c0;   
    border-bottom: solid 20px #f820c0
}


/* ==== Web page width ==== */

/* Desktops */
@media (min-width:768px) { body { padding: 4% 18% } }


/* Mobiles */
@media (max-width:767px) { body { padding: 12% 8% } }


/* Headings */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: normal;
}
 
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
    color: #f820c0
}
 
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 42px;
    margin-bottom: 6px;
}

/* Text paragraphs */

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 16px;
}

/* Images */

img { margin-bottom: 20px }

