/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* ==== Web page width ==== */

/* Desktops */
@media (min-width:768px) { body { padding: 4% 18% } }


/* Mobiles */
@media (max-width:767px) { body { padding: 12% 8% } }


/* ==== Headings ==== */

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 64px;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 64px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
    margin-bottom: 2px;
}

/* Paragraphs of text */
p {
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #696969;
    line-height: 1.7
}

