h1 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: normal;
    letter-spacing: 4px;
}

h2 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    margin-top: 0;
    line-height: 1.6;
}