/* ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed } 
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

body { font-family: 'Open Sans', sans-serif }

a.img-link { text-decoration: none; border-width:0 }

/* ================== HEADER ==================== */

header {
	background: linear-gradient(#0460CD, #021b79);
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap;
}

header h1, header h2 { color: #fff }
header img#Brendan-Munnelly { display: inline; float: left; border-radius: 50% }

/* Desktops */
@media (min-width: 768px) { 
	header #ibat-logo-mobile { display: none }
	header { padding: 3.5% 10% 2.5% 4%; margin-bottom: 32px } 
	header .sidebar { width: 18% }
	header .content { width: 75% }
	header h1 { line-height: 1.2 } 
	header h2 { line-height: 1.6 }
	header p { margin-bottom: 0 }
	header img { max-width: 190px; margin-bottom: 20px }
	header img#Brendan-Munnelly { max-width: 30px; margin: 0 14px 0 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
	header #ibat-logo-desktop { display: none }
	header { padding: 9% 8% 10% 8% } 
	header .sidebar, header .content { width: 100% }
	header h1 { line-height: 1.2 } 
	header h2 { line-height: 1.6 }
	header img { margin-bottom: 14px }
	header p { margin-bottom: 32px }
	header img#Brendan-Munnelly { max-width: 30px; margin-right: 14px }
}

header h1 {
	margin: -6px 0 20px 0;
	font-size: calc(30px + (46 - 30) * ((100vw - 320px)/(1600 - 320)));
	font-weight: 700; letter-spacing: -1px;
}

header h2 {
	font-weight: normal;
	font-size: calc(16px + (20 - 16) * ((100vw - 320px)/(1600 - 320)));
}

header p { 
	line-height: 1.6;
	color: #fff;
}


/* ============ WRAPPER =========== */

/* Desktops */
@media (min-width: 768px) { 
	section { padding: 1.5% 10% 4% 10% }
	main section :last-child { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
	section { padding: 9% 8% 2% 8% } 
}

/* === Three columns ==== */
section {
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap; 
}

/* Desktops */
@media (min-width: 768px) { 
	section .item-1 { width: 100% }
	section .item-3 { width: 29% }
	section .item-4 { width: 23% }
	section .item-3.item-margin-top { margin-top: 48px }
}

/* Mobiles */
@media (max-width: 767px) { 
	section .item-1 { width: 100% }
	section .item-3 { width: 100% }
	section .item-4 { width: 100%; margin-bottom: 20px }
}

/* === Top four columns === */
section .item-4 {
	background-color:#e2f5e2; 
	padding: 10px 20px 16px 20px;
}

section .item-4 h3 { 
	color: #023753;
	font-size: calc(16px + (20 - 16) * ((100vw - 320px)/(1600 - 320)));
}

section .item-4 p { 
	color: #023753;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
	margin: 0;
}


/* ==== Section headings ==== */

section .item-1 { width: 100%; padding: 1% 6% 0 6%; text-align: center }

section .item-1 h2 { 
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-weight: normal; color: #230cea;
	text-align: center;
	margin: 0 auto 5% auto;
	letter-spacing:-1px;
	font-size: calc(34px + (58 - 34) * ((100vw - 320px) / (1600 - 320))); 
	margin-bottom: 32px;
}

@media (max-width: 767px) {
	section .item-1 h2 { line-height: 1.2 }
}

/* ==================== THree Columns ==================== */

section img.img-shadow { box-shadow: 5px 10px 8px #888 }

section .item-3 h3 a { 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 700; 
	font-size: calc(26px + (28 - 26) * ((100vw - 320px) / (1600 - 320)));
	color: rgb(0,0,255);
	line-height: 1.2;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

section .item-3 h3 a:link, section .item-3 h3 a:visited { 
	color: rgb(0,0,255);
	border-bottom-color: rgba(0,0,255, .0);
	transition: border-bottom 300ms;
}

section .item-3 h3 a:hover, section .item-3 h3 a:active { 
	color: rgb(0,0,255);
	border-bottom-color: rgba(0,0,255, 1);
	transition: 0.2s;
}

section .item-3 p { font-weight: 400; color: #465E72; line-height: 1.5;
	font-size: calc(16px + (20 - 16) * ((100vw - 320px)/(1600 - 320)));
}


/* Faux buttons */
section .item-3 a.btn-solid { 
	text-decoration: none;
	color: inherit;
	border-style: solid;
	border-width: 2px;
	padding: 18px 28px;
	display: inline-block;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
   
.item-3 a.btn-solid i.fas { margin-left: 12px }

section .item-3 a.btn-soft  { border-radius: 5px }
section .item-3 a.btn-rounded { border-radius: 100px }

section .item-3 a.btn-solid:link,
section .item-3 a.btn-solid:visited {
	background-color: rgb(0,0,255);
	border-color: rgb(0,0,255);
	color: #fff;
	transition: background-color 300ms;
	transition: border-color 300ms;
}

section .item-3 a.btn-solid:hover, 
section .item-3 a.btn-solid:active {
	background-color: #fff;
	border-color: rgb(0,0,255);
	color: rgb(0,0,255);
	transition: 0.2s;
}

/* Desktops */
@media (min-width: 768px) { 
	section .item-3 { width: 30% }
	section .item-3 {
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	section .item-3 img.img-shadow { margin-top: auto }
	section .item-3 h3 { 
		line-height: 1.2; 
		margin: 0 0 4px 0
	}
	section .item-3 p  { 
		line-height: 1.6; 
		margin-bottom: 16px; 
	}
	section .item-3 > img, 
	section .item-3 p > img { 
		margin: 20px 0 30px 0
	}

	section .item-3 a.btn-solid { 
		margin-top: auto;
		font-size: 15px; 
		padding: 14px 20px 14px 20px;
		max-width: 210px;
	}
	section .item-3 a.button-solid i.fas { margin-left: 8px }
}

/* Mobiles */
@media (max-width: 767px) { 
	section .item-3 h3 { 
		margin-top: 38px;
		line-height: 1.2;
	}
	section .item-3 p { 
		line-height: 1.4; 
		margin: 0 0 12px 0; 
	}
	section .item-3 > img, 
	section .item-3 p > img {
		margin: 16px 0 24px 0
	}
	section .item-3 { width: 100%; margin-bottom: 10% }
}


/* ==== Mobile screen sizes ==== */

@media  (max-width:768px) {
	section .item-3 img { 
		margin-bottom: 32px;
	}

	section .item-3 h3 { 
		font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1600 - 320)));
		margin-bottom: 2%;
	}

	section .item-3 p { 
		font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1600 - 320))); 
		margin-bottom: 6%;
	}

	section .item-3 a.btn-solid { 
		font-size: 14px;
		padding: 12px 20px; 
		margin-bottom:20px
	}
	section .item-3 a.btn-solid i.fas { margin-left: 8px }
}



/* ==== Desktop screen sizes ==== */

@media  (min-width:1025px) {

	section .item-3 img { margin-bottom: 32px }
	section .item-3 h3  { margin-bottom: 12px }
	section .item-3 p  { margin-bottom: 32px }

	section .item-3 h3 { 
		font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1600 - 320)));
		margin-bottom: 3.5%;
	}

	section .item-3 p { 
		font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
		margin-bottom: 8%;
	}
}


@media (max-width:768px) {
	section .item-3 a.button-solid { 
		font-size: 14px;
		padding: 12px 20px; 
		margin-bottom:20px
	}
	section .item-3 a.button-solid i.fas { margin-left: 8px }
}

@media (min-width:768px) and (max-width:1024px) {
	section .item-3 a.button-solid { 
		padding: 12px 16px;
		font-size: 14px;
		margin-bottom:20px;
		max-width: 172px
	}
	section .item-3 a.btn-solid i.fas { margin-left: 6px }
}


/* Inner child: 3 cols on desktops, 1 column on mobiles */
@media (min-width:768px) { 
	section .item-3 {
		display: flex;
		flex-direction: column;
		justify-content: center
	}
	section .item-3 img.img-shadow { margin-top: auto }
	section .item-3 a.button-solid { margin-top: auto }
}


/* Inner child: column content */
section.bg-section-green .item-3 h3 a { 
	font-family: 'Open Sans Condensed', sans-serif; 
	font-weight: 700; 
	color: rgb(49,145,131);
	line-height: 1.2;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;

}

section.bg-section-green  .item-3 h3 a:link, 
section.bg-section-green  .item-3 h3 a:visited { 
	color: rgb(49,145,131);
	border-bottom-color: rgba(49,145,131, .0);
	transition: border-bottom 300ms;

}


section.bg-section-green .item-3 h3 a:hover,
section.bg-section-green .item-3 h3 a:active { 
	color: rgb(49,145,131);
	border-bottom-color: rgba(49,145,131, 1);
}

section.bg-section-green .item-3 a.button-solid:link, 
section.bg-section-green .item-3 .button-solid:visited {
	border-color: rgb(80,227,194);
	background-color: rgb(80,227,194);
	color: #000;
	padding: 14px 20px;	
	text-decoration: none;
	max-width: 200px;
	font-weight: bold;
} 
   
section.bg-section-green .item-3 a.button-solid:hover, 
section.bg-section-green .item-3 .button-solid:active {
	border-color: rgb(49,145,131);
	background-color: rgb(49,145,131);
	color: #fff;
	padding: 14px 20px;	
	text-decoration: none;
	max-width: 200px;
	font-weight: bold;
}
  

.bg-section-light { background-color: #eff8f5 }
.bg-section-green { background-color: #e3faf5 }

/* ================== FOOTER ==================== */

footer {
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap; 
	background: linear-gradient(#0460CD, #021b79);
}

footer:last-child { margin-bottom: 0 } 

/* Desktops  */
@media (min-width: 768px) { 
	footer { padding: 4% 10% 4% 10% } 
	footer .item-3:nth-child(1) { width: 19% }
	footer .item-3:nth-child(2) { width: 52% }
	footer .item-3:nth-child(3) { width: 19% }
}

/* Mobiles */
@media (max-width: 767px) { 
	footer { padding: 10% 8% 4% 8% } 
	footer .item-3 { width: 100%; margin-bottom: 10% }
	footer .item-3:nth-child(2) { order: 1 }
	footer .item-3:nth-child(1) { order: 2 }
	footer .item-3:nth-child(3) { order: 3 } 
}
 
/* Styles for footer background, text, icons and links */
 
footer .item-3 h4, footer .item-3 p, footer .item-3 p i, footer .item-3 p a {
	color: #fff
}
 
footer .item-3 h4 {
	font-weight: 700;
	margin-bottom: 12px;
	font-size: calc(17px + (19 - 17) * ((100vw - 320px)/(1600 - 320)));
}
 
footer .item-3 p {
	font-weight: normal;
	margin-bottom: 12px;
	font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.6
}
 
footer .item-3 i { 
	padding-right: 26px;
} 
 
footer .item-3 p a {
	font-weight: 600;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 2px;
}
 
footer .item-3 p a:link, 
footer .item-3 p a:visited  {
	border-bottom-color: transparent;
}
 
footer .item-3 p a:hover, 
footer .item-3 p a:active {
	border-bottom-color: #fff
}
