* { margin: 0; padding:0; box-sizing: border-box }
body, html { height: 100% }
body { 
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight:normal; font-weight: 400
}

html { scroll-behavior: smooth }
section { padding: 0 }

.nmb, ol.nmb, ul.nmb, li.nmb { margin-bottom: 0}

/* ============ WRAPPERS =========== */
.wrapper-full, .wrapper-regular, .wrapper-narrow { margin: 0 auto; padding: 0 }
h2, p { line-height: 1.3} 
h2 { margin: 0 0 2px 0 }

.wrapper-full { width: 100%; padding: 0 } 

.bg-blue-dark { 
	background: #003c8f;
	background-image: linear-gradient(#0460CD, #021b79);
}

@media all and (max-width:400px) {
	.wrapper-regular, .wrapper-narrow { width: 90%}
}

@media all and (min-width:401px) and (max-width:479px) { 
	.wrapper-regular, .wrapper-narrow { width: 90% }
}

@media all and (min-width:480px) and (max-width:767px) {
	.wrapper-regular, .wrapper-narrow { width: 80% }
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.wrapper-regular { width: 80%}
	.wrapper-narrow { width: 60% }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
	.wrapper-regular { width:86% }
	.wrapper-narrow { width:54% }
}

@media all and (min-width: 1200px) {
	.wrapper-regular { width:86% }
	.wrapper-narrow { width: 60% }
}


/* ======== PAGE LAYOUT ===========*/


.block-content h2 { font-family: Baskerville, Georgia, 'Times New Roman', Times, serif; font-weight: 400; font-weight:normal; color: #230cea } 

.block-content h3 { 
	font-weight: 400; font-weight: normal; letter-spacing: 1px;font-size:24px;  
	margin-top: 32px; display: inline-block; border-top: solid 4px #230cea; padding-top:3px; color: #230cea; text-transform: uppercase }

.block-content h2, .block-content h3 { line-height: 1.3 }
.block-content p, .block-content li { margin: 0 0 12px 0; color: #023753 }
.block-content img.img-fluid { width: 100%; height: auto; margin-left: -2px }
.block-content li img.img-fluid { display: block }

.block-content li { margin: 0 0 12px 0; color: #023753 }

.block-content p a, .block-content li a { text-decoration: none; padding-bottom:2px; border-bottom-width: 1px; border-bottom-style:solid }

.block-content p  a:link, 
.block-content p  a:visited,
.block-content li a:link, 
.block-content li a:visited { color: #230cea; border-bottom-color: #230cea }

.block-content p  a:hover,
.block-content p  a:active,
.block-content li a:hover,
.block-content li a:active { color: red; border-bottom-color: red }

.block-content a.img-link { text-decoration: none; border-width:0 }

.block-content .box-toc { border: solid 1px #d8f5fe; background: #d8f5fe; padding: 12px 20px 3px 20px }
.block-content .box-toc a { font-weight: bold }


/* Mobiles */
@media screen and (max-width: 767px) {
	.block-content { padding: 2% 8% }
	.block-content h2 { font-size: 22px; margin: 20px 0 4px 0 }
	.block-content ul, .block-content ol { margin: 0 0 20px -10px }
	.block-content p, .block-content li { font-size: 16px; line-height: 1.3; margin: 0 0 16px 0 }
}

/* Desktop */
@media screen and (min-width: 768px) {
	.block-content { padding: 1.5% 20% 1% 20% }
	.block-content h2 { font-size: 32px; margin: 0 0 4px 0 }
	.block-content ul, .block-content ol { margin: 0 0 28px 32px }
	.block-content p, .block-content li { font-size: 16px; line-height: 1.5; margin: 0 0 16px 0 }
}

/* ordered lists */
.block-content     ol { list-style-type: none; counter-reset: li-counter }
.block-content  ol > li { position: relative; font-weight:400 }

.block-content ol > li:before {
	position: absolute; top: 0; left: -32px; line-height: 1.5; text-align: center; 
	border-radius: 50%; padding: 1px 4px 4px 4px; font-weight: bold; color: #fff; background-color: #003c8f; 
	content: counter(li-counter); counter-increment: li-counter;
}

/* mobiles */
@media screen and (max-width: 767px) {
	.block-content ol > li { padding-left: 9px; margin-left:40px }
	.block-content ol > li:before { width: 20px; height: 20px }
	.block-content li span.inside-ol { line-height: 0.6; display: block }
}

/* desktop */
@media screen and (min-width: 768px) {
	.block-content ol { margin-left: 32px }
	.block-content ol > li { padding-left: 20px }
	.block-content ol > li img.img-fluid { margin-top: 20px; margin-bottom: 40px }
	.block-content ol > li:before { width: 24px; height: 24px }
	.block-content ol li img.img-fluid { margin-top: 12px; margin-bottom: 20px }
	.block-content li span.inside-ol { line-height: 0.6; display: block }
	.block-content ol > li > ul { margin: 12px 0 0 16px; list-style-type: disc }
	.block-content ol > li > ul> li { padding-left: 9px; margin: 0 0 12px 0 }
}



/* ====== MULTI COLUMNS ====== */

.container-two-col { width: 100%; border-bottom: solid 2px #003c8f }
.container-two-col.b-top { border-top: solid 2px #003c8f }

.container-two-col:after { content: ""; display: table; clear: both }
.container-two-col .col-left, .container-two-col .col-right { float: left; padding: 12px 0 }
.container-two-col .col-left { width: 10%; margin-right:2% }
.container-two-col .col-left img { max-width:120px }
.container-two-col .col-right { width: 80% }


table { border-collapse: collapse }

/* mobiles */
@media screen and (max-width: 767px) {
	.block-content td { font-size: 16px; line-height: 1.5; margin: 0 0 16px 0  }
}

/* desktop */
@media screen and (min-width: 768px) {
	.container-two-col .col-right p { margin: 0 }
	.container-two-col .col-right ul { margin: 4px 0 12px 20px }
	.container-two-col .col-right ul li { margin: 4px 0 4px 0 }
}


/* ===== FLEXBOX COLUMNS ======= */

.flex-grid {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-grid .flex-col { flex: 1; padding: 0 15px }

@media (max-width: 767px) {
  .flex-grid { display: block }
}

/* == IMAGES ====*/

.img-fluid { max-width: 100%; height: auto }

/* =============== NAVBAR =======================*/



/* =================== JUMBOTRON =================== */

.jumbotron { width: 100%; box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px; }

.jumbotron h1, .jumbotron h2, .jumbotron h3 { color: #fff; line-height: 1.1 }

.jumbotron h1 { font-family: Baskerville, Georgia, 'Times New Roman', Times, serif; display: inline-block; font-weight: 700; margin: 0 }
.jumbotron h2, .jumbotron h3 { font-weight:700; font-weight:bold; letter-spacing: 1px }
.jumbotron h2 { letter-spacing:2px; }
.jumbotron h3 { text-transform:uppercase }

@media all and (max-width:767px) {
	.jumbotron .img-fluid { text-align: center; display: block; margin-left: auto; margin-right: auto; width: auto }
	.jumbotron a.learn-more, .jumbotron a.buy-now { display: inline-block }
}

@media all and (min-width:768px) {
	.jumbotron .img-fluid { float: left; width:auto }
}


@media all and (max-width:767px) {
	.jumbotron { text-align: center }
	.jumbotron .img-fluid { display: block; margin: 0 auto }
	.jumbotron h1 { border-bottom: solid 2px #fff; padding-bottom:12px; line-height: 0.9 }
	.jumbotron h3 { font-weight: 400; letter-spacing:1px }
}

@media all and (max-width:320px) {
	.jumbotron { padding-top:44px; padding-bottom:20px }
	.jumbotron .img-fluid { max-height:200px; margin-bottom: 32px }
	.jumbotron h1 { margin-bottom: 26px; font-size: 30px; line-height:1 }
	.jumbotron h1 em { font-size:17px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:22px; margin-bottom:20px }
	.jumbotron h3 { font-size:15px; margin-bottom:40px }
}

@media all and (min-width:321px) and (max-width:374px) {
	.jumbotron { padding-top:44px; padding-bottom:20px }
	.jumbotron .img-fluid { max-height:200px; margin-bottom: 32px }
	.jumbotron h1 { margin-bottom: 28px; font-size: 30px; line-height:1 }
	.jumbotron h1 em { font-size:17px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:22px; margin-bottom:20px }
	.jumbotron h3 { font-size:15px; margin-bottom:40px }
}

@media all and (min-width:375px) and (max-width:479px) {
	.jumbotron { padding-top:44px; padding-bottom:20px }
	.jumbotron .img-fluid { max-height:240px; margin-bottom: 32px }
	.jumbotron h1 { margin-bottom: 32px; font-size: 30px; line-height:1 }
	.jumbotron h1 em { font-size:18px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:22px; margin-bottom:20px }
	.jumbotron h3 { font-size:15px; margin-bottom:40px }
}

@media all and (min-width:480px) and (max-width:639px) {
	.jumbotron { padding-top:44px; padding-bottom:20px }
	.jumbotron .img-fluid { max-height:240px; margin-bottom: 32px }
	.jumbotron h1 { margin-bottom: 32px; font-size: 38px; line-height:1 }
	.jumbotron h1 em { font-size:20px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:24px; margin-bottom:20px }
	.jumbotron h3 { font-size:15px; margin-bottom:40px }
}

@media all and (min-width:640px) and (max-width:767px) {
	.jumbotron { padding-top:44px; padding-bottom:20px }
	.jumbotron .img-fluid { max-height:240px; margin-bottom: 32px }
	.jumbotron h1 { margin-bottom: 32px; font-size: 42px; line-height:1 }
	.jumbotron h1 em { font-size:22px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:26px; margin-bottom:32px }
	.jumbotron h3 { font-size:15px; margin-bottom:40px }
}

@media all and (min-width:768px) and (max-width: 991px) {
	.jumbotron { padding-top:50px; padding-bottom:40px }
	.jumbotron .img-fluid { max-height:160px; margin: 0 32px 100px 0 }
	.jumbotron h1 { margin-bottom: 28px; font-size: 30px; line-height: 0.9 }
	.jumbotron h1 em { font-size:18px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:20px; margin-bottom:8px }
	.jumbotron h3 { font-size:14px; margin-bottom:42px }
}

@media all and (min-width:992px) and (max-width: 1199px) {
	.jumbotron { padding-top:64px; padding-bottom:54px }
	.jumbotron .img-fluid { max-height:200px; margin: 0 32px 100px 0 }
	.jumbotron h1 { margin-bottom: 36px; font-size: 38px; line-height:0.8 }
	.jumbotron h1 em { font-size:20px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:20px; margin-bottom:20px }
	.jumbotron h3 { font-size:15px; margin-bottom:54px }

}

@media all and (min-width: 1200px) and (max-width: 1336px) {
	.jumbotron { padding-top:64px; padding-bottom:54px }
	.jumbotron .img-fluid { max-height:260px; margin: 0 32px 100px 0 }
	.jumbotron h1 { margin-bottom: 64px; font-size: 46px; line-height:0.8 }
	.jumbotron h1 em { font-size:22px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:26px; margin-bottom:24px }
	.jumbotron h3 { font-size:15px; margin-bottom:54px }

}

@media all and (min-width: 1337px) {
	.jumbotron { padding-top:64px; padding-bottom:54px }
	.jumbotron .img-fluid { max-height:260px; margin: 0 32px 100px 0 }
	.jumbotron h1 { margin-bottom: 58px; font-size: 48px; line-height:0.8 }
	.jumbotron h1 em { font-size:26px; letter-spacing:1px;color: #e0e0e0 }
	.jumbotron h2 { font-size:28px; margin-bottom:40px }
	.jumbotron h3 { font-size:16px; margin-bottom:54px }

}

section .flex-col.col-full h2 { text-align:center }

section .flex-col h3 a, section .flex-col p a { text-decoration: none}

section .flex-col p a:link, section .flex-col p a:visited,
section .flex-col h3 a:link, section .flex-col h3 a:visited { 
	color: #003c8f;
	border-bottom: solid 2px #003c8f
}

section .flex-col p a:hover, section .flex-col p a:active, 
section .flex-col h3 a:hover, section .flex-col h3 a:active { 
	color: #000;
	border-bottom: solid 2px #000
}

/* ==================== SECTIONS ======================*/

section .flex-col.col-full h2 { color: #003c8f }


.jumbotron.tutorial { background: linear-gradient(#0460CD, #021b79) }

.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1, 
.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2, 
.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { margin-top: 0; color: #fff }

.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { letter-spacing:1px; font-weight:900 }
.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { letter-spacing: 0; font-weight:400;}
.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { letter-spacing: 0 }


@media all and (max-width:767px) {
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { line-height:1.4 }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:link,
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:visited {
		text-decoration: none; color:#ecf0f1
	}

	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:hover,
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:active {
		text-decoration: underline; color:#fff
	}
}

@media all and (min-width:768px) {
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:link,
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:visited {
		text-decoration: none; color:#ecf0f1; padding-bottom:4px; border-bottom: solid 2px #ecf0f1;
	}

	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:hover,
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 a:active {
		text-decoration: none; 
		color:#fff; padding-bottom:4px; border-bottom: solid 2px #fff;
	}
}

@media all and (max-width:320px) {
	section { padding-top:28px; padding-bottom: 22px }
	section .flex-col.col-full h2 { font-size:19px; margin-bottom: 6px;font-weight:900 }
	.jumbotron.tutorial { padding-top:20px; padding-bottom:28px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:24px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:14px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:30px; margin-bottom:0 }
}

@media all and (min-width:321px) and (max-width:375px) {
	section { padding-top:32px; padding-bottom: 24px }
	section .flex-col.col-full h2 { font-size:18px; margin-bottom: 6px }
	.jumbotron.tutorial { padding-top:20px; padding-bottom:28px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:26px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:14px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:34px; margin-bottom:0 }
}

@media all and (min-width:376px) and (max-width:479px) {
	section { padding-top:32px; padding-bottom: 24px }
	section .flex-col.col-full h2 { font-size:20px; margin-bottom: 6px }
	.jumbotron.tutorial { padding-top:20px; padding-bottom:28px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:26px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:16px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:34px; margin-bottom:0 }
}

@media all and (min-width:480px) and (max-width:639px) {
	section { padding-top:32px; padding-bottom: 24px }
	section .flex-col.col-full h2 { font-size:22px; margin-bottom: 10px }
	.jumbotron.tutorial { padding-top:20px; padding-bottom:28px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:26px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:16px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:34px; margin-bottom:0 }
}

@media all and (min-width:640px) and (max-width:767px) {
	section { padding-top:32px; padding-bottom: 24px }
	section .flex-col.col-full h2 { font-size:28px; margin-bottom: 20px }
	.tutorial-introduction .wrapper-regular .flex-grid .flex-col.col-3 h3 { font-size:17px }
	.tutorial-introduction .wrapper-regular .flex-grid .flex-col.col-3 p { line-height: 1.3; font-size:14px }
	.jumbotron.tutorial { padding-top:20px; padding-bottom:28px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:26px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:16px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:34px; margin-bottom:0 }
}

@media all and (min-width:768px) and (max-width:991px) {
	section { padding-top:40px; padding-bottom: 30px }
	section .flex-col.col-full h2 { font-size:28px; margin-bottom: 20px }
	.jumbotron.tutorial { padding-top:40px; padding-bottom:40px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:24px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:14px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:38px; margin-bottom:0 }
}

@media all and (min-width:992px) and (max-width:1023px) {
	section { padding-top:40px; padding-bottom: 30px }
	section .flex-col.col-full h2 { font-size:32px; margin-bottom: 20px }
	.jumbotron.tutorial { padding-top:40px; padding-bottom:40px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:28px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:16px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:44px; margin-bottom:0 }
}

@media all and (min-width: 1024px) and (max-width: 1199px) {
	section { padding-top:40px; padding-bottom: 30px }
	section .flex-col.col-full h2 { font-size:32px; margin-bottom: 30px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:28px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:16px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:44px; margin-bottom:0 }
}

@media all and (min-width: 1200px) and (max-width: 1336px) {
	section { padding-top:40px; padding-bottom: 30px }
	section .flex-col.col-full h2 { font-size:38px; margin-bottom: 36px }
	.jumbotron.tutorial { padding-top:40px; padding-bottom:40px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:32px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:18px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:50px; margin-bottom:0 }
}

@media all and (min-width: 1337px) {
	section { padding-top:54px; padding-bottom: 40px }
	section .flex-col.col-full h2 { font-size:42px; margin-bottom: 42px }
	.jumbotron.tutorial { padding-top:40px; padding-bottom:52px }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h2 { font-size:32px; margin-bottom:20px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h3 { font-size:18px; margin-bottom:40px; }
	.jumbotron.tutorial .wrapper-narrow .flex-grid .flex-col.col-full h1 { font-size:50px; margin-bottom:0 }
}

.flex-blocks { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start	
}

.flex-blocks .block-pic { width:54% }
.flex-blocks .block-text { width: 45% }
.flex-blocks .block-text p { line-height: 1.4; margin-left: 32px }

hr.hr-flex-blocks { margin: 20px 0; height: 1px; background: #230cea; border: solid 1px #230cea }


.code-sample { background:#000; margin-top: 10px; margin-bottom: 44px; display: block }


/* mobiles */
@media screen and (max-width: 767px) {
	.code-sample { margin-top: 12px }
	.code-sample { margin-bottom: 44px }
}

/* desktop */
@media screen and (min-width: 768px) {
	.code-sample { margin-top: 20px }
	.code-sample { margin-bottom: 28px; }
}

pre, code { font-family: monospace; color: #fff;font-size:14px }
pre { overflow: auto }
pre > code { margin-top:0; display: block; padding: 0 12px 16px 12px; word-wrap: normal }

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: 0 1px #fff;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
}

span.bold { font-weight: bold}
span.comment { color: #E0E0E0; font-weight: bold }
span.var, span.purple { color: rgb(130,167,255); font-weight: bold }
span.blue-em { color: rgb(103,216,219); font-style:italic; font-weight: bold }
span.blue { color: rgb(103,216,219); font-style: normal; font-weight: bold }

span.string { color: rgb(255,51,51); font-style:italic; font-weight: bold }
span.red { color: rgb(255,51,51); font-weight: bold }
span.green { color: #7FFF00; font-weight: bold }
span.yellow { color: yellow; font-weight: bold }

span.orange { color: #FF7F50; font-style: normal; font-weight: bold }

span.orangered { color: orangered; font-style: italic; font-weight: bold }
span.erroneousLine { background: yellow; color: red; font-weight: bold }