/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
html { height: 100%; font-size: 62.5%; }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }
html { scroll-behavior: smooth }
h1, h2, h3, h4 {width: 100% }
body { 
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #222;
	line-height: 1.5;
}

:root {
	--font-headings: 'Playfair Display', serif;
	--font-text: 'PT Serif', serif;
}

h1, h2, h3 {
	font-family: var(--font-headings);
}

p, li {
	font-family: var(--font-text);
}


p { font-size: 1.6rem; line-height: 1.5; margin-bottom: 1.2rem }



/* ================= CONTAINERS FOR CONTENT ============ */

/* Desktops  */
@media all and (min-width:768px) { 
	section, footer { padding: 4% 10% 5% 10% }
}

/* Mobiles */
@media all and (max-width:767px) {
	section, footer { padding: 9% 8% 10% 8% }
}

/* If container background is dark, set text color to white */
section[class*="-dark"] * { color: #fff }


/* ============== SINGLE COLUMN CONTENT =============== */

/* Direct children */
section > h2 { font-size: 6rem }
section > h3 { font-size: 4rem }
section > h2, section > h3 { margin-top: -1.5rem }
section > p, section > li { 
	font-size: 3rem; 
	margin-bottom: 2rem
}

section > h2, section > h3, section > p, section > li { padding: 0 10rem }

section > *:last-child { margin-bottom: 0 }

/* =================== FLEXBOX GRID ================== */

/* Flexbox parent container */
.container-flexbox {
	display: flex; 
	justify-content: space-between; 
	flex-wrap: wrap; 
}

/* Desktops: flexbox child column widths */
@media (min-width: 768px) {
    .col-2 { width: 47% }
    .col-3 { width: 30% }
	.col-4 { width: 22% } 
	.col-2 { margin-bottom: 56px }
	.col-3 { margin-bottom: 54px }
	.col-4 { margin-bottom: 42px }
	.col-2:nth-last-child(-n+2),
	.col-3:nth-last-child(-n+3),
	.col-4:nth-last-child(-n+4) { margin-bottom: 0 }
}

/* Mobiles: flexbox child columns */
@media (max-width: 767px) {
    .col-2, .col-3, .col-4 { 
		width: 100%;
		/* Space under stacked columns */
		margin-bottom: 3em;
	}
	/* No space under final column  */
	.col-2:last-child,
	.col-3:last-child,
	.col-4:last-child { margin-bottom: 0 }	
}

/* Child columns: font-sizes */
.col-2 h2 { font-size: 3.2rem }
.col-2 h3 { font-size: 2.6rem }
.col-2 h4, .col-2 p, .col-2 p li { font-size: 2.2rem }

.col-3 h2 { font-size: 2.4rem }
.col-3 h3 { font-size: 2.2rem }
.col-3 h4, .col-3 p, .col-3 p li  { font-size: 2rem }

.col-4 h2 { font-size: 2.0rem }
.col-4 h3 { font-size: 2.1rem }
.col-4 h4, .col-4 p, .col-4 p li  { font-size: 1.7rem }

/* Last content item at bottom of parent container */
.container-flexbox [class*="col"] *:last-child { margin-bottom: 0 } 

/* Columns with a background colour: padding */
.container-flexbox.bg-col-color > * { padding: 1.5% 2% 2% 2% }
.container-flexbox.bg-col-color > * { padding: 1.5rem 2.2rem 2rem 2.2rem }

/* If column background is dark, set text color to white */
.container-flexbox.bg-col-color [class*="-dark"] * { color: #fff }

/* ========== IMAGES ========== *


/* ========== HYPERLINKS ========== */


/* ========== BUTTONS ========== */










/* ========== SOME BACKGROUND COLOURS ========== */

.bg-gray-light    { background-color: #f0f5f4 }
.bg-beige-light   { background-color: #fde8cd }
.bg-green-light   { background-color: #e1ffe1 }
.bg-salmon-light  { background-color: #F7CACA }
.bg-purple-light  { background-color: #f2e1f9 }
.bg-teal-light    { background-color: #d0f8f8 }
.bg-yellow-light  { background-color: #f3fcce }
.bg-yellow-less-light  { background-color: #ffce01 }
.bg-orange-light  { background-color: #ffe6d0 }
.bg-brown-light   { background-color: #fef8f1 }
.bg-blue-light    { background-color: #dde9fa }

.bg-slate-gray-dark { background-color: #556271 }
.bg-purple-dark   { background-color: #6b5b95 }
.bg-crimson-dark  { background-color: #af0069 }
.bg-blue-dark     { background-color: #3c40c6 }
.bg-brown-dark    { background-color: #380312 }
.bg-teal-dark     { background-color: #007188 }
.bg-green-dark    { background-color: #066756 }
.bg-black-dark    { background-color: #000000 }

.bg-shadow-light {
	background-color: #fff;
	box-shadow: rgba(160,160,160,0.8) 5px 5px 20px;
	border-radius: 12px;
}


/* ================== UTILITY CLASSES =================== */

section.text-center > * { text-align: center  }
 


