body { font-family: 'Inter', sans-serif }
img { max-width: 100%; height: auto; }

  /* inter-300 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-300.woff2") format('woff2'); 
  }
  
  /* inter-regular - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-regular.woff2") format('woff2'); 
  }
  
  /* inter-500 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-500.woff2") format('woff2'); 
  }
  
  /* inter-600 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-600.woff2") format('woff2'); 
  }
  
  /* inter-700 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-700.woff2") format('woff2'); 
  }
  
  /* inter-800 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-800.woff2") format('woff2'); 
  }


 /* inter-tight-600 - latin */
@font-face {
	font-display: swap; 
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter-tight-v7-latin/inter-tight-v7-latin-600.woff2') format('woff2'); 
  }
  
  /* inter-tight-600italic - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/inter-tight-v7-latin/inter-tight-v7-latin-600italic.woff2') format('woff2'); 
  }
  
body { font-family: 'Inter', sans-serif }

/* Navbar */
nav.theme-light a.brand:link,
nav.theme-light a.brand:visited {
	font-size: var(--font-size-md); text-decoration: none; color: var(--blue-700);
}

nav.theme-light a.brand:focus,
nav.theme-light a.brand:hover,
nav.theme-light a.brand:active {
  color: var(--blue-500);
  text-decoration: none;
}

@media (max-width: 768px) { nav { min-height: 64px } }



/* Header */
header {
	background: linear-gradient(270deg, #0460CD, #021b79);
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
}


@media (max-width: 767px) {
	header:not(.cols-2-half) {
		padding-top: 32px; padding-bottom: 28px;
	}
}

@media (min-width: 768px) {
	header:not(.cols-2-half) {
		padding: 3% 4% 2% 4%;
	}
}      

header h1 { 
	font-size: calc(var(--font-size-xxl) * 0.85);
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 0
}

.theme-dark h2 {
	font-size: calc(var(--font-size-lg) * 0.85);
	letter-spacing: 0;
	margin-top: 12px;
	color: var(--yellow-200);
}


@media (min-width: 1201px) { section { padding: 80px 4% 60px 4% } }
@media (max-width: 767px) { section { padding: 42px 5% 42px 5% } }

/* Sections */
section { background-color: #fff } 

section .col-1.text-center > h2 { 
	color: var(--blue-700);
	font-family: 'Inter Tight', sans-serif;

}
@media (min-width: 768px) { .col-1 > h2:last-child { margin-bottom: -20px } }

section .col-4 a.col-4-h3:link, 
section .col-4 a.col-4-h3:visited { 
	font-family: 'Inter Tight', sans-serif;
	color:#230cea; text-decoration-color: #230cea;
	font-weight: 600; 
	font-size: var(--font-size-base);
}

section .col-4 a.col-4-h3:focus, 
section .col-4 a.col-4-h3:hover, 
section .col-4 a.col-4-h3:active { 
	color: var(--blue-600); text-decoration-color: var(--blue-600)
}


.mobile-col-2 .col-4 p {  
	margin-top: -6px;
	font-size: calc(var(--font-size-base) * 0.85 );
	color: var(--gray-800);
	line-height: 1.5
}

@media (max-width: 768px) { 
	.mobile-col-2 .col-4 p { 
		margin-top: 4px;
		font-size: calc(var(--font-size-base) * 0.85 );
	}
}

.col-4 p.quiz { font-size: calc(var(--font-size-base) * 0.9 ) }

@media (max-width: 768px) {
	.col-4 p.quiz { margin-top: -10px; margin-bottom: 8px }
}

.col-4 p + a.btn { margin-top: 14px }

.audio-container { max-width: 100%; height: auto }

@media (max-width: 767px) { .audio-container { max-width: contain } }
audio { width: 100% }

.btn-small { 
	padding: 10px 28px; font-size: calc(var(--font-size-sm) * 1.2 )
}

@media (max-width: 767px) {
	:not(footer) a:not(.btn):link, :not(footer) a:not(.btn):visited {
	   text-decoration-thickness: 1.5px;
	   text-underline-offset: 6px;
	}
	.mobile-col-2 .col-4 a.btn-small { padding: 10px 18px }
}

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { 
	background: linear-gradient(90deg, var(--blue-600), var(--blue-700));
	border-width: 0;
	border-color: transparent
}

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { 
	background: linear-gradient(90deg, var(--blue-500), var(--blue-600));
}

.col-4 .btn-soft { border-radius: 4px }

