/* ============ SECTIONS: VERTCAL AND HORIZONTAL PADDING ============ */


/* Desktops */
@media (min-width: 768px) { 
    section { padding: 4% 28% 2% 28% }
    section:last-child { padding-bottom: 6% }
}

/* Mobiles */
@media (max-width: 767px) { section { padding: 12% 8% } }


/* ============ SECTIONS: DIRECT DESCENDENTS  =========== */

/* Headings and text */

section > h2 { 
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)));
    margin-bottom: 32px;
    font-weight: normal;
    text-align: center;
}

section > p {
	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1140 - 320)));
	line-height: 1.5; 
    margin-bottom: 16px;
}

section > p:last-child {
    margin-bottom: 30px;
}

/* Images */
section figure { margin-bottom: 8px }

section > ul {
    margin-left: 27px;
    margin-bottom: 16px
}

section > ul li {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1140 - 320)));
	line-height: 1.5; 
    margin-bottom: 12px;
}

/* ============= PARENT FLEX CONTAINERS ============ */

.container-flex { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: stretch;
	width: 100%; 
    position: relatve; 
    text-align: left; 
    margin: 0 auto; 
}


/* ============== CONTENT ALIGNMENT =============== */

section .container-flex { text-align: left }

