/* Add custom style here  */

.hero-block { margin-bottom: 48px }


#hero-2 header.hero-block h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
}

#hero-2 header.hero-block h2 {
    font-size: calc(32px + (64 - 32) * ((100vw - 320px)/ (1600 - 320)));
}

#hero-2 header a.btn-primary { min-width: 180px }
#hero-2 header a.btn-primary:link { color: var(--black-000) }
#hero-2 header a.btn-primary:visited { color: var(--black-000) }

#hero-2 header a.btn-primary:link { background-color: var(--teal-500) }
#hero-2 header a.btn-primary:visited { background-color: var(--teal-500) }

#hero-2 header a.btn-primary:link { border-color: var(--teal-500) }
#hero-2 header a.btn-primary:visited { border-color: var(--teal-500) }

#hero-2 header a.btn-primary:focus { color: var(--white-000) }
#hero-2 header a.btn-primary:hover { color: var(--white-000) }
#hero-2 header a.btn-primary:active { color: var(--white-000) }

#hero-2 header a.btn-primary:focus { border-color: var(--red-500) }
#hero-2 header a.btn-primary:hover { border-color: var(--red-500) }
#hero-2 header a.btn-primary:active { border-color: var(--red-500) }

#hero-2 header a.btn-primary:focus { background-color: var(--red-500) }
#hero-2 header a.btn-primary:hover { background-color: var(--red-500) }
#hero-2 header a.btn-primary:active { background-color: var(--red-500) }

#hero-2 header a.btn-secondary:link { background-color: var(--teal-500) }
#hero-2 header a.btn-secondary:visited { background-color: var(--teal-500) }
#hero-2 header a.btn-secondary:link { border-color: var(--teal-500) }
#hero-2 header a.btn-secondary:visited { border-color: var(--teal-500) }

#hero-2 header a.btn-secondary:focus { color: var(--white-000) }
#hero-2 header a.btn-secondary:hover { color: var(--white-000) }
#hero-2 header a.btn-secondary:active { color: var(--white-000) }
#hero-2 header a.btn-secondary:focus { background-color: var(--red-500) }
#hero-2 header a.btn-secondary:hover { background-color: var(--red-500) }
#hero-2 header a.btn-secondary:active { background-color: var(--red-500) }
#hero-2 header a.btn-secondary:focus { border-color: var(--red-500) }
#hero-2 header a.btn-secondary:hover { border-color: var(--red-500) }
#hero-2 header a.btn-secondary:active { border-color: var(--red-500) }

#hero-3 h1 { 
    font-family: 'Abril Fatface', serif;
    font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
 } 

#hero-4 header.hero-block h1 { 
    font-family: 'Prata', serif;
    font-weight: 400;
    letter-spacing: -4px;
    line-height: 1.2
}


#hero-4 .hero-block.bg-img-left .hero-text-container h2 {
    font-size: calc(28px + (32 - 28) * ((100vw - 320px)/ (1600 - 320)));
    color: var(--gray-700);
}

#hero-4 header.hero-block { background-color: var(--ontrend-100) }
#hero-4 header.hero-block h1, #hero-4 header.hero-block h2 { color: #000 }

#hero-4 header.hero-block a.btn-secondary:link,
#hero-4 header.hero-block a.btn-secondary:visited { color: #000 }

#hero-4 header.hero-block a.btn-secondary:link,
#hero-4 header.hero-block a.btn-secondary:visited { border-color: #000 }

#hero-4 header.hero-block a.btn-secondary:focus,
#hero-4 header.hero-block a.btn-secondary:hover, 
#hero-4 header.hero-block a.btn-secondary:active { color: #fff; background-color: #000 }

#hero-4 .hero-block.bg-img-left .container-btn a.btn { min-width: 194px }


#hero-5 header.hero-block { background-color: var(--black-000) }

#hero-5 header.hero-block .upper-label { 
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    text-decoration-color: #64f4ac;
    text-decoration-style: wavy;
}

#hero-5 .hero-block.bg-img-right .hero-text-container h1 { 
    font-family: 'Barlow Condensed', serif;
    font-weight: 400;
    line-height: 1.2;
    color: #64f4ac;
    letter-spacing: 4px;
    font-size: calc(60px + (84 - 60) * ((100vw - 320px) / (1600 - 320)));
}

#hero-5 .hero-block.bg-img-right .hero-text-container h2 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px)/ (1600 - 320)));
    font-family: 'Zilla Slab', sans-serif;
    line-height: 1.5;
    letter-spacing: 0;
}

#hero-5 header.hero-block a.btn-primary:link,
#hero-5 header.hero-block a.btn-primary:visited { color: var(--black-000) }
#hero-5 header.hero-block a.btn-primary:link,
#hero-5 header.hero-block a.btn-primary:visited { background-color: #64f4ac }
#hero-5 header.hero-block a.btn-primary:link,
#hero-5 header.hero-block a.btn-primary:visited { border-color: #64f4ac }

#hero-5 header.hero-block a.btn-primary:focus,
#hero-5 header.hero-block a.btn-primary:hover,
#hero-5 header.hero-block a.btn-primary:active { background-color: var(--teal-500) }
#hero-5 header.hero-block a.btn-primary:focus,
#hero-5 header.hero-block a.btn-primary:hover,
#hero-5 header.hero-block a.btn-primary:active { border-color: var(--teal-500) }

#hero-5 header.hero-block a.btn { min-width: 190px }


#hero-6 header.hero-block { background-color: #FEC5CC }

#hero-6 header.hero-block .upper-label { word-spacing: normal } 
#hero-6 header.hero-block .upper-label span { 
    text-transform: none;
    letter-spacing: 0;
    background-color: var(--purple-400);
    color: #fff;
    display: inline-block;
    padding: 4px 18px 6px 18px;
    border-radius: 50px;
    font-weight: normal;
}

#hero-6 .hero-block.bg-img-left .hero-text-container h1 { 
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    line-height: 1.2;
    color: var(--ontrend-900);
    letter-spacing: -6px;
    font-size: calc(60px + (98 - 60) * ((100vw - 320px) / (1600 - 320)));
}

#hero-6 .hero-block.bg-img-left .hero-text-container h2 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px)/ (1600 - 320)));
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    letter-spacing: -1px;
    color: var(--ontrend-800);
    font-weight: 500;
}

#hero-6 header.hero-block a.btn-primary:link,
#hero-6 header.hero-block a.btn-primary:visited { color: #fff }
#hero-6 header.hero-block a.btn-primary:link,
#hero-6 header.hero-block a.btn-primary:visited { background-color: #C0435C }
#hero-6 header.hero-block a.btn-primary:link,
#hero-6 header.hero-block a.btn-primary:visited { border-color: #C0435C }

#hero-6 header.hero-block a.btn-primary:focus,
#hero-6 header.hero-block a.btn-primary:hover,
#hero-6 header.hero-block a.btn-primary:active { background-color: var(--purple-500) }
#hero-6 header.hero-block a.btn-primary:focus,
#hero-6 header.hero-block a.btn-primary:hover,
#hero-6 header.hero-block a.btn-primary:active { border-color: var(--purple-500) }

#hero-6 header.hero-block a.btn-secondary:link, 
#hero-6 header.hero-block a.btn-secondary:visited { color: #C0435C }
#hero-6 header.hero-block a.btn-secondary:link,
#hero-6 header.hero-block a.btn-secondary:visited { background-color: transparent }
#hero-6 header.hero-block a.btn-secondary:link,
#hero-6 header.hero-block a.btn-secondary:visited { border-color: #C0435C }

#hero-6 header.hero-block a.btn-secondary:focus, 
#hero-6 header.hero-block a.btn-secondary:hover,
#hero-6 header.hero-block a.btn-secondary:active { color: var(--purple-500) }

#hero-6 header.hero-block a.btn-secondary:focus,
#hero-6 header.hero-block a.btn-secondary:hover,
#hero-6 header.hero-block a.btn-secondary:active { background-color: transparent }
#hero-6 header.hero-block a.btn-secondary:focus,
#hero-6 header.hero-block a.btn-secondary:hover,
#hero-6 header.hero-block a.btn-secondary:active { border-color: var(--purple-500) }

#hero-6 header.hero-block .container-btn a.btn {
    font-size: calc(18px + (22 - 18) * ((100vw - 320px)/(1600 - 320)));
}

#hero-6 header.hero-block a.btn { min-width: 190px }

@media (min-width: 1140px) {
    #hero-6 .hero-block.bg-img-left .hero-text-container,
    #hero-6 .hero-block.bg-img-left .container-btn { padding-left: 0 }
}


#hero-7 header.hero-block { background-color: var(--ontrend-800) }

#hero-7 header.hero-block h1 { color: var(--gray-100); font-weight: 500 }
#hero-7 .hero-block.hero-half .hero-text-container h2 { color: var(--blue-100); line-height: 1.6;
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1600 - 320)));
}
#hero-7 header.hero-block .upper-label { color: var(--blue-100) }

#hero-7 header.hero-block a.btn-primary:link,
#hero-7 header.hero-block a.btn-primary:visited { color: var(--white-000) }

#hero-7 header.hero-block a.btn-primary:link,
#hero-7 header.hero-block a.btn-primary:visited { background-color: var(--blue-400) }

#hero-7 header.hero-block a.btn-primary:link,
#hero-7 header.hero-block a.btn-primary:visited { border-color: var(--blue-400) }


#hero-7 header.hero-block a.btn-primary:focus,
#hero-7 header.hero-block a.btn-primary:hover,
#hero-7 header.hero-block a.btn-primary:active { color: var(--white-000) }

#hero-7 header.hero-block a.btn-primary:focus,
#hero-7 header.hero-block a.btn-primary:hover,
#hero-7 header.hero-block a.btn-primary:active { border-color: var(--blue-300) }

#hero-7 header.hero-block a.btn-primary:focus,
#hero-7 header.hero-block a.btn-primary:hover,
#hero-7 header.hero-block a.btn-primary:active { background-color: var(--blue-300) }

#hero-7 header.hero-block a.btn-secondary:link,
#hero-7 header.hero-block a.btn-secondary:visited { background-color: var(--gray-600) }

#hero-7 header.hero-block a.btn-secondary:focus,
#hero-7 header.hero-block a.btn-secondary:hover,
#hero-7 header.hero-block a.btn-secondary:active { border-color: var(--gray-600) }

#hero-7 header.hero-block a.btn-secondary:link,
#hero-7 header.hero-block a.btn-secondary:visited { border-color: var(--gray-600) }

#hero-7 header.hero-block a.btn-secondary:focus,
#hero-7 header.hero-block a.btn-secondary:hover,
#hero-7 header.hero-block a.btn-secondary:active { background-color: var(--gray-500) }


#hero-8 header.hero-block { background-color: var(--white-000) }
#hero-8 .hero-block.hero-half .hero-text-container h1 { color: var(--black-000); letter-spacing: 0 }
#hero-8 header.hero-block h1 span { color: #5ba745 }
#hero-8 header.hero-block h2 { color: var(--black-000) }

#hero-8 .hero-block .container-btn a.btn {
    font-size: calc(19px + (22 - 19) * ((100vw - 320px)/(1600 - 320)));
}

#hero-8 header.hero-block a.btn-primary:link,
#hero-8 header.hero-block a.btn-primary:visited { color: #5ba745 }

#hero-8 header.hero-block a.btn-primary:link,
#hero-8 header.hero-block a.btn-primary:visited { background-color: var(--white-000) }

#hero-8 header.hero-block a.btn-primary:link,
#hero-8 header.hero-block a.btn-primary:visited { border-color: #5ba745; border-width: 4px }

#hero-8 header.hero-block a.btn-primary:focus,
#hero-8 header.hero-block a.btn-primary:hover,
#hero-8 header.hero-block a.btn-primary:active { 
    color: #fff;
    background-color: #5ba745;
    border-color: #5ba745  
}

#hero-8 .hero-block.hero-half .hero-text-container h2 {
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0;
    line-height: 1.5;
}

@media (min-width: 1200px) {
    #hero-8 .hero-block.hero-half.half-img-right .col-2 .container-btn {
        margin-top: 0;
    }
}
