/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: 0; box-sizing: border-box }
html { height: 100% }
body { min-height: 100% }  
img { width: 100%; height: auto; display: block }

/* Desktops */
@media all and (min-width:768px) { .container-block { padding: 4% 18% } }


/* Mobiles */
@media all and (max-width:767px) { .container-block { padding: 12% 8% } }


/* Main heading */
.container-block h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 84px;
    color: #1435b3;
    letter-spacing: -3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* Smaller headings */
.container-block h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    color: #696969;
    line-height: 1.6;
    text-align: center;
   /* margin-bottom: 24px; */
}

/* Smallest headings */
.container-block h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    letter-spacing: -3px;
    color: #000;
    margin-bottom: 12px;
}

/* Text paragraphs */
.container-block p {
    font-family: 'Arvo', sans-serif;
    font-size: 21px;
    color: #fff;
    line-height: 1.8;   
    margin-bottom: 20px;
}

/* Desktops: inter-line text spacing for paragraphs */
@media (min-width:768px) { 
    .container-block p { line-height: 1.8 }
}

/* Mobiles: inter-line text spacing for paragraphs */
@media (max-width:767px) {
    .container-block p { line-height: 1.6 }
}

/* Last content at bottom of container block */
.container-block *:last-child { margin-bottom: 0 }

/* Images */
.container-block img { margin-bottom: 32px }


/* Coloured backgrounds */
.bg-hero-block { background-color: #f5f9fb }
.bg-blue-light { background-color: #d8f0f5 }
.bg-blue-dark  { background-color: #1435b3 }

/* Linear gradient background  */
.bg-blue-dark  { background-image: linear-gradient(#0575e6, #1435b3) } 

/* Gradient direction: left to right */  
.bg-blue-dark { background-image: linear-gradient(90deg, #0575e6, #1435b3) }

/* Light blue background: h3 sub-headings and p text paragraphs */
.container-block.bg-blue-light h3 { color: #1435b3 }
.container-block.bg-blue-light p  { color: #000 }

/* Dark blue background: h3 sub-headings and p text paragraphs */
.container-block.bg-blue-dark h3 { color: #fff }
.container-block.bg-blue-dark p  { color: #fff }



