.box-counter button {
    min-width: 100px;
    background: blue;
    color: #fff;
    border: solid blue 1px;
    padding: 6px 0;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 12px;
}