/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

 
/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }

/* ================= ENDS ================ */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* Horizontal spacing: Desktops */
@media (min-width: 768px) { .hero-text-container { padding: 0 7% 3% 7% } }
	
/* Horizontal spacing: Mobiles */
@media (max-width: 767px) { .hero-text-container { padding: 0 12% 5% 12% } }

.hero-block {
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    overflow: none;
}

@media (min-width: 768px) { 
  .hero-block { height: 70vh }
}

.hero-text-container { padding: 0 12% 4% 12%; z-index: 2 }

.hero-bg-media {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}
                  
.hero-bg-media img {
    object-fit: cover; width: 100%; height: 100%;
}

.bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;  
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));   
}

.hero-block h1 {
  line-height: 1.2;
  color:#fff;
  text-shadow: 2px 2px #222;
  font-size: calc(52px + (78 - 52) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: 24px;
}


/* ============== CONTENT BLOCKS ================ */

header, figure, section, footer { position: relative; overflow: hidden }

/* Padding around most content */
@media (min-width: 1300px)  { header, section, footer { padding: 5% calc((100% - 1250px)/2) } }
@media (min-width: 1201px) and (maz-width: 1201px)  { header, section, footer { padding: 5% calc((100% - 1140px)/2) } }
@media (min-width: 1025px) and (max-width: 1200px ) { header, section, footer { padding: 5% 4% } }
@media (min-width: 768px) and (max-width: 1024px) { header, section, footer  { padding: 5% 4% } }
@media (max-width: 767px) { header, section, footer { padding: 42px 6% 42px 6% } }

/* Padding around header with background image or video */
@media (min-width: 1201px)  { header.hero-bg { padding: 0 calc((100% - 1140px)/2) } }
@media (min-width: 1025px) and (max-width: 1200px ) { header.hero-bg { padding: 0 4% } }
@media (min-width: 768px) and (max-width: 1024px) { header.hero-bg { padding: 0 4% } }
@media (max-width: 767px) { header.hero-bg { padding: 0 6% 0 6% } }

/* All viewports: Paragraphs and lists */
div[class^='col-'] p:last-child,
div[class^='col-'] li:last-child { margin-bottom: 0 }

.container-text, .container-btn { position: relative } 

/* ====== 2 column =    layout */



/* Desktops */
@media (min-width: 768px) {

  .flex-container {
      display: flex; flex-wrap: wrap; 
      justify-content: flex-start; 
      align-content: flex-start; 
      column-gap: 5%;
  }

  .col-main, .col-sidebar { 
      position: relative; overflow: visible;
      flex-direction: column;
  }

  .col-main { width: 60% }
  .col-sidebar { 
    width: 35%; 
    padding: 20px 20px
  }

  .col-main > h2 { 
    font-weight: 400; line-height: 1.4; margin-bottom: 32px;
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1140 - 320)));
    color: #283c90;
  }

.col-main > h3 { 
    font-weight: 700; line-height: 1.3;
    font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1140 - 320)));
    color: #283c90;
    margin-top: 48px
}

.col-main > p,  .col-main > ul li { 
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1140 - 320)));
    margin-bottom: 16px; line-height: 1.4;
}    
.col-main ul { margin-bottom: 18px }  
.col-main ul li { 
    margin-bottom: 12px; line-height: 1.35;
    margin-left: 24px;
    padding-left: 20px;
    line-height: 1.3;
}

}
.col-main figure { width: 100%; margin-bottom: 18px }

.col-main .wrapper {
    padding: 20px 40px 20px 20px;
    background-color: #edf2f7;
    display: block;
    border-top: 1px solid blue
}

.col-sidebar .wrapper {
    padding: 20px 20px 20px 20px;
    background-color: #edf2f7;
    display: block;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    flex-direction: row;
}

.form-row.f-start {
    justify-content: flex-start;
}
.form-row > label {
    width: 20%;
    min-width: 180px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5%
}

.form-row > input {
    width: 68%;
    min-width: 280px;
    font-size: 18px;
    border: solid 1px #000;
    border-radius: 5px;
    font-weight: 400;
    background-color: #fff;
    padding: 6px;
    align-items: right
}

label { 
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1140 - 320)));

} 

.form-row > input.upload-box {
    width: 300px;
    min-width: 300px;
}

.form-row > select {
    width: 68%;
    min-width: 280px;
    font-size: 18px;
    border: solid 1px #000;
    border-radius: 5px;
    font-weight: 400;
    background-color: #fff;
    padding: 6px;
    align-items: right
}

.form-row > label.label-wide {
    width: 22%;
    min-width: 280px;
}

.form-row > label.label-wider {
    width: 80%;
    min-width: 280px;
}


.form-row > input.input-narrow {
    width: 60%;
    min-width: 180px;
}

.form-row > input.input-narrower {
    width: 40%;
    min-width: 180px;
}

.wrapper h3 {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1140 - 320)));
    margin-bottom: 8px; line-height: 1.4;
}

form > h3 {
    font-weight: 700; line-height: 1.3;
    font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1140 - 320)));
    color: #283c90;
    margin-top: 48px;
    margin-bottom: 12px;
}

.wrapper p {
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1140 - 320)));
    margin-bottom: 16px; line-height: 1.4;
}

#fullNameOutput { background-color: #E7FFE7; border-color: green }

.radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: left;
    font-size: 18px;
    border: solid 1px #000;
    border-radius: 5px;
    font-weight: 400;
    background-color: #fff;
    padding: 6px 6px 6px 16px;
}

.form-row .radio-buttons {
    width: 68%;
    min-width: 280px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
}

.form-row .radio-buttons-narrower {
    width: 12%;
    min-width: 180px;
}
  
.radio-buttons > label {
    width: auto;
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}

.radio-buttons input { margin-right: 14px }


.form-row > button {
    margin-left: 20px;
    color: #fff;
    background-color: darkblue;
    border-color: darkblue;
    font-family: var(--font-sans);
    line-height: 1.5;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-weight: 600;
    transition: all 0.3s linear;
    position: relative;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    width: fit-content;
    padding: 10px 18px;
    font-size: 18px;
}

section .badge {
    color: #fff;
    background-color: #283c90;
}

section  .badge {
    font-weight: 700;
    display: block;
    padding: 4px 20px;
    font-size: 100%;
    letter-spacing: 2px;
    width: fit-content;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1920 - 320)));
    margin-bottom: 20px
}

section h2.subject {
    font-size: calc(36px + (72 - 36) * ((100vw - 320px)/(1920 - 320)));
    margin-bottom: 6px;
}

section h3.subject {
    margin-top:0 ;
    color: #222;
    font-weight: 400;
    margin-bottom: 32px;
}

.col-sidebar ol {
    margin: 28px 0 20px 32px;
    counter-reset: li-counter;
}

.col-sidebar ul {
   line-height: 1.6;
   margin-bottom: 12px
}

.col-sidebar ul li {
font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1140 - 320)));
line-height: 1.3;
margin-bottom: 12px;
padding-left: 16px;
line-height: 1.3;
}
.col-sidebar ol, .col-sidebar ol li {
    list-style-type: none;
}

.col-sidebar ol > li::before {
    line-height: 1.3;
    width: 28px;
    height: 28px;
    padding: 0;
  }

  .col-sidebar ol > li::before {
    position: absolute;
    top: 2px;
    left: -32px;
    line-height: 1;
    text-align: center;
    border-radius: 50%;
    border-color: blue;
    color: blue;
    padding: 2px 4px 2px 3px;
    font-weight: bold;
    content: counter(li-counter);
    counter-increment: li-counter;
    color: #023753;
    background-color: transparent;
    border: solid 2px #023753;
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
  }

  .col-sidebar ol > li {
    margin-bottom: 20px;
    padding-left: 20px;
    line-height: 1.6;
    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1140 - 320)));

  }

  .col-sidebar ol > li {
    position: relative;
  }

  .col-sidebar  .wrapper p {
    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (1140 - 320)));
    margin-bottom: 16px;
    line-height: 1.4;
  }

  .fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin,2.5em);
    padding-left: 0;
  }

  .fa-li {
    left: calc(var(--fa-li-width, 2em)*-1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width,2em);
    line-height: inherit;
    color: #48bb78
  }

/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }





