/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

 
/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }

/* ================= ENDS ================ */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* Horizontal spacing: Desktops */
@media (min-width: 768px) { .hero-text-container { padding: 0 7% 3% 7% } }
	
/* Horizontal spacing: Mobiles */
@media (max-width: 767px) { .hero-text-container { padding: 0 12% 5% 12% } }

.hero-block {
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    overflow: none;
}

@media (min-width: 768px) { 
  .hero-block { height: 70vh }
}

.hero-text-container { padding: 0 12% 4% 12%; z-index: 2 }

.hero-bg-media {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}
                  
.hero-bg-media img {
    object-fit: cover; width: 100%; height: 100%;
}

.bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;  
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));   
}

.hero-block h1 {
  line-height: 1.2;
  color:#fff;
  text-shadow: 2px 2px #222;
  font-size: calc(52px + (78 - 52) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: 24px;
}


/* ============== CONTENT BLOCKS ================ */

header, figure, section, footer { position: relative; overflow: hidden }

/* Padding around most content */
@media (min-width: 1300px)  { header, section, footer { padding: 5% calc((100% - 1250px)/2) } }
@media (min-width: 1201px) and (maz-width: 1201px)  { header, section, footer { padding: 5% calc((100% - 1140px)/2) } }
@media (min-width: 1025px) and (max-width: 1200px ) { header, section, footer { padding: 5% 4% } }
@media (min-width: 768px) and (max-width: 1024px) { header, section, footer  { padding: 5% 4% } }
@media (max-width: 767px) { header, section, footer { padding: 42px 6% 42px 6% } }

/* Padding around header with background image or video */
@media (min-width: 1201px)  { header.hero-bg { padding: 0 calc((100% - 1140px)/2) } }
@media (min-width: 1025px) and (max-width: 1200px ) { header.hero-bg { padding: 0 4% } }
@media (min-width: 768px) and (max-width: 1024px) { header.hero-bg { padding: 0 4% } }
@media (max-width: 767px) { header.hero-bg { padding: 0 6% 0 6% } }

/* All viewports: Paragraphs and lists */
div[class^='col-'] p:last-child,
div[class^='col-'] li:last-child { margin-bottom: 0 }

.container-text, .container-btn { position: relative } 

/* ====== 2 column =    layout */



/* Desktops */
@media (min-width: 768px) {

  .flex-container {
      display: flex; flex-wrap: wrap; 
      justify-content: flex-start; 
      align-content: flex-start; 
      column-gap: 5%;
  }

  .col-main, .col-sidebar { 
      position: relative; overflow: visible;
      flex-direction: column;
  }

  .col-main { width: 60% }
  .col-sidebar { 
    width: 35%; background-color: lightblue; 
    padding: 20px 20px
  }

  .col-main > h2 { 
    font-weight: 400; line-height: 1.4; margin-bottom: 32px;
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1140 - 320)));
    color: #283c90;
  }

.col-main > h3 { 
    font-weight: 700; line-height: 1.3;
    font-size: calc(19px + (24 - 19) * ((100vw - 320px) / (1140 - 320)));
    color: #283c90;
    margin-top: 48px
}

.col-main > p,  .col-main > ul li { 
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1140 - 320)));
    margin-bottom: 16px; line-height: 1.4;
}    
.col-main ul { margin-bottom: 18px }  
.col-main ul li { 
    margin-bottom: 12px; line-height: 1.35;
    margin-left: 24px;
    padding-left: 20px;
    line-height: 1.3;
}

}
.col-main figure { width: 100%; margin-bottom: 18px }


/* Sub-heading for column and within single column layout */
section > h3, .col-2 > h3, .col-3 > h3, .col-4 > h3,
.col-1 > a.col-3-h3, 
.col-2 > a.col-2-h3, 
.col-3 > a.col-3-h3, 
.col-4 > a.col-4-h3 { 
    font-weight: 700; line-height: 1.15; margin-bottom: 6px 
}

/* Desktops */
@media (min-width: 768px) {
    .flex-cols-2-1, .col-2, 
    .flex-cols-3, .col-3, 
    .flex-cols-4, .col-4 { 
        display: flex; flex-wrap: wrap; 
        justify-content: flex-start; 
        align-content: flex-start; 
    }




/* Mobiles */
@media (max-width: 767px) {
    .col-2, .col-3, .col-4 { 
        width: 100%; display: block; max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 42px;
    }

    .col-2.col-text { margin-bottom: 0 }
    .cols-padding div[class^="col-"] { padding: 18px 18px 22px 18px }
    .cols-padding div[class^="col-"] figure {
        margin-top: -18px;
        width: calc(100% + 36px);
        margin-left: calc(-18px);
        margin-right: calc(-18px);
    }

    /* Sub-heading for section */
    .col-2 h2, .cols-2-half .col-2 h2, 
    .col-3 h2, .col-4 h2 { font-size: calc(28px + 0.390625vw) }
    .col-2 h2 { line-height: 1.2 }
    
    /* Sub-heading withn text */
    .col-1 h3.in-col-1, .col-2 h3, .cols-2-half .col-2 h3, 
    .col-3 h3, .col-4 h3,
    .col-1 .col-2 a.col-2-h3, .cols-2-half a.col-2-h3, 
    .col-3 a.col-3-h3, .col-4 a.col-4-h3 { font-size: calc(22px + 0.390625vw) }

    /* Text content */
    div[class^="col-"] p,
    div[class^="col-"] li { font-size: calc(16px + 0.390625vw) }
    div[class^="col-"] p, div[class^="col-"] ul { margin-bottom: 16px }
    div[class^="col-"] li { margin-left: 15px; padding-left: 8px; margin-bottom: 14px }
   
    div[class^="col-"] ul.fa-ul li { margin-left: -14px; padding-left: 6px } 
    div[class^="col-"] ul li span.fa-li { transform: translateY(1px) }

    div[class^="col-"] figure { margin-bottom: 18px }
    div[class^="col-"] figure.icon i[class^='fa'] { margin-top: 10px; margin-bottom: 18px }
    div[class^="col-"] figure.icon i[class^='la'] { margin-top: 6px; margin-bottom: 18px }    
    


/* ============= TWO COLUMN LAYOUT ============ */

/* Desktops */
@media (min-width: 1025px) {
  .flex-cols-2-1 > .col-2 > h3, 
  .flex-cols-2-1 > .col-2 > a.col-2-h3 { font-size: 28px }
  .flex-cols-2-1 > .col-2 > p, 
  .flex-cols-2-1 > .col-2 > ul li { font-size: 20px }
  .flex-cols-2-1 > .col-2 > ul li {  margin-left: 18px; padding-left: 12px }
  .flex-cols-2-1 > .col-2 > ul.fa-ul li { margin-left: 22px; padding-left: 10px } 
  .flex-cols-2-1 > .col-2 > ul.fa-ul li span.fa-li { transform: translateY(2px) } 
  .flex-cols-2-1 > .col-2 > figure { margin-bottom: 32px }
  .flex-cols-2-1 > .cols-padding > .col-2 { padding: 20px 22px 28px 22px }
  .flex-cols-2-1 > .cols-padding > .col-2 figure {
      margin-top: -20px;
      width: calc(100% + 44px);
      margin-left: calc(-22px);
      margin-right: calc(-22px);
  }
  .flex-cols-2-1 > .col-2 > .container-btn { margin-top: 24px }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .flex-cols-2-1 > .col-2 > h3, 
  .flex-cols-2-1 > .col-2 > a.col-2-h3 { font-size: 25px }
  .flex-cols-2-1 > .col-2 > p, 
  .flex-cols-2-1 > .col-2 > ul li { font-size: 19px }  
  .flex-cols-2-1 > .col-2 > ul li { margin-left: 18px; padding-left: 8px } 
  .flex-cols-2-1 > .col-2 > ul.fa-ul li { margin-left: 22px } 
  .flex-cols-2-1 > .col-2 > figure { margin-bottom: 20px } 
  .flex-cols-2-1 > .cols-padding > .col-2 { padding: 20px 22px 28px 22px }
  .flex-cols-2-1 > .cols-padding > .col-2 figure {
      margin-top: -20px;
      width: calc(100% + 44px);
      margin-left: calc(-22px);
      margin-right: calc(-22px);
  }
  .flex-cols-2-1 > .col-2 > .container-btn { margin-bottom: -20px !important}
  .flex-cols-2-1 > .col-2 > .container-btn { margin-top: 24px }
}

/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }





