/* ==== PAGE WIDTH ==== */
body {
    padding-left: 20%;
    padding-right: 20%
}

h1 {
    font-size: 84px;
    margin-bottom: 64px;    
    text-align: center;
    font-weight: normal;
    letter-spacing: 4px;
}

h2 {
    font-size: 28px;
    margin-bottom: 4px;
    margin-top: 54px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-top: 0;    
    font-family: sans-serif;
    line-height: 1.6;
}
