header, #header { 
    padding-top: 22px;
    padding-bottom: 32px; 
    background-color: #21479c;
}

header h1, #header h1 { 
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

main, section { background-color: #eacbcc; }