/* Add your custom CSS here */
body { font-family: 'Inter', sans-serif }
@media(min-width: 768px) { 
    header:not(.hero-bg), header:not(.cols-2-half) { padding-top: 48px; padding-bottom: 48px }
}

header {
  background: linear-gradient(#0460CD, #021b79);
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
}

header h1, header h2 { color: #fff;  } 

header h1 { font-size: var(--font-size-xl); font-weight: 600 }
header h2 { font-size: var(--font-size-md); letter-spacing: 0; font-weight: 300 }

.col-1 h2 { font-weight: 500 }
.col-1 h3 { font-weight: 300 }

.theme-light.section-selector-1 .col-4 {
    border-top: solid 5px var(--trend-500);
    justify-content: space-between;
}

.col-4 h3 { 
    font-weight: 400;
    font-size: var(--font-size-md);
    margin-bottom: 12px;
    color: var(--gray-900);
}

.col-4 p { 
    margin-bottom: 10px;
    font-size: calc(var(--font-size-base) * 0.8);
}

.col-4 p a { font-weight: 500; text-decoration-thickness: 1px; color: var(--trend-500); }

.theme-light .col-4 p a:not(.btn):link, 
.theme-light .col-4 p a:not(.btn):visited { 
    color: var(--trend-500);
    text-decoration-thickness: 1px;
    text-decoration-color: var(--trend-500);      
}

.theme-light .col-4 p a:not(.btn):focus, 
.theme-light .col-4 p a:not(.btn):hover,
.theme-light .col-4 p a:not(.btn):active { 
    color: var(--red-600);
    text-decoration-color: var(--red-600);      
}

