/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }



/* **************************************************************** */
/* ************ BEGIN HERO BLOCK, TWO COLUMN: SAMPLE 6 ************ */
/* **************************************************************** */


/* ==== Hero block general properties ==== */

.hero-6 { 
    display: flex;
    justify-content: space-between; 
    background-color:#fff;
}

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) { .hero-6 { margin-bottom: 70px; padding: 6% 12% 2% 12% } }

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) { .hero-6 { margin-bottom: 40px; padding: 8% 12% } }


/* ===== Child column container ==== */

/* Desktop: 2 columns */
@media (min-width:768px) { .hero-6 .item-col-2 { width: 45% } }

/* Mobile: 1 column */
@media (max-width:767px) { 
    .hero-6 { flex-direction: column }
    .hero-6 .item-col-2 { width: 100% }
	.hero-6 > .item-col-2:nth-child(1) { order: 2 }
	.hero-6 > .item-col-2:nth-child(2) { order: 1 }	
}

/* Vertical spacing above and below text and buttons */
.hero-6 .item-col-2 {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
    .hero-6 h1, .hero-6 h2 { text-align: left }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
    .hero-6 h1, .hero-6 h2 { text-align: center }
}

.hero-6 h1 { 
    /* Font styles */
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -1px;
}

.hero-6 h2 { 
    /* Font styles */
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-weight: bold;
    line-height: 1.4;
}

/* Desktop - Font sizes and space beneath main heading  */
@media (min-width:768px) { 
    .hero-6 h1 { 
        margin-bottom: 4%;
        font-size: calc(18px + (64 - 18) * ((100vw - 320px)/(1600 - 320)));
    }    
    .hero-6 h2 { font-size: calc(14px + (32 - 14) * ((100vw - 320px)/(1600 - 320))); }
}

/* Mobiles - Font sizes and space beneath main heading  */
@media (max-width:767px) { 
    .hero-6 h1, .hero-6 h2 { max-width: 400px; margin: 0 auto }
    .hero-6 h1 { 
        margin-bottom: 3%;
        font-size: calc(28px + (72 - 28) * ((100vw - 320px)/(1600 - 320)));
    }
    .hero-6 h2 { font-size: calc(18px + (36 - 18) * ((100vw - 320px)/(1600 - 320))); }
}

/*======= Hero Image ======= */

@media (max-width:767px) { 
    .hero-6 .item-col-2 img { margin: 0 auto 7% auto; max-width: 400px }
}

/*======= Buttons ======= */

/* Button container */
.hero-6 .container-btn { display: flex }

/* Desktop large - button container */
@media (min-width:1300px) {
    .hero-6 .container-btn {
        display: flex;
        /* Buttons postioned side-by-side */
        flex-direction: row; justify-content: space-between;
        text-align:left;
   }
}

/* Mobiles and small desktops - button container */
@media (max-width: 1299px) {
    /* Buttons, stacked primary above secondary */
    .hero-6 .container-btn { 
        flex-direction: column; 
        /* justify-content: aligned to top of column; */
        justify-content: flex-start;
        text-align: center
    }
    /* Buttons full width */
    .hero-6 .container-btn > .item-col-2 {
        display: block; 
        text-align: center;
        width: 100%;
    }
}

/* Desktop large - Spacing above button container */
@media (min-width: 1299px)  { 
    .hero-6 .container-btn { margin-top: 10%;  }
}

/* Mobiles larger - Spacing above button container and secondary button */
@media (min-width: 768px) and (max-width: 1289px) { 
    .hero-6 .container-btn { margin-top: 8% }
    .hero-6 .container-btn .item-col-2 { text-align: left }
    .hero-6 .container-btn .item-col-2:last-child { margin-top: 12% } 
}

/* Mobiles large - Spacing above button container and secondary button */
@media (min-width: 601px) and (max-width: 767px) {
    .hero-6 .container-btn { margin-top: 8%; }
    .hero-6 .container-btn .item-col-2:last-child { margin-top: 8% }
}

@media (max-width: 600px) {
/* Mobiles small - Spacing above button container and secondary button */
    .hero-6 .container-btn { margin-top: 12% }
    .hero-6 .container-btn .item-col-2:last-child { margin-top: 12% } 
}

/* Both buttons: all button states */
.hero-6 .item-col-2 a.btn-primary,
.hero-6 .item-col-2 a.btn-secondary {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
    text-decoration: none;
    padding: 12px 28px;
    text-transform: uppercase;
    display: inline-block !important; 
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-6 a.btn-primary:link, 
.hero-6 a.btn-primary:visited {
    color: #fff;
    border: solid 2px #5ba745;
    background-color: #5ba745;
    transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-6 a.btn-primary:focus, 
.hero-6 a.btn-primary:hover, 
.hero-6 a.btn-primary:active {
    background-color:green;
    border: solid 2px green;
}

/* Secondary button: passive states */
.hero-6 a.btn-secondary:link, 
.hero-6 a.btn-secondary:visited {
    color: #5ba745;
    border: solid 2px #5ba745;
    background: #fff;
    transition: all 0.2s linear;
}

/* Secondary button: interactive states */
.hero-6 a.btn-secondary:focus, 
.hero-6 a.btn-secondary:hover, 
.hero-6 a.btn-secondary:active {
    color: #fff;
    background-color:green;
    border: solid 2px green;
}

/* ************** END HERO BLOCK, TWO COLUMN: SAMPLE 6 ************ */


/* **************************************************************** */
/* ************ BEGIN HERO BLOCK, TWO COLUMN: SAMPLE 7 ************ */
/* **************************************************************** */


/* ==== Hero block general properties ==== */

.hero-7 { 
    display: flex;
    justify-content: space-between; 
    background-color: #ff4d5e;
}

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) { .hero-7 { margin-bottom: 70px; padding: 0 12% 0 12% } }

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) { .hero-7 { margin-bottom: 40px; padding: 0 12% 10% 12% } }

/* ===== Child column container ==== */

/* Desktop: 2 columns */
@media (min-width:768px) { .hero-7 > .item-col-2 { width: 100% } }

/* Mobile: 1 column */
@media (max-width:767px) { 
    .hero-7 { flex-direction: column }
    .hero-7 .item-col-2 { width: 100% }
	.hero-7 > .item-col-2:nth-child(1) { order: 2 }
	.hero-7 > .item-col-2:nth-child(2) { order: 1 }	
}

/* Vertical spacing above and below text and buttons */
.hero-7 .item-col-2 {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
    .hero-7 h1, .hero-7 h2 { text-align: left }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
    .hero-7 h1, .hero-7 h2 { text-align: center }
}

.hero-7 h1 { 
    /* Font styles */
    font-family: 'Playfair Display', sans-serif;
    color: #0c2461;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -1px;
}

.hero-7 h2 { 
    /* Font styles */
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.4;
}

/* Desktop - Font sizes and space beneath main heading  */
@media (min-width:768px) { 
    .hero-7 h1 { 
        margin-bottom: 4%;
        font-size: calc(18px + (72 - 18) * ((100vw - 320px)/(1600 - 320)));
    }    
    .hero-7 h2 { font-size: calc(18px + (38 - 18) * ((100vw - 320px)/(1600 - 320))); }
}

/* Mobiles - Font sizes and space beneath main heading  */
@media (max-width:767px) { 
    .hero-7 h1, .hero-7 h2 { max-width: 400px; margin: 0 auto }
    .hero-7 h1 { 
        margin-bottom: 8%;
        font-size: calc(42px + (72 - 42) * ((100vw - 320px)/(1600 - 320)));
    }
    .hero-7 h2 { font-size: calc(20px + (36 - 20) * ((100vw - 320px)/(1600 - 320))); }
}

/*======= Hero Image ======= */

@media (max-width:767px) { 
    .hero-7 .item-col-2 img { margin: 0 auto 7% auto; max-width: 400px }
}

/*======= Buttons ======= */

/* Button container */
.hero-7 .container-btn { display: flex }

/* Desktop large - button container */
@media (min-width:1300px) {
    .hero-7 .container-btn {
        display: flex;
        /* Buttons postioned side-by-side */
        flex-direction: row; justify-content: space-between;
        text-align:left;
   }
}

/* Mobiles and small desktops - button container */
@media (max-width: 1299px) {
    /* Buttons, stacked primary above secondary */
    .hero-7 .container-btn { 
        flex-direction: column; 
        /* justify-content: aligned to top of column; */
        justify-content: flex-start;
        text-align: center
    }
    /* Buttons full width */
    .hero-7 .container-btn > .item-col-2 {
        display: block; 
        text-align: center;
        width: 100%;
    }
}

/* Desktop large - Spacing above button container */
@media (min-width: 1299px)  { 
    .hero-7 .container-btn { margin-top: 8%;  }
}

/* Mobiles larger - Spacing above button container and secondary button */
@media (min-width: 768px) and (max-width: 1289px) { 
    .hero-7 .container-btn { margin-top: 10% }
    .hero-7 .container-btn .item-col-2 { text-align: left }
}

/* Mobiles large - Spacing above button container and secondary button */
@media (min-width: 601px) and (max-width: 767px) {
    .hero-7 .container-btn { margin-top: 10%; }
}

@media (max-width: 600px) {
/* Mobiles small - Spacing above button container and secondary button */
    .hero-7 .container-btn { margin-top: 12% }
}

/* Both buttons: all button states */
.hero-7 .item-col-2 a.btn-primary,
.hero-7 .item-col-2 a.btn-secondary {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
    text-decoration: none;
    padding: 12px 28px;
    text-transform: uppercase;
    display: inline-block; 
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-7 a.btn-primary:link, 
.hero-7 a.btn-primary:visited {
    color: #fff;
    border: solid 2px #000;
    background-color: #000;
    transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-7 a.btn-primary:focus, 
.hero-7 a.btn-primary:hover, 
.hero-7 a.btn-primary:active {
    background-color:darkred;
    border: solid 2px darkred;
}

/* Secondary button: passive states */
.hero-7 a.btn-secondary:link, 
.hero-7 a.btn-secondary:visited {
    color: #5ba745;
    border: solid 2px #5ba745;
    background: #fff;
    transition: all 0.2s linear;
}

/* Secondary button: interactive states */
.hero-7 a.btn-secondary:focus, 
.hero-7 a.btn-secondary:hover, 
.hero-7 a.btn-secondary:active {
    color: #fff;
    background-color:green;
    border: solid 2px green;
}

/* ************** END HERO BLOCK, TWO COLUMN: SAMPLE 8 ************ */


/* ==== Hero block general properties ==== */

.hero-8 { 
    display: flex;
    justify-content: space-between; 
    background-color:#fff;
}

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) { .hero-8 { margin-bottom: 70px; padding: 6% 12% 2% 12% } }

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) { .hero-8 { margin-bottom: 40px; padding: 8% 12% } }

/* ===== Child column container ==== */

/* Desktop: 2 columns */
@media (min-width:768px) { .hero-8 .item-col-2 { width: 45% } }

/* Mobile: 1 column */
@media (max-width:767px) { 
    .hero-8 { flex-direction: column }
    .hero-8 .item-col-2 { width: 100% }
	.hero-8 > .item-col-2:nth-child(1) { order: 2 }
	.hero-8 > .item-col-2:nth-child(2) { order: 1 }	
}

/* Vertical spacing above and below text and buttons */
.hero-8 .item-col-2 {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
    .hero-8 h1, .hero-8 h2 { text-align: left }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
    .hero-8 h1, .hero-8 h2 { text-align: center }
}

.hero-8 h1 { 
    /* Font styles */
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -1px;
}

.hero-8 h2 { 
    /* Font styles */
    font-family: 'Roboto', sans-serif;
    color: #888;
    font-weight: bold;
    line-height: 1.4;
}

/* Desktop - Font sizes and space beneath main heading  */
@media (min-width:768px) { 
    .hero-8 h1 { 
        margin-bottom: 4%;
        font-size: calc(18px + (64 - 18) * ((100vw - 320px)/(1600 - 320)));
    }    
    .hero-8 h2 { font-size: calc(14px + (32 - 14) * ((100vw - 320px)/(1600 - 320))); }
}

/* Mobiles - Font sizes and space beneath main heading  */
@media (max-width:767px) { 
    .hero-8 h1, .hero-8 h2 { max-width: 400px; margin: 0 auto }
    .hero-8 h1 { 
        margin-bottom: 3%;
        font-size: calc(28px + (72 - 28) * ((100vw - 320px)/(1600 - 320)));
    }
    .hero-8 h2 { font-size: calc(18px + (36 - 18) * ((100vw - 320px)/(1600 - 320))); }
}

/*======= Hero Image ======= */

@media (max-width:767px) { 
    .hero-8 .item-col-2 img { margin: 0 auto 7% auto; max-width: 400px }
}

/*======= Buttons ======= */

/* Button container */
.hero-8 .container-btn { display: flex }

/* Desktop large - button container */
@media (min-width:1300px) {
    .hero-8 .container-btn {
        display: flex;
        /* Buttons postioned side-by-side */
        flex-direction: row; justify-content: space-between;
        text-align:left;
   }
}

/* Mobiles and small desktops - button container */
@media (max-width: 1299px) {
    /* Buttons, stacked primary above secondary */
    .hero-8 .container-btn { 
        flex-direction: column; 
        /* justify-content: aligned to top of column; */
        justify-content: flex-start;
        text-align: center
    }
    /* Buttons full width */
    .hero-8 .container-btn > .item-col-2 {
        display: block; 
        text-align: center;
        width: 100%;
    }
}

/* Desktop large - Spacing above button container */
@media (min-width: 1299px)  { 
    .hero-8 .container-btn { margin-top: 10%;  }
}

/* Mobiles larger - Spacing above button container and secondary button */
@media (min-width: 768px) and (max-width: 1289px) { 
    .hero-8 .container-btn { margin-top: 8% }
    .hero-8 .container-btn .item-col-2 { text-align: left }
    .hero-8 .container-btn .item-col-2:last-child { margin-top: 12% } 
}

/* Mobiles large - Spacing above button container and secondary button */
@media (min-width: 601px) and (max-width: 767px) {
    .hero-8 .container-btn { margin-top: 8%; }
    .hero-8 .container-btn .item-col-2:last-child { margin-top: 8% }
}

@media (max-width: 600px) {
/* Mobiles small - Spacing above button container and secondary button */
    .hero-8 .container-btn { margin-top: 12% }
    .hero-8 .container-btn .item-col-2:last-child { margin-top: 12% } 
}

/* Both buttons: all button states */
.hero-8 .item-col-2 a.btn-primary,
.hero-8 .item-col-2 a.btn-secondary {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
    text-decoration: none;
    padding: 12px 28px;
    text-transform: uppercase;
    display: inline-block !important; 
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-8 a.btn-primary:link, 
.hero-8 a.btn-primary:visited {
    color: #fff;
    border: solid 2px #5ba745;
    background-color: #5ba745;
    transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-8 a.btn-primary:focus, 
.hero-8 a.btn-primary:hover, 
.hero-8 a.btn-primary:active {
    background-color:green;
    border: solid 2px green;
}

/* Secondary button: passive states */
.hero-8 a.btn-secondary:link, 
.hero-8 a.btn-secondary:visited {
    color: #5ba745;
    border: solid 2px #5ba745;
    background: #fff;
    transition: all 0.2s linear;
}

/* Secondary button: interactive states */
.hero-8 a.btn-secondary:focus, 
.hero-8 a.btn-secondary:hover, 
.hero-8 a.btn-secondary:active {
    color: #fff;
    background-color:green;
    border: solid 2px green;
}

/* ************** END HERO BLOCK, TWO COLUMN: SAMPLE 8 ************ */



/* === GLOBAL TEXT COLOUR STYLES === */
.text-red { color:red }
.text-darkgray { color:#888 }


/* === GLOBAL BUTTON STYLES === */

/* Button shapes */
a.btn-soft { border-radius: 5px }
a.btn-rounded { border-radius: 40px }

/* Icon spacing inside buttons */
a.btn-primary i, a.btn-secondary i { margin-right: 12px }