/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }



/* **************************************************************** */
/* ************ BEGIN HERO BLOCK, TWO COLUMN: SAMPLE 6 ************ */
/* **************************************************************** */


/* ==== Hero block general properties ==== */

.hero-6 { 
    display: flex;
    justify-content: space-between; 
    background-image: linear-gradient(90deg, #ff00cc, #333399)
}

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) { .hero-6 { margin-bottom: 70px; padding: 6% 12% } }

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) { .hero-6 { margin-bottom: 40px; padding: 14% 12% } }


/* ===== Child column container ==== */

/* Desktop: 2 columns */
@media (min-width:768px) { .hero-6 .item-col-2 { width: 45% } }

/* Mobile: 1 column */
@media (max-width:767px) { 
    .hero-6 { flex-direction: column }
    .hero-6 .item-col-2 { width: 100% }
	.hero-6 .item-col-2:nth-child(1) { order: 2 }
	.hero-6 .item-col-2:nth-child(2) { order: 1 }	
}

/* Vertical spacing above and below text and buttons */
.hero-6 .item-col-2 {
   display: flex;
   justify-content: center;
   flex-direction: column;
}



/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
    .hero-6 h1, .hero-6 h2 { text-align: left }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
    .hero-6 h1, .hero-6 h2 { text-align: center }
}

.hero-6 h1 { 
    /* Font styles */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    font-size: calc(32px + (52 - 32) * ((100vw - 320px) / (1600 - 320)));
}

.hero-6 h2 { 
    /* Font styles */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: normal;
    line-height: 1.4;
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1600 - 320)));
}

/* Desktop - Space beneath main heading  */
@media (min-width:768px) { .hero-6 h1 { margin-bottom: 8% } }

/* Mobiles - Space beneath main heading */
@media (max-width:767px) { .hero-6 h1 { margin-top: 10%; margin-bottom: 14% } }


/*======= Buttons ======= */

/* Button container */
.hero-1 .container-btn { display: flex }

/* Desktop - button container */
@media (min-width:768px) {
    .hero-6 .container-btn {
        display: flex;
        /* Spacing above button container */
        margin-top: 8%;
        /* Buttons postioned side-by-side */
        flex-direction: row; justify-content: space-between;
   }
}

/* Mobiles - button container */
@media (max-width:768px) {
    /* Buttons, stacked primary above secondary */
    .hero-6 .container-btn { 
        flex-direction: column; 
        justify-content: space-between;
        /* Spacing above button container */
        margin-top: 12%;
    }
    /* Buttons full width */
    .hero-6 .container-btn { width: 100%; text-align: center }
    /* Spacing above secondary button */
    .hero-6 .container-btn  { margin-top: 10%  }
    .hero-6 .container-btn a:last-child { margin-top: 10% }

}

/* Both buttons: all button states */
.hero-6 .item-col-2 a.btn-primary,
.hero-6 .item-col-2 a.btn-secondary {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;    
    text-decoration: none;
    padding: 9px 24px;
    text-transform: uppercase;
    display: inline-block; 
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-6 a.btn-primary:link, 
.hero-6 a.btn-primary:visited {
    color: #fff;
    border: solid 2px red;
    background-color: red;
    transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-6 a.btn-primary:focus, 
.hero-6 a.btn-primary:hover, 
.hero-6 a.btn-primary:active {
    background-color:green;
    border: solid 2px green;
}

/* Secondary button: passive states */
.hero-6 a.btn-secondary:link, 
.hero-6 a.btn-secondary:visited {
    color: #fff;
    border: solid 2px #fff;
    transition: all 0.2s linear;
}

/* Secondary button: interactive states */
.hero-6 a.btn-secondary:focus, 
.hero-6 a.btn-secondary:hover, 
.hero-6 a.btn-secondary:active {
    color: lightblue;
    border: solid 2px lightblue;
}

/* ************** END HERO BLOCK, TWO COLUMN: SAMPLE 6 ************ */


/* === GLOBAL TEXT COLOUR STYLES === */
.text-red { color:red }
.text-darkgray { color:#888 }


/* === GLOBAL BUTTON STYLES === */

/* Button shapes */
a.btn-soft { border-radius: 5px }
a.btn-rounded { border-radius: 40px }

/* Icon spacing inside buttons */
a.btn-primary i, a.btn-secondary i { margin-right: 12px }