/* ==== BROWSER RESETS  ==== */
/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/*=== HERO BLOCK: GENERAL ====*/

/* Desktop - height and bottom margin, text width */
@media (min-width:768px) {
    .hero-block-col-1, .hero-block-col-2 { 
        height: 520px; margin-bottom: 70px; padding: 0 20%;
    }
}

/* Mobiles - height and bottom margin, text width */
 @media (max-width:767px) {
    .hero-block-col-1, .hero-block-col-2 { 
        height: 360px; margin-bottom: 40px; padding: 0 10%;
    }
}

/* Hero block: one-column, vertical spacing */
.hero-block-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    /* background-color: #0065f2; */
}

/* Hero block: two-column */
.hero-block-col-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero-block-col-2 .item-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Desktops */
@media (min-width:768px) { 
    .hero-block-col-2 .item-col-2 { width: 47% }
}

/* Mobiles */
@media (max-width:767px) { 
    .hero-block-col-2 .item-col-2 { width: 100% }
}

.hero-block-1 h1, .hero-block-1 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 1.4
}

.hero-block-col-1 h1 {
   font-size: calc(36px + (72 - 36) * ((100vw - 320px) / (1600 - 320)));
}

.hero-block-col-1 h2 {
   font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320)));
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) {
    .hero-block-col-1 h1, .hero-block-col-1 h2 { margin-bottom: 10% }
}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) {
    .hero-block-col-1 h1, .hero-block-col-1 h2 { margin-bottom: 4% }
}

/* ===== BUTTON STYLES ===== */

.container-btn { text-align: center }

/* All button states */
a.btn-solid {
    font-weight: bold;    
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320)));
    margin: 20px 40px 20px 0;   
    display: inline-block; 
}

/* Passive button states */
a.btn-solid:link, a.btn-solid:visited {
    background-image: linear-gradient(90deg,#e052a0,#f15c41);
    transition: all 0.2s linear;
}

/* Interactive button states */
a.btn-solid:focus, a.btn-solid:hover, a.btn-solid:active {
    background-image: linear-gradient(90deg,#45C4E1,#4595E6);
}

a.btn-ghost {
    text-decoration: none;
    padding: 12px 32px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320)));
    margin: 20px 40px 20px 0;
    display: inline-block;     
}

a.btn-ghost:link, a.btn-ghost:visited {
    color: #fff;
    border: solid 3px #fff;
    transition: all 0.2s linear;
}

a.btn-ghost:focus, a.btn-ghost:hover, a.btn-ghost:active {
    color: lightblue;
    border: solid 3px lightblue;
}

a.btn-soft { border-radius: 5px }
a.btn-rounded { border-radius: 25px }

/* Icon spacing inside buttons */
a.btn-solid i, a.btn-ghost i {
    margin-left: 12px;
}


/* === HERO BLOCK 2 === */





/* === HERO BLOCK 3 === */






/* === HERO BLOCK 4 === */




/* === HERO BLOCK 5 === */





/* === HERO BLOCK 6 === */



