/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
img { width: 100%; height: auto }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }

/* ============ CUSTOM PROPERTIES ============  */

:root {
  /* Alternatives to default sans-serif font */
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

   /* Alternatives to default serif font */
  --font-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

   /* Alternatives to default monospace font */
  --font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --global-font: var(--font-sans);

  /* Fluid font scale */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.29rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body { font-family: var(--global-font) }


.App > h1 {
  text-align: center;
  padding: 20px 0 32px 0;
  background-color: #1f364d; 
  color: white;
  font-size: var(--font-size-xl); line-height: 1.2
}

.addTask {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgreen; 
  justify-content: center;
  column-gap: 5%;
}


@media (min-width: 1201px) { .addTask { padding: 60px 4% } }
@media (min-width: 1025px) and (max-width: 1200px) { .addTask { padding: 60px 4% } }
/* Padding around content: tablets */
@media (min-width: 768px) and (max-width: 1024px) { .addTask { padding: 50px 6% } }
/* Padding around content: mobiles */
@media (max-width: 767px) { .addTask { padding: 42px 9% 42px 9% } }

/* When content width < viewport width, equalise spacing at left and right */
.addTask > * { max-width: 1600px; margin-left: auto; margin-right: auto }


/* All .addTasks: container-text */
.addTask input { 
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: var(--font-size-base);
  border-radius: 5px;
 }


.addTask button { 
    width: 20%;
    background-color: #1f364d; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-base);
    border-radius: 5px;
}

.addTask button:hover,
.addTask button:active,
.addTask button:focus { 
  background-color: #000;
}


.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #c6f6d5; 
  justify-content: center;
  column-gap: 5%;
}


@media (min-width: 1201px) { .list { padding: 60px 12% } }
@media (min-width: 1025px) and (max-width: 1200px) { .list { padding: 60px 10% } }
/* Padding around content: tablets */
@media (min-width: 768px) and (max-width: 1024px) { .list { padding: 50px 6% } }
/* Padding around content: mobiles */
@media (max-width: 767px) { .list { padding: 42px 9% 42px 9% } }

/* When content width < viewport width, equalise spacing at left and right */
.list > * { max-width: 1600px; margin-left: auto; margin-right: auto }


.Task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #c6f6d5; 
  justify-content: left;
  width: 100%;
  margin: 32px 0;
}

.Task h1 {
  color: #000;
  /* background-color: #c6f6d5; */
  width: 70%;
  font-size: var(--font-size-md);
  font-weight: normal;
  text-align: left;
  padding: 12px
}

.Task button:nth-child(2) {
  width: 22%;
  margin: 0 !important;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-base);
  border-radius: 5px;}

.Task button:nth-child(3) {
  color: #000;
  width: 8%;
  padding: 2px 2px;
  background-color: #1f364d; 
  color: #fff;
  font-size: var(--font-size-base);
}

