/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/*=== HERO BLOCK: Container ====*/

/* Desktop - height and bottom margin, text width */
@media (min-width:768px) {
    .hero-block-col-1 { height: 520px; margin-bottom: 70px; padding: 0 20% }
}

/* Mobiles - height and bottom margin, text width */
 @media (max-width:767px) {
    .hero-block-col-1 { height: 460px; margin-bottom: 40px; padding: 0 10% }
}

.hero-block-col-1 {
    background-color: gray;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* === HERO BLOCK: Heading and sub-heading === */

.hero-block-col-1 h1 {
    font-size: calc(36px + (80 - 36) * ((100vw - 320px) / (1600 - 320)));   
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.hero-block-col-1 h2 {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320)));    
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}

/* Desktop - headings bottom margins */
@media (min-width:768px) { .hero-block-col-1 h1 { margin-bottom: 4% } }

/* Mobiles - heading bottom margins */
@media (max-width:767px) { .hero-block-col-1 h1 { margin-bottom: 8% } }


/* === HERO BLOCK: Buttons */

/* Button container */
.hero-block-col-1 .container-btn { display: flex; justify-content: center }

/* Desktop - button container */
@media (min-width:768px) {
    .hero-block-col-1 .container-btn { 
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6%;
    }
    .hero-block-col-1 .container-btn .item-col-2 { width: 47% }
    .hero-block-col-1 .container-btn .item-col-2:first-child { text-align: right }
    .hero-block-col-1 .container-btn .item-col-2:last-child  { text-align: left  }
}

/* Mobiles - button container */
@media (max-width:768px) {
    .hero-block-col-1 .container-btn { 
        flex-direction: column;
        margin-top: 12%;
    }
    .hero-block-col-1 .container-btn .item-col-2 { width: 100%; text-align: center }
    .hero-block-col-1 .container-btn .item-col-2:first-child { margin-bottom: 9% }
}
    
/* All button states */

.hero-block-col-1 .container-btn a.btn-primary,
.hero-block-col-1 .container-btn a.btn-secondary { 
    font-family: sans-serif;
    font-weight: bold;    
    text-decoration: none;
    padding: 12px 32px;
    text-transform: uppercase;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320))); 
    display: inline-block; 
}

/* Passive button states */
.hero-block-col-1 a.btn-primary:link, 
.hero-block-col-1 a.btn-primary:visited {
    color: #fff;
    border: solid 3px blue;
    background-color: blue;
    transition: all 0.2s linear;
}

/* Interactive button states */
.hero-block-col-1 a.btn-primary:focus, 
.hero-block-col-1 a.btn-primary:hover, 
.hero-block-col-1 a.btn-primary:active {
    background-color: red;
    border: solid 3px red;
}

.hero-block-col-1 a.btn-secondary:link, 
.hero-block-col-1 a.btn-secondary:visited {
    color: blue;
    border: solid 3px blue;
    transition: all 0.2s linear;
}

.hero-block-col-1 a.btn-secondary:focus, 
.hero-block-col-1 a.btn-secondary:hover, 
.hero-block-col-1 a.btn-secondary:active {
    color: red;
    border: solid 3px red;
}


/* === HERO BLOCK 1 === */

.hero-block-col-1.hero-block-1 { background-color: #0065f2; }

.hero-block-col-1.hero-block-1 h1 {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: calc(48px + (90 - 48) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: -2px;  
    font-weight: bold
}

.hero-block-col-1.hero-block-2 h1 {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold
}

.hero-block-col-1 .container-btn a.btn-primary,
.hero-block-col-1 .container-btn a.btn-secondary { 
    font-family: 'Open Sans', sans-serif;
}

/* Passive button states */
.hero-block-col-1 a.btn-primary:link, 
.hero-block-col-1 a.btn-primary:visited {
    color: #fff;
    border: solid 3px red;
    background-color: red;
}

/* Interactive button states */
.hero-block-col-1 a.btn-primary:focus, 
.hero-block-col-1 a.btn-primary:hover, 
.hero-block-col-1 a.btn-primary:active {
    background-color: green;
    border: solid 3px green;
}

.hero-block-col-1 a.btn-secondary:link, 
.hero-block-col-1 a.btn-secondary:visited {
    color: #fff;
    border: solid 3px #fff;
    transition: all 0.2s linear;
}

.hero-block-col-1 a.btn-secondary:focus, 
.hero-block-col-1 a.btn-secondary:hover, 
.hero-block-col-1 a.btn-secondary:active {
    color: lightgreen;
    border: solid 3px lightgreen;
}


/* === HERO BLOCK 2 === */

/* Desktop - height and bottom margin, text width */
@media (min-width:768px) {
    .hero-block-col-1 { height: 600px; margin-bottom: 70px; padding: 0 20% }
}

/* Mobiles - height and bottom margin, text width */
 @media (max-width:767px) {
    .hero-block-col-1 { height: 520px; margin-bottom: 40px; padding: 0 10% }
}

.hero-block-col-1.hero-block-2 { background-color: #fbf5eb }

.hero-block-col-1.hero-block-2 h1 {
    color: #000;
    text-align: left;
    font-family:  'Libre Baskerville', serif;
    font-size: calc(48px + (90 - 48) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: -2px;  
    font-weight: normal
}

/* Desktop - headings bottom margins */
@media (min-width:768px) { .hero-block-col-1.hero-block-2 h1 { margin-bottom: 2% } }


.hero-block-col-1.hero-block-2 h2 {
    color: gray;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal
}

/* Desktop - button container */
@media (min-width:768px) {
    .hero-block-col-1..hero-block-2 .container-btn { 
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6%;
    }
    .hero-block-col-1 .container-btn .item-col-2 { width: 47% }
    .hero-block-col-1 .container-btn .item-col-2:first-child { text-align: left }
    .hero-block-col-1 .container-btn .item-col-2:last-child  { text-align: left  }
}




/* === HERO BLOCK 3 === */

.hero-block-col-1.hero-block-3 { background-color:#78d8da }

.hero-block-col-1.hero-block-3 h1 {
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: calc(50px + (100 - 50) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 700;
}

.hero-block-col-1.hero-block-3 h2 {
    color: #000;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}




/* === HERO BLOCK 4 === */

/*=== HERO BLOCK: Container ====*/

/* Desktop - height and bottom margin, text width */
@media (min-width:768px) {
    .hero-block-col-1 { height: 520px; margin-bottom: 70px; padding: 0 20% }
}

/* Mobiles - height and bottom margin, text width */
 @media (max-width:767px) {
    .hero-block-col-1 { height: 460px; margin-bottom: 40px; padding: 0 10% }
}

.hero-block-col-1 {
    background-color: gray;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* === HERO BLOCK: Heading and sub-heading === */

.hero-block-col-1 h1 {
    font-size: calc(36px + (80 - 36) * ((100vw - 320px) / (1600 - 320)));   
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.hero-block-col-1 h2 {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320)));    
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}

/* Desktop - headings bottom margins */
@media (min-width:768px) { .hero-block-col-1 h1 { margin-bottom: 4% } }

/* Mobiles - heading bottom margins */
@media (max-width:767px) { .hero-block-col-1 h1 { margin-bottom: 8% } }


/* === HERO BLOCK: Buttons */

/* Button container */
.hero-block-col-1 .container-btn { display: flex; justify-content: center }

/* Desktop - button container */
@media (min-width:768px) {
    .hero-block-col-1 .container-btn { 
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6%;
    }
    .hero-block-col-1 .container-btn .item-col-2 { width: 47% }
    .hero-block-col-1 .container-btn .item-col-2:first-child { text-align: right }
    .hero-block-col-1 .container-btn .item-col-2:last-child  { text-align: left  }
}

/* Mobiles - button container */
@media (max-width:768px) {
    .hero-block-col-1 .container-btn { 
        flex-direction: column;
        margin-top: 12%;
    }
    .hero-block-col-1 .container-btn .item-col-2 { width: 100%; text-align: center }
    .hero-block-col-1 .container-btn .item-col-2:first-child { margin-bottom: 9% }
}
    
/* All button states */

.hero-block-col-1 .container-btn a.btn-primary,
.hero-block-col-1 .container-btn a.btn-secondary { 
    font-family: sans-serif;
    font-weight: bold;    
    text-decoration: none;
    padding: 12px 32px;
    text-transform: uppercase;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320))); 
    display: inline-block; 
}

/* Passive button states */
.hero-block-col-1 a.btn-primary:link, 
.hero-block-col-1 a.btn-primary:visited {
    color: #fff;
    border: solid 3px blue;
    background-color: blue;
    transition: all 0.2s linear;
}

/* Interactive button states */
.hero-block-col-1 a.btn-primary:focus, 
.hero-block-col-1 a.btn-primary:hover, 
.hero-block-col-1 a.btn-primary:active {
    background-color: red;
    border: solid 3px red;
}

.hero-block-col-1 a.btn-secondary:link, 
.hero-block-col-1 a.btn-secondary:visited {
    color: blue;
    border: solid 3px blue;
    transition: all 0.2s linear;
}

.hero-block-col-1 a.btn-secondary:focus, 
.hero-block-col-1 a.btn-secondary:hover, 
.hero-block-col-1 a.btn-secondary:active {
    color: red;
    border: solid 3px red;
}


/* === HERO BLOCK 4 === */

.hero-block-col-1.hero-block-4 { background-color: #0065f2; }

.hero-block-col-1.hero-block-4 h1 {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: calc(48px + (90 - 48) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: -2px;  
    font-weight: bold
}

.hero-block-col-1.hero-block-4 h1 {
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold
}

/* Desktop - button container */
@media (min-width:768px) {
    .hero-block-col-1.hero-block-4 .container-btn { 
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6%;
    }
    .hero-block-col-1.hero-block-4 .container-btn .item-col-2 { width: 47% }
    .hero-block-col-1.hero-block-4 .container-btn .item-col-2:first-child { text-align: right }
    .hero-block-col-1.hero-block-4 .container-btn .item-col-2:last-child  { text-align: left  }
}

/* Mobiles - button container */
@media (max-width:768px) {
    .hero-block-col-1.hero-block-4 .container-btn { 
        flex-direction: column;
        margin-top: 12%;
    }
    .hero-block-col-1.hero-block-4 .container-btn .item-col-2 { width: 100%; text-align: center }
    .hero-block-col-1.hero-block-4 .container-btn .item-col-2:first-child { margin-bottom: 9% }
}
    

.hero-block-col-1.hero-block-4 .container-btn a.btn-primary,
.hero-block-col-1.hero-block-4 .container-btn a.btn-secondary { 
    font-family: 'Open Sans', sans-serif;
}

/* Passive button states */
.hero-block-col-1.hero-block-4 a.btn-primary:link, 
.hero-block-col-1.hero-block-4 a.btn-primary:visited {
    color: #fff;
    border: solid 3px red;
    background-color: red;
}

/* Interactive button states */
.hero-block-col-1.hero-block-4 a.btn-primary:focus, 
.hero-block-col-1.hero-block-4 a.btn-primary:hover, 
.hero-block-col-1.hero-block-4 a.btn-primary:active {
    background-color: green;
    border: solid 3px green;
}

.hero-block-col-1.hero-block-4 a.btn-secondary:link, 
.hero-block-col-1.hero-block-4 a.btn-secondary:visited {
    color: #fff;
    border: solid 3px #fff;
    transition: all 0.2s linear;
}

.hero-block-col-1.hero-block-4 a.btn-secondary:focus, 
.hero-block-col-1.hero-block-4 a.btn-secondary:hover, 
.hero-block-col-1.hero-block-4 a.btn-secondary:active {
    color: lightgreen;
    border: solid 3px lightgreen;
}



/* === HERO BLOCK 5 === */





/* === HERO BLOCK 6 === */


a.btn-soft { border-radius: 5px }
a.btn-rounded { border-radius: 25px }

/* Icon spacing inside buttons */
a.btn-primary i, a.btn-secondary i { margin-left: 12px }

.text-red { color:red }
