/* Add your custom styles here */
section.theme-light.section-selector-1 { background-color: var(brown) }
section.theme-light.section-selector-1 { background-color: var(--trend-400) }
section.theme-light.section-selector-1 .col-3 { background-color: var(--green-100) }
section.theme-light.section-selector-1 a.btn-primary:link,
section.theme-light.section-selector-1 a.btn-primary:visited { background-color: var(--trend-800) }


/* Main heading */
.hero-bg h1 {
    font-family:'Libre Baskerville', serif;
    font-weight: bold;
    margin-bottom: 48px;
}

@media (max-width: 767px) {
    .hero-bg h1 { margin-top: 64px; }
}

.hero-bg h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.col-1 h2 {
    font-family:'Libre Baskerville', serif;
    font-weight: bold;
}

.col-1 h3 {
    font-family:'Source Sans Pro', serif;
}


h3 {
     font-family: 'Source Sans Pro', serif;
     font-weight: 400;
     font-size: 40px;
}

p {
    font-weight: 400;
    font-style: normal;
    font-family: 'Source Sans Pro', sans-serif;
}

.container-menu a:first-child img { max-height: 40px; width: auto }

@media (max-width: 767px) {
    .container-menu a:first-child img { padding-top: 9px; max-width: 240px; height: auto }
}

.menu-dark, .menu-dark ul.mobile-display {
    background-image: linear-gradient(90deg,rgb(99,113,111),#647270);
}

.menu-dark a#btn-cta:link, .menu-dark a#btn-cta:visited {
    border-color: #647270;
}

@media (max-width: 767px) {
    section { padding: 8% 8% 14% 8% }
}

@media (min-width: 768px) {
    .col-3 { width: 30% }
}


.col-2 , .col-3, .col-4 { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-2 a.btn, .col-3 a.btn, .col-4 a.btn {
    width: fit-content;
    display: inline-block;
}

section .col-3 p, section .col-3 ul { flex-grow: 1 }
section .col-4 p, section .col-4 ul { flex-grow: 1 }

footer { background-image: linear-gradient(90deg,#495a56,#647270) }

footer h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

footer h3 {
    font-family: 'Source Sans Pro', sans-serif;
}


footer ul.footer-icons li a:any-link i { font-size: 32px }

@media (min-width: 768px) { footer { padding-bottom: 3% } }
@media (max-width: 768px) { footer { padding-bottom: 6% } }