.yellow-box {
    max-width: 800px;
    margin: 40px auto 0 auto;
    border: solid 1px yellow;
    padding: 20px;
    background-color: lightyellow;
    margin-bottom: 48px;
    font-size: 18px;
}

.yellow-box h1, .yellow-box p { margin-bottom: 20px }
.yellow-box *:last-child { margin-bottom: 0 !important }

section.theme-light { background-color: #d4eee6 }

  