.arch-intro {
    text-align: center;
    background-color: #eaeaea;
    margin-bottom: 112px
}

.arch-intro p {
    line-height: 1.5;
    margin-bottom: 14px;
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
    font-weight: 500;
}

.arch-intro p:last-child { margin-bottom: 0 }

.arch-intro p a {
    color: #000;
    text-decoration: none;
    padding-bottom:3px;
    font-weight: 600;
}

.arch-intro p a:link, .arch-intro p a:visited {
    border-bottom: solid 1px #888;
}

.arch-intro p a:focus, .arch-intro p a:hover, .arch-intro p a:active {
    border-bottom: solid 1px #000;
}


/* Desktop */
@media (min-width: 768px) {
    .arch-intro { 
        padding: 4% 16%;
    }
}

/* Mouse */
@media (max-width: 767px) {
    .arch-intro { 
        padding: 12% 9% 12% 10%;
    }
}



/* ==== PAGE SETUP DESKTOPS ==== */

/* JFA & ICON Page Setup */

.back-flex { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 0;
    margin: 0 7% 150px 7%;
    background-color: #EAEAEA;
}

.back-flex img { 
    width: 38%;
    width: 38%;
    padding: 2% 1%;
    align-self: center;
}

.back-flex div { 
    width: 58%; 
    padding: 2% 1% 2% 2%;
    align-self: center;
}

.back-flex.right-just div { 
    text-align: right;
}

.back-flex div h6 {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    margin-bottom: 2px;
}

.back-flex p { 
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.6;
}

/* Desktop */
@media (min-width:1500px) {
    .back-flex {
        margin: 115px 8%;
    }

    .back-flex.right-just {
        margin-bottom: 180px;
    }
}

/* Mobile */
@media (max-width:767px) { 
    .back-flex { 
        margin: 75px 5%;
        padding: 5% 0%
    }
    .back-flex div { 
        width: 80%; 
        padding: 2% 1%;
        text-align: center;
    }
    .back-flex.right-just div { 
        text-align: center;
    }
    .back-flex img { 
        width: 80%;
        padding: 4% 1%;
        align-self: center;
    }
    /* Mobiles: Re-order columns for ICON */
    .right-just *:nth-child(2) { order: 3; }
    .right-just *:nth-child(3) { order: 2; }
    .right-just *:nth-child(4) { order: 5; }
    .right-just *:nth-child(5) { order: 4; }
    .right-just *:nth-child(6) { order: 7; }
    .right-just *:nth-child(7) { order: 6; }
    .right-just *:nth-child(8) { order: 9; }
    .right-just *:nth-child(9) { order: 8; }
    .right-just *:nth-child(10) { order: 11; }
    .right-just *:nth-child(11) { order: 10; }
    .right-just *:nth-child(12) { order: 13; }
    .right-just *:nth-child(13) { order: 12; }
}
/* End of JFA & ICON Page Setup */


h8 {
    font-size: calc(30px + (80 - 30) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    line-height: 1;
}

.ronnie { 
    padding: 0 50px;
    width: 100%;
    text-align: right;
    margin: -70px 0px 0px 0px;
}

.larry { 
    padding: 0 50px;
    width: 100%;
    margin: -70px 0px 0px 0px;
}


/* ARCHIVES Page Setup */

.arch-a {
    grid-area: concept-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    align-self: end;
}

.arch-b {
    grid-area: title-a;
    text-align: right;
    min-width: 0;
    align-self: end;
}

.arch-c {
    grid-area: intro-a;
    text-align: right;
    min-width: 0;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
}

.arch-d {
    grid-area: interior1-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    height: 100%;
}

.arch-e {
    grid-area: description-a;
    min-width: 0;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
    align-self: center;
}

.arch-f {
    grid-area: section1-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    align-self: end;
}

.arch-g {
    grid-area: section2-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    align-self: end; 
}

.arch-h {
    grid-area: interior2-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    object-fit: cover;
}

.arch-i {
    grid-area: interior3-a;
    min-width: 0;
    border: solid;
    border-width: 1px;
    height: 100%;
}

.back3 {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: 200px 7%;
    background-color: #EAEAEA;
    padding: 3.5%;
}

.back3 h6, .back4 h6, .back5 h6 {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));;;
    color:#3D3D3D; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.back3 p, .back4 p, .back5 p { 
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.6;
}


.grid-a {
    background-color: none;
    margin: -15% auto 0px auto;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-areas: 
      ". concept-a concept-a"
      "title-a concept-a concept-a"
      "intro-a concept-a concept-a"
      "interior1-a description-a description-a"
      "interior1-a section1-a section2-a"
      "interior2-a interior3-a interior3-a";
    row-gap: 15px;
    column-gap: 15px;
}

/* ARCHIVES Desktop */
@media all and (min-width:1500px) {
    .back3 {
        margin: -20px 18% 200px 18%;
        min-width: 0;
        padding: 5%;
    } 
}
/* ARCHIVES Mobile Grid */
@media all and (max-width:767px) {
    .back3 {
        margin: -20px 5% 100px 5%;
    } 

    .arch-d {
        height: auto;
    }

    .arch-i {
        height: 100%;
    }

    .grid-a {
        margin: 5px auto 5px auto;
        grid-template-columns: 70vw;
        grid-template-rows: auto;
        grid-template-areas: 
        "concept-a"
        "title-a"
        "intro-a"
        "description-a"
        "interior1-a"
        "interior1-a"
        "interior2-a"
        "interior3-a"
        "section1-a"
        "section2-a";
        row-gap: 10px;
    }
}
/* End of ARCHIVES Page Setup */
/* COMMUNITY CENTRE Page Setup */
.comm-a {
    grid-area: concept-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.comm-b {
    grid-area: title-c;
    min-width: 0;
    align-self: end;
}

.comm-c {
    grid-area: intro-c;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
    text-align: right;
    align-self: center;
}

.comm-c p {
    font-size: (8px + (14 - 8) * ((100vw - 320px) / (1600 - 320)));
}

.comm-d {
    grid-area: birdseye-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
    height: 100%;
    min-height: 350px;
}

.comm-e {
    grid-area: diagram-c;
    min-width: 0;
}

.comm-f {
    grid-area: plan1-c;
    min-width: 0;
    width: 75%;
    margin: 0 auto;
}

.comm-g {
    grid-area: plan2-c;
    min-width: 0;
    width: 75%;
    margin: 0 auto;
}

.comm-h {
    grid-area: ext1-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.comm-i {
    grid-area: ext2-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.comm-j {
    grid-area: elev-c;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.comm-k {
    grid-area: section-c;
    min-width: 0;
}

.back4 {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: 200px 7%;
    min-width: 700px;
    background-color: #EAEAEA;
    padding: 3.5%;
}

.grid-c {
    background-color: none;
    margin: -15% auto 0px auto;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-areas: 
      "concept-c ."
      "concept-c title-c"
      "intro-c birdseye-c"
      "diagram-c ext1-c"
      "plan1-c ext2-c"
      "plan2-c ext2-c"
      "elev-c elev-c"
      "section-c section-c";
      row-gap: 15px;
      column-gap: 15px;
}

/* COMMUNITY Desktop */
@media all and (min-width:1600px) {
    .back4 {
        margin: -20px 18% 200px 18%;
    } 
}

/* COMMUNITY Mobile Grid */
@media all and (max-width:767px) { 
    .back4 { 
        margin: -20px 5% 100px 5%;
        min-width: 0;
        padding: 5%;
    }

    .comm-d {
        height: auto;
    }

    .grid-c { 
        margin: 5px auto 5px auto;
        grid-template-columns: 70vw;
        grid-template-rows: auto;
        grid-template-areas: 
          "concept-c"
          "title-c"
          "intro-c"
          "birdseye-c"
          "diagram-c"
          "ext1-c"
          "ext2-c"
          "plan1-c"
          "plan2-c"
          "elev-c"
          "section-c";
        row-gap: 10px;
    }
}
/* End of COMMUNITY CENTRE Page Setup */

/* RESEARCH CENTRE Page Setup */
.wind-a {
    grid-area: concept1-w;
    min-width: 0;
}

.wind-b {
    grid-area: title-w;
    text-align: right;
    min-width: 0;
    align-self: end;
    padding-bottom: 50px;
}

.wind-c {
    grid-area: concept2-w;
    min-width: 0;
}

.wind-d {
    grid-area: intro-w;
    text-align: right;
    min-width: 0;
}

.wind-d p {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.4;
}

.wind-e {
    grid-area: birdeye-w;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.wind-f {
    grid-area: exterior1-w;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.wind-g {
    grid-area: exterior2-w;
    min-width: 0;
    border: solid;
    border-width: 1px;
}

.wind-h {
    grid-area: rose-w;
    min-width: 0;
}

.wind-i {
    grid-area: section-w;
    min-width: 0;
}

.wind-j {
    grid-area: elevation-w;
    min-width: 0;
    align-self: end;
}

.back5 {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    margin: 200px 7% 80px 7%;
    min-width: 700px;
    background-color: #EAEAEA;
    padding: 3.5%;
}

.grid-w {
    background-color: none;
    margin: -20% auto 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      ". concept1-w"
      "title-w concept1-w"
      "title-w concept2-w"
      "intro-w birdeye-w"
      "exterior1-w exterior2-w"
      "rose-w section-w"
      "elevation-w elevation-w";
    row-gap: 15px;
    column-gap: 15px;
}

/* RESEARCH Desktop */
@media all and (min-width:1600px) {
    .back5 {
        margin: -20px 18% 200px 18%;
    } 
}

/* REASEARCH Mobile Grid */
@media all and (max-width:767px) {
    .back5 {
        margin: -20px 5% 20px 5%;
        min-width: 0;
        padding: 5%;
    } 

    .grid-w { 
        min-width: auto;
        margin: 5px auto 5px auto;
        grid-template-columns: 70vw;
        grid-template-rows: auto;
        grid-template-areas: 
            "concept1-w"
            "title-w"
            "concept2-w"
            "intro-w"
            "birdeye-w"
            "exterior1-w"
            "exterior2-w"
            "rose-w"
            "section-w"
            "elevation-w" 
            "elevation-w";
        row-gap: 10px;
    }
}
/* End of RESEARCH CENTRE Page Setup */

/* Div Used for arrow button */
.quick-link {
    margin-top: -250px;
    margin-bottom: 350px;
}

/* General mobiles */
@media only screen and (max-width: 767px) { 
    .back3 *, .back4 *, .back5 * { text-align: center; }
    .back3 p, .back4 p, .back5 p { text-align: left; }

}
/*
@media (max-width: 576px) { 
    p {font-size: 14px;}
}
*/