
/* =========== FOOTER ================ */
footer {
    display: flex;
	justify-content: space-between;
    background-color:#eaeaea;
}

footer .item-col-3 h3 { font-weight: normal; margin-bottom: 2px }
footer .item-col-3 p  { font-weight: 700; letter-spacing: -1px; line-height: 1.1 }

/* Desktop footer */
@media (min-width: 768px) {
	footer { padding: 3% 8% 4% 8% }
    footer .item-col-3 { width: 31% }
    footer .item-col-3 h3 {
        font-size: calc(16px + (22 - 16) * ((100vw - 320px)/(1600 - 320)));
    }
    footer .item-col-3 p {
        font-size: calc(14px + (28 - 14) * ((100vw - 320px)/(1600 - 320)));
    }
}

/* Mobiles footer */
@media (max-width: 767px) { 
    footer { padding: 9% 14% 11% 14%; flex-direction: column }
    footer .item-col-3 { width: 100%; margin-bottom: 9% }
    footer .item-col-3 h3 {
        font-size: calc(19px + (22 - 19) * ((100vw - 320px)/(1600 - 320)));
    }
    footer .item-col-3 p {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px)/(1600 - 320)));
    }
}

footer .item-col-3 a { 
    transition: all 0.2s linear;
    text-decoration: none;
    color: #2c3e50; 
    padding-bottom: 3px;
}

footer .item-col-3 a:link,
footer .item-col-3 a:visited { 
    text-decoration: none;
    border-bottom: solid 2px #888;
}

footer .item-col-3 a:focus,
footer .item-col-3 a:hover,
footer .item-col-3 a:active { 
    border-bottom: solid 2px #2c3e50;
}

/* ====== SITEMAP LINKS UNDER FOOTER =====  */

.container-sitemap { 
    background-color:#2c3e50;
    text-align: center;
}

/* Desktop sitemap  */
@media (min-width: 768px) {
    .container-sitemap { padding: 3% 8% 2% 8% }
    .container-sitemap p { margin-right: 42px }
    .container-sitemap i { margin-right: 10px } 
}

/* Mobiles sitemap */
@media (max-width: 767px) {
    .container-sitemap { padding: 8% 8% 6% 8% }
    .container-sitemap p { margin-right: 24px }
    .container-sitemap i { margin-right:  8px } 
}

.container-sitemap p { 
    display: inline-block; color: #fff; line-height: 1.6;
    margin-bottom: 12px;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.6
}

.container-sitemap p a {
   text-decoration: none;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   padding-bottom:2px;
   color: #fff;
}

.container-sitemap a:link, 
.container-sitemap p a:visited  { border-bottom-color: transparent }

.container-sitemap p a:hover, 
.container-sitemap p a:active  { border-bottom-color: #fff }



/* =========== FOOTER ================ */
footer {
    display: flex;
	justify-content: space-between;
    background-color:#eaeaea;
}

footer .item-col-3 h3 { font-weight: normal; margin-bottom: 2px }
footer .item-col-3 p  { font-weight: 700; letter-spacing: -1px; line-height: 1.1 }

/* Desktop footer */
@media (min-width: 768px) {
	footer { padding: 3% 8% 4% 8% }
    footer .item-col-3 { width: 31% }
    footer .item-col-3 h3 {
        font-size: calc(16px + (22 - 16) * ((100vw - 320px)/(1600 - 320)));
    }
    footer .item-col-3 p {
        font-size: calc(14px + (28 - 14) * ((100vw - 320px)/(1600 - 320)));
    }
}

/* Mobiles footer */
@media (max-width: 767px) { 
    footer { padding: 9% 14% 11% 14%; flex-direction: column }
    footer .item-col-3 { width: 100%; margin-bottom: 9% }
    footer .item-col-3 h3 {
        font-size: calc(19px + (22 - 19) * ((100vw - 320px)/(1600 - 320)));
    }
    footer .item-col-3 p {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px)/(1600 - 320)));
    }
}

footer .item-col-3 a { 
    transition: all 0.2s linear;
    text-decoration: none;
    color: #2c3e50; 
    padding-bottom: 3px;
}

footer .item-col-3 a:link,
footer .item-col-3 a:visited { 
    text-decoration: none;
    border-bottom: solid 2px #888;
}

footer .item-col-3 a:focus,
footer .item-col-3 a:hover,
footer .item-col-3 a:active { 
    border-bottom: solid 2px #2c3e50;
}

/* ====== SITEMAP LINKS UNDER FOOTER =====  */

.container-sitemap { 
    background-color:#2c3e50;
    text-align: center;
}

/* Desktop sitemap  */
@media (min-width: 768px) {
    .container-sitemap { padding: 3% 8% 2% 8% }
    .container-sitemap p { margin-right: 42px }
    .container-sitemap i { margin-right: 10px } 
}

/* Mobiles sitemap */
@media (max-width: 767px) {
    .container-sitemap { padding: 8% 8% 6% 8% }
    .container-sitemap p { margin-right: 24px }
    .container-sitemap i { margin-right:  8px } 
}

.container-sitemap p { 
    display: inline-block; color: #fff; line-height: 1.6;
    margin-bottom: 12px;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.6
}

.container-sitemap p a {
   text-decoration: none;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   padding-bottom:2px;
   color: #fff;
}

.container-sitemap a:link, 
.container-sitemap p a:visited  { border-bottom-color: transparent }

.container-sitemap p a:hover, 
.container-sitemap p a:active  { border-bottom-color: #fff }


