.box-counter {
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 4px;
    background: lightyellow;
    margin-bottom: 32px
}

.box-counter button {
    min-width: 100px;
    background: blue;
    color: #fff;
    border: solid blue 1px;
    padding: 6px 14px;
    border-radius: 4px;
    margin: 0 32px;
    font-size: 18px
}

button:first-child {
    margin-left: 0;
}