/* ================ HERO BLOCK ================ */

.hero-block {
    position: relative; overflow: hidden;
    display: flex; flex-direction: column; justify-content: center;
}

@media (min-width: 1200px) { 
    /* .hero-block { min-height: 90vh } */
    .hero-block { min-height: 500px }    
}

@media (min-width: 768px) and (max-width: 1199px) {
    .hero-block { min-height: 460px }
}

@media (max-width: 767px) { 
    .hero-block { min-height: 480px; padding: 8% 0  }
}

.hero-block .hero-text-container { padding: 0 12% 2% 12%; z-index: 2 }

.hero-block .hero-bg-media {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0;
}

.hero-block .hero-bg-media * {
    object-fit: cover; width: 100%; height: 100%;
}

.hero-block .bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));    
/*    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));   */
}

/* Headings */
.hero-block .hero-text-container h1 { line-height: 1.1 }
.hero-block .hero-text-container h2 { line-height: 1.2 }

.hero-block .hero-text-container h1 {
    font-size: calc(48px + (94 - 48) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.hero-block .hero-text-container h2 {
    font-size: calc(22px + (54 - 22) * ((100vw - 320px) / (1600 - 320)));
    font-weight: normal;
}

@media (max-width: 767px) {
    .hero-block .hero-text-container h1 { letter-spacing: -2px }
    .hero-block .hero-text-container h1 { letter-spacing: -1px }
}

@media (min-width: 768px) {
    .hero-block .hero-text-container h1 { letter-spacing: -1px }
    .hero-block .hero-text-container h1 { letter-spacing: 0 }   
}

/* Alignment: desktops */
@media (min-width: 768px) {
    .hero-block .hero-text-container.text-center-desktop { text-align: center }
}

/* Alignment: mobiles */
@media (max-width: 767px) {
    .hero-block .hero-text-container.text-center-mobile { text-align: center }
    .hero-block .hero-text-container.text-left-mobile { text-align: left  }
}

.hero-block .hero-text-container h1.text-long {
    font-size: calc(28px + (64 - 28) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0;
    line-height: 1.3;
}

.hero-block .hero-text-container h2.text-long {
    font-size: calc(22px + (42 - 22) * ((100vw - 320px) / (1600 - 320)));
}


/* ===========   HEADER: BUTTONS AND ICONS  ============= */

/* Desktops */
@media (min-width: 768px) {
    .hero-block .container-btn { margin-top: 64px }
    .hero-block h1 + .container-btn { margin-top: 120px }
    .hero-block .container-btn a:first-child { margin-right: 40px }
}

/* Desktops: button(s) centre-aligned */
@media (min-width: 768px) {
    .hero-block .container-btn.text-center-desktop { justify-content: center }   
}

/* Mobiles */
@media (max-width: 767px) {
    .hero-block .container-btn.text-center-mobile .btn { align-self: center }
    .hero-block .container-btn { margin-top: 42px; flex-direction: column }
    .hero-block .container-btn .btn { align-self: flex-start }
    .hero-block .container-btn a:first-child { margin-bottom: 32px }
    .hero-block .container-btn a:last-child { margin-bottom: 0 }
    .hero-block h1 + .container-btn { margin-top: 120px }
}

/* ========== BACKGROUND IMAGE HALF =========== */

/* All viewports */
.hero-block.bg-img-left,
.hero-block.bg-img-right { padding-bottom: 0 }
.hero-block.bg-img-left  .bg-overlay, 
.hero-block.bg-img-right .bg-overlay { display: none }


/* Big desktops */
@media (min-width: 1140px) { 
    .hero-block.bg-img-right .hero-text-container,
    .hero-block.bg-img-left  .hero-text-container { padding: 0 6% 2% 6% } 
    .hero-block.bg-img-right .hero-text-container { margin-right: 50% }
    .hero-block.bg-img-right .hero-bg-media  { left: 50% }
    .hero-block.bg-img-left  .hero-text-container { margin-left: 50% }
    .hero-block.bg-img-left  .hero-bg-media  { right: 50% }
}

/* Small desktops and tablets */
@media (min-width: 768px) and (max-width: 1139px) { 
    .hero-block.bg-img-right .hero-text-container { margin-right: 40% }
    .hero-block.bg-img-right .hero-bg-media { left: 60% }
    .hero-block.bg-img-left  .hero-text-container { margin-left:  40% }
    .hero-block.bg-img-left  .hero-bg-media { right: 60% }
}

/* Not big or small desktops, or big tablets */
@media (max-width: 900px) {
    .hero-block.bg-img-right .container-btn, 
    .hero-block.bg-img-left  .container-btn {
        margin-top: 42px;
        flex-direction: column;
    }
    .hero-block .container-btn .btn { align-self: flex-start }
    .hero-block.bg-img-left  .container-btn a:first-child,
    .hero-block.bg-img-right .container-btn a:first-child { margin-bottom: 32px }
    .hero-block.bg-img-left  .container-btn a:last-child, 
    .hero-block.bg-img-right .container-btn a:last-child  { margin-bottom: 0 }
}

/* Small desktops and tablets*/
@media (min-width: 768px) and (max-width: 1139px) { 
    .hero-block.bg-img-right .hero-text-container,
    .hero-block.bg-img-left  .hero-text-container { 
        padding: 0 5% 2% 5%;
    }
    .hero-block.bg-img-right .hero-bg-media { overflow: visible }
}


/* All mobiles */
@media (max-width: 767px) {
    .hero-block.bg-img-right, .hero-block.bg-img-left {
        display: flex; flex-direction: column; justify-content: space-between;
    }
    .hero-block.bg-img-right div, .hero-block.bg-img-left div { position: relative }
    .hero-block.bg-img-right .hero-text-container,
    .hero-block.bg-img-left  .hero-text-container { padding: 0 12% 12% 12% } 
    .hero-block.bg-img-left  .container-btn,
    .hero-block.bg-img-right .container-btn { margin-top: 42px; flex-direction: column }
    .hero-block.bg-img-left  .container-btn .btn, 
    .hero-block.bg-img-right .container-btn .btn { align-self: flex-start }
    .hero-block.bg-img-left  .container-btn a:first-child,
    .hero-block.bg-img-right .container-btn a:first-child { margin-bottom: 32px }
    .hero-block.bg-img-left  .container-btn a:last-child, 
    .hero-block.bg-img-right .container-btn a:last-child  { margin-bottom: 0 }
    .hero-block.bg-img-right .container-btn.text-center-mobile .btn,
    .hero-block.bg-img-left  .container-btn.text-center-mobile .btn {
        text-align: center; margin-left: auto; margin-right: auto
    }
}

/* Large mobiles */

@media (min-width: 560px) and (max-width: 767px ) {
    .hero-block.bg-img-right .hero-bg-media img, 
    .hero-block.bg-img-left  .hero-bg-media img {
        width: 70%; height: auto; text-align: center;
        margin: -32px auto 32px auto;
    }
}


/* Typography */
.hero-block.bg-img-left  .hero-text-container h1,
.hero-block.bg-img-right .hero-text-container h1 {
    font-size: calc(48px + (84 - 48) * ((100vw - 320px) / (1600 - 320)));
}

.hero-block.bg-img-left  .hero-text-container h2,
.hero-block.bg-img-right .hero-text-container h2 {
    font-size: calc(26px + (42 - 26) * ((100vw - 320px) / (1600 - 320)));
} 

.hero-block.bg-img-left  .hero-text-container h1.text-long,
.hero-block.bg-img-right .hero-text-container h1.text-long {
    font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0;
    line-height: 1.2;
}

.hero-block.bg-img-left  .hero-text-container h2.text-long,
.hero-block.bg-img-right .hero-text-container h2.text-long {
    font-size: calc(20px + (38 - 20) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0;
    line-height: 1.3;
}

/* ========== HALF TEXT AND HALF IMAGE =========== */

.hero-block.hero-half { display: flex; background-color: #e7f1fb; }
.hero-block.hero-half .hero-text-container,
.hero-block.hero-half .hero-bg-media { 
    position: static; flex-direction: column; justify-content: center; 
}

.hero-block.hero-half .hero-text-container h1, 
.hero-block.hero-half .hero-text-container h2 { color: #000 }

.hero-block.hero-half .hero-text-container h1 {
    font-size: calc(48px + (64 - 48) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px; letter-spacing:-2px;
}

.hero-block.hero-half .hero-text-container h2 { 
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: -1px;
}

.hero-block.hero-half .hero-text-container h1.text-long {
    font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0;
    line-height: 1.2;
}

.hero-block.hero-half .hero-text-container h2.text-long {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: 0;
    line-height: 1.3;
}



@media (min-width: 768px) { 
    .hero-block.hero-half { flex-direction: row; justify-content: space-between; }
    .hero-block.hero-half .col-2 { 
        display: flex; flex-direction: column;
        width: 47%; justify-content: center;
    }
}

@media (max-width: 767px) { 
    .hero-block.hero-half { flex-direction: column; padding: 8% 0 10% 0  }
    .hero-block.hero-half .col-2 { width: 100% }
}

@media (min-width: 1140px) { 
    .hero-block.hero-half.half-img-right .col-2 .hero-text-container  { padding: 4% 0 4% 16% }
    .hero-block.hero-half.half-img-right .col-2 .hero-bg-media { padding: 4% 16% 4% 0 }
    .hero-block.hero-half.half-img-left  .col-2 .hero-text-container  { padding: 4% 16% 4% 0 }
    .hero-block.hero-half.half-img-left  .col-2 .hero-bg-media { padding: 4% 0 4% 16% }
    .hero-block.hero-half .col-2 { width: 48% }
}

@media (min-width: 1025px) and (max-width: 1139px) { 
    .hero-block.hero-half.half-img-right .col-2 .hero-text-container  { padding: 3% 0 3% 12% }
    .hero-block.hero-half.half-img-right .col-2 .hero-bg-media { padding: 3% 12% 3% 0 }
    .hero-block.hero-half.half-img-left  .col-2 .hero-text-container  { padding: 3% 8% 3% 4%}
    .hero-block.hero-half.half-img-left  .col-2 .hero-bg-media { padding: 3% 0 3% 12% }
    .hero-block.hero-half .col-2 { width: 49% }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .hero-block.hero-half.half-img-right .col-2 .hero-text-container  { padding: 0 0 0 9% }
    .hero-block.hero-half.half-img-right .col-2 .hero-bg-media { padding: 0 9% 0 0 }
    .hero-block.hero-half.half-img-left  .col-2 .hero-text-container  { padding: 0 9% 0 0 }
    .hero-block.hero-half.half-img-left  .col-2 .hero-bg-media { padding: 0 0 0 9% }
    
    .hero-block.hero-half.half-img-right .col-2:first-child { width: 59% }
    .hero-block.hero-half.half-img-right .col-2:last-child  { width: 39% }
    .hero-block.hero-half.half-img-left  .col-2:first-child { width: 39% }
    .hero-block.hero-half.half-img-left  .col-2:last-child  { width: 59% }
    .hero-block.hero-half.half-img-left .col-2 .hero-text-container { padding: 0 4% 0 5% }
}

/* Not big or small desktops, or big tablets */
@media (max-width: 767px) {
    .hero-block.hero-half.half-img-right .col-2:first-child { order: 2 }
    .hero-block.hero-half.half-img-right .col-2:last-child  { order: 1 }
    .hero-block.hero-half .hero-text-container .container-btn {
        margin-top: 42px;
        flex-direction: column;
        align-self: flex-start;
    }

    .hero-block.hero-half .hero-text-container .container-btn.text-center-mobile {
        text-align: center;
        align-items: center;
    }
}

/* Large mobiles */
@media (min-width: 560px) and (max-width: 767px ) {
    .hero-block.hero-half .col-2 .hero-bg-media {
        width: 50%; height: auto; text-align: center;
        margin: 0 auto 32px auto;
    }
}

/* Small mobiles */
@media (max-width: 559px) {
    .hero-block.hero-half .col-2 .hero-bg-media {
        width: 70%; height: auto; text-align: center;
        margin: -0 auto 32px auto;
    }
}


/* ----------------------------------------------
 * Generated by Animista 
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 .slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

 @-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

 @-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
                transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
                transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* ================ UTILITY CLASSES ============= */

header .text-center { text-align: center }
header .text-shadow { text-shadow: 2px 2px #222; }



/* ========== COLOURS =========== */

.hero-block { background-color: #3098f3 }

.hero-block h1, .hero-block h2 { color:#fff }




