/* Button container */
.container-btn { display: flex }


/* All buttons */
.container-btn .btn {
    text-decoration: none; font-weight: bold; line-height: 1;
    padding: 12px 26px 15px 26px;
    border-width: 2px; border-style: solid; line-height: 1; outline: none;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Solid buttons */
.container-btn .btn-solid:any-link {
    background-color: #121212; border-color:  #121212; color: #fff;
}

.container-btn :is(.btn-solid:focus, .btn-solid:hover,.btn-solid:active) {
    background-color: blue; border-color: blue; color: #fff;
}

/* Gradient buttons */
.container-btn .btn-gradient:any-link {
    background-image: linear-gradient(90deg,#e052a0,#f15c41); color: #fff;
} 

.container-btn :is(.btn-gradient:focus, .btn-gradient:hover, .btn-gradient:active)  {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4); color: #fff;
} 

/* Ghost buttons */
.container-btn .btn-ghost:any-link {
    border: solid 2px #fff; color: #fff; background-color: transparent; 
} 

.container-btn :is(.btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active)  {
    border: solid 2px blue; background-color: blue;  color: #fff;
} 

.container-btn .btn-ghost i { color: #fff }
.container-btn .btn-ghost:focus i, 
.container-btn .btn-ghost:hover i, 
.container-btn .btn-ghost:active i { color: #fff } 

/* Buttons: corner styles */
.container-btn .btn-soft    { border-radius: 5px }
.container-btn .btn-rounded { border-radius: 30px }

/* Buttons: Font Awesome icons */
.container-btn .btn i { margin-right: 10px; }


/* All buttons */

@media (min-width: 1140px) {
    .hero-block.hero-half .container-btn .btn { padding: 14px 26px 17px 26px }
}

/* Ghost buttons */
.hero-block.hero-half .container-btn .btn-ghost:link, 
.hero-block.hero-half .container-btn .btn-ghost:visited {
    border: solid 2px #222; line-height: 1;
    color: #333;
    background-color: transparent; 
} 

.hero-block.hero-half .container-btn .btn-ghost:focus, 
.hero-block.hero-half .container-btn .btn-ghost:hover, 
.hero-block.hero-half .container-btn .btn-ghost:active  {
    border: solid 2px #222;
    color: #fff;
    background-color: #222; 
} 

.hero-block.hero-half .container-btn .btn-ghost i { color: #222 }
.hero-block.hero-half .container-btn .btn-ghost:focus i, 
.hero-block.hero-half .container-btn .btn-ghost:hover i, 
.hero-block.hero-half .container-btn .btn-ghost:active i { color: #fff } 


