	/* ==== BROWSER RESETS  ==== */
	*, ::after, ::before { box-sizing: border-box; padding: 0; margin: 0 }
	body, html { height: 100% }
	body { max-width: 1600px; font-family: sans-serif }
	img { width: 100%; height: auto; display: block }
	html { scroll-behavior: smooth; scroll-padding-top: 72px }

	/* Default font and colours */
	body { 
		font-family: 'EB Garamond', serif; 
		font-weight: 500;
	}

	h1, h2, h3 { 
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		color: #222;
		margin-bottom: 4px
	}

	p, li, td { color: #044d6c}


	/* ==== CONTAINER FOR SINGLE COLUMN OF CONTENT ==== */

	/* Desktop */
	@media all and (min-width:768px) {
		.container-one-column { padding: 4% 20% 5% 20% }
	}

	/* Mobiles */
	@media all and (max-width:767px) {
		 .container-one-column { padding: 7% 7% 10% 7% }
	}
	 
	.container-one-column h2 {
		 line-height: 1.3; margin-bottom: 12px;
		 font-size: calc(32px + (48 - 32) * ((100vw - 320px)/(1600 - 320)));
	}
	 
	.container-one-column h3 {
		 line-height: 1.4; margin-bottom: 4px; margin-top: 32px;
		 font-size: calc(22px + (32 - 22) * ((100vw - 320px)/(1600 - 320)));
	}
	 
	.container-one-column p,
	.container-one-column li {
		 line-height: 1.6; margin-bottom:14px;
		 font-size: calc(19px + (22 - 19) * ((100vw - 320px)/(1600 - 320)));
	}

	.container-one-column ul { margin-left: 17px }

	.container-one-column img { margin: 32px 0 40px 0 }

	/* ==== CODE SAMPLES  ==== */

	pre {
		display: block;
		background-color: #2f383d;
		border: 2px solid #e8e8e8;
		border-radius: 6px;
		padding: 12px 20px;
		margin: 20px 0;
		overflow-x: auto;
	}

	code {
		font-family: 'Roboto Mono', monospace, sans-serif;
		color: #fff;
		font-weight: 400;
		line-height: 1.8;
		font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1600 - 320)));
		white-space: pre-wrap;
	}

	.brown-code    { color: #f08d49}
	.string        { color: #00fbca }
	.blue-light    { color: rgb(123,220,254) }
	.blue-dark     { color: rgb(86,156,214) }
	.comment-code  { color: rgb(106,153,85) }
	.keyword-code  { color: rgb(197,134,161) }
	.function-code { color: rgb(220,220,170) }
	.text-mono { 
		font-family: 'Roboto Mono', monospace, sans-serif;
		font-size: 80%;
		font-weight: 500;
		color:#000;
	}

/* ============== FANCY HYPERLINKS =================== */

a.fancy-link:link, a.fancy-link:visited,
a.fancy-link:hover, a.fancy-link:active { 
    text-decoration: none;
    color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1px;
}

a.fancy-link:link, a.fancy-link:visited { color: #044d6c; border-bottom-color: #000 }

a.fancy-link:hover, a.fancy-link:active { color: #000; border-bottom-color: #000 }

/* ============== TABLE =================== */

.container-one-column table {
	margin: 24px 0 40px 0;
	border-top: solid 2px #044d6c
}

.container-one-column th, .container-one-column td {
	text-align: left;
	line-height: 1.6; margin: 0; padding: 6px 0;
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
	border-bottom: solid 1px #044d6c;
}

.container-one-column th {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.table-geo-one {
	min-width: 50%;
}

.table-geo-one td:nth-child(1) {
	width: 30%;
}