/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/* ========== PAGE CONTAINER ========= */

/* All screen sizes */
body { background-color: #ECFFEA }

/* Desktops */
@media (min-width: 768px) { body { padding: 1% 20% 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { body { padding: 4% 9% 11% 9% } }


/* Main heading */
h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
    font-size: calc(52px + (72 - 52) * ((100vw - 320px) / (1600 - 320)));
    color: #008000;
    line-height: 1.2;    
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Small headings */
h2 {
	font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: calc(34px + (56 - 34) * ((100vw - 320px) / (1600 - 320)));
    color: #fa7a00;
    line-height: 1.3;    
    margin-top: 42px;
    margin-bottom: 12px;
}

/* Text paragraphs */
p {
   font-family: 'Lato', sans-serif;
   font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
   color: #455C80;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* Desktops */
@media (min-width: 768px) { p.introduction { margin-top: 8% } }

/* Mobiles */
@media (max-width: 767px) { p.introduction { margin-top: 20% } }


/* Images */
img {
    margin-bottom: 32px;
    /* Soften corners of images */
    border-radius: 15px;
}

