/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ====== PADDING AROUND CONTENT ======  */

/* Desktops/Laptops */
@media (min-width: 768px) { body { padding: 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 78px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}

