/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/* Desktops */
@media (min-width:768px) { .container-block { padding: 4% 18% } }

/* Mobiles */
@media (max-width:767px) { .container-block { padding: 12% 8% } }


/* Main heading */
.container-block h1 {
	font-family: 'Noto Serif', serif;
    font-size: calc(44px + (84 - 44) * ((100vw - 320px) / (1600 - 320)));
    color: #1f364d;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
}

/* Smaller headings */
.container-block h2 {
	font-family: 'Noto Serif', serif;
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1600 - 320)));
    color: #2F4F4F;
    line-height: 1.6;
    text-align: center;
}

/* Smallest headings */
.container-block h3 {
	font-family: 'Noto Serif', serif;
    font-size: calc(26px + (48 - 26) * ((100vw - 320px) / (1600 - 320)));
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 12px;
}

/* Text paragraphs */
.container-block p {
    font-family: 'Rubik', sans-serif;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
    color: #2F4F4F;
    margin-bottom: 20px;
}

/* Desktops: paragraph text inter-line spacing */
@media all and (min-width:768px) { 
    .container-block p { line-height: 1.8 }
}

/* Mobiles: paragraph text inter-line spacing */
@media all and (max-width:767px) {
    .container-block p { line-height: 1.6 }
}

/* Last content at bottom of container block */
.container-block *:last-child { margin-bottom: 0 }

/* Images */
.container-block img { margin-bottom: 32px }

/* Coloured backgrounds */
.bg-hero-block { background-color: #f5f9fb }
.bg-pastel-1   { background-color: #BEC7B4 }
.bg-pastel-2   { background-color: #DEE2D9 }
