
/* Desktops */
@media (min-width: 768px) { main { padding: 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { main { padding: 12% 8% } }

body {background-color: #c2ffc2 }

main h1, main h2, main h2 { color: #008000; letter-spacing: -2px; }

/* Main heading */
main h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
    font-size: calc(38px + (64 - 38) * ((100vw - 320px) /(1600 - 320)));
    line-height: 1.1;    
    margin-bottom: 30px;
}

/* Small headings */
main h2 {
	font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: calc(28px + (54 - 28) * ((100vw - 320px) /(1600 - 320)));
    line-height: 1.3;    
    margin-top: 42px;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}

/* Text paragraphs */
main p {
    font-family: 'Lato', sans-serif;
    font-size: calc(17px + (22 - 17) * ((100vw - 320px) /(1600 - 320)));
    color: #011301;
    line-height: 1.6;
    margin-bottom: 20px;
}


/* Images */
main img {
    margin-bottom: 32px;
    /* Soften corners of images */
    border-radius: 15px;
}

/* Passive link styles */               
main a:link, main a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: #006600;
    border-bottom: solid 2px #006600;
} 
                                        
/* Interactive link styles */              
main a:hover, main a:focus, a:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #222;
    border-bottom: solid 2px #222;
}
