/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }
body, html { height: 100% }	
body { max-width: 1600px; margin: 0 auto }
img { display: block; width: 100%; height: auto }

/* ==== PAGE WIDTH ==== */

/* Mobiles */
@media all and (max-width:767px) {
    body {
       padding-left: 5%;
       padding-right: 5%;
    }
}

/* Desktop */
@media all and (min-width:768px) {
    body {
       padding-left: 20%;
       padding-right: 20%;
   }
}


/* ==== HEADINGS ==== */

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: calc(42px + (72 - 42) * ((100vw - 320px)/(1600 - 320)));
	letter-spacing: -1px;
}

/* Mobiles */
@media all and (max-width:767px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 6%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 6%;
   }
}
 
h2 {
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px)/(1600 - 320)));
}
 
 
/* Mobiles */
@media all and (max-width:767px) {
    h2 {
       line-height: 1.2;
       margin-top: 12%;
       margin-bottom: 3%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    h2 {
       line-height: 1.2;
       margin-top: 12%;
       margin-bottom: 2%;
    }
} 
 
h3 {
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
 
 
/* Mobiles */
@media all and (max-width:767px) {
    h3 {
       font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
       margin-top: 6%;
       margin-bottom: 1%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    h3 {
       line-height: 1.3;
       margin-top: 5%;
       margin-bottom: 1%;
    }
}

/* ==== PARAGRAPHS ==== */

p {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}


/* Mobiles */
@media all and (max-width:767px) {
   p {
      line-height: 1.5;
      margin-bottom: 5%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
   p {
      line-height: 1.6;
      margin-bottom: 2%;
   }
}
 
/* ==== BULLETS ==== */

ul li, ol li {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) {
   ul, ol { margin-left: 5% }
   ul li, ol li {
      line-height: 1.5;
      margin-bottom: 5%;
   }
}
 
/* Desktop */
@media all and (min-width:768px) {
   ul, ol { margin-left: 3% }
   ul li, ol li {
      line-height: 1.6;
      margin-bottom: 2%;
   }
}