/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */


h1 {
    font-size: 64px;
    margin-bottom: 48px;
    font-weight: normal;
    letter-spacing: 4px;
}

h2 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

h3 {
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 4px;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}