/* =============== BUTTONS AND ICONS =============== */

/* All buttons */
.btn {
    font-family: sans-serif; text-decoration: none;
    padding: 14px 26px; font-size: 18px; font-weight: bold;
    /* text-transform: uppercase; 
    letter-spacing: 1px;
    word-spacing: 102%; */
  }
  
  /* Solid buttons */
  .btn-solid:link, .btn-solid:visited {
    background-color: blue; 
    color: #fff;
  } 
  
  .btn-solid:focus, .btn-solid:hover, .btn-solid:active  {
    background-color: darkblue;
    color: #fff;
  } 
  
  /* Gradient buttons */
  .btn-gradient:link, .btn-gradient:visited {
    background-image: linear-gradient(90deg,#e052a0,#f15c41);
    color: #fff;
  } 
  
  .btn-gradient:focus, .btn-gradient:hover, .btn-gradient:active  {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
    color: #fff;
  } 
  
  /* Ghost buttons */
  .btn-ghost:link, .btn-ghost:visited {
    border: solid 2px #000;
    color: #000;
    background-color: transparent; 
    padding: 12px 24px;
  } 
  
  .btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active  {
    border: solid 2px blue;
    color: blue;
    background-color: transparent; 
    padding: 12px 24px;
  } 
  
  /* Button corner styles */
  .btn-soft    { border-radius: 5px }
  .btn-rounded { border-radius: 30px }
  
  /* Buttons with Font Awesome icons */
  .btn i { margin-right: 10px; }
  

/* ===========   HEADER: BUTTONS AND ICONS  ============= */


header .container-btn { display: flex }

header .container-btn .btn { align-self: flex-start } 

/* Ghost buttons */
header.hero-block .btn-ghost:link, 
header.hero-block .btn-ghost:visited {
    border-color: #fff;
    color: #fff;
} 

header.hero-block .btn-ghost i { color: #fff }

header.hero-block .btn-ghost:focus, 
header.hero-block .btn-ghost:hover, 
header.hero-block .btn-ghost:active  {
    background-color: blue;
    border-color: blue
} 

@media (min-width: 767px) {
  header .container-btn { margin-top: 64px }
  header .container-btn a:first-child { margin-right: 40px }
  /* header .container-btn { justify-content: center } */
  header.hero-block.text-center .container-btn { justify-content: center }
}

@media (max-width: 767px) {
  header .container-btn { margin-top: 42px }
  header .container-btn { flex-direction: column }
  header .container-btn a:first-child { margin-bottom: 32px }
  header .container-btn a:last-child { margin-bottom: 0 }
  header.hero-block.text-center .container-btn .btn { align-self: center } 
}
