/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
html { scroll-behavior: smooth }
body { 
	max-width: 1600px; margin: 0 auto; 
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

img { display: block }

/* ==== UTILITY CLASSES  ==== */
.img-fluid { width: 100%; height: auto }


a.img-link { text-decoration: none; border-width:0 }


/* ============ WRAPPER =========== */

.wrapper-narrow { margin: 0 auto}

/* Desktops */
@media all and (min-width: 1200px) {
	.wrapper-narrow { padding: 2% 20% 1% 20% }
}

/* Mobiles */
@media all and (max-width: 767px) { 
	.wrapper-narrow { padding: 2% 6% 2% 7% }
}


/* =================== JUMBOTRON =================== */

.jumbotron { 
	background: linear-gradient(#0460CD, #021b79); 
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 { font-weight:bold; color: #fff; letter-spacing: 1px; line-height: 1 }

.jumbotron h2 { font-weight: normal }

.jumbotron h1 { 
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-size: calc(30px + (58 - 30) * ((100vw - 320px)/(1600 - 320)));
}

.jumbotron h2 { 
	font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
}

.jumbotron h3 { 
	text-transform:uppercase;
	font-size: calc(15px + (20 - 15) * ((100vw - 320px)/(1600 - 320)));
} 

.jumbotron h3 a { 
	text-decoration: none; color: #fff;
	border-bottom-width:2px;
	border-bottom-style: solid;
	padding-bottom: 3px
}

.jumbotron h3 a:link,
.jumbotron h3 a:visited { border-bottom-color: #fff  }
.jumbotron h3 a:hover,
.jumbotron h3 a:active { border-bottom-color: transparent }

/* Desktop */
@media all and (min-width:768px) {
	.jumbotron { 
		text-align: left;
		padding: 4% 20% 4% 20%
	}
	.jumbotron h2 { margin-bottom: 3% }
	.jumbotron h3 { margin-bottom: 4% }
}


/* Mobiles */
@media all and (max-width:767px) {
	.jumbotron { 
		text-align: center; 
		padding: 6% 8% 6% 8%
	}
	.jumbotron h2 { margin-bottom: 6% }
	.jumbotron h3 { margin-bottom: 9% }
}



/* ==================== SECTIONS ======================*/




@media all and (max-width:320px) {
	section { padding-top:28px; padding-bottom: 22px }

}

@media all and (min-width:321px) and (max-width:375px) {
	section { padding-top:32px; padding-bottom: 24px }

}

@media all and (min-width:376px) and (max-width:479px) {
	section { padding-top:32px; padding-bottom: 24px }

}

@media all and (min-width:480px) and (max-width:639px) {
	section { padding-top:32px; padding-bottom: 24px }

}

@media all and (min-width:640px) and (max-width:767px) {
	section { padding-top:32px; padding-bottom: 24px }

}

@media all and (min-width:768px) and (max-width:991px) {
	section { padding-top:40px; padding-bottom: 30px }

}

@media all and (min-width:992px) and (max-width:1023px) {
	section { padding-top:40px; padding-bottom: 30px }

}

@media all and (min-width: 1024px) and (max-width: 1199px) {
	section { padding-top:40px; padding-bottom: 30px }

}

@media all and (min-width: 1200px) and (max-width: 1336px) {
	section { padding-top:40px; padding-bottom: 30px }

}

@media all and (min-width: 1337px) {
	section { padding-top:54px; padding-bottom: 40px }

}


/* ========================= CONTENT BLOCKS =========================== */
/*
@font-face {
    font-family: 'BebasNeueBold';
		src: url('../fonts/BebasNeue/BebasNeueBold.otf') format('opentype');
		src: url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff');
		src: url('../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasNeueRegular';
		src: url('../fonts/BebasNeue/BebasNeueRegular.otf') format('opentype');
		src: url('../fonts/BebasNeue/BebasNeueRegular.woff') format('woff');
		src: url('../fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

.block-content h2 { 
	font-family: Georgia, 'Times New Roman', Times, serif; 
	font-weight:normal; color: #230cea;
	font-size: calc(24px + (38 - 24) * ((100vw - 320px)/(1600 - 320)));
}

.block-content h3 { 
	font-family: sans-serif; 
	font-weight: normal; color: #023753;
	font-size: calc(20px + (28 - 20) * ((100vw - 320px)/(1600 - 320)));
}

.block-content p, .block-content ul li { 
	color: #023753;
	font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* .block-content img.img-fluid { margin-left: -2px }*/

.block-content p a, 
.block-content li a { 
	text-decoration: none; padding-bottom:2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.block-content p  a:link, 
.block-content p  a:visited,
.block-content li a:link, 
.block-content li a:visited { color: #230cea; border-bottom-color: #230cea }

.block-content p  a:hover,
.block-content p  a:active,
.block-content li a:hover,
.block-content li a:active { color: #cc0000; border-bottom-color: #cc0000 }

/* Desktops */
@media all and (min-width: 768px) { 
	.block-content { padding: 2% 20% 1% 20% }
	.block-content h2 { line-height: 1.2; margin: 20px 0 4px 0 }
	.block-content h3 { line-height: 1.2; margin: 40px 0 4px 0 }
	.block-content p, .block-content ul li { line-height: 1.6; margin-bottom: 16px }
	.block-content > ul { margin: 0 0 28px 17px }
	.block-content > img.img-fluid, 
	.block-content p > img.img-fluid, 
	.block-content ul > li img.img-fluid { margin: 20px 0 30px 0 }
}


/* Mobiles */
@media all and (max-width: 767px) { 
	.block-content { padding: 2% 6% 2% 7% }
	.block-content h2 { line-height: 1.2; margin: 8px 0 2px 0 }
	.block-content h3 { margin-top: 28px }

	.block-content p, .block-content ul li { line-height: 1.4; margin-bottom: 12px }
	.block-content > ul { margin: 0 0 14px 17px }
	.block-content ul > li { padding-left: 6px }
	.block-content > img.img-fluid, 
	.block-content p > img.img-fluid, 
	.block-content ul > li img.img-fluid { margin: 16px 0 24px 0 }
}

/* ========================= NUMBERED LISTS =========================== */

.block-content       ol { list-style-type: none; counter-reset: li-counter }
.block-content  ol > li { 
	position: relative; color: #023753; 
	font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.block-content ol >  li:before {
	position: absolute; top: 0; left: -32px; line-height: 1.5; text-align: center; 
	border-radius: 50%; padding: 1px 4px 4px 4px; font-weight: bold; color: #fff; background-color: #230cea; 
	content: counter(li-counter); counter-increment: li-counter;
}

/* Desktops */
@media screen and (min-width: 768px) {
	.block-content ol { margin: 0 0 20px 32px }
	.block-content ol > li:before { width: 24px; height: 24px; padding-top: 3px }
	.block-content ol > li { margin-bottom: 32px; padding-left: 20px; line-height: 1.7 }
	.block-content ol > li img.img-fluid { margin: 20px 0 30px 0 }
	.block-content ol > li span.inside-ol,
	.block-content ul > li span.inside-ol	{ display: block; line-height: 0.6 }
	.block-content ol > li > ul { margin: 12px 0 0 16px; list-style-type: disc }
	.block-content ol > li > ul > li { padding-left: 9px; margin: 0 0 12px 0 }
	.block-content img.img-fluid:last-child { margin-bottom: 0 }
}


/* Mobiles */
@media screen and (max-width: 767px) {
	.block-content ol { margin: 0 0 20px 32px }
	.block-content ol > li:before { width: 20px; height: 22px; padding-top: 1px }
	.block-content ol > li { margin-bottom: 16px; padding-left: 16px; line-height: 1.4 }
	.block-content ol > li img.img-fluid { margin: 16px 0 24px 0 }

	.block-content li span.inside-ol { line-height: 0.6; display: block }
	.block-content ol > li > ul { margin: 4px 0 0 16px; list-style-type: disc }
	.block-content ol > li > ul > li { padding-left: 4px; margin: 0 0 12px 0 }
}


/* ============== TABLE OF CONTENTS ================= */

.block-content .box-toc { 
	border: solid 1px #d8f5fe; background: #d8f5fe; padding: 0 20px 18px 30px
}

.block-content .box-toc h2 { margin-top:0; color: #000 }


.block-content .box-toc a { 
	font-weight: 400;
	font-family: sans-serif;
}

/* Desktops */
@media screen and (min-width: 768px) {
	.block-content .box-toc {
		padding: 22px 20px 22px 30px
	}
	.block-content .box-toc p { line-height: 1.8 }
}

/* Mobiles */
@media screen and (max-width: 767px) {
	.block-content .box-toc {
		padding: 20px 20px 18px 20px
	}
	.block-content .box-toc p { line-height: 1.6 }
}


/* ====================== MOBIRISE CONTENT BLOCKS ==================== */


.flex-blocks { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start	
}

.flex-blocks .block-pic { width:54% }
.flex-blocks .block-text { width: 45% }
.flex-blocks .block-text p { line-height: 1.4; margin-left: 32px }

hr.hr-flex-blocks { margin: 20px 0; height: 1px; background: #230cea; border: solid 1px #230cea }


/* ====================== CODE SAMPLES ==================== */


.code-sample { background:#000; margin-top: 10px; margin-bottom: 44px; display: block }

/* Desktop */
@media screen and (min-width: 768px) {
	.code-sample { margin-top: 20px }
	.code-sample { margin-bottom: 28px; }
}

/* Mobiles */
@media screen and (max-width: 767px) {
	.code-sample { margin-top: 12px }
	.code-sample { margin-bottom: 44px }
}


pre, code { font-family: monospace; color: #fff;font-size:14px }
pre { overflow: auto }
pre > code { margin-top:0; display: block; padding: 0 12px 16px 12px; word-wrap: normal }

code[class*="language-"],
pre[class*="language-"] {
	text-shadow: 0 1px #fff;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 2;
}

span.bold { font-weight: bold}
span.comment { color: #E0E0E0; font-weight: bold }
span.var, span.purple { color: rgb(130,167,255); font-weight: bold }
span.blue-em { color: rgb(103,216,219); font-style:italic; font-weight: bold }
span.blue { color: rgb(103,216,219); font-style: normal; font-weight: bold }

span.string { color: rgb(255,51,51); font-style:italic; font-weight: bold }
span.red { color: rgb(255,51,51); font-weight: bold }
span.green { color: #7FFF00; font-weight: bold }
span.yellow { color: yellow; font-weight: bold }

span.orange { color: #FF7F50; font-style: normal; font-weight: bold }

span.orangered { color: orangered; font-style: italic; font-weight: bold }
span.erroneousLine { background: yellow; color: red; font-weight: bold }


