
.block-intro { margin-top:-20px; background:#ecf0f1; width:100%; clear:both; text-align: center }

.block-intro .col-md-10 p { margin: 0 auto; color:#555;font-weight:300;margin-bottom: 0 }
.block-intro .col-md-10 img.img-responsive { margin: 0 auto 0 auto}

.block-intro .col-md-10 p a { font-weight:400 }
.block-intro .col-md-10 p a:link, .block-intro .col-md-10 p a:visited { text-decoration: underline }
.block-intro .col-md-10 p a:active, .block-intro .col-md-10 p a:hover { text-decoration: none }


.block-intro-contd .col-md-8 p a { color: #3f51b5;font-weight:500; text-decoration: none }
.block-intro-contd .col-md-8 p a:link,
.block-intro-contd .col-md-8 p a:visited { color: #3f51b5;font-weight:500; border-bottom: solid 2px #3f51b5; text-decoration: none   }
.block-intro-contd .col-md-8 p a:hover,
.block-intro-contd .col-md-8 p a:active { color: #3f51b5;font-weight:500; border-bottom: none; text-decoration: none   }


@media (max-width: 767px) {
	.block-intro { margin-bottom:20px}
	.block-intro .col-md-10 p, 
	.block-logos .col-md-10 p { font-weight: 400 }
}

@media (min-width: 768px) {
	.block-intro .col-md-10 p, 
	.block-logos .col-md-10 p { font-weight: 500 }
}


@media (max-width: 767px) {
	.block-intro { margin-top: 0; padding: 42px 0 20px 0}
	.block-intro .col-md-10 p { font-size: 18px; line-height: 1.4; width: 70% }
}

@media (min-width: 768px) and (max-width: 991px) {
	.block-intro { margin:0 auto 32px auto; padding:42px 0 24px 0 }
	.block-intro .col-md-10 p { font-size: 18px }
}

@media (min-width: 992px) and (max-width: 1024px) {
	.block-intro { margin:0 auto 40px auto; padding:46px 0 28px 0 }
	.block-intro .col-md-10 p { font-size:20px }
}

@media (min-width: 1025px) and (max-width: 1279px) {
	.block-intro { margin:0 auto 40px auto; padding:56px 0 32px 0 }
	.block-intro .col-md-10 p { font-size:22px }
}

@media (min-width: 1280px) and (max-width: 1335px) {
	.block-intro { margin:0 auto 40px auto; padding:56px 0 32px 0 }
	.block-intro .col-md-10 p { font-size:24px }
}

@media (min-width: 1336px) {
	.block-intro { margin:0 auto 40px auto; padding:56px 0 32px 0 }
	.block-intro .col-md-10 p { font-size: 24px }
}



.block-book-showcase  { margin-bottom:40px; padding-bottom:22px }

.block-book-showcase .col-md-6 h5 { 
	line-height:100%; margin:0; padding:0;text-align:right; font-family: Verdana, Arial, sans-serif }


.block-book-showcase .col-md-6.col-left h4, 
.block-book-showcase .col-md-6.col-right h4 { padding:0; font-style: italic; 
	color: rgb(74, 140, 255);line-height:132%;font-weight:500  }

.block-book-showcase .col-md-6.col-left h3, 
.block-book-showcase .col-md-6.col-right h3 { padding:0; line-height:138% }

.block-book-showcase .col-md-6.col-left h3, 
.block-book-showcase .col-md-6.col-left p { text-align:right }

.block-book-showcase .col-md-6.col-left p,
.block-book-showcase .col-md-6.col-left p a,
.block-book-showcase .col-md-6.col-right p,
.block-book-showcase .col-md-6.col-right p a { font-family: Verdana, Arial, Helvetica, sans-serif }

.block-book-showcase .col-md-6.col-left h3 a:link, 
.block-book-showcase .col-md-6.col-left h3 a:visited,
.block-book-showcase .col-md-6.col-right h3 a:link, 
.block-book-showcase .col-md-6.col-right h3 a:visited { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: underline; color: #3f51b5; font-weight:500 }
.block-book-showcase .col-md-6.col-left h3 a:hover, 
.block-book-showcase .col-md-6.col-left h3 a:active
.block-book-showcase .col-md-6.col-right h3 a:hover, 
.block-book-showcase .col-md-6.col-right h3 a:active { font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #3f51b5 }

.block-book-showcase .col-md-6 h3 a:link, 
.block-book-showcase .col-md-6 h3 a:visited, 
.block-book-showcase .col-md-6 h3 a:link, 
.block-book-showcase .col-md-6 h3 a:visited {font-weight: 500 }


.block-book-showcase .col-md-6.col-left img.img-responsive { float: right }
.block-book-showcase .col-md-6.col-right img.img-responsive { float: left }

.block-book-showcase .col-md-6.col-left .row.row-nested .col-md-6 p,
.block-book-showcase .col-md-6.col-right .row.row-nested .col-md-6 p{ font-family:Verdana, Arial, Helvetica, sans-serif; text-align:left; line-height:142%} 

@media (max-width: 320px) {
	.block-book-showcase  { margin-bottom:20px; padding-bottom:6px }
	.block-book-showcase .row-stars { text-align: center  }
	.block-book-showcase .col-md-6 h5 { font-size:16px; margin: 0 auto 4px auto; text-align:center }
	.block-book-showcase .row.row-stars .col-md-6 img.img-responsive { text-align: center; margin: 0 auto 16px auto  }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:18px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:16px }
	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { 
		margin: 0 0 8px 0; font-size:16px; width:80%; clear:both; float: none; text-align:left }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:14px; margin-bottom:12px; text-align:left }
	.block-book-showcase .col-md-6.col-left img.img-responsive, 
	.block-book-showcase .col-md-6.col-right img.img-responsive { 
		float: left; margin: 0 20px 10px 0; width:40% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img.img-responsive,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img.img-responsive 	{ 
		display:block; float: none; margin: 0 0 0 0; width: 80% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 20px 0; font-size:13px }
}

@media (min-width: 321px) and (max-width: 375px) {
	.block-book-showcase  { margin-bottom:20px; padding-bottom:6px }
	.block-book-showcase .row-stars { text-align: center  }
	.block-book-showcase .col-md-6 h5 { font-size:16px; margin: 0 auto 6px auto; text-align:center }
	.block-book-showcase .row.row-stars .col-md-6 img.img-responsive { text-align: center; margin: 0 auto 16px auto;width: 80%  }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:22px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:20px }
	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { 
		margin: 0 0 8px 0; font-size:16px; width:90%; clear:both; float: none; text-align:left }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:14px; margin-bottom:12px; text-align:left }
	.block-book-showcase .col-md-6.col-left img.img-responsive, 
	.block-book-showcase .col-md-6.col-right img.img-responsive { 
		float: left; margin: 0 20px 12px 0; width:40% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img.img-responsive,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img.img-responsive { 
		display:block; float: none; margin: 0 0 0 0; width: 90% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 20px 0; font-size:14px }
}

@media (min-width: 376px) and (max-width: 480px) {
	.block-book-showcase  { margin-bottom:20px; padding-bottom:6px }
	.block-book-showcase .row-stars { text-align: center  }
	.block-book-showcase .col-md-6 h5 { font-size:16px; margin: 0 auto 6px auto; text-align:center }
	.block-book-showcase .row.row-stars .col-md-6 img.img-responsive { text-align: center; margin: 0 auto 16px auto;width: 70%  }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:24px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:20px }
	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { 
		margin: 0 0 8px 0; font-size:17px; width:100%; clear:both; float: none; text-align:left }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:13px; margin-bottom:12px; text-align:left }
	.block-book-showcase .col-md-6.col-left img.img-responsive, 
	.block-book-showcase .col-md-6.col-right img.img-responsive { 
		float: left; margin: 0 20px 0 0; width:20% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img.img-responsive,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img.img-responsive { 
		display:block; float: none; margin: 0 0 0 0; width: 64% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 20px 0; font-size:13px }

}

@media (min-width: 481px) and (max-width: 600px) {
	.block-book-showcase  { margin-bottom:30px; padding-bottom:12px }
	.block-book-showcase .row-stars { text-align: center  }
	.block-book-showcase .col-md-6 h5 { font-size:16px; margin: 0 auto 6px auto; text-align:center }
	.block-book-showcase .row.row-stars .col-md-6 img.img-responsive { text-align: center; margin: 0 auto 0 auto;width: 50%  }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:26px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:22px }
	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { 
		margin: 0 0 8px 0; font-size:17px; width:100%; clear:both; float: none; text-align:left }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:13px; margin-bottom:12px; text-align:left }
	.block-book-showcase .col-md-6.col-left img.img-responsive, 
	.block-book-showcase .col-md-6.col-right img.img-responsive { 
		float: left; margin: 0 20px 10px 0; width:20% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img.img-responsive,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img.img-responsive { 
		display:block; float: none; margin: 0 0 0 0; width: 50% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 20px 0; font-size:13px }
}

@media (min-width: 601px) and (max-width: 767px) {
	.block-book-showcase  { margin-bottom:30px; padding-bottom:12px }
	.block-book-showcase .row-stars { text-align: center  }
	.block-book-showcase .col-md-6 h5 { font-size:16px; margin: 0 auto 6px auto; text-align:center }
	.block-book-showcase .row.row-stars .col-md-6 img.img-responsive { text-align: center; margin: 0 auto 0 auto;width: 50%  }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:30px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:26px }
	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { 
		margin: 0 0 8px 0; font-size:17px; width:100%; clear:both; float: none; text-align:left }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:13px; margin-bottom:12px; text-align:left }
	.block-book-showcase .col-md-6.col-left img.img-responsive, 
	.block-book-showcase .col-md-6.col-right img.img-responsive { 
		float: left; margin: 0 20px 10px 0; width:20% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img.img-responsive,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img.img-responsive { 
		display:block; float: none; margin: 0 0 0 0; width: 40% }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 20px 0; font-size:14px }
}


@media (min-width: 768px) and (max-width: 991px) {
	.block-book-showcase  { margin-bottom:0; padding-bottom:22px }
	.block-book-showcase .col-md-6 h5 { font-size:20px; margin-bottom: 42px }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { clear:both; width:100%;font-size:24px;line-height:124% }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:22px }
	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { margin: 0 0 12px 0; font-size:18px }
	.block-book-showcase .col-md-6.col-left h3 { margin-left: 100px }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:14px; margin-bottom:2px }
	.block-book-showcase .col-md-6.col-left img.img-responsive, 
	.block-book-showcase .col-md-6.col-right img.img-responsive { width:50%; display:block; clear:both; margin-bottom:20px}
	.block-book-showcase .col-md-6.col-left .row-nested { text-align:left }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img,
	.block-book-showcase .col-md-6.col-left .row.row-nested-right .col-md-6 img { 
		float:left; margin-left:0;display: block; text-align:left; clear:both; width:80%; margin-bottom:0}

	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 img,
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img,
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 img { 
		float:left; margin-left:0;display: block; text-align:left; clear:both; width:80%; margin-bottom:0}
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p { 
		margin: 0 0 32px 0; font-size:13px; width:100%; clear:both }
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p  { 
		margin: 0 0 32px 0; font-size:13px; width:100%; clear:both }

	.block-book-showcase .col-md-6.col-left h4 { text-align:right }
}

@media only screen and (min-width : 992px) and (max-width: 1023px) {
	.block-book-showcase  { margin-bottom:0; padding-bottom:32px }
	.block-book-showcase .col-md-6 h5 { font-size:22px; margin-bottom: 42px }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:22px }
	.block-book-showcase .col-md-6.col-left h4 { text-align:right; margin: 0 0 12px 32px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:20px }

	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { margin: 0 0 20px 0; font-size:16px }
	.block-book-showcase .col-md-6.col-left h3 { margin-left: 60px }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:14px; margin-bottom:2px }
	.block-book-showcase .col-md-6.col-left img.img-responsive { margin-left: 20px }
	.block-book-showcase .col-md-6.col-right img.img-responsive { margin-right: 20px }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p { 
		margin: 0 0 22px 0; font-size:13px }
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { 
		margin: 0 0 22px 1px; font-size:14px }

}

@media only screen and (min-width : 1024px) and (max-width: 1279px) {
	.block-book-showcase  { margin-bottom:0; padding-bottom:32px }
	.block-book-showcase .col-md-6 h5 { font-size:22px; margin-bottom: 42px }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:22px }
	.block-book-showcase .col-md-6.col-left h4 { text-align:right; margin: 0 0 12px 32px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:20px }

	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { margin: 0 0 20px 0; font-size:16px }
	.block-book-showcase .col-md-6.col-left h3 { margin-left: 60px }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:14px; margin-bottom:2px }
	.block-book-showcase .col-md-6.col-left img.img-responsive { margin-left: 20px }
	.block-book-showcase .col-md-6.col-right img.img-responsive { margin-right: 20px }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 22px 0; font-size:14px }
}

@media only screen and (min-width: 1280px) and (max-width: 1335px) {
	.block-book-showcase  { margin-bottom:0; padding-bottom:52px }
	.block-book-showcase .col-md-6 h5 { font-size:22px; margin-bottom: 42px }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:26px }
	.block-book-showcase .col-md-6.col-left h4 { text-align:right; margin: 0 0 12px 32px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:22px }

	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { margin: 0 0 20px 0; font-size:18px }
	.block-book-showcase .col-md-6.col-left h3 { margin-left: 100px }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:15px; margin-bottom:2px }
	.block-book-showcase .col-md-6.col-left img.img-responsive { margin-left: 20px }
	.block-book-showcase .col-md-6.col-right img.img-responsive { margin-right: 20px }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 22px 4px; font-size:13px }
}

@media only screen and (min-width: 1336px) {
	.block-book-showcase  { margin-bottom:0; padding-bottom:32px }
	.block-book-showcase .col-md-6 h5 { font-size:22px; margin-bottom: 42px }
	.block-book-showcase .col-md-6.col-left h4, 
	.block-book-showcase .col-md-6.col-right h4 { margin: 0 24px 12px 0; font-size:26px }
	.block-book-showcase .col-md-6.col-left h4 { text-align:right; margin: 0 0 12px 32px }
	.block-book-showcase .col-md-6.col-right h4 { text-align:left; margin: 0 24px 12px 0 }
	.block-book-showcase .col-md-6.col-left h4.htp { font-size:22px }

	.block-book-showcase .col-md-6.col-left h3, 
	.block-book-showcase .col-md-6.col-right h3 { margin: 0 0 20px 0; font-size:18px }
	.block-book-showcase .col-md-6.col-left h3 { margin-left: 100px }
	.block-book-showcase .col-md-6.col-left p, 
	.block-book-showcase .col-md-6.col-right p { font-size:15px; margin-bottom:2px }
	.block-book-showcase .col-md-6.col-left img.img-responsive { margin-left: 20px }
	.block-book-showcase .col-md-6.col-right img.img-responsive { margin-right: 20px }
	.block-book-showcase .col-md-6.col-left .row-nested .col-md-6 p,
	.block-book-showcase .col-md-6.col-right .row-nested .col-md-6 p { text-align: left; margin: 0 0 22px 4px; font-size:15px }
}

.block-intro-contd { margin-top:-20px; background:#ecf0f1; width:100%; clear:both; text-align: center }

.block-intro-contd .col-md-8 p { margin: 0 auto; color:#555;font-weight:300;margin-bottom: 0 }
.block-intro-contd .col-md-8 img.img-responsive { margin: 0 auto 0 auto}

.block-intro-contd .col-md-8 p a { font-weight:400 }


@media (max-width: 767px) {
	.block-intro-contd { margin-bottom:20px}
	.block-intro-contd .col-md-8 p, 
	.block-logos .col-md-10 p { font-weight: 400 }
}

@media (min-width: 768px) {
	.block-intro-contd .col-md-8 p, 
	.block-logos .col-md-10 p { font-weight: 500 }
}


@media (max-width: 767px) {
	.block-intro-contd { padding: 22px 0 20px 0}
	.block-intro-contd .col-md-8 p { font-size: 18px; line-height: 1.5; width:80% }
}

@media (min-width: 768px)  {
	.block-intro-contd { margin: 0 auto 40px auto; padding: 36px 0 32px 0 }
	.block-intro-contd .col-md-8 p { font-size: 22px; line-height: 1.7 }
}


