/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* Base font, as used by GitHub */
body {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* ============ SECTIONS: PADDING ============ */

/* Desktops  */
@media (min-width: 768px) { section { padding: 3% 0 3% 0 } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 10% 7% 10% 7% } }

/* ============= PARENT FLEXBOX CONTAINER ============ */

.wrapper-wide-flex { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
}

.wrapper-wide-flex { max-width: 1140px }

/* ============= THREE INDIVIDUAL COLUMNS ============ */

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    section { padding: 4% 0 2% 0 }
    .wrapper-wide-flex  { width: 90% }
    .wrapper-wide-flex .col-3   { width: 28.5% }
    .wrapper-wide-flex .col-3 p { margin-bottom: 22px }
    .wrapper-wide-flex .col-3:not(:nth-child(-n+3)) { margin-top: 30px }
    .wrapper-wide-flex .col-3 li  { margin-left: 15px; margin-bottom: 14px }
}

/* Small Desktops  */
@media (min-width: 1025px) and (max-width: 1200px ) { 
    section { padding: 3% 0 2% 0 }
    .wrapper-wide-flex  { width: 90% }
    .wrapper-wide-flex .col-3   { width: 29% }
    .wrapper-wide-flex .col-3 p { margin-bottom: 24px }
    .wrapper-wide-flex .col-3:not(:nth-child(-n+3)) { margin-top: 20px }
    .wrapper-wide-flex .col-3 li  { margin-left: 17px; margin-bottom: 14px } 
}

/* Big Desktops  */
@media (min-width: 1201px) { 
    section { padding: 3.5% 0 2% 0 }
    .wrapper-wide-flex  { max-width: 1140px }
    .wrapper-wide-flex .col-3   { width: 30% }
    .wrapper-wide-flex .col-3 p { margin-bottom: 20px }
    .wrapper-wide-flex .col-3:not(:nth-child(-n+3)) { margin-top: 36px }
    .wrapper-wide-flex .col-3 li  { margin-left: 18px; margin-bottom: 14px } 
}

/* All Mobiles */
@media (max-width: 767px) { 
    .wrapper-wide-flex .col-3 { width: 100% }
    .wrapper-wide-flex .col-3 { margin-bottom: 0 }
    .wrapper-wide-flex .col-3 p { line-height: 1.5 }
    .wrapper-wide-flex .col-3 li  { line-height: 1.4 }
}

/* Narrow Mobiles */
@media (max-width: 399px) { 
    section { padding: 10% 0 6% 0 }
    .wrapper-wide-flex  { width: 84% } 
    .wrapper-wide-flex .col-3 p { margin-bottom: 16px }
    .wrapper-wide-flex .col-3 li { margin-left: 14px; margin-bottom: 14px } 
}

/* Wide Mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
    section { padding: 7% 0 5% 0 }
    .wrapper-wide-flex  { width: 72% }
    .wrapper-wide-flex .col-3 p { margin-bottom: 19px }
    .wrapper-wide-flex .col-3 li { margin-left: 16px; margin-bottom: 15px } 
}



/* ============== TYPOGRAPHY  =========== */

.wrapper-wide-flex .col-3 h3 { color: #fff }
.wrapper-wide-flex .col-3 p, 
.wrapper-wide-flex .col-3 li { color: #fff }
.wrapper-wide-flex .col-3 ul.fa-ul { margin-left: 12px } 
.wrapper-wide-flex .col-3 ul.la-ul { margin-left: 10px } 

.wrapper-wide-flex .col-3 h3 {
    font-size: calc(19px + (22 - 19) * ((100vw - 320px)/(1140 - 320)));
    line-height: 1.2;
}

.wrapper-wide-flex p, .wrapper-wide-flex li {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1140 - 320)));
}

.wrapper-wide-flex .col-3 li {
    padding-left: 10px;
}



/* ============== SAMPLE BACKGROUND COLOURS =========== */

/* Light background colours */
.bg-light { background-color: #fef1ef }



/* Dark background colours */
.bg-dark { background-color: #007188 }

.bg-dark * { color: #fff }

/* ============== UTILITY CLASSES =============== */
.text-left { text-align: left }
.text-center { text-align: center }

.text-left { text-align: left !important}
.text-center { text-align: center !important}

