/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
/* h1, h2, h3, h4 { width: 100% } */
input, button, textarea, select { font: inherit }

/* Base sans-serif system font */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* ============ SECTIONS: VERTCAL PADDING ============ */

/* Big Desktops/Laptops  */
@media (min-width: 1201px) { section { padding: 3.5% 0 3% 0 } }

/* Small Desktops/Laptops  */
@media (min-width: 1025px) and (max-width: 1200px ) { section { padding: 3% 0 2.5% 0 } }

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { section { padding: 4% 0 3% 0 } }

/* Wide Mobiles */
@media (min-width: 400px) and (max-width: 767px) { section { padding: 7% 0 5% 0 } }

/* Narrow Mobiles */
@media (max-width: 399px) { section { padding: 10% 0 6% 0 } }



/* ============= PARENT FLEXBOX CONTAINERS ============ */

.wrapper-wide-flex, .wrapper-narrow-flex { 
    display: flex;  justify-content: space-between; flex-wrap: wrap;
    text-align: left; margin: 0 auto;
}

/* Big Desktops/Laptops  */
@media (min-width: 1201px) { 
    .wrapper-wide-flex { max-width: 1140px }
    .wrapper-narrow-flex { max-width: 960px }
}

/* Small Desktops/Laptops  */
@media (min-width: 1025px) and (max-width: 1200px ) { 
    .wrapper-wide-flex { width: 90% } 
    .wrapper-narrow-flex { width: 80% }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    .wrapper-wide-flex, .wrapper-narrow-flex { width: 90% } 
}

/* Wide Mobiles */
@media (min-width: 400px) and (max-width: 767px) { 
    .wrapper-wide-flex, .wrapper-narrow-flex { width: 72% }
}

/* Narrow Mobiles */
@media (max-width: 399px) { 
    .wrapper-wide-flex, .wrapper-narrow-flex { width: 84% }
}

/* ============= THREE INDIVIDUAL COLUMNS: WIDE ============ */

/* Big Desktops/Laptops  */
@media (min-width: 1201px) { 
    .wrapper-wide-flex .col-3,
    .wrapper-narrow-flex .col-3 { width: 30% }
    .wrapper-wide-flex .col-3 p,
    .wrapper-narrow-flex .col-3 p { margin-bottom: 20px }
    .wrapper-wide-flex .col-3:not(:nth-child(-n+3)),
    .wrapper-narrow-flex .col-3:not(:nth-child(-n+3)) { margin-top: 36px }
    .wrapper-wide-flex .col-3 li,
    .wrapper-narrow-flex .col-3 li { margin-left: 18px; margin-bottom: 14px } 
}

/* Small Desktops/Laptops  */
@media (min-width: 1025px) and (max-width: 1200px ) { 
    .wrapper-wide-flex .col-3,
    .wrapper-narrow-flex .col-3  { width: 29% }
    .wrapper-wide-flex .col-3 p,
    .wrapper-narrow-flex .col-3 p { margin-bottom: 24px }
    .wrapper-wide-flex .col-3:not(:nth-child(-n+3)),
    .wrapper-narrow-flex .col-3:not(:nth-child(-n+3)) { margin-top: 20px }
    .wrapper-wide-flex .col-3 li,
    .wrapper-narrow-flex .col-3 li  { margin-left: 17px; margin-bottom: 14px } 
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    .wrapper-wide-flex .col-3,
    .wrapper-narrow-flex .col-3 { width: 28.5% }
    .wrapper-wide-flex .col-3 p,
    .wrapper-narrow-flex .col-3 p { margin-bottom: 22px }
    .wrapper-wide-flex .col-3:not(:nth-child(-n+3)),
    .wrapper-narrow-flex .col-3:not(:nth-child(-n+3)) { margin-top: 30px }
    .wrapper-wide-flex .col-3 li,
    .wrapper-narrow-flex .col-3 li { margin-left: 15px; margin-bottom: 14px }
}

/* All Mobiles */
@media (max-width: 767px) { 
    .wrapper-wide-flex .col-3,
    .wrapper-narrow-flex .col-3 { width: 100%; margin-bottom: 0 }
    .wrapper-wide-flex .col-3 p,
    .wrapper-narrow-flex .col-3 p { line-height: 1.5 }
    .wrapper-wide-flex .col-3 li,
    .wrapper-narrow-flex .col-3 li  { line-height: 1.4 }
}

/* Wide Mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
    .wrapper-wide-flex .col-3 p,
    .wrapper-narrow-flex .col-3 p { margin-bottom: 19px }
    .wrapper-wide-flex .col-3 li,
    .wrapper-narrow-flex .col-3 li { margin-left: 16px; margin-bottom: 15px } 
}

/* Narrow Mobiles */
@media (max-width: 399px) { 
    .wrapper-wide-flex .col-3 p,
    .wrapper-narrow-flex .col-3 p { margin-bottom: 16px }
    .wrapper-wide-flex .col-3 li,
    .wrapper-narrow-flex .col-3 li { margin-left: 14px; margin-bottom: 14px } 
}


/* ============== TYPOGRAPHY  =========== */

section .wrapper-wide-flex h2,
section .wrapper-narrow-flex h2 { 
    width: 100% !important; 
    text-align: center; line-height: 1.2;
    margin-top: -12px;
    margin-bottom: 30px;
    font-size: 64px;
}

.wrapper-wide-flex .col-3 ul.fa-ul { margin-left: 12px } 
.wrapper-wide-flex .col-3 ul.la-ul { margin-left: 10px } 

.wrapper-wide-flex .col-3 h3 {
    font-size: calc(19px + (22 - 19) * ((100vw - 320px)/(1140 - 320)));
    line-height: 1.2;
}

.wrapper-wide-flex p, .wrapper-wide-flex li {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1140 - 320)));
}

.wrapper-wide-flex .col-3 li {
    padding-left: 10px;
}

.theme-light.text-center .wrapper-wide-flex,
.theme-dark.text-center .wrapper-wide-flex { text-align: center }

.wrapper-wide-flex > h2 {
    font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1600 - 320)));
}

.wrapper-wide-flex > p.intro,
.wrapper-narrow-flex > p.intro {
    width: 70% !important;
    margin: 0 auto 32px auto; 
    text-align: center !important;
    line-height: 1.3;
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1600 - 320)));
}

/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-wide-flex > h2 { margin-bottom: 32px }
    .wrapper-wide-flex > p.intro { 
        width: 70%; 
        margin: -22px auto 42px auto 
    }
}

/* Mobiles */
@media (max-width: 767px) { 
    .wrapper-wide-flex > h2 { margin-bottom: 18px }
    .wrapper-wide-flex > p.intro { margin-bottom: 18px }
}

/* ============== COLOURS  =========== */

/* Light background colours */

.theme-light { background-color: #fff }
.theme-light h2 { color: #660066 }
.theme-light p.intro { color: #535c68 }
.theme-light * { color: #222 }

/* Dark background colours */
.theme-dark { background-color: #660066 }
.theme-dark h2 { color: lightgoldenrodyellow }
.theme-dark p.intro { color:#dff9fb }
.theme-dark * { color: #fff }





  
/* ============== UTILITY CLASSES =============== */

.text-left { text-align: left }
.text-center { text-align: center }

.text-left { text-align: left !important}
.text-center { text-align: center !important}