
/* ============= FOUR INDIVIDUAL COLUMNS ============ */

/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-wide-flex   .col-4 { width: 22.5% }
    .wrapper-narrow-flex .col-4 { width: 21% }
    .wrapper-wide-flex   .col-4 img { margin-bottom: 24px }
    .wrapper-narrow-flex .col-4 img { margin-bottom: 16px }
    [class*="wrapper-"]  .col-4 { margin-bottom: 54px }
    [class*="wrapper-"]  .col-4:nth-last-child(-n+4) { margin-bottom: 0 }
    .text-center .wrapper-wide-flex   .col-4 { text-align: center }
    .text-center .wrapper-narrow-flex .col-4 { text-align: center }
}

/* Mobiles */
@media (max-width: 767px) { 
    [class*="wrapper-"] > .col-4 { width: 100%; margin-bottom: 52px }
    [class*="wrapper-"] > .col-4 img { margin-bottom: 20px }
    [class*="wrapper-"] > .col-4:last-child { margin-bottom: 0 }
}


/* ============== TYPOGRAPHY  =========== */

/* Column sub-headings */
[class*="wrapper-"] .col-4 > h3 {
    margin-bottom: 2px;
    margin-top: 12px;
    font-weight: bold;
    font-size: calc(22px + (24 - 22) * ((100vw - 320px)/(1140 - 320)));
    width: 100%;
}

/* Paragraphs */
.wrapper-wide-flex .col-4 p {
    font-size: calc(16px + (17 - 16) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 16px;
}

.wrapper-narrow-flex .col-4 p {
    font-size: calc(15px + (16 - 15) * ((100vw - 320px)/(928 - 320)));
    margin-bottom: 12px;
}

[class*="wrapper-"] .col-4 > p:last-child { margin-bottom: 0 }

/* Lists */
@media (min-width: 768px) { 
    [class*="wrapper-"] .col-4 > ul li { margin-left: 22px; padding-left: 10px }
    [class*="wrapper-"] .col-4 > ul.fa-ul { margin-left: 18px }
    [class*="wrapper-"] .col-4 > ul.fa-ul li { margin-left: 12px; padding-left: 14px }
}

@media (max-width: 767px) { 
    [class*="wrapper-"] .col-4 > ul li { margin-left: 17px; padding-left: 8px }
    [class*="wrapper-"] .col-4 > ul.fa-ul { margin-left: 15px }
    [class*="wrapper-"] .col-4 > ul.fa-ul li { margin-left: 10px; padding-left: 10px }
}

/* Lists */
.wrapper-wide-flex .col-4 li {
    font-size: calc(16px + (17 - 16) * ((100vw - 320px)/(1152 - 320)));
    margin-bottom: 16px; line-height: 1.4;
}

.wrapper-narrow-flex .col-4 li {
    font-size: calc(16px + (17 - 16) * ((100vw - 320px)/(928 - 320)));
    margin-bottom: 14px; line-height: 1.4;
}

/* ================= ICONS ================= */

[class*="wrapper-"] > .col-4 > i {
    /* Font Awesome */
    font-size: calc(120px + (140 - 120) * ((100vw - 320px)/(1152 - 320)));
    margin-bottom: 20px;
}

[class*="wrapper-"] > .col-4 > i.las {
    /* Light Awesome */
    font-size: calc(140px + (160 - 140) * ((100vw - 320px)/(1152 - 320)));
    margin-bottom: 12px;
}

.wrapper-narrow-flex .col-4 > i     { margin-bottom: 20px }
.wrapper-narrow-flex .col-4 > i.las { margin-bottom: 4px }

.wrapper-wide-flex .col-4 > i       { margin-bottom: 20px }
.wrapper-wide-flex .col-4 > i.las   { margin-bottom: 12px }

.col-4 span.icon { 
    display: inline-block;
    line-height: 1.4;
    font-size: calc(100px + (136 - 100) * ((100vw - 320px)/(928 - 320)));
    
}

.wrapper-wide-flex .col-4 span.icon { 
    font-size: calc(100px + (136 - 100) * ((100vw - 320px)/(928 - 320)));
}

.wrapper-narrow-flex .col-4 span.icon { 
    font-size: calc(88px + (120 - 88) * ((100vw - 320px)/(928 - 320)));
}

.theme-light [class*="wrapper-"] .col-4 span.icon i { color: purple }
.theme-dark  [class*="wrapper-"] .col-4 span.icon i { color: lightgoldenrodyellow }


.theme-light [class*="wrapper-"] .col-4 > ul li::marker { color: #00ff00 }
.theme-light [class*="wrapper-"] .col-4 > ul.fa-ul span i { color: green }

.theme-dark [class*="wrapper-"] .col-4 > ul li::marker { color: yellow }
.theme-dark [class*="wrapper-"] .col-4 > ul.fa-ul span i { color: yellow}

[class*="wrapper-"] .col-1.text-center  { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

[class*="wrapper-"] .col-1.text-center hr { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* =========== COLUMNS WITH PADDING ============ */


/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-wide-flex.col-padding .col-4 { 
        width: 23%;
        padding: 10px 14px 14px 14px;
    }
    .wrapper-narrow-flex.col-padding .col-4 { 
        width: 24%;
        padding: 8px 12px 12px 12px;
    }
}

/* Mobiles */
@media (max-width: 767px) { 
    [class*="wrapper-"].col-padding .col-4 { width: 90% }
}

.theme-light [class*="wrapper-"].col-padding.col-border .col-4 { 
    border: solid 2px gray;
}

.theme-dark [class*="wrapper-"].col-padding.col-border .col-4 { 
    border: solid 2px lightgoldenrodyellow;
}

.theme-dark  [class*="wrapper-"].col-padding.col-border .col-4 { background-color: #660066 }


.theme-light [class*="wrapper-"].col-padding.col-bg .col-4 { background-color: #fff;}
.theme-dark  [class*="wrapper-"].col-padding.col-bg .col-4 { background-color: #660066 }

[class*="wrapper-"].col-padding.col-soft .col-4 { border-radius: 10px }
[class*="wrapper-"].col-padding.col-shadow .col-4 { 
     box-shadow: rgba(160,160,160,0.8) 5px 5px 20px; border-radius: 12px }