
/* ============= FOUR INDIVIDUAL COLUMNS ============ */

.text-center [class*="wrapper-"] .col-2 { text-align: center }

/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-wide-flex   .col-2 { width: 48% }
    .wrapper-narrow-flex .col-2 { width: 46% }
    .wrapper-wide-flex   .col-2 img { margin-bottom: 24px }
    .wrapper-narrow-flex .col-2 img { margin-bottom: 16px }
    [class*="wrapper-"]  .col-2 { margin-bottom: 54px }
    [class*="wrapper-"]  .col-2:nth-last-child(-n+4) { margin-bottom: 0 }

    [class*="wrapper-"] .col-2.col-text,
    [class*="wrapper-"] .col-2.col-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Mobiles */
@media (max-width: 767px) { 
    [class*="wrapper-"] .col-2 { width: 100%; margin-bottom: 16px }
    [class*="wrapper-"] .col-2 img { margin-bottom: 20px }
    [class*="wrapper-"] .col-2:last-child { margin-bottom: 20px }
}

/* =================== TYPOGRAPHY  ================== */

/* Upper label */
[class*="wrapper-"] .col-2 div.upper-heading {
    font-weight: bold;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px; word-spacing: 120%;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block !important;

}

.theme-light [class*="wrapper-"] .col-2 > div.upper-heading-reversed {
    font-weight: bold;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 6px 20px;
    background-color: purple;
    color: #fff;
    width: auto;
    margin-right: auto
}

.theme-dark [class*="wrapper-"] .col-1 > div.upper-heading-reversed {
    font-weight: bold;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 6px 20px;
    background-color: lightgoldenrodyellow;
    color: purple;
    display: inline-block;
}




/* Column main heading */
[class*="wrapper-"] .col-2 h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1140 - 320)));
}

/* Column hoizontal rle  */
[class*="wrapper-"] .col-2.col-text hr.hr-bottom {
    background-color: purple;
    border: none;
    height: 10px;
    width: 30%;
    display: block
}

[class*="wrapper-"] .col-2.col-text > h1 + hr {
    background-color: purple;
    border: none;
    height: 8px;
    width: 30%;
    margin: 0 auto 22px 0;
    display: block
}



/* Column sub headings */
[class*="wrapper-"] .col-2 h2 {
    font-weight: bold;
    font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1140 - 320)));
}

/* Paragraphs and Lists */
.wrapper-wide-flex .col-2 p, 
.wrapper-wide-flex .col-2 li {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1140 - 320)))
}

.wrapper-narrow-flex .col-2 p, 
.wrapper-narrow-flex .col-2 li {
    font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (960 - 320)));
}

@media (min-width: 768px) and (max-width: 1024px) {
    [class*="wrapper-"] .col-2 p,
    [class*="wrapper-"] .col-2 ul li { line-height: 1.35 }
    [class*="wrapper-"] .col-2:last-child{ margin-bottom: 20px }
}

/* Paragraphs */
.wrapper-wide-flex   .col-2 p { margin-bottom: 16px }
.wrapper-narrow-flex .col-2 p { margin-bottom: 12px }
[class*="wrapper-"]  .col-2 p:last-child { margin-bottom: 0 }

/* Lists */
.wrapper-wide-flex .col-2 li   { margin-bottom: 16px }
.wrapper-narrow-flex .col-2 li { margin-bottom: 14px; line-height: 1.4 }

@media (min-width: 768px) { 
    [class*="wrapper-"] .col-2 ul li { margin-left: 17px; padding-left: 10px; line-height: 1.4 }
    [class*="wrapper-"] .col-2 ul.fa-ul { margin-left: 14px }
    [class*="wrapper-"] .col-2 ul.fa-ul li { margin-left: 14px; padding-left: 14px; line-height: 1.4 }
}

@media (max-width: 767px) { 
    [class*="wrapper-"] .col-2 ul li { margin-left: 14px; padding-left: 8px; line-height: 1.4 }
    [class*="wrapper-"] .col-2 ul.fa-ul { margin-left: 14px }
    [class*="wrapper-"] .col-2 ul.fa-ul li { margin-left: 10px; padding-left: 10px; line-height: 1.4 }
    [class*="wrapper-"] .col-2 ul,
    [class*="wrapper-"] .col-2 ul.fa-ul { margin-bottom: -12px }
}



/* ================= IMAGES ================= */

[class*="wrapper-"] .col-2 img { margin: 0 }

@media (max-width: 767px) { 
    [class*="wrapper-"] .col-2 img { margin-top: 30px }
}



/* ================= ICONS ================= */

[class*="wrapper-"] .col-2 span.icon { 
    display: inline-block; line-height: 1.4;
}

/* Font Awesome */
.wrapper-wide-flex .col-2 span.icon i.fas,
.wrapper-wide-flex .col-2 span.icon i.far {
    font-size: calc(100px + (120 - 100) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 20px;
}

.wrapper-narrow-flex .col-2 span.icon i.fas,
.wrapper-narrow-flex .col-2 span.icon i.far {
    font-size: calc(80px + (100 - 80) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 16px;
}

/* Light Awesome */
.wrapper-wide-flex .col-2 span.icon i.las {
    font-size: calc(120px + (140 - 120) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 12px;
}

.wrapper-narrow-flex .col-2 span.icon i.las {
    font-size: calc(80px + (100 - 80) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 12px;
}

/* =========== BUTTONS ============= */

/* Faux buttons */
[class*="wrapper-"] .col-2 a.btn-solid, 
[class*="wrapper-"] .col-2 a.btn-ghost { 
	padding: 14px 22px;
	font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px;
    display: inline-block;
    flex-grow: 0;
    flex: 0 0 0;

}

/* =========== IMAGES ============= */

[class*="wrapper-"] .col-2.col-pic .bleed-to-edge-right { 
    width: 51.5vw;
    margin-left: -1.5vw;
}

.wrapper-wide-flex .col-2.col-pic .bleed-to-edge-left {
    position: relative;
    width: 48vw;
    left: -25%;
}

.wrapper-narrow-flex .col-2.col-pic .bleed-to-edge-left  {
    position: relative;
    width: 48vw;
    left: -45%;
}

.vertical-padding-none {
    padding-top:0;
    padding-bottom: 0;
}

.vertical-padding-none .col-pic img {
    min-height: 100%;
    width: auto;
}