/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* Base font, as used by GitHub */
body {
    font-family: 'Poppins', sans-serif;
}

/* ============ SECTIONS: PADDING ============ */

/* Desktops  */
@media (min-width: 768px) { section { padding: 3% 0 3% 0 } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 10% 7% 10% 7% } }


/* ============= PARENT FLEXBOX CONTAINER ============ */

.wrapper-narrow-flexbox,
.wrapper-wide-flexbox { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
    text-align: left;
    margin: 0 auto;
}

.wrapper-wide-flexbox   { max-width: 1140px }

/* ============= THREE INDIVIDUAL COLUMNS ============ */

/* Desktops  */
@media (min-width: 768px) { 
    .item-col-3   { width: 30% }
    .item-col-3 { margin-bottom: 28px }
    .item-col-3:nth-last-child(-n+3) { margin-bottom: 0 }
    .item-col-3 img { margin-bottom: 24px }
}

/* Mobiles */
@media (max-width: 767px) { 
    .item-col-3 { width: 100%; margin-bottom: 52px }
    .item-col-3:last-child { margin-bottom: 0 }
    .item-col-3 img { margin-bottom: 20px }
}


/* ============== TYPOGRAPHY  =========== */

h3 { color: #500294 }
p { color: #222 }

.wrapper-wide-flexbox h3 {
    font-size: calc(18px + (22 - 18) * ((100vw - 320px)/(1140 - 320)));
}

.wrapper-wide-flexbox p {
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 18px;
}

.wrapper-wide-flexbox p:last-child { margin-bottom: 4px }

/* ================= ICONS ================= */

.item-col-3 > i {
    /* Font Awesome */
    font-size: calc(120px + (140 - 120) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 20px;
    color: #ff3366;
}

.item-col-3 > i.las {
    /* Light Awesome */
    font-size: calc(140px + (160 - 140) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 12px;
    color: #ff3366;
}

.item-col-3 > .material-icons {
    /* Material icons */
    font-size: calc(140px + (160 - 140) * ((100vw - 320px)/(1140 - 320)));
    margin-bottom: 12px;
    color: #ff3366;
}


.wrapper-wide-flexbox .item-col-3 > i     { margin-bottom: 20px }
.wrapper-wide-flexbox .item-col-3 > i.las { margin-bottom: 12px }


/* ============== SAMPLE BACKGROUND COLOURS =========== */

/* Light background colours */
.bg-light { background-color: #fef1ef }



/* Dark background colours */


/* ============== UTILITY CLASSES =============== */
.text-center { text-align: center }

