/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* Base font, as used by GitHub */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* ============= THREE INDIVIDUAL COLUMNS ============ */

/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-narrow-flexbox .item-col-3 { width: 28% } 
    .wrapper-narrow-flexbox .item-col-3 { width: 30.5% }
    .wrapper-wide-flexbox .item-col-3   { width: 30% }
    .item-col-3 { margin-bottom: 54px }
    .item-col-3:nth-last-child(-n+3) { margin-bottom: 0 }
    .wrapper-narrow-flexbox .item-col-3 img { margin-bottom: 16px }
    .wrapper-wide-flexbox .item-col-3 img { margin-bottom: 24px }
}

/* Mobiles */
@media (max-width: 767px) { 
    .item-col-3 { width: 100%; margin-bottom: 52px }
    .item-col-3:last-child { margin-bottom: 0 }
    .item-col-3 img { margin-bottom: 20px }
}


/* ================= ICONS ================= */

.item-col-3 > i {
    /* Font Awesome */
    font-size: calc(120px + (140 - 120) * ((100vw - 320px)/(1152 - 320)));
    margin-bottom: 20px;
}

.item-col-3 > i.las {
    /* Light Awesome */
    font-size: calc(140px + (160 - 140) * ((100vw - 320px)/(1152 - 320)));
    margin-bottom: 12px;
}

.wrapper-narrow-flexbox .item-col-3 > i     { margin-bottom: 20px }
.wrapper-narrow-flexbox .item-col-3 > i.las { margin-bottom: 4px }

.wrapper-wide-flexbox .item-col-3 > i     { margin-bottom: 20px }
.wrapper-wide-flexbox .item-col-3 > i.las { margin-bottom: 12px }




