
/* ============= ONE COLUMN ============ */

/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-wide-flex   > img { margin-bottom: 24px }
    .wrapper-narrow-flex > img { margin-bottom: 16px }
}

/* Mobiles */
@media (max-width: 767px) { 
    .wrapper-wide-flex   > img { margin-bottom: 20px }
    .wrapper-narrow-flex > img { margin-bottom: 16px }
}

/* .wrapper-wide-flex:last-child, 
.wrapper-narrow-flex:last-child { margin-bottom: 0 } */

/* ============== TYPOGRAPHY  =========== */

/* Main-heading */

[class*="wrapper-"] > h1 { 
    line-height: 1.2; letter-spacing: -2px;
    font-size: calc(38px + (72 - 38) * ((100vw - 320px) / (1140 - 320)));
}
@media (min-width: 768px) { [class*="wrapper-"] > h1 { margin-bottom: 32px } }
@media (max-width: 767px) { [class*="wrapper-"] > h1 { margin-bottom: 22px } }

/* Sub-heading */
[class*="wrapper-"] > h2 { 
    line-height: 1.3; letter-spacing: -1px; font-weight: normal;
    font-size: calc(28px + (36 - 28) * ((100vw - 320px) / (1140 - 320)));
}
@media (min-width: 768px) { [class*="wrapper-"] > h2 { margin-bottom: 32px } } 
@media (max-width: 767px) { [class*="wrapper-"] > h2 { margin-bottom: 18px } }

/* Paragraph sub-heading */
[class*="wrapper-"] > h3 {
    margin-bottom: 2px;
    margin-top: 12px;
    font-weight: bold;
    font-size: calc(22px + (24 - 22) * ((100vw - 320px)/(1140 - 320)));
    width: 100%;
}

/* Upper heading */
[class*="wrapper-"] > div.upper-heading {
    font-weight: bold;
    font-size: calc(16px + (19 - 16) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 100%;
    display: block;
    margin-bottom: 20px
}

/* Upper heading */
.theme-light [class*="wrapper-"] > div.upper-heading-reversed {
    font-weight: bold;
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 6px 20px;
    background-color: purple;
    color: #fff
}


.theme-dark [class*="wrapper-"] > div.upper-heading-reversed {
    font-weight: bold;
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1140 - 320)));
    text-transform: uppercase;
    letter-spacing: 6px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 6px 20px;
    background-color: lightgoldenrodyellow;
    color: purple
}


h2 + hr {
    background-color: #ff3366;
    border: none;
    height: 10px;
    width: 40%;
    margin: 0px auto 40px 0;
    display: block
}

h1 + hr {
    background-color: #ff3366;
    border: none;
    height: 10px;
    width: 40%;
    margin: 0 auto 40px 0;
    display: block
}

.text-center [class*="wrapper-"] h2 + hr,
.text-center [class*="wrapper-"] h1 + hr {
    margin-left: auto;
    margin-right: auto;
}



.theme-light.text-center [class*="wrapper-"] h2.border-left,
.theme-dark.text-center [class*="wrapper-"] h2.border-left { display: none }



/* Paragraphs and Lists */
.wrapper-wide-flex > p,
.wrapper-wide-flex > ul li {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px)/(1140 - 320)));
}

.wrapper-narrow-flex > p, 
.wrapper-narrow-flex > ul li {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px)/(1140 - 320)));
}

/* Desktops  */
@media (min-width: 768px) { 
    [class*="wrapper-"] > p { margin-bottom: 22px } 
    [class*="wrapper-"] > ul li { margin-bottom: 20px }
    [class*="wrapper-"] > ul li:last-child { margin-bottom: 30px } 
}

/* Mobiles */
@media (max-width: 767px) { 
    [class*="wrapper-"] > p { margin-bottom: 18px }
    [class*="wrapper-"] > ul li { margin-bottom: 12px } 
    [class*="wrapper-"] > ul li:last-child { margin-bottom: 18px } 
}

/* Introduction text */
.wrapper-wide-flex > p.intro,
.wrapper-narrow-flex > p.intro {
    width: 70% !important;
    margin: 0 auto 32px auto; 
    text-align: center !important;
    line-height: 1.3;
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1600 - 320)));
}

/* Desktops  */
@media (min-width: 768px) { 
    .wrapper-wide-flex > p.intro { width: 70%; margin: -22px auto 42px auto }
}

/* Mobiles */
@media (max-width: 767px) { 
    .wrapper-wide-flex > p.intro { margin-bottom: 18px }
}






