/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
/* h1, h2, h3, h4 { width: 100% } */
input, button, textarea, select { font: inherit }
*:focus { outline: none }

/* Base font, as used by GitHub */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f3f8ff;
    background-color: #222;
    background-color: #34495e
}

/* ================= HEADER ================== */

/* Desktops  */
@media (min-width: 768px) { header { padding: 1% 0 1% 0 } }

/* Mobiles */
@media (max-width: 767px) { header { padding: 10% 7% 10% 7% } }

.sticky-wrapper {
    position: fixed; top: 0px; left: 0; right: 0;
    box-shadow: 0 1px 10px #888
}

header {
    background-color: #1f364d;

}


header h1 {
    text-align: center; font-weight: bold; letter-spacing: -1px; 
    font-size: 20px;
    color: #1f364d;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    word-spacing: 140%;
}

header h1 span { color: lightblue }

/* ============= SECTION CONTAINERS ============ */

/* Desktops  */
@media (min-width: 768px) { section { padding: 3% 0 4% 0 } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 10% 7% 10% 7% } }

.container-drop-down {
    background-color: #0e2439;
    padding: 1% 6% 1% 6%; 
    text-align: left;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    cursor: pointer;
}

.container-drop-down summary {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow-x:hidden;
    overflow-y: visible;
    background-color: #0e2439;
    margin-right: 100px;
    position: relative;
    display: inline;
}

.container-drop-down summary:hover {
    color: lightgray
}
.summary-box {
    margin-left: -10px;
}

.summary-box .close {
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 999999;
    margin: 0;
    padding: 0;
}

.menu-column {
    padding: 0 10px 18px 20px;
    margin-top: 12px;
    background-color: #0e2439;
    box-shadow: 8px 10px 8px #888;
}

.menu-column .menu-inner {
    display: block;
    text-align: left;
    width: 100%;
    padding: 20px 12px 0 0;
    background-color: #0e2439;
    z-index: 9;
    position: relative;
}


.menu-column .menu-inner label span {
    background-color: #1f364d; 
    padding: 4px 14px 5px 16px;
}

.menu-inner label {
    text-align: right;
    margin: 0 0 0 0;
    display: inline-block;
    line-height: 1;
    color: lightsteelblue;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-column .menu-inner select span {
    padding: 4px 18px 4px 10px;   
}

.menu-column .menu-inner select {
    text-align: left;
    padding: 4px 5px 4px 5px;
    font-size: 15px;
    display: inline-block;
    border: solid 1px gray;
    margin-left: -5px;
    line-height: 1;
}

.menu-column.content-upper .menu-inner label {
    width: 90px;
}

.menu-column.content-upper .menu-inner select {
    width: 90px;
}

#dd_align_full_width_column {
    width: 80px;
}

#details_four label span {
    display: inline-block;
    width: 120px;
}

#details_four select {
    display: inline-block;
    width: 100px;
}

section.menu-container99 {
    background-color: #fff;
    padding: 0;
}

.menu-row99 {
    background-color: #0e2439;
    padding: 1% 6% 1% 6%; 
    text-align: left;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.menu-row100 {
    background-color: #0e2439;
    padding: 0% 6% 0% 6%; 
    text-align: left;
    margin: 0 auto;
}

.menu-row99 .menu-column {
    text-align: left;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    width: 33%
}





#dd_image_shadows, #dd_image_borders {
    width: 80px;
}





/* ============ SECTIONS: CONTROLS ============ */

section.controls {
    padding: 18px 0 18px 0;
    background-color: #f2eddf;
    background-color: orangered
}

.container-controls-flex { 
    display: flex; 
    text-align: left;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    .container-controls-flex  { width: 90% }
}

/* Small Desktops  */
@media (min-width: 1025px) and (max-width: 1200px ) { 
    .container-controls-flex  { width: 90% }
}

/* Big Desktops  */
@media (min-width: 1201px) { 
    .container-controls-flex  { max-width: 1140px; flex-direction: row; }
}

.container-controls-flex span {
    display: inline-block;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1140 - 320)));
    font-weight: bold;
    margin-right: 8px;
    margin-top: 3px;
}

.container-controls-flex span span {
    font-weight: normal;
}

.container-controls-flex button { 
    padding: 11px 20px 12px 19px;
    font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1140 - 320)));
    background-color: #2c3e50;
    color: #fff;
    font-weight: normal;
    line-height: 1;
    border-radius: 3px;
    min-width: 124px;
    text-align: left; 
}

.container-controls-flex button:hover {
    background-color: #000;
}

.container-controls-flex #list-fa-toggle { margin-left: 6px }

.container-controls-flex .btn-disabled,
.container-controls-flex .btn-disabled:hover {
    background-color: lightgray;
    color: grey
}

.container-controls-flex button i { margin-right: 8px }

/* Add and remove lists */

/* .container-controls-flex #list-remove { display: none } */
.container-controls-flex .btn-hide { display: none }
.container-controls-flex .btn-show { display: inline-block }

#btn-copy {
    padding: 10px 24px 11px 24px;
    font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1140 - 320)));
    background-color: #2a32c5;
    color: #fff;
    font-weight: normal;
    line-height: 1;
    border-radius: 3px;
}

#btn-copy:hover {
    background-color: darkblue;
}

.container-controls-flex div {
    display: flex; 
    text-align: left;
    flex-direction: row;
    justify-content: space-between;    
}

.container-controls-flex div {
    margin-right: 20px;
}




/* Mobiles */
@media (max-width: 767px) { 
    .container-controls-flex {
        flex-direction: column;
    }
    .container-controls-flex fieldset,
    .container-controls-flex button { width: 100% }

}


fieldset { border: none }

fieldset legend {
    float: left;
    color: #fff;
    font-weight: bold;
    margin: 6px 18px 0 0;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1140 - 320)));
}


.toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.toggle input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}
  
.toggle input + label {
    margin: 0;
    padding: 4px 18px 4px 18px;
    position: relative;
    display: inline-block;
    border: solid 2px #DDD;
    background-color: #FFF;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1140 - 320)));
    line-height: 1.4;
    font-weight: normal;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle input + label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.toggle input + label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.toggle input:hover + label {
    border-color: #213140;
}

.toggle input:checked + label {
    background-color: #2a32c5;
    background-color: #2c3e50;
    color: #FFF;
    box-shadow: 0 0 10px rgba(52, 73, 94, 0.5);
    border-color: rgb(52, 73, 94);
    z-index: 1;
}

.toggle input:focus + label {
    outline: dotted 2px #CCC;
    outline-offset: 0.45rem;
}

@media (max-width: 800px) {
    .toggle input + label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container-controls-flex fieldset legend span.viewport { 
    display: inline-block;
    font-weight: normal;
    
    margin-top: 0px;
}

/* Section New */

.controls-new { 
    text-align: left;
    padding: 0.5% 8% 1.2% 8%; background-color: orangered
}

.container-controls-flex-new.lower { 
    justify-content: flex-start;
    padding-top: 20px;
}
.container-controls-flex-new.lower div {
    margin-right: 50px;
}

.container-controls-flex-new {
    display: flex; 
    justify-content: space-between;
}

.container-controls-flex-new label {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
    color: #fff
}

.container-controls-flex-new select {
    display: block; padding: 3px 5px;
}

.container-controls-flex-new select option {
    padding: 3px 5px;;
}



.toggle-upper {
    display: inline-block;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.toggle-upper input {
    width: 0; height: 0;
    position: absolute;
    left: -9999px;
}
  
.toggle-upper input + label {
    margin: 0;
    padding: 2px 12px 2px 12px;
    position: relative;
    display: inline-block;
    border: solid 2px #DDD;
    background-color: #FFF;
    font-size: 15px;;
    line-height: 1.4;
    font-weight: normal;
    text-align: center;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle-upper input + label:first-of-type {
    border-radius: 6px 0 0 6px;
    border-right: none;
}

.toggle-upper input + label:last-of-type {
    border-radius: 0 6px 6px 0;
    border-left: none;
}

.toggle-upper input:hover + label {
    border-color: #213140;
}

.toggle-upper input:checked + label {
    background-color: #2a32c5;
    background-color: #2c3e50;
    color: #FFF;
    box-shadow: 0 0 10px rgba(52, 73, 94, 0.5);
    border-color: rgb(52, 73, 94);
    z-index: 1;
}

.toggle-upper input:focus + label {
    outline: dotted 2px #CCC;
    outline-offset: 0.45rem;
}

@media (max-width: 800px) {
    .toggle-upper input + label {
        padding: 0.75rem 0.25rem;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#HTML-Content  {
    position: relative;
    margin-top: 106px;
    z-index: -999999;
    
}

