/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
/* h1, h2, h3, h4 { width: 100% } */
input, button, textarea, select { font: inherit }

/* Sans-serif system font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* ============ SECTIONS: VERTCAL PADDING ============ */

@media (min-width: 1600px)                          { section { padding: 3.5% 0 5% 0 } }
@media (min-width: 1200px) and (max-width: 1599px ) { section { padding: 3.5% 0 5% 0 } }
@media (min-width: 1025px) and (max-width: 1199px ) { section { padding: 3% 0 3% 0 } }
@media (min-width: 768px)  and (max-width: 1024px)  { section { padding: 4% 0 3% 0 } }
@media (min-width: 400px)  and (max-width: 767px)   { section { padding: 7% 0 5% 0 } }
@media (max-width: 399px)                           { section { padding: 10% 0 6% 0 } }


/* ============= PARENT FLEX CONTAINERS ============ */

[class*="wrapper-"]  { 
    display: flex;  justify-content: space-between; flex-wrap: wrap;
    margin: 0 auto; position: relatve; align-items: stretch
}

@media (min-width: 1200px) { 
    .wrapper-wide-flex     { max-width: 1140px }
    .wrapper-narrow-flex   { max-width: 960px } /*
	.wrapper-narrower-flex { max-width: 800px } */
}

/* Small Desktops/Laptops  */
@media (min-width: 1025px) and (max-width: 1199px ) { 
    .wrapper-wide-flex     { width: 90% } 
    .wrapper-narrow-flex   { width: 80% } /*
	.wrapper-narrower-flex { max-width: 800px } */
}

@media (min-width: 768px) and (max-width: 1024px) { [class*="wrapper-"] { width: 90% } }
@media (min-width: 400px) and (max-width: 767px)  { [class*="wrapper-"] { width: 72%; max-width: 340px } }
@media (max-width: 399px)                         { [class*="wrapper-"] { width: 82% } }


/* ============== CONTENT ALIGNMENT =============== */

[class*="theme-"].text-center [class*="wrapper-"] { text-align: center }


/* ============== TYPOGRAPHY  =========== */



[class*="wrapper-"]:not(.text-center)  h1  { margin-left: -6px }
[class*="wrapper-"]:not(.text-center)  h2  { margin-left: -3px;}





/* ================= IMAGES =============== */

img.corner-soft { border-radius: 15px !important}

.theme-light img.drop-shadow-faint {  
	filter: drop-shadow(8px 8px 10px #888 )
} 

.theme-light img.drop-shadow-heavy {  
	filter: drop-shadow(8px 8px 10px #444)
} 

.theme-light img.drop-shadow-solid { box-shadow: 8px 10px 0 purple }

img.border-thin { border: solid 2px #888 }
img.border-thick { border: solid 4px purple }




/* For square images only */
img.rounded { border-radius: 100% }

/* =========== BUTTONS ============= */

/* Faux buttons */
[class*="wrapper-"] a.btn-solid, [class*="wrapper-"] a.btn-ghost { 
	display: inline-block;
	line-height: 1; text-transform: uppercase; letter-spacing: 2px; font-weight: 700;
	text-decoration: none; border-style: solid; border-width: 2px;
	padding: 16px 32px;
	font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px;
}

[class*="wrapper-"] a.btn-solid i { margin-right: 12px; color: #fff }
[class*="wrapper-"] a.btn-ghost i { margin-right: 12px; color: #230cea }

[class*="wrapper-"] a.btn-soft  { border-radius: 5px }
[class*="wrapper-"] a.btn-rounded { border-radius: 100px }

[class*="wrapper-"] a.btn-solid:link,
[class*="wrapper-"] a.btn-solid:visited {
	background-color: #230cea;
	border-color: #230cea;
	color: #fff;
	transition: background-color 300ms;
	transition: border-color 300ms;
}

[class*="wrapper-"] a.btn-solid:focus,
[class*="wrapper-"] a.btn-solid:hover, 
[class*="wrapper-"] a.btn-solid:active {
	background-color: darkblue;
	border-color: darkblue;
	color: #fff;
	transition: 0.2s;
}

[class*="wrapper-"] a.btn-ghost:link,
[class*="wrapper-"] a.btn-ghost:visited {
	background-color: transparent;
	border-color: darkblue;
	color: darkblue;
	transition: background-color 300ms;
	transition: border-color 300ms;
}

[class*="wrapper-"] a.btn-ghost:focus,
[class*="wrapper-"] a.btn-ghost:hover, 
[class*="wrapper-"] a.btn-ghost:active {
	background-color: darkblue;
	border-color: darkblue;
	color: #fff;
	transition: 0.2s;
}

[class*="wrapper-"] a.btn-ghost:focus i,
[class*="wrapper-"] a.btn-ghost:hover i, 
[class*="wrapper-"] a.btn-ghost:active i { color: #fff }



/* ================== COLOURS ================= */

.theme-light { background-color: #f7f7f8 }
.theme-dark { background-color: purple }

/* Light background colours */

.theme-light { background-color: #fff }
.theme-light h2 { color: #660066 }
.theme-light p.intro { color: #535c68 }
.theme-light * { color: #222 }

/* Dark background colours */
.theme-dark { background-color: #660066 }
.theme-dark h2 { color: lightgoldenrodyellow }
.theme-dark p.intro { color:#dff9fb }
.theme-dark * { color: #fff }

.theme-dark [class*="wrapper-"] > h3 { color: lightgoldenrodyellow }

.theme-light [class*="wrapper-"] .col-3 h3,
.theme-light [class*="wrapper-"] .col-4 h3 { color: purple }
.theme-light [class*="wrapper-"] figure.icon i { color: purple }
.theme-light [class*="wrapper-"] ul li::marker { color: purple }
.theme-light [class*="wrapper-"] ul.fa-ul span i { color: purple }

.theme-dark [class*="wrapper-"] figure.icon i { color: lightgoldenrodyellow }
.theme-dark [class*="wrapper-"] ul li::marker { color: lightgoldenrodyellow }
.theme-dark [class*="wrapper-"] ul.fa-ul span i { color: lightgoldenrodyellow }


/* ============== UTILITY CLASSES =============== */

.text-left { text-align: left }
.text-center { text-align: center }

.text-center [class*="wrapper-"] { justify-content: center }