/* ==== PAGE WIDTH ==== */
body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: antiquewhite;   
}

h1 {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
    letter-spacing: 4px;
    font-family: sans-serif;
    color: brown;
}

h2 {
    font-size: 30px;
    margin-bottom: 64px;     
    font-family: sans-serif;
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: normal;
    color: brown;
}

h3 {
    font-size: 32px;
    margin-bottom: 4px;
    color: brown;
}

p {
    font-size: 22px;
    margin-top: 0;
    line-height: 1.6;
}
