
h1 {
    font-size: 72px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 56px    
}

h3 {
    font-size: 32px;
    margin-bottom: 4px;
}

p {
    font-size: 24px;
    margin-top: 0;
}
