
h1 {
    font-size: 72px;
}

h2 {
    font-size: 30px;
    margin-bottom: 64px;     
}

h3 {
    font-size: 32px;
    margin-bottom: 4px;
}

p {
    font-size: 22px;
    margin-top: 0;
}
