/* ============= FOUR COLUMNS ============ */

/* Non-mobiles */
@media (min-width: 768px) { 
    .col-4 { width: 22.5%; margin-bottom: 54px }
    .col-4:nth-last-child(-n+4) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    /* On mobiles, 4 columns to 1 column */
    .col-4 { 
        width: 100%;
        max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 48px
    }
    .col-4:last-child { margin-bottom: 0 }

    /* On mobiles, 4 columns to 2 columns */
    .mobile-col-2 .col-4 { width: 49% }
    .mobile-col-2 .col-4 { margin-bottom: 20px }

    .mobile-col-2 .col-4:nth-child(odd) { margin-right: -3% }
    .mobile-col-2 .col-4:nth-child(even) { margin-left: -3% }
    .mobile-col-2 .col-4:nth-last-child(-n+2) { margin-bottom: 0 }
}


/* =================== TYPOGRAPHY  ================== */

.col-4 h3 { 
    font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1140 - 320)));
    font-weight: 700; line-height: 1.15; margin-bottom: 6px;
}

@media (max-width: 767px) { 
    .mobile-col-2 .col-4 h3 { font-size: 19px }
}

.col-4 p {
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.4; margin-bottom: 16px;
}

.col-4 li { 
    font-size: calc(16px + (17 - 16) * ((100vw - 320px) / (1140 - 320))); 
    line-height: 1.4; margin-bottom: 10px; 
    margin-left: 13px; padding-left: 6px; 
}

/* All viewports: Paragraphs and lists */
.col-4  p:last-child,
.col-4 li:last-child { margin-bottom: 0 }

/* Padding on columns */
.col-padding .col-4 {
    padding: 16px 16px 16px 16px;
}

/* Column effects */
.box-shadow .col-4 {
    border: solid #D3D3D3 1px;
    box-shadow: 4px 4px 20px rgba(160,160,160,0.8);
}

.col-borders .col-4 {
    border: solid 1px var(--gray-800)
}

.corners-soft .col-4 {
    border-radius: 12px
}

.bg-color-light .col-4 {
   background-color: var(--gray-200)
}

.bg-color-dark .col-4 {
    background-color: var(--gray-800)
}


/* =============== FAUX BUTTONS ================ */
.col-4 a.btn { 
    margin-top: 12px;
	padding: 14px 28px;
	font-size: calc(17px + (18 - 17) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px; margin-bottom: 12px !important;
}

a.btn i { margin-right: 14px } 

/* Ghost buttons */
.btn-ghost:any-link {
    border: solid 2px #222; color: #222; background-color: transparent; 
} 

:is(.btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active)  {
    border: solid 2px blue; background-color: blue;  color: #fff;
} 

.btn-ghost i { color: #222 }
.btn-ghost:focus i, 
.btn-ghost:hover i, 
.btn-ghost:active i { color: #fff } 


/* ================= IMAGES, DRAWINGS, BIG ICONS ================= */

@media (min-width: 1200px) {
    .col-4 figure { margin-bottom: 24px }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .col-4 figure { margin-bottom: 16px }
}

@media (max-width: 767px) { 
    .col-4 figure { margin-bottom: 10px }
}

.img-shadow .col-4 figure img {
    filter: drop-shadow(8px 8px 10px #888 );
}

.img-border .col-4 figure img {
    border: solid 2px #888;
}

.img-corners-soft .col-4 figure img {
    border-radius: 15px;
}

/* ================= ICONS AS ILLUSTRATIONS  ================= */

.container-flex .col-4 figure.icon {
    display: block; line-height: 1.4;
    color: var(--gray-600);
}

/* Font Awesome: Larger and smaller icons */
.col-4 figure.icon i[class*='fa'] { font-size: 84px }
.icon-small .col-4 figure.icon i[class*='fa'] { font-size: 64px; }

/* Light Awesome: Larger and smaller icons */
.col-4 figure.icon i[class*="la"] { font-size: 110px }
.icon-small .col-4 figure.icon i[class*="la"] { font-size: 80px }

/* Material UI (Outline): Larger and smaller icons */
.col-4 figure.icon { font-family: 'Material Icons'; display: inline-block }
.col-4 figure.icon span.material-icons-outlined { font-size: 100px }
.icon-small .col-4 figure.icon span.material-icons-outlined { font-size: 80px }

/* Font Awesome: Vertical spacing */
@media (min-width: 768px) { 
    .col-4 figure.icon i[class*='fa'] { margin-top: 24px; margin-bottom: 0 }
}
@media (max-width: 767px) { 
    .col-4 figure.icon i[class*='fa'] { margin-top: 0; margin-bottom: 18px }
}

/* Light Awesome: Vertical spacing */
.col-4 figure.icon i[class*="la"] { margin-top: 0; margin-bottom: -12px }

/* Material UI: Vertical spacing */
@media (min-width: 768px) { 
    .col-4 figure.icon span.material-icons-outlined { margin-top: 24px; margin-bottom: -72px }
}

@media (max-width: 768px) { 
    .col-4 figure.icon span.material-icons-outlined { margin-top: 12px; margin-bottom: -56px }
}


/*  Icons alignment */

/* Icons centre-aligned by default on all viewports */
.col-4 figure.icon { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Icons left-aligned */
.icon-left .col-4 figure.icon { 
    text-align: left;
    margin-left: 0;
}

