
/* ========= SECTIONS: HORIZONTAL AND VERTICAL SPACING ======== */

/* A 'part' of a web page that is not a 'header' or a 'footer' or a 'nav' (menu). Typically, sections have a heading (usually h2). */

/* Desktops/Laptops */
@media (min-width: 1200px) { 
	section { 
		padding: 3.5% calc((100% - 800px)/2) 5% calc((100% - 800px)/2); 
		margin: 0 auto;
	} 
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) { 
	section { padding: 3% 12% 3% 12% } 
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
	section { padding: 4% 5% 4% 5% }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
	section { padding: 7% 13% 8% 13% }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
	section { padding: 7% 10% 8% 10% } 
}

/* Final section block above footer */
section:last-child { padding-bottom: 6% }


/* ============= SECTIONS: FLEXBOX-BASED  ============ */

/* For a section that is a 'parent' container of child elements. 
On large screens (and sometimes small screens too), the div child elements are typically arranged in multi-column layouts */

.container-flex { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: stretch;
    width: 100%; 
    position: relatve; 
    padding-left: 8%;
    padding-right: 8%; 
}

/* ========= SECTIONS: SINGLE COLUKN, FULL-WIDTH ========= */
/* For first, introduction content of a multi-column section. */

/* Desktops/Laptops */
@media (min-width: 1200px) { 
	.col-1 { 
		padding-left: calc((100% - 800px)/2);
		padding-right: calc((100% - 800px)/2);
		margin: 0 auto;
	} 
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) {
    .col-1 { 
        padding-left: 12%;
        padding-right: 12% 
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    .col-1 { 
        padding-left: 5%;
        padding-right: 5% 
    }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
    .col-1 { 
        padding-left: 13%;
        padding-right: 13% 
    }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
    .col-1 { 
        padding-left: 10%;
        padding-right: 10% 
    }
}

/* All viewports */
.col-1 {
    width: 100%;
    margin-bottom: 42px;
}

/* Sub-headings (h2 and h3) inside a .col-1 child element */

.col-1 h2 {
    font-weight: 700;
    font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 32px;
    color: var(--gray-900);
}

.col-1 h1.long-text {
    font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1140 - 320)));
}

.col-1 h3 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1140 - 320)));
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: -1px;
    margin-top: -12px;
    color: var(--gray-700)
}

/* Adjust upper block h2 and h3 letter-spacing for mobiles */
@media (max-width: 767px) { 
    .col-1 h2 { letter-spacing: -1px }
    .col-1 h3 { letter-spacing: 0 }
}

/* Left-aligned */

/* Non-mobiles */
@media (min-width: 768px) { 
    .container-full .col-1 {
        padding-left: 0;
        padding-right: 15%
    }
}

/* Larger mobiles */
@media (min-width: 500px) and (max-width: 767px) { 
    .container-full .col-1 {
        padding-left: calc((100% - 400px)/2);
		padding-right: calc((100% - 400px)/2);
    }
}

@media (min-width: 400px) and (max-width: 499px)  { 
    .container-full .col-1 { padding-left: 2% }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
    .container-full .col-1 { padding-left: 0 }
}
