/*  ============= WEB BROWSER RESETS ============ */
*, ::after, ::before { margin: 0; padding: 0; border: none; outline: 0; box-sizing: border-box }
html { height: 100%; scroll-behavior: smooth; scroll-padding-top: 72px }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }

body { font-family: "Playfair Display", serif }

/* ==================  MASKS DESKTOP =================== */

.masks-desktop {
    padding: 16px 0; text-align: center; 
    background-color: rgb(173,156,178);
    color: #fff;
    font-family: -apple-system, 'BlinkMacSystemFont','Segoe UI', 'Ubuntu', 'Cantarell', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';    
}

.masks-desktop p, .masks-desktop p a {
    font-size: calc(17px + (22 - 17) * ((100vw - 320px) / (1600 - 320)));
    font-weight: bold; 
}

.masks-desktop p a {
	font-weight: bold; text-decoration: none; 
	text-decoration: none; padding-bottom: 1px;
	border-bottom-style: solid; border-bottom-width: 2px;
}

.masks-desktop p a:link, .masks-desktop p a:visited { 
	color: #000; border-bottom-color: #000;
}

.masks-desktop p a:focus,
.masks-desktop p a:hover, 
.masks-desktop p a:active { color: #666; border-bottom-color: #666 }


/* ==================  MENU DESKTOP =================== */

@media (max-width: 1023px) { .menu-desktop { display: none } }

@media (min-width: 1024px) {
	.menu-desktop { 
		z-index: 999; display: flex; justify-content: center; padding: 20px 0 12px 0;
	}

	.menu-desktop > .col:nth-child(1) { width: 38%; text-align: right }
	.menu-desktop > .col:nth-child(3) { width: 38%; text-align: left }
	.menu-desktop > .col:nth-child(2) { width: 20%; text-align: center }

	.menu-desktop > .col:nth-child(2) img { 
		padding: 0 32px 0 32px; text-align: center;
	}

	.menu-desktop-inner { display: flex; justify-content: center }

	.menu-desktop-inner > .col { width: 30%; text-align:left; padding: 0 }
	.menu-desktop-inner > .col.col-right { text-align: right }

	.menu-desktop-inner > .col p { line-height: 1.2; margin-bottom: 17px }

	.menu-desktop-inner > .col p a {
		text-transform: uppercase; text-decoration: none; font-weight: bold;
		font-size: calc(11px + (15 - 11) * ((100vw - 320px) / (1600 - 320)));
		font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	}

	.menu-desktop-inner > .col p a:link, 
	.menu-desktop-inner > .col p a:visited { color: rgb(155,66,28) }

	.menu-desktop-inner > .col p a:focus,
	.menu-desktop-inner > .col p a:hover,
	.menu-desktop-inner > .col p a:active { color: rgb(71,145,118) }
}

/* Shorten text in top-of-page banner */
@media (max-width: 330px) { .masks-desktop p span { display: none } }


/* ======================= MENU MOBILE =================== */

/* .unhide-content-under-menu { padding-top: 72px } */

/* Prevent scrolling outside flyout menu */
.no-scroll { overflow: hidden }

/* =============== Mobile Menu Bar =============== */

/* Outer flexbox container */  
.container-menu-bar-mobile {
    display: flex; flex-direction: row; justify-content: space-between;
    align-items: center; padding: 0 6% 0 6%;
    height: 72px; background-color: #fff;
}

/* Home page link (with website logo) at left  */
.container-menu-bar-mobile a:first-child img { width: 200px; height: 40px }

/* Website logo vertically centered in mobile menu bar  */
.container-menu-bar-mobile a:first-child { 
    display: flex; flex-direction: row; align-items: center
}

/* Hamburger icon with three bars hozizontal at right  */
.container-menu-bar-mobile .item-icon .bar1, 
.container-menu-bar-mobile .item-icon .bar2, 
.container-menu-bar-mobile .item-icon .bar3 { 
    width: 36px; height: 4px; margin: 7px 0; 
    transition: 0.4s;
    background-color: #000;
}

/* Hamburger icon changes shape to 'X' when fly-out menu is visible */
.change .bar1 { transform: rotate(-45deg) translate(-9px, 6px) }
.change .bar2 { opacity: 0 }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px) }


/* ===============  Flyout menu ================*/

/* Container for flyout menu content */
.flyout-menu { 
    top: 72px; /* same height as menu bar */
    position: fixed; display: block; width: 320px; 
    max-height: 100%; height: 100%;
    padding: 30px 40px 40px 40px; transition: all .5s ease-in-out;
    background-color: #feeee7;

    overflow-x: hidden; overflow-y: scroll; overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch; /* safari on mobiles */ 

    right: 0; /* displays flyout menu */
    overscroll-behavior: contain;
    overscroll-behavior-y: contain;
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';   
}

/* Drop shadow border at left of flyout menu */
.flyout-menu {
     box-shadow: 0px 1px 10px #888;
}

/* Content of flyout menu */
.flyout-menu p { 
    text-align: center; font-size: 15px; line-height: 1.4;
}

/* list of links on flyout menu */
.flyout-menu ul li { 
    list-style-type: none; /* Hide bullet character */
    margin: 0 40px 30px 0;
}

.menu-light ul li a:link,  
.menu-light ul li a:visited { color: #333 }

.menu-light ul li a:focus, 
.menu-light ul li a:hover, 
.menu-light ul li a:active  { color: #222 }

/* style flyout menu links */
.flyout-menu ul li a {
    font-size: 18px;
    text-decoration: none  /* Hide link default underlines  */
}

.flyout-menu.flyout-menu-is-closed {
    right: -320px; /* hides flyout menu */
}

/* Sticks menu to top of desktop and/or mobile screen */
.menu-sticky { position: fixed; top: 0; left: 0; right: 0; }

/* Prevents content from disappearing under sticky menus */
.sticky-anchor {
    position: relative;  border-top: 90px solid transparent; margin: -90px 0 0;
    -webkit-background-clip: padding-box; -moz-background-clip: padding;
    background-clip: padding-box;
}
 
.sticky-anchor:before {
    content: ""; position: absolute; top: -2px; left: 0; right: 0;
}
 

/* Hide on desktops */
@media (min-width: 1024px) { 
    .container-menu-bar-mobile { display: none }
}


/* ================ HERO BLOCK ================ */
header {
    display: flex; flex-direction: column; justify-content: center;
    background-position: center center; background-size: cover;
	background-repeat: no-repeat;
}

header h1, header h2 {
	text-align: center; color: #fff; max-width: 80%;
    margin-left: auto; margin-right: auto;
    display: inline-block; line-height: 1;
}

header h1 {
    color: #fff; font-weight: 500;
	text-shadow: 2px 2px #9a451e;
	background-image: linear-gradient(rgba(185,3,3,0.7),rgba(185,3,3,0.7));
	font-size: calc(44px + (84 - 44) * ((100vw - 320px) / (1600 - 320)));
}

header h2 {
	font-family: 'Bebas Neue', sans-serif;
    font-size: calc(22px + (42 - 22) * ((100vw - 320px) / (1600 - 320)));
	font-weight: 400; color: #fff; background-color: #000;
	line-height: 1.5; text-transform: uppercase;
}

@media (min-width: 768px) {
    header { height: 480px }
	header h1 { margin-top: 12%; line-height: 1.2; letter-spacing: -2px; padding: 6px 32px 16px 32px; margin-bottom: 3% }
	header h2 { padding: 4px 22px 1px 22px; letter-spacing: 3px }
}

@media (max-width: 767px) {
    header { height: 480px }
    header h1 { margin-top: 22%; line-height: 1.1; padding: 3px 12px 12px 12px; margin-bottom: 10% }
	header h2 { padding: 12px 20px 12px 20px; ; letter-spacing: 4px }
}

/* Video Background */

.hero-video { text-align: center; position: relative; overflow: hidden }

.hero-video .background-video-content {
    position: relative; display: flex; flex-direction: column; justify-content: center;
    z-index: 299;
}

.hero-video .background-video { z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0 }

.hero-video video[poster] { object-fit: cover; width: 100%; height: 100% }

/* === Heading and sub-heading ====*/

/*  Heading and sub-heading alignment */
@media (max-width:767px) {
    .hero-video .background-video-content h1,
    .hero-video .background-video-content h2 { 
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}




/* ================ INTRODUCTION BLOCK ================ */

.intro { text-align: center; background-color: #bbe3dd }

@media (min-width:768px) { .intro { padding: 4% 14% 4% 14% } }
@media (max-width:767px) { .intro { padding: 8%  8% 8%  8% } }

.intro p:first-child {
	font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1600 - 320)));
	color: rgb(154,69,30); letter-spacing: -1px;
	font-weight: 400; font-style: italic;
	font-family: 'Merriweather', serif;
}

@media (min-width:768px) { .intro p:first-child { line-height: 1.3; margin-bottom: 10px } }
@media (max-width:767px) { .intro p:first-child { line-height: 1.4; margin-bottom:   4% } }

.intro p:first-child span { font-weight: 700; color: rgb(80,128,109) }

.intro p:last-child { 
    color: #333; font-weight: 400;
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}



/* ===================== PRODUCTS BLOCK ===================== */

.product { background-color: rgb(239,238,238) }
.product h3, p.description, .product p.price, .product div,
.product div p.special-offer { text-align: center; margin-left: auto; margin-right: auto; line-height: 1.5 }

@media (min-width: 768px) { .product { padding: 3%  14% } }
@media (max-width: 767px) { .product { padding: 8%  6% } }

.product > h3 {
	font-size: calc(32px + (54 - 32) * ((100vw - 320px) / (1600 - 320)));
    color: rgb(165,127,93); color: #b90303; font-weight: 500; line-height:1.5
}

@media (min-width: 768px) { .product > h3 { margin-bottom: 12px } }
@media (max-width: 767px) { .product > h3 { margin-bottom: 6%; line-height: 1.2 } }

p.description {
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
    color: #333; 
}

@media (min-width: 768px) { p.description { margin-bottom: 18px } }
@media (max-width: 767px) { p.description { margin-bottom:   4% } }

p.price {
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color:#000;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320)));
}

@media (min-width: 768px) { p.price { margin-bottom: 12px } }
@media (max-width: 767px) { p.price { margin-bottom:   4% } }

p.special-offer {
	font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
	color:#000; background-image: linear-gradient(to right,#ffe359 0,#fff2ac 100%);
	border-radius: 5px; display: inline-block
}

@media (min-width:768px) { 
	p.special-offer { padding: 12px 20px; margin: 12px auto }
}

@media (max-width:767px) { 
	p.special-offer { width: 70%; padding: 10px 8px; margin-bottom: 12%; font-weight: 700 }
}

/* =================== FOUR COLUMN GRID ================== */

.flex-4-2 { 
    display: flex; flex-direction: row; text-align: center;
    flex-wrap: wrap; justify-content: space-between;
    background-color: #bbe3dd
}

.flex-4-2 * { text-align: center }

@media (min-width: 768px) { .flex-4-2 { padding: 5% 7% 3% 7% } }
@media (max-width: 767px) { .flex-4-2 { padding: 10% 6% } }

.flex-4-2 .col-gutter { display: inline-block; text-decoration: none } 
@media (min-width: 768px) {
    .flex-4-2 .col-gutter { width: 21% }
    .flex-4-2 .col-gutter:not(:nth-last-child(-n + 4)) { margin-bottom: 30px }
}

@media (max-width: 767px) { 
    .flex-4-2 .col-gutter { width: 46% }
    .flex-4-2 .col-gutter:not(:nth-last-child(-n + 2)) { margin-bottom: 14px }
}

/* Links within grid */
.flex-4-2 .col-gutter:link, .flex-4-2 .col-gutter:visited {
	opacity: 1; transition: .5s ease; backface-visibility: hidden;
}

.flex-4-2 .col-gutter:focus,
.flex-4-2 .col-gutter:hover, 
.flex-4-2 .col-gutter:active {  opacity: 0.7  }

/* .flex-4-2 .col-gutter div { overflow: hidden } */
/*
.flex-4-2 .col-gutter:focus img,
.flex-4-2 .col-gutter:hover img, 
.flex-4-2 .col-gutter:active img { 
	transition: transform .5s ease;
	transform: scale(1.3);
	overflow: hidden
}*/

/*  ===== CONTENT WITHIN COLUMNS OF FLEXBOX GRIDS ====*/

.flex-4-2 h3 {
	font-weight: 500; color: #183b56;
	font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)))
}

.flex-4-2 h3.smaller {
	font-size: calc(13px + (22 - 13) * ((100vw - 320px) / (1600 - 320)));
	line-height: 1.5;
}

.flex-4-2 p { 
	font-weight: 400; color: #465E72;
	font-size: calc(13px + (17 - 13) * ((100vw - 320px) / (1600 - 320)));
	letter-spacing: 1px;
}

.flex-4-2 p.price { 
	font-weight: 700; color: #465E72;
	font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
	color: #7b7d7d;
	font-weight: 400;
}

.product p.price b { color: #4c585e }

/* Desktop */
@media (min-width:768px) { 
	.flex-4-2 h3 { margin-bottom: 8% }
	.flex-4-2 h3.smaller { margin-bottom: 9% }

	.flex-4-2 p { line-height: 1.4 }
	.flex-4-2 h3, .flex-4-2 p { width: 92%; margin-left: auto; margin-right: auto; }
	.flex-4-2 img { margin-bottom: 5% }
}

/* Mobiles */
@media (max-width:767px) { 
	.flex-4-2 h3 { margin-bottom: 8% }
	.flex-4-2 p { line-height: 1.3; margin-bottom: 12% }
	.flex-4-2 img { margin-bottom: 8% }
}


.details { text-align: center; background-color: rgb(76,88,94) }
.details * { text-align: center }

@media (min-width: 768px) { .details { padding: 6% 10% } }
@media (max-width: 767px) { .details { padding: 12% 8% 14% 8% } }

a.full-range { 
	display: inline-block; text-decoration: none; text-transform: uppercase; 
	border-width: 2px; border-style: solid;
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1600 - 320)));
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal;
}

@media (min-width: 768px) { a.full-range { letter-spacing: 4px } }
@media (max-width: 767px) { a.full-range { letter-spacing: 2px } }


a.full-range:link, a.full-range:visited { 
	background-color: transparent;
    color: #fff ;border-color:#fff;
}

a.full-range:focus, a.full-range:hover, a.full-range:active { 
	color: #bbe3dd; border-color: #bbe3dd;
}

@media (min-width:768px) { a.full-range { margin-bottom: 32px; padding: 10px 28px } }
@media (max-width:767px) { a.full-range { margin-bottom: 10%;  padding:  8px 20px } }

.details p {
    color: #fff;
    font-size: calc(17px + (22 - 17) * ((100vw - 320px) / (1600 - 320)));
    line-height: 1.6; margin-bottom: 32px;
}

a.swag-home { 
	margin-top: 20px;
    display: inline-block; text-decoration: none; font-weight: normal;
    padding: 12px 22px;
	text-decoration: none; text-transform: uppercase; letter-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal;
	font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
}

a.swag-home:link, a.swag-home:visited { 
    background-color: rgb(188,204,201);
    color: #000; border-color:#000;
}

a.swag-home:focus,
a.swag-home:hover, 
a.swag-home:active { color: #b90303; border-color: #b90303; }

.details p.description a { 
	text-decoration: none; font-weight: normal;
	border-bottom-style: solid; border-bottom-width: 2px;
	padding-bottom: 2px;
}

.details p.description a:link, .details p.description a:visited {
	color: #fff; border-bottom-color: #fff;

}
.details p.description a:focus, .details p.description a:hover,.details p.description a:active {
	color: #bbe3dd; border-bottom-color: #bbe3dd
}

/* =============== BEGIN CONTACT FORM CSS ============= */

/* == Contact form container == */

/* All screens */
.container-contact-form { 
	text-align: center; 
	background-color: #f6f0e9;
}

/* Desktop */
@media  (min-width:1024px) { 
	.container-contact-form {
		margin: 4% 23% 4% 23%;
		padding: 2% 4% 1% 4%;
	}
}

/* Mobiles */
@media  (max-width:1023px) { 
	.container-contact-form { 
		margin: 12% 8% 18% 8%;
		padding: 7% 8% 8% 8%;
	}
}

/* Text */
.container-contact-form p { 
    font-weight: normal;
    color: #4c4f5a; 
	line-height: 1.5;
	margin-bottom: 32px;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* == Contact form fields == */

#contact-form .flex-row { display: flex; justify-content: space-between }

/* Desktop */
@media  (min-width: 1024px) {
	#contact-form .flex-row { flex-direction: row; text-align: left; margin-bottom: 6% }
	#contact-form .flex-row .item-name,
	#contact-form .flex-row .item-email { width: 47% }
	#contact-form .flex-row .item-textarea { width: 64% }
	#contact-form .flex-row .item-btn { width: 30%; align-self: flex-end }
}

/* Mobiles */
@media  (max-width: 1023px) {
	#contact-form .flex-row { flex-direction: column; text-align: center; }
}

#contact-form label, #contact-form input, #contact-form textarea {
	font-family: -apple-system, 'BlinkMacSystemFont','Segoe UI', 'Ubuntu', 'Cantarell', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	color: #000;
	display: block;
}

#contact-form label {
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); 
	font-weight: bold;
	margin-bottom: 8px;
	display: flex;
	align-items: baseline;
}

#contact-form [type="text"], 
#contact-form [type="email"],
#contact-form textarea { width: 100% }
#contact-form ::placeholder { font-size: 94% }

/* Mobiles */
@media  (max-width: 1023px) { 
	#contact-form [type="text"], 
	#contact-form [type="email"],
	#contact-form textarea { margin-bottom: 20px }
}

#contact-form input, #contact-form textarea {
	padding: 10px 12px;
	border: 2px solid #9b4723;
	background-color: #d7edff;
	border-radius: 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
	background-color: #fff;
}

#contact-form.flex-row .item-btn { width: 26% }

#contact-form #btn-submit { 
	float: right; 
	color: #fff;
	border: none; 
	background-color: #9b4723;
	font-weight: bold;
	padding: 12px 22px;
	font-size: 96%;
	border-radius: 5px;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px */
}

#contact-form #btn-submit:focus,
#contact-form #btn-submit:hover, 
#contact-form #btn-submit:active { 
	background-color: #8ca486;
}

#contact-form #btn-submit i.fas {
	margin-left: 9px;
	font-size: 104%
}

/* =============== END CONTACT FORM CSS ============= */


/* =========== FOOTER =========== */

footer { 
    display: flex; 
    flex-wrap: wrap; justify-content: space-between;
	background-color: #000;
}

@media (min-width: 768px) {  footer { padding: 4% 2% 4% 4% } }
@media (max-width: 767px)  { footer { padding: 10% 12% 10% 12% } }

footer .col { padding: 0; text-align: left }
footer h2, footer p { color: #fff; text-align: left; padding: 0 }

footer h2 { font-family: 'Bebas Neue', sans-serif; font-weight: normal; letter-spacing: 4px }

footer p { line-height: 1.6; margin-bottom: 12px; }

footer a { 
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

footer .flex-inner a { 
	font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1600 - 320)))
}

footer a:link, footer a:visited { 
    color: #fff; border-color:#fff;
}

footer a:focus,
footer a:hover, 
footer a:active { color: #bbe3dd; border-color: #bbe3dd }

@media (min-width: 1024px) {
	footer > .col:first-child { width: 32% }
	footer > .col  { width: 62% }
	
	footer > .col h2 {
		margin-bottom: 18px;
		font-size: calc(28px + (32 - 28) * ((100vw - 320px) / (1600 - 320)))
    }
	
	footer > .col:first-child p {
		line-height: 1.8;
		font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320)))
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	footer > .col:first-child { width: 20% }
	footer > .col:last-child  { width: 76% }
	
	footer > .col h2 {
		margin-bottom: 8px;
		font-size: calc(28px + (32 - 28) * ((100vw - 320px) / (1600 - 320)))
    }
	
	footer > .col:first-child p {
		line-height: 1.4;
		font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)))
	}
	footer > .col:first-child p:last-child  { display: none }
}


@media (max-width: 767px) {
	footer .col { width: 100% }
	footer .col h2 {
		margin-bottom: 8px;
		font-size: calc(32px + (38 - 32) * ((100vw - 320px) / (1600 - 320)))
    }

	footer > .col:first-child { margin-bottom: 32px }
	footer > .col:first-child p {
		line-height: 1.7;
		font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)))
	}
}

footer .flex-inner {
    display: flex; flex-direction: row; text-align: left;
    flex-wrap: wrap; justify-content: space-between;
	background-color: #000;
}

@media (min-width: 768px) {
	footer .flex-inner .col { width: 30% }
	footer .flex-inner .col p { margin-bottom: 18px }
	footer .flex-inner .col p a {
		font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320)))
	} 	
}

@media (max-width: 767px) { 
	footer .flex-inner .col { width: 100% }
	footer .flex-inner .col p { margin-bottom: 24px }
	footer .flex-inner .col p a { 
		font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1600 - 320)))
	}
}

/* 'New' in superscipt on 'Face Masks' link in footer */
footer .flex-inner .col p sup { 
	background-color: #bbe3dd;
	color: #000; padding: 2px 4px; font-weight: bold; border-radius: 3px;
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';  
}

/* 'Apple and Samsung Phone Cases' line break in footer */
@media (max-width: 768px) { 
	footer > .col .flex-inner > .col > p br { display: none }
}

/* ========== LEGAL ================ */
.legal { 
	background-color: rgb(210,170,164); text-align: center;
	display: flex; flex-wrap: wrap; justify-content: space-between;
}

@media (min-width: 768px) { .legal { padding: 2% 4% 2% 2% } }
@media (max-width: 767px) { .legal { padding: 4% 7% 7% 7% } }

@media (min-width: 768px) { 
	.legal .col:first-child { width: 53%; text-align: right }
	.legal .col:last-child  { width: 45%; text-align: left }
}

@media (max-width: 767px) { 
	.legal .col { width: 100%; text-align: center }
	.legal .col:first-child { margin-bottom: 10px }
}

.legal p { 
	color: #000;
	margin:  0 auto; padding: 0;
	font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1600 - 320)));
    font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.legal p a {
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.legal p a:link, .legal p a:visited { 
	color: #000; border-bottom-color: #000
}

.legal p a:focus,
.legal p a:hover, 
.legal p a:active { color: #666; border-color: #666 }



/* ========== BACK TO TOP ICON ============ */

a.back-to-top {
	position: fixed; text-align: center; text-decoration: none; border-radius: 100%;
}

@media (min-width: 768px) { 
	a.back-to-top { 
		right: 25px; bottom: 25px; width: 48px; height:48px;
	}
	.back-to-top i { padding-top: 6px; font-size: 32px }
}	
	
@media (max-width: 767px) { 
	a.back-to-top { 
		right: 18px; bottom: 18px; width: 36px; height: 36px;
	}
	.back-to-top i { padding-top: 4px; font-size: 24px }
}

a.back-to-top:link, a.back-to-top:visited {
	color: #fff; background-color: #8CA486;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);	
}

a.back-to-top:focus,
a.back-to-top:hover,
a.back-to-top:active {
	color: #fff; background-color: #4A5D47; 
	box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .28);
}


/* =============== COOKIES MODAL ===================== */
/* Cookie modal background */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0; top: 0;
	width: 100%; height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Cookie modal content */
.modal-content {
	display: flex; justify-content: space-between; width: 80%; 
	margin: 15% auto; 
	padding: 20px 20px 20px 20px;
	border: 1px solid #b90303;
	background-color: #eed3c5;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background-clip: padding-box;
}

.modal-content .col-1 img { border-radius: 3px; box-shadow: 4px 5px 4px #888 }

.modal-content .col-2 h4 {
	font-family: 'Playfair Display', serif; font-weight: 500;
	letter-spacing: -1px; margin-bottom: 4px;
	color: #b90303;
}

.modal-content p {
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: calc(15px + (19 - 15) * ((100vw - 320px) / (1600 - 320)));
	margin-bottom: 12px;
	line-height: 1.5;
}

.modal-content p a:link, .modal-content p a:visited {
	text-decoration: none;
	color: #4a5d49;
	padding-bottom: 1px;
	border-bottom: solid 1px #4a5d49;
}

.modal-content p a:focus, .modal-content p a:hover, .modal-content p a:active {
	text-decoration: none;
	color: #333;
	padding-bottom: 1px;
	border-bottom: solid 1px #333;
}

#btnAccept {
	font-size: calc(15px + (19 - 15) * ((100vw - 320px) / (1600 - 320)));
	padding: 14px 32px;
	font-weight: bold;
	color:#fff; background-color: rgb(83,129,133);
	border-radius: 25px; 
	text-transform: uppercase;
	font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';	
}

#btnAccept:focus, #btnAccept:hover, #btnClose:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	background-color: #4a5d49;
}

#btnAccept i { margin-right: 10px }


/* ============ ALL MOBILE SCREENS ========== */

@media (max-width: 768px) { 
	.modal-content { flex-direction: column; width: 90%; margin: 12% auto; }
	.modal-content .col-1 { width: 10% }
	.modal-content .col-2, .modal-content .col-3 { width: 41% }
	.modal-content .col-2 h4 { 
		line-height: 1.2;		
		font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content .col-1 img {
		text-align: center;
		margin: 0 auto 18px auto
	}
	.modal-content .col-2 p.no-mobile, 
	.modal-content .col-3 p.no-mobile {
		display: none !important;
	}
	.modal-content .col-3 div { text-align: center;}
	#btnAccept { 
		letter-spacing: 1px; 
		text-align: center;
		margin: 14px auto 0 auto;
	}	
}

/* Apple 4/5S mobiles */
@media (max-width: 320px)  { 
	.modal-content { margin: 4% auto; }
	.modal-content { padding: 20px 12px 18px 16px }
	.modal-content .col-1, .modal-content .col-2, .modal-content .col-3 { width: 100% }
	.modal-content .col-1 img {
		width: 60%; margin-left: auto; margin-right: auto
	}
	.modal-content .col-2 h4 { 
		line-height: 1.1;	
		font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1600 - 320)));
	}
	#btnAccept { margin: 8px auto 0 auto; font-size: 15px; padding: 12px 24px }
	.modal-content p.iphone-5 { display: block; }
	.modal-content p.not-iphone-5 { display: none }
}	


/* Small mobiles */
@media (min-width: 321px) and (max-width: 499px)  { 
	.modal-content { padding: 30px 12px 30px 16px }
	.modal-content .col-1, .modal-content .col-2, .modal-content .col-3 { width: 100% }
	.modal-content .col-2 h4 { 
		line-height: 1.1;	
		font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content p.iphone-5 { display: none }
	#btnAccept { font-size: 15px; padding: 14px 24px  }
}	

/* Larger mobiles */
@media (min-width: 500px) and (max-width: 767px)  { 
	.modal-content { padding: 6% 12% 6% 12%; width: 72%; }
	.modal-content .col-1, .modal-content .col-2, .modal-content .col-3 { width: 100% }
	.modal-content .col-1 img {
		text-align: center;
		margin: 0 auto 26px auto;
	}
	.modal-content .col-2 h4 { 
		line-height: 1.1;
		margin-bottom: 0;
		line-height: 1.1;	
		font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content .col-2 p, .modal-content .col-3 p { 
		margin-bottom: 14px;
		font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content p.iphone-5 { display: none }
	#btnAccept { font-size: 17px; margin-top: 18px; padding: 14px 30px }
}

/* ======= TABLET SCREENS ======= */

@media (min-width: 768px) and (max-width: 1023px) { 
	.modal-content { flex-direction: row; width: 90%; margin: 9% auto; }
	.modal-content { padding: 4% 4% 4% 2% }
	.modal-content .col-1 { width: 22% } 
	.modal-content .col-2 { width: 34% } 
	.modal-content .col-3 { width: 34% }
	.modal-content .col-1 img {
		text-align: center;
		margin: 0 auto 0 auto;
	}
	
	.modal-content .col-2 h4 { 
		line-height: 1.1;
		margin: 0 auto 6px auto;
		font-size: calc(20px + (34 - 20) * ((100vw - 320px) / (1600 - 320)));
	}
		
	.modal-content .col-2 p, .modal-content .col-3 p { 
		margin-bottom: 14px;
		line-height: 1.4;
		font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
		margin-bottom: 12px;
	}
	.modal-content p.iphone-5 { display: none }
	.modal-content div #btnAccept { text-align: left; margin-left: 0 } 
	#btnAccept i { display: none  }
	
	#btnAccept { 
		font-size: 16px; 
		margin: 12px 0 0 0; 
		padding: 14px 20px;
	}

}

/* ===== DESKTOP SCREENS ======= */

/* Smaller desktops */

@media (min-width: 1024px) and (max-width: 1199px)  {
	.modal-content { flex-direction: row; width: 80%; margin: 7% auto; }
	.modal-content { padding: 3% 4% 3% 2% }
	.modal-content .col-1 { width: 18% } 
	.modal-content .col-2 { width: 31% } 
	.modal-content .col-3 { width: 31% }
	.modal-content .col-1 img {
		text-align: center;
		margin: 0;
	}

	.modal-content .col-2 h4 { 
		line-height: 1.1;
		margin-bottom: 6px;
		line-height: 1.1;	
		font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content .col-2 p, .modal-content .col-3 p { 
		margin-bottom: 14px;
		font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content p.iphone-5 { display: none }
	div #btnAccept { text-align: left } 

	#btnAccept { 
		font-size: 17px; 
		margin: 18px 0 0 0; 
		padding: 14px 20px;
		text-align: left;
		letter-spacing: 1px;
	}

}

/* Larger desktops */

@media (min-width: 1200px)   {
	.modal-content { flex-direction: row; margin: 6% auto; width: 80% }

	.modal-content { padding: 3% 4% 3% 2% }
	.modal-content .col-1 { width: 20% } 
	.modal-content .col-2 { width: 34% } 
	.modal-content .col-3 { width: 34% }
	.modal-content .col-1 img {
		text-align: center;
		margin: 0 auto 0 auto;
	}

	.modal-content .col-2 h4 { 
		line-height: 1.1;
		margin: 0 auto 6px auto;
		line-height: 1.1;	
		font-size: calc(30px + (38 - 30) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content .col-2 p, .modal-content .col-3 p { 
		margin: 0 auto 14px auto;
		line-height: 1.4;
		font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
	}
	.modal-content p.iphone-5 { display: none }
	div #btnAccept { text-align: left } 

	#btnAccept { 
		font-size: 17px; 
		margin: 18px 0 0 0; 
		padding: 14px 28px;
		letter-spacing: 1px;
	}
}

	.container-slidemeup {
		position: fixed;
		left: 0; top: 0;
		animation-name: slideup;
		animation-delay: 100s;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
		background-color: yellow !important;
	}

	@keyframes slideup {
		0%   { top: 0 }
		100% { top: 0px }
	}

	.slide-out-top {
		animation: slide-out-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	
	@keyframes slide-out-top {
	  0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 0.5;
	  }
	  100% {
		-webkit-transform: translateY(-1000px);
				transform: translateY(-1000px);
		opacity: 0;
	  }
	}


/* ============ UTILITY CLASSES ======== */

.display-block { display: block }
.display-none  { display: none }
.no-margin-bottom { margin-bottom: 0 !important }

