/* ==== BROWSER RESETS  ==== */
img { display: block; width: 100%; height: auto }

/* Web page */
body { 
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
}

/* Main heading */
h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
    font-size: 72px;
    color: #008000;
    line-height: 1.2;    
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Small headings */
h2 {
	font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: #fa7a00;
    line-height: 1.3;    
    margin-top: 42px;
    margin-bottom: 12px;
}

/* Text paragraphs */
p {
   font-family: 'Lato', sans-serif;
   font-size: 22px;
   color: #455C80;
   line-height: 1.6;
   margin-bottom: 20px;
}

/* Images */
img {
    margin-bottom: 32px;
    /* Soften corners of images */
    border-radius: 15px;
}
