section.section-selector-1.theme-light { background-color: var(--lime-400) }

.cols-2-split .col-2 .container-upper-label span { 
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 2px;
    padding: 8px 16px;
    color: var(--lime-400);
    background-color: var(--slate-900);
}

.cols-2-split .col-2 h2 { 
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1140 - 320)));
    letter-spacing: -1px;
}

.cols-2-split .col-2 a.btn {
    border-width: 3px
}



