/* Add your custom CSS here */

.section-selector-1 { background-color: var(--trend-700) }
.section-selector-1 > .badge span { color: var(--white-000) }

.section-selector-2 { background-color: var(--trend-800) }

.section-selector-3 { background-color: var(--trend-700) }

.section-selector-4 { background-color: var(--trend-800) }
