/* ==== PAGE WIDTH ==== */
body {
    padding-left: 20%;
    padding-right: 20%
}

body { font-family: sans-serif;  background-color: #1f364d; }

h1 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 48px;
    font-weight: normal;
    letter-spacing: 4px;
    color: white;
}

h2 {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    color: deeppink;
}

h3 {
    font-size: 24px;
    margin-top: 42px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    color: lightgreen;
}

p {
    font-size: 18px;
    margin-top: 0;
    line-height: 1.6;
    color:#81b8cd;
}
