/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }

body { background-color: #eff8f5 }

/* === HERO BLOCK === */

.container-hero-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container-hero-block.home-page {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/hero-home.jpg');
}

.container-hero-block.destinations-page {
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../img/hero-destinations.jpg');
}

.container-hero-block.about-us-page {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../img/hero-about-us.jpg')
}

.container-hero-block.contact-us-page {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url("../img/hero-contact-us.jpg")  
} 

.container-hero-block h1, .container-hero-block h2 {
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 2px #222;
	margin-left: auto;
	margin-right: auto;
}

.container-hero-block h1 { 
	color: #fff;
	font-size: calc(42px + (102 - 42) * ((100vw - 320px)/(1600 - 320)))
}

.container-hero-block h2 {
	color:  #ff5000;
	line-height: 1.5;
	font-size: calc(32px + (64 - 32) * ((100vw - 320px)/(1600 - 320)));
}

/* Desktop - block height, text width and h1 bottom margin */
@media (min-width:768px) { 
	.container-hero-block { height: 560px }
	.container-hero-block h1, .container-hero-block h2 { 
		width: 60%; 
	}
	.container-hero-block h1 {margin-top: 4%;  margin-bottom: 3% }
}

/* Mobiles - block height, text width and h1 bottom margin */
@media (max-width:767px) { 
	.container-hero-block { height: 420px }
	.container-hero-block h1, .container-hero-block h2  { 
		width: 90%; 
	}
	.container-hero-block h1 { margin-top: 18%; margin-bottom: 5% }
}


/* ========= PARENT FLEXBOX CONTAINER ======= */

.container-flexbox { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop - inside padding  */
@media (min-width:768px) {
	.container-flexbox { padding: 2% 10% 1% 10% }
}

/* Mobiles - inside padding */
@media (max-width:767px) {
	.container-flexbox { padding: 7% 8% 1% 8% }
}

/* Background color */
.container-flexbox.bg-orange { background-color: #ff5000 }
.container-flexbox.bg-orange .item-col-1 h2,
.container-flexbox.bg-orange .item-col-1 p,
.container-flexbox.bg-orange .item-col-3 h3,
.container-flexbox.bg-orange .item-col-3 p,
.container-flexbox.bg-orange .item-col-4-2 h3,
.container-flexbox.bg-orange .item-col-4-2 p { color: #fff }

/* ====== INNER FLEXBOX COLUMN: 1 COLUMN EVERY SCREEN ======= */

.container-flexbox .item-col-1 { 
	width: 100%;
	padding: 1% 6% 0 6%;
}


/* =======INNER FLEXBOX COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ===== */

/* Desktops - 3 columns */
@media (min-width:768px) { 
	.container-flexbox .item-col-3 { width: 30%; margin-bottom: 3% }
	
}

/* Mobiles - 1 column */
@media (max-width:767px) { 
	.container-flexbox .item-col-3 { width: 100%; margin-bottom: 10% }
	
}

/* ==== INNER FLEXBOX COLUMNS: 4 COLUMNS ON DESKTOPS, 2 COLUMNS ON MOBILES ======= */

/* Desktops - 4 columns */
@media (min-width:768px) { 
	.container-flexbox .item-col-4-2 { width: 22%; margin-bottom: 3% }
	
}

/* Mobiles - 2 columns */
@media (max-width:767px) { 
	.container-flexbox .item-col-4-2 { width: 47%; margin-bottom:10% }
	
}

/* === INNER FLEXBOX COLUMNS: 3 COLUMNS ON DESKTOPS, 2 COLUMNS ON MOBILES == */

/* All screen sizes */
.container-flexbox.happy-users .item-col-3 {
	text-align: center;
} 

/* Desktops - 3 columns */
@media (min-width:768px) { 
	.container-flexbox.happy-users .item-col-3 { 
		width: 30%; margin-bottom: 3%
	}
}

/* Mobiles - 2 column */
@media (max-width:767px) { 
	.container-flexbox.happy-users .item-col-3 { 
		width: 47%; margin-bottom: 14%;
	}
}

.container-flexbox.happy-users .item-col-3 p i { font-family: 'Raleway', serif }

.container-flexbox.happy-users .item-col-3 img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 70%; 
	border-radius: 100%;
	border-color: #ff5000;
	border-width: 6px;
	border-style: solid;
}


/* ================ HEADINGS, PARAGRAPHS, IMAGES ============== */

/* Single column */
.container-flexbox .item-col-1 h2 { 
	font-family: 'Raleway', sans-serif;
	font-weight: 700; 
	color: #044d6c;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: 2px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-col-1 p { 
	font-family: 'Raleway', sans-serif;
	font-weight: 400; 
	color: #044d6c;
	line-height: 1.6;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom:24px;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-col-1 p a {
	color: #ff5000;
	font-weight: 700;	
	text-decoration: none;
	border-bottom-style:solid;
	border-bottom-width:2px;
	padding-bottom: 2px;
}


.container-flexbox .item-col-1 p a:link,
.container-flexbox .item-col-1 p a:visited { 
	border-bottom-color: #ff5000;
}

.container-flexbox .item-col-1 p a:hover,
.container-flexbox .item-col-1 p a:active { 
	border-bottom-color: transparent;
}


/* Three and four columns */
.container-flexbox .item-col-3 h3,
.container-flexbox .item-col-4-2 h3 { 
	font-family: 'Roboto Slab', serif;
	font-weight: 700; 
	color: #ff5000;
	line-height: 1.2;
	margin-bottom: 2px;
	letter-spacing: 2px;
	font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-col-3 p,
.container-flexbox .item-col-4-2 p { 
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.7;
	margin-bottom: 14px;
}

.container-flexbox .item-col-3 img,
.container-flexbox .item-col-4-2 img {
	margin-bottom: 12px;
	border-radius: 5px;
}

.container-flexbox.happy-users {
	background-color: #fff
}

.container-flexbox.happy-users .item-col-3 p {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-3-20 10:33:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-top {
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* =============== BEGIN CONTACT FORM CSS ============= */

/* == Contact form container == */

/* All screens */
.container-contact-form { 
	text-align: center; 
	background-color: #fff; 
	border: solid 1px gray
}

/* Desktop */
@media all and (min-width:1024px) { 
	.container-contact-form {
		margin: 0 23% 4% 23%;
		padding: 2% 4% 1% 4%;
	}
}

/* Mobiles */
@media all and (max-width:1023px) { 
	.container-contact-form { 
		margin: 2% 8% 18% 8%;
		padding: 7% 8% 8% 8%;
	}
}

/* == Contact form heading and text == */

/* Heading */
.container-contact-form h3 { 
	font-weight: bold; 
	color: #000;
	line-height: 1.2;
	margin-bottom: 3%;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

/* Text */
.container-contact-form p { 
    font-weight: normal;
    color: #000; 
	line-height: 1.5;
	margin-bottom: 7%;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* == Contact form fields == */

#contact-form .flex-row { display: flex; justify-content: space-between }

/* Desktop */
@media all and (min-width: 1024px) {
	#contact-form .flex-row { flex-direction: row; text-align: left; margin-bottom: 6% }
	#contact-form .flex-row .item-name,
	#contact-form .flex-row .item-email { width: 47% }
	#contact-form .flex-row .item-textarea { width: 64% }
	#contact-form .flex-row .item-btn { width: 30%; align-self: flex-end }
}

/* Mobiles */
@media all and (max-width: 1023px) {
	#contact-form .flex-row { flex-direction: column; text-align: center; }
}

#contact-form label, #contact-form input, #contact-form textarea {
	font-family: sans-serif;
	color: #000;
	display: block;
}

#contact-form label {
	font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); 
	font-weight: bold;
	margin-bottom: 8px;
	display: flex;
	align-items: baseline;
}

#contact-form [type="text"], 
#contact-form [type="email"],
#contact-form textarea { width: 100% }
#contact-form ::placeholder { font-size: 94% }

/* Mobiles */
@media all and (max-width: 1023px) { 
	#contact-form [type="text"], 
	#contact-form [type="email"],
	#contact-form textarea { margin-bottom: 20px }
}

#contact-form input, #contact-form textarea {
	padding: 10px 12px;
	border: 2px solid gray;
	background-color: #f0f0f0;
	border-radius: 5px;
}

#contact-form input:focus,
#contact-form textarea:focus {
	background-color: #fff;
}

#contact-form.flex-row .item-btn { width: 26% }

#contact-form #btn-submit { 
	float: right; 
	color: #fff;
	border: none; 
	background-color: #ff5000;
	font-weight: bold;
	padding: 12px 22px;
	font-size: 96%;
	border-radius: 5px;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px */
}

#contact-form #btn-submit:hover, 
#contact-form #btn-submit:active { 
	background-color: darkblue;
}

#contact-form #btn-submit i.fas {
	margin-left: 9px;
	font-size: 104%
}

/* =============== END CONTACT FORM CSS ============= */

/* == Begin footer CSS == */

/* Outer footer parent container */
.container-footer { 
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
	background-color:#044d6c;
	font-family: 'Raleway', sans-serif;
}

/* Desktop footer - inside padding  */
@media all and (min-width:768px) {
	.container-footer { padding: 3% 8% 3% 8% }
}

/* Mobiles footer - inside padding */
@media all and (max-width:767px) {
	.container-footer { padding: 12% 8% 1% 8% }
}

/* Inner footer columns */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
   .container-footer .item-3:nth-child(1) { width: 20% }
   .container-footer .item-3:nth-child(2) { 
      width: 50%;
      /* text-align: center */
   }
   .container-footer .item-3:nth-child(3) { 
      width: 20%;
   }
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-footer .item-3 { 
      width: 100%;
      margin-bottom: 10%
   }
   .container-footer .item-3:nth-child(2) { order: 1 }
   .container-footer .item-3:nth-child(1) { order: 2 }
   .container-footer .item-3:nth-child(3) { order: 3 } 
}

/* Styles for footer background, text, icons and links */

.container-footer .item-3 h4,
.container-footer .item-3 p,
.container-footer .item-3 p i,
.container-footer .item-3 p a {
   color: #fff
}

.container-footer .item-3 h4 {
   font-weight: bold;
   /* text-transform: uppercase */
   margin-bottom: 12px;
   font-size: calc(17px + (19 - 17) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer .item-3 p {
   font-weight: normal;
   margin-bottom: 12px;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
   line-height: 1.6
}

.container-footer .item-3 i { 
   padding-right: 26px;
} 

.container-footer .item-3 p a {
   text-decoration: none;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   padding-bottom:2px;
}

.container-footer .item-3 p a:link, 
.container-footer .item-3 p a:visited  {
   border-bottom-color: transparent;
}

.container-footer .item-3 p a:hover, 
.container-footer .item-3 p a:active  {
   border-bottom-color: #fff
}

/* == End footer CSS == */