/* #control-menu > ul li.dropdown:nth-child(3):before {
    content: " | "; color: var(--gray-200);
} */

#control-menu > div { display: flex; align-items: center;}
#control-menu > div:nth-child(1) a img {
    display: inline-block; margin-right: 40px;
    margin-top: 9px; width: 140px; height: 40px; outline: 0;
    background-color: #2b2a33;
}
#control-menu > div:nth-child(1) a:focus,
#control-menu > div:nth-child(1) a:hover,
#control-menu > div:nth-child(1) a:active {  background-color: #2b2a33; } 

#control-menu a#back:link, #control-menu a#back:visited {
    color: #0acceb; text-decoration: none; font-weight: 500;
    font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1920 - 320)));
    background-color: #2b2a33; margin-right: 40px;
}

#control-menu a#back:focus, #control-menu a#back:hover, #control-menu a#back:active {
    color: #fff; background-color: #2b2a33;
}

#control-menu #work-with { color:#fff; font-size: 1.063rem }

#control-menu #dd_actions_outer {
    border: solid 1px #0acceb;
    padding: 2px 12px 2px 4px;
    margin-left: 8px;
}

#control-menu #dd_actions {
    display: inline-block; 
    font-weight: 500;
    line-height: 1.5;
    padding: 6px 6px;
    color: #0acceb;
    background-color: rgb(43,42,51);
    font-size: 1rem;
    letter-spacing: 0.5px
}

#control-menu #dd_actions:focus {
    color:#0acceb; outline: none;
}

#control-menu #dd_actions::selection { color:#0acceb }


#control-menu > ul li.dropdown:last-child { margin-right: 0 }

#HTML-Content .container-menu.menu-sticky { margin-top: 58px }

@media (min-width: 768px) {
    #HTML-Content .container-menu ul.mobile-display { top: 124px }
}

@media (max-width: 767px) {
    #HTML-Content .container-menu ul.mobile-display { top: 116px }
}
#control-menu #content-1 { left: 73% } 
#control-menu #content-2 { left: 64.65% } 
#control-menu #content-3 { left: 65.88% } 
#control-menu #content-4 { left: 64.25% } 

#control-menu #content-5 { left: 61.25% } 
#control-menu #content-6 { left: 59.75% } 
#control-menu #content-7 { left: 60.2% } 


/* ============ LAYOUT MENU ============*/

#content-1 > .dialog-box > .input-group > label { min-width: 150px }
#content-1 > .dialog-box .input-group select { min-width: 84px }
#content-1 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-1 .col-properties .dialog-box .input-group label { min-width: 300px }
#content-1 > .dialog-box button { min-width: 110px; text-align: left }
#content-1 .svg-icon-desktop { margin-right: 22px }
#content-1 .svg-icon-mobile  { margin-right: 26px }

/* ============ TEXT MENU ============*/

#content-2 > .dialog-box > .input-group > label { min-width: 170px }
#content-2 > .dialog-box .input-group select { min-width: 84px }
#content-2 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-2 .col-properties .dialog-box .input-group label { min-width: 300px }

/* ============ BUTTONS MENU ============ */

#content-3 .dialog-box-header { margin-bottom: -10px }
#content-3 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-3 .input-group:last-child { margin-bottom: 0 }
#content-3 input[type="radio"] { margin-right: 10px }
#content-3 label { display: inline-block; min-width: 100px }
#content-3 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 8px; margin-left: 8px }
#content-3 hr { margin-top: 16px; margin-bottom: -6px }


/* ============ ILLUSTRATIONS MENU ============ */
#content-4 .dialog-box  { min-width: 460px }
#content-4 label { display: inline-block; min-width: 160px }
#content-4 .dialog-box .flex-two-col { 
    display: flex; justify-content: flex-start; flex-wrap: nowrap;
}

#content-4 .dialog-box hr { margin-top: 14px; margin-bottom: 16px }
#content-4 .dialog-box h4 { margin-top: -6px }

/* Radio buttons list */
#content-4 .dialog-box .flex-two-col #vis-types-all { width: 180px }
#content-4 .dialog-box .flex-two-col #vis-types-all .input-group-vertical { 
    margin: 5px 40px 5px 0
}
#content-4 #vis-types-all select#dd_yn_vis option { width: 36px }
#content-4 #vis-types-all select#dd_yn_vis_width option { width: 38px }

/* Visual properties  */
#content-4 .dialog-box .input-group-vertical { padding: 2.5px 0 }

#content-4 #vis-properties-all label { min-width: 80px; display: inline-block }
#content-4 #vis-types-all input[type="radio"] { margin-right: 10px }

#content-4 .disabled-gray { color: var(--gray-500) }

#content-4 > .dialog-box #bg_overaly_options button { min-width: 70px; text-align: left }
#content-4 p { margin: 0; color: #fff }

#content-4 .flex-gradient { 
    display: flex; flex-direction: row; justify-content: flex-start; padding: 12px 0 
}
#content-4 .flex-gradient > div:nth-child(1) { width: 25%; align-self: center }
#content-4 .flex-gradient > div:nth-child(2) { width: 70% }

#content-4 #switch-bg-overlay-desktop,
#content-4 #switch-bg-overlay-mobile { 
    display: flex; flex-direction: row; justify-content: flex-start 
} 


#switch-bg-overlay-div-desktop label,
#switch-bg-overlay-div-mobile label { min-width: 30px }

#content-4 .flex-gradient .switch-field label {
    font-size: 16px; font-weight: 700; line-height: 1; text-align: center;
    margin-right: -1px; padding: 2px 2px 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.slidecontainer { width: 100%; padding-top: 8px }
#slider-display { color: #fff; padding-top: 6px }

  
.slider:hover { opacity: 1 }



/* ============ MENU DESKTOP MENU ============*/
#content-5 > .dialog-box  { min-width: 260px }
#content-5 > .dialog-box > .input-group > label { min-width: 160px }
#content-5 > .dialog-box .input-group select { min-width: 84px }
#content-5 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-5 .col-properties .dialog-box .input-group label { min-width: 300px }


/* ============ MOBILE MENU ============*/

#content-6 .input-group label { min-width: 180px }

/* ============ STICKY MENU ============*/

#content-7 .dialog-box-header { margin-bottom: -10px }
#content-7 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-7 .input-group label { min-width: 160px }
#content-7 .input-group:last-child { margin-bottom: 0 }
#content-7 input[type="radio"] { margin-right: 10px }
#content-7 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 8px; margin-left: 8px }
#content-7 hr { margin-top: 16px; margin-bottom: -6px }


.container-flex.theme-one {
    filter: blur(1.5px);
    z-index: -1;
    position: relative;
}