/* #control-menu > ul li.dropdown:nth-child(3):before {
    content: " | "; color: var(--gray-200);
} */

.controls-top { 
    height: 58px;
    position: fixed; top: 0; width: 100%; /* max-width: 1920px; */ z-index: 999;
    /* box-shadow: 4px 4px 10px #888; padding: 0 1%  0 3%; */
    background-color: #2b2a33;
    padding-left: 5%; padding-right: 5%;
}

#control-menu > div { display: flex; align-items: center;}
#control-menu > div:nth-child(1) a img {
    display: inline-block; margin-right: 40px;
    margin-top: 9px; width: 140px; height: 40px; outline: 0;
    background-color: #2b2a33;
}
#control-menu > div:nth-child(1) a:focus,
#control-menu > div:nth-child(1) a:hover,
#control-menu > div:nth-child(1) a:active { background-color: #2b2a33; } 

#control-menu a#back:link, #control-menu a#back:visited {
    color: #0acceb; text-decoration: none; font-weight: 500;
    font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1920 - 320)));
    background-color: #2b2a33; margin-right: 40px;
}

#control-menu a#back:focus, #control-menu a#back:hover, #control-menu a#back:active {
    color: #fff; background-color: #2b2a33;
}

#control-menu #dd_actions {
    display: inline-block; 
    width: 120px; 
}

#control-menu select#dd_actions {
    font-weight: 500;
    color: #222;
    line-height: 1.5;
    padding: 5px 5px;
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1920 - 320)));
}

#control-menu > ul li.dropdown:last-child { margin-right: 0 }

#control-menu #content-1 { left: 71.5% } 
#control-menu #content-2 { left: 68.65% } 
#control-menu #content-3 { left: 1% } 
#control-menu #content-4 { left: 71.3% }

/* ============ MENU 1: SECTION MENU ============*/

#content-1 > .dialog-box > .input-group > label { min-width: 124px }
#content-1 > .dialog-box .input-group select { min-width: 84px }
#content-1 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-1 .col-properties .dialog-box .input-group label { min-width: 300px }
#content-1 > .dialog-box #bg_gradient_options button { min-width: 70px; text-align: left }
#content-1 p { margin-top: 20px; color: #fff }
#content-1 p:last-child { margin: 23px 0 0 0 }

/* ============ MENU 2: TEXT MENU ============*/

#content-2 > .dialog-box > .input-group > label { min-width: 150px }
#content-2 > .dialog-box .input-group select { width: 80px }
#content-2 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-2 .col-properties .dialog-box .input-group label { min-width: 300px }

#content-2 > .dialog-box button { text-align: left }


/* ============ MENU 3: BUTTONS MENU ============*/

#content-3 .dialog-box-header { margin-bottom: -10px }
#content-3 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-3 .input-group:last-child { margin-bottom: 0 }
#content-3 input[type="radio"] { margin-right: 10px }
#content-3 label { display: inline-block; width: 120px }
#content-3 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 8px; margin-left: 8px }
#content-3 hr { margin-top: 16px }
#content-3 #dd_section_buttons { width: 86px }


/* ============ MENU 4: ILLUSTRATIONS ============*/

#content-4 .dialog-box .flex-two-col { 
    display: flex; justify-content: flex-start; flex-wrap: nowrap;
}

#content-4 .dialog-box hr { margin-top: 14px; margin-bottom: 16px }
#content-4 .dialog-box h4 { margin-top: -6px }

/* Radio buttons list */
#content-4 .dialog-box .flex-two-col #vis-types-all { width: 148px }
#content-4 .dialog-box .flex-two-col #vis-types-all .input-group-vertical { 
    margin: 5px 40px 5px 0
}
#content-4 #vis-types-all select#dd_yn_vis option { width: 36px }
#content-4 #vis-types-all select#dd_yn_vis_width option { width: 38px }

/* Visual properties  */
#content-4 .dialog-box .input-group-vertical { padding: 6px 0 }
#content-4 .input-group-vertical label { display: inline-block; min-width: 100px; margin-top: -8px }
#content-4 #vis-properties-all label { min-width: 80px; display: inline-block }
#content-4 #vis-types-all input[type="radio"] { margin-right: 16px }

#content-4 .disabled-gray { color: var(--gray-500) }

