/* #control-menu > ul li.dropdown:nth-child(3):before {
    content: " | "; color: var(--gray-200);
} */

.controls-top { 
    height: 58px;
    position: fixed; top: 0; width: 100%; /* max-width: 1920px; */ z-index: 999;
    /* box-shadow: 4px 4px 10px #888; padding: 0 1%  0 3%; */
    background-color: #2b2a33;
    padding-left: 3%; padding-right: 3%;
}

#control-menu > div { display: flex; align-items: center;}
#control-menu > div:nth-child(1) a img {
    display: inline-block; margin-right: 30px;
    margin-top: 9px; width: 140px; height: 40px; outline: 0;
    background-color: #2b2a33;
}
#control-menu > div:nth-child(1) a:focus,
#control-menu > div:nth-child(1) a:hover,
#control-menu > div:nth-child(1) a:active { background-color: #2b2a33; } 

#control-menu a#back:link, #control-menu a#back:visited {
    color: #0acceb; text-decoration: none; font-weight: 500;
    font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1920 - 320)));
    background-color: #2b2a33; margin-right: 40px;
}

#control-menu a#back:focus, #control-menu a#back:hover, #control-menu a#back:active {
    color: #fff; background-color: #2b2a33;
}

#control-menu #dd_actions {
    display: inline-block; 
    width: 120px; 
}

#control-menu select#dd_actions {
    font-weight: 500;
    color: #222;
    line-height: 1.5;
    padding: 5px 5px;
    font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1920 - 320)));
}

#control-menu > ul li.dropdown:last-child { margin-right: 0 }

#control-menu #content-1 { left: 67.25% } 
#control-menu #content-2 { left: 67.6% } 
#control-menu #content-3 { left: 67.55% } 
#control-menu #content-4 { left: 67.55% } 
#control-menu #content-5 { left: 68% }

/* ============ 1: SECTION MAIN OPTIONS ============*/

#content-1 > .dialog-box > .input-group > label { min-width: 110px }
#content-1 > .dialog-box .input-group select { min-width: 84px }
#content-1 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-1 .col-properties .dialog-box .input-group label { min-width: 300px }
#content-1 > .dialog-box #bg_gradient_options button { min-width: 70px; text-align: left }
#content-1 p { margin-top: 20px; color: #fff }
#content-1 p:last-child { margin: 23px 0 0 0 }


/* ============ 2: UPPER BLOCK MENU ============ */

#content-2 > .dialog-box > .input-group > label { min-width: 162px }
#content-2 > .dialog-box .input-group select { min-width: 84px }
#content-2 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-2 .col-properties .dialog-box .input-group label { min-width: 300px }
#content-2 > .dialog-box #bg_gradient_options button { min-width: 70px; text-align: left }
#content-2 p { margin-top: 20px; color: #fff }
#content-2 p:last-child { margin: 23px 0 0 0 }


/* ============ 3: COLUMNS MENU ============ */

#content-3 > .dialog-box > .input-group > label { min-width: 120px }
#content-3 > .dialog-box .input-group select { min-width: 84px }
#content-3 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-3 .col-properties .dialog-box .input-group label { min-width: 300px }
#content-3 > .dialog-box #bg_gradient_options button { min-width: 70px; text-align: left }
#content-3 p { margin-top: 20px; color: #fff }
#content-3 p:last-child { margin: 23px 0 0 0 }


/* ============ 4: BUTTONS MENU ============ */

#content-4 .dialog-box-header { margin-bottom: -10px }
#content-4 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-4 .input-group:last-child { margin-bottom: 0 }
#content-4 input[type="radio"] { margin-right: 10px }
#content-4 label { display: inline-block; width: 100px }
#content-4 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 8px; margin-left: 8px }
#content-4 hr { margin-top: 16px }
#content-4 #dd_section_buttons { width: 86px }


/* ============ 5: ILLUSTRATIONS MENU ============ */

#content-5 .dialog-box .flex-two-col { 
    display: flex; justify-content: flex-start; flex-wrap: nowrap;
}

#content-5 .dialog-box hr { margin-top: 14px; margin-bottom: 16px }
#content-5 .dialog-box h4 { margin-top: -6px }

/* Radio buttons list */
#content-5 .dialog-box .flex-two-col #vis-types-all { width: 180px }
#content-5 .dialog-box .flex-two-col #vis-types-all .input-group-vertical { 
    margin: 5px 40px 5px 0
}
#content-5 #vis-types-all select#dd_yn_vis option { width: 36px }
#content-5 #vis-types-all select#dd_yn_vis_width option { width: 38px }

/* Visual properties  */
#content-5 .dialog-box .input-group-vertical { padding: 2.5px 0 10px 0 }
#content-5 .input-group-vertical label { 
    display: inline-block; min-width: 100px; margin-top: -8px }
#content-5 #vis-properties-all label { min-width: 78px; display: inline-block }
#content-5 #vis-types-all input[type="radio"] { margin-right: 12px }

#content-5 .disabled-gray { color: var(--gray-500) }

#btn_shadow_color { 
    background-color: #0acceb; text-decoration: none; font-weight: 500;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1920 - 320)));
    display: inline-block; padding: 3px 16px 6px 14px;
    cursor: pointer; user-select: none;
    white-space: nowrap; color: #000 
}

#btn_shadow_color:focus, #btn_shadow_color:hover, 
#btn_shadow_color:active { color: #000; background-color: rgb(138,235,255);  }