/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }

/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, 
footer *:last-child { margin-bottom: 0 !important }


body {
    background-color: #fff;
}


#HTML-Content { 
    margin-top: 58px;
    position: relative; 
    z-index: 0;
    background-color: #e9ecef;
}

nav#control-menu {
   padding: 0 5%;
   text-align: left ;
}

nav ul {
    list-style-type: none;
    margin: 0; padding: 0; 
    overflow: hidden;
    height: 58px;
}

/* Global font */
body { font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif }

@media (min-width: 1200px) { 
	section { padding: 3% 18% 5% 18% } 
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
	section { padding: 4% 5% 4% 5% }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
	section { padding: 7% 13% 8% 13% }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
	section { padding: 7% 10% 8% 10% } 
}
        
section h1 { 
    font-size: 42px; 
    text-align: center;
    margin: 0 auto 32px auto
}

section .container-flex {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: stretch;
    width: 100%; 
    margin-bottom: 42px
} 

.col-2 { background-color: #fff; padding: 20px 20px 20px 20px }

/* Non-mobiles */
@media (min-width: 768px) { 
    .col-2 { width: 47%; margin-bottom: 40px }
    .col-2:nth-last-child(-n+2) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    .col-2 { 
        width: 100%; 
        max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 42px;
    }
}

section h2 { font-size: 32px }
section h3 { margin-top: 48px; font-size: 22px }

section img { margin-top: 20px; margin-bottom: 24px }
.col-2 h2 { font-size: 22px }
section p { font-size: 19px; margin-bottom: 12px }

section ul { margin-bottom: 18px }
section ul li img { margin-top: 20px }
section p img { margin-top: 20px }

section > ul > li { 
	font-size: 19px;
    line-height: 1.5; margin-bottom: 14px; 
    margin-left: 22px; padding-left: 12px; 
}


.box-green {
    width: 100%;
    padding: 9px 20px 15px 20px;
    background-image: linear-gradient(#D6F3D6,#bfffbf);
    border-radius: 3px;
    margin-bottom: 32px;
}

.box-green p { font-size: 21px }

section p span { 
    font-size: 90%;
    background-color: #222;
    color: lightblue 
}

.box-gray {
    width: 100%;
    padding: 9px 20px 15px 20px;
    background-color: var(--gray-300);
    border-radius: 3px;
    margin-bottom: 32px;
}

.box-yellow {
    width: 100%;
    padding: 14px 20px 20px 20px;
    background-color:#ffe69c;
    border: solid 1px #ffcd39;
    border-radius: 3px;
    margin-top: 12px;
    margin-bottom: 48px;
}

.box-yellow a { color: darkblue; font-weight: bold }
.box-gray p {
    line-height: 1.6
}

.box-gray p span {
    background-color: #222;
    color: lightblue;
    padding: 2px 12px;
    border-radius: 5px
}

section p a {   
    color: var(--blue-600);
}

/* Hyperlinks in text */
a:not(.btn):any-link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    color: #084298;
    transition: all 0.2s linear;
}

:is(a:not(.btn):focus, a:not(.btn):hover, a:not(.btn):active) {
    text-decoration: none;
    color: #000;
    background-color:#e9ecef;
}
