/* ======================= MENUS ========================*/

.container-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-500);
    /* Positioned in front of hero block content */
    position: relative;
    z-index: 4;
}

@media (min-width: 768px) {
    .container-menu { height: 72px }
    .container-menu a:first-child { margin-top: 16px }
    .container-menu ul { margin-top: 6px }
}

@media (max-width: 767px) {
    .container-menu { height: 60px }  
    .container-menu a:first-child { margin-top: 10px }
    .container-menu ul { margin-top: 2px }
}

/* === Default colors === */

.menu-light, .menu-light ul.mobile-display { background-color: var(--slate-200) }

.menu-light ul li a:link,
.menu-light ul li a:visited { color: var(--gray-900) }

.menu-light ul li a:focus,
.menu-light ul li a:hover,
.menu-light ul li a:active { color: var(--gray-700); background-color: transparent }

.menu-light a#btn-cta:link, 
.menu-light a#btn-cta:visited {
    border-color: var(--gray-900); 
    background-color: var(--gray-900);
    color: var(--gray-050);
} 

.menu-light a#btn-cta:focus, 
.menu-light a#btn-cta:hover, 
.menu-light a#btn-cta:active  {
    border-color: var(--gray-700); 
    background-color: var(--gray-700);
    color: var(--gray-050);
}

.menu-light .item-icon .bar1, 
.menu-light .item-icon .bar2, 
.menu-light .item-icon .bar3 { background-color: var(--gray-900) }

.menu-dark, .menu-dark ul.mobile-display { background-color: var(--gray-900) }

.menu-dark ul li a:link,
.menu-dark ul li a:visited { color: var(--gray-300) }

.menu-dark ul li a:focus,
.menu-dark ul li a:hover,
.menu-dark ul li a:active { color: var(--gray-500); background-color: transparent }

.menu-dark a#btn-cta:link, 
.menu-dark a#btn-cta:visited {
    border-color: var(--gray--050); 
    background-color: var(--gray-050);
    color: var(--gray-900);
} 

.menu-dark a#btn-cta:focus, 
.menu-dark a#btn-cta:hover, 
.menu-dark a#btn-cta:active  {
    border-color: var(--gray-700); 
    background-color: var(--gray-700);
    color: var(--gray-050);
}

.menu-dark .item-icon .bar1, 
.menu-dark .item-icon .bar2, 
.menu-dark .item-icon .bar3 { background-color: var(--gray-050) }

/* Horizontal padding */
@media (min-width: 1024px) { .container-menu { padding: 0 6% } }
@media (min-width: 811px) and (max-width: 1024px) { .container-menu { padding: 0 4% } }
@media (max-width: 810px)  { .container-menu { padding: 0 6% } }

/* Website logo */
.container-menu  a:first-child img { width: 200px; height: 40px; outline: 0 }

.container-menu a:first-child { background-color: transparent }

.container-menu a:first-child:focus,
.container-menu a:first-child:hover,
.container-menu a:first-child:active { background-color: transparent }

/* Menu links */
.container-menu ul { display: block; list-style-type: none }

.container-menu ul li { display: inline-block }

@media (min-width: 1024px) and (max-width: 1200px) { .container-menu ul li { margin-right: 40px } }
@media (min-width: 1201px) and (max-width: 1440px) { .container-menu ul li { margin-right: 50px } }
@media (min-width: 1441px) { .container-menu ul li { margin-right: 60px } }

@media (min-width: 811px) and (max-width: 1024px) { .container-menu { padding: 0 4% } }
@media (max-width: 810px) { .container-menu { padding: 0 6% } }

.container-menu ul li a { display: inline-block }

.container-menu ul li:last-child { margin-right: 0 }

.container-menu ul li a { 
    font-size: calc(18px + (20 - 18) * ((100vw - 320px)/(1920 - 320)));
    font-family: var(--sans-serif);
    font-weight: 600;
}

.container-menu ul li a:link,
.container-menu ul li a:visited { 
    text-decoration: none;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px)/(1920 - 320)));
}

.container-menu ul li a:focus,
.container-menu ul li a:hover,
.container-menu ul li a:active { 
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    transition: .35s ease-in-out;
}

/* CTA button */
.container-menu a#btn-cta {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    padding: 10px 18px 12px 18px;
    margin-top: 0;
}

.container-menu a#btn-cta > *:nth-child(2) { 
    margin-left: 14px; margin-right: 0
} 

/* Hamburger icon */
.container-menu .item-icon { /* height: 34px; */ margin-top: 10px }

.container-menu .item-icon .bar1, 
.container-menu .item-icon .bar2, 
.container-menu .item-icon .bar3 { 
    width: 36px; height: 3px; margin: 8px 0; transition: 0.4s;
}

.change .bar1 { transform: rotate(-45deg) translate(-9px, 6px) }
.change .bar2 { opacity: 0 }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px) }

/* Desktops */
@media (min-width: 1025px) { .container-menu .item-icon { display: none } }

/* Mobiles */
@media (max-width: 1024px) {
    .container-menu ul {
        right: -9000px; /* hides mobile menu unless hamburger icon clicked/tapped */
        display: none;
    }
    
    .container-menu ul.mobile-display {
        position: fixed; top: 48px; right: 0; display: block;
        overflow-x: hidden; overflow-y: scroll;
        overscroll-behavior: contain; overscroll-behavior-y: contain; 
        /* Postioned in front of hero blocvk content */
        z-index: 4;
        -webkit-overflow-scrolling: touch; /* Safari on mobiles */
        font-size: calc(17px + (18 - 17) * ((100vw - 320px)/(1920 - 320)));
        text-align: left; min-width: 100%; max-height: 100%;
        padding: 22px 0 20px 38px;
    }

    .container-menu ul.mobile-display li { margin-bottom: 22px; display: block }
    .container-menu ul.mobile-display li a { display: inline-block; font-weight: 600; }
    .container-menu a#btn-cta { margin-top: 12px; font-weight: 600; }

}

/* On mobiles, prevent scrolling outside menu */
.no-scroll { overflow: hidden }

@media (min-width: 1025px ) {
    .menu-drop-shadow-desktop { box-shadow: 0 4px 10px var(--gray-600) }
}

@media (max-width: 1024px ) {
    .menu-drop-shadow-mobile { box-shadow: 0 4px 10px var(--gray-600) }
}

/* Sticky menu */
.menu-sticky { position: fixed; top: 0; left: 0; right: 0; z-index: 4 }

.menu-sticky + .hero-block { padding-top: 72px }

