
/* ================ HEADER 'HERO BLOCK' ================ */

.hero-block {
    position: relative; overflow: hidden;
}

/* --- Default colours --- */

.header.theme-light { background-color: #fff } 
.header.theme-light .container-upper-label span { color: var(--slate-900) }
.header.theme-light h1 { color: var(--slate-900) }
.header.theme-light h2 { color: var(--slate-900) }

.header.theme-light a.btn-primary:link, 
.header.theme-light a.btn-primary:visited {
    color:            var(--slate-050);
    background-color: var(--slate-900);
    border-color:     var(--slate-900);
} 

.header.theme-light a.btn-primary:focus, 
.header.theme-light a.btn-primary:hover, 
.header.theme-light a.btn-primary:active {
    color:            var(--slate-050);
    background-color: var(--slate-600);
    border-color:     var(--slate-600);
}

.header.theme-light a.btn-secondary:link, 
.header.theme-light a.btn-secondary:visited {
    color:            var(--slate-900);
    background-color: var(--trans-000);
    border-color:     var(--slate-900);
} 

.header.theme-light a.btn-secondary:focus, 
.header.theme-light a.btn-secondary:hover, 
.header.theme-light a.btn-secondary:active {
    color:            var(--slate-050);
    background-color: var(--slate-600);
    border-color:     var(--slate-600);
}

.header.theme-light.hero-bg-gradient { 
    background-image: linear-gradient(var(--hero-bg-gradient-deg),var(--hero-bg-gradient-from-light), var(--hero-bg-gradient-to-light));
}

.hero-dark.hero-bg-gradient { 
    background-image: linear-gradient(var(--hero-bg-gradient-deg),var(--hero-bg-gradient-from-dark), var(--hero-bg-gradient-to-dark));
}

.hero-dark { background-color: var(--slate-900) }
.hero-dark .container-upper-label span { color: var(--slate-300) }
.hero-dark h1 { color: var(--slate-050) }
.hero-dark h2 { color: var(--slate-050) }

.hero-dark a.btn-primary:link, 
.hero-dark a.btn-primary:visited {
    color:            var(--slate-900);
    background-color: var(--slate-050);
    border-color:     var(--slate-050);
} 

.hero-dark a.btn-primary:focus, 
.hero-dark a.btn-primary:hover, 
.hero-dark a.btn-primary:active {
    color:            var(--slate-050);
    background-color: var(--slate-600);
    border-color:     var(--slate-600);
}

.hero-dark a.btn-secondary:link, 
.hero-dark a.btn-secondary:visited {
    color:            var(--slate-050);
    background-color: var(--trans-000);
    border-color:     var(--slate-050);
} 

.hero-dark a.btn-secondary:focus, 
.hero-dark a.btn-secondary:hover, 
.hero-dark a.btn-secondary:active {
    color:            var(--slate-050);
    background-color: var(--slate-600);
    border-color:     var(--slate-600);
}

.hero-dark .container-upper-label { color: var(--slate-050) }

/* ========== VERTICAL SPACING AND HORIZONTAL PADDING ============ */

/* Biggest screens */
@media (min-width: 2561px) { 
    .hero-block { min-height: calc(100vw / 4.5 ); padding: 0 var(--spacing-l) } 
    .hero-block .container-upper-label { margin-top: 4%; margin-bottom: -6% } 
    .hero-block .container-text { margin-top: 10%; margin-bottom: 8% } 
    .hero-block .container-btn { margin-top: -3%; margin-bottom: 4% } 
}

/* Bigger screens */
@media (min-width: 1921px) and (max-width: 2560px) {
    .hero-block { min-height: calc(100vw / 4.5 ); padding: 0 var(--spacing-l) } 
    .hero-block .container-upper-label { margin-top: 4%; margin-bottom: -6% } 
    .hero-block .container-text { margin-top: 10%; margin-bottom: 8% } 
    .hero-block .container-btn { margin-top: -2%; margin-bottom: 4% } 
}

/* Modern desktops/laptops */
@media (min-width: 1441px) and (max-width: 1920px) { 
    .hero-block { min-height: calc(100vw / 4.8 ); padding: 0 var(--spacing-m) }
    .hero-block .container-upper-label { margin-top: 4%; margin-bottom: -4%  } 
    .hero-block .container-text { margin-top: 7%; margin-bottom: 8% } 
    .hero-block .container-btn { margin-top: -48px; margin-bottom: 5% } 
}

/* Regular desktops/laptops */
@media (min-width: 1025px) and (max-width: 1440px) { 
    .hero-block { min-height: calc(100vw / 4.8 ); padding: 0 var(--spacing-m) }
    .hero-block .container-upper-label { margin-top: 5%; margin-bottom: -2% } 
    .hero-block .container-text { margin-top: 5%; margin-bottom: 8% } 
    .hero-block .container-btn { margin-top: -6px; margin-bottom: 5% } 
}

/* Tablets: Landscape */
@media (min-width: 811px) and (max-width: 1024px) {
    .hero-block { min-height: calc(100vw / 4 ); padding: 0 var(--spacing-s) }   
    .hero-block .container-upper-label { margin-top: 5%; margin-bottom: -2% } 
    .hero-block .container-text { margin-top: 7%; margin-bottom: 7% } 
    .hero-block .container-btn { margin-top: -0; margin-bottom: 6% }
}

/* Smaller Tablets: Portrait */
@media (min-width: 600px) and (max-width: 810px) {
    .hero-block { min-height: calc(100vw / 3.4 ); padding: 0 var(--spacing-m) } 
    .hero-block .container-upper-label { margin-top: 7%; margin-bottom: -3% } 
    .hero-block .container-text { margin-top: 8%; margin-bottom: 8% }
    .hero-block .container-btn { margin-top: -1%; margin-bottom: 8% } 
}

/* Mobiles wide */
@media (min-width: 413px) and (max-width: 599px) { 
    .hero-block { min-height: 220px; padding: 0 var(--spacing-m) } 
    .hero-block .container-upper-label { margin-top: 10%; margin-bottom: -3% } 
    .hero-block .container-text { margin-top: 12%; margin-bottom: 10% } 
    .hero-block .container-btn { margin-top: 14%; margin-bottom: 14% } 
}

/* Mobiles narrow */
@media (max-width: 412px) { 
    .hero-block { min-height: 230px; padding: 0 var(--spacing-m) } 
    .hero-block .container-upper-label { margin-top: 11%; margin-bottom: -4% } 
    .hero-block .container-text { margin-top: 16%; margin-bottom: 20% } 
    .hero-block .container-btn { margin-top: -2%; margin-bottom: 15% } 
}


/* ====== Elements of hero block ====== */

.hero-block .container-upper-label,
.hero-block .container-text, 
.hero-block .container-btn { position: relative } 

/* ELEMENTS: Upper label */
.hero-block .container-upper-label { display: block }

.hero-block .container-upper-label span {
    font-weight: 500; padding: 2px 10px 2px 10px;
    font-size: var(--hero-upper-label-font-size);
    color: inherit;
}

.hero-block:not(.text-center-desktop) .container-upper-label,
.hero-block:not(.text-center-mobile)  .container-upper-label { margin-left: -0.5% }


/* ELEMENTS: Headings */

.hero-block h1 { font-size: var(--hero-h1-full); line-height: 1.2 }
.hero-block h2 { font-size: var(--hero-h2-full); font-weight: 500; line-height: 1.3 }

.hero-block h1.text-shadow { text-shadow: 2px 2px 2px var(--gray-800) }
.hero-block h2.text-shadow { text-shadow: 1px 1px 1px var(--gray-800) }

@media (min-width: 1025px) { 
    .hero-block h1 { letter-spacing: -2px; } 
    .hero-block h2 { letter-spacing: -1px; } 
}

@media (max-width: 1024px) {     
    .hero-block h1 { letter-spacing: -1px; } 
    .hero-block h2 { letter-spacing: 0; line-height: 1.4 }  
}

/* Long text h1 */
.hero-block .text-long h1 { font-size: calc(var(--hero-h1-full) * 0.7); line-height: 1.2 }

/* Long text h2 */
.hero-block .text-long h2  {
    font-size: calc(var(--hero-h2-full) * 0.9);
    font-weight: 400; line-height: 1.3; letter-spacing: 0;
}

/* Long text on tablets/desktops/laptops */
@media (min-width: 768px) {
    .hero-block h2, .hero-block .text-long h1 { letter-spacing: 0 }
}

/* == 50% text width 811px and wider == */
@media (min-width: 811px) {
    /* Narrow (50%-wide) text: left-aligned */
    .hero-block.text-width-50 .container-text { width: 50% } 
    .hero-block.text-width-50 .container-btn { width: 70% }   

    /* Narrow (50%-wide) text: center-aligned */
    .hero-block.text-center-desktop.text-width-50 .container-text { 
        width: 50%; margin-left: auto; margin-right: auto 
    }

    .hero-block.text-center-desktop.text-width-50 .container-btn { 
        width: 70%; margin-left: auto; margin-right: auto 
    }   

    .hero-block.text-width-50 h1 {
        letter-spacing: -1px;
        font-size: calc(var(--hero-h1-full) * 0.9);
    }

    .hero-block.text-width-50 .text-long h1 {
        font-size: calc(var(--hero-h1-full) * 0.6);
    }

    .hero-block.text-width-50 h2 {
        font-size: calc(var(--hero-h2-full) * 0.9);
        letter-spacing: 0;
    }

    .hero-block.text-width-50 .text-long h2 {
        font-size: calc(var(--hero-h2-full) * 0.9);
        letter-spacing: 0;
    }
}


/* Long text on mobiles */
@media (max-width: 767px) {
    .hero-block h1, .hero-block .text-long h1 { letter-spacing: -1px }
    .hero-block h2, .hero-block .text-long h2 { letter-spacing: 0 }  
}

/* ===== Vertical spacing between heading and sub-heading ==== */

/* Biggest screens */
@media (min-width: 2561px) { 
    .hero-block h1 { margin-bottom: 1.25% } 
    .hero-block .text-long h1 { margin-bottom: 2.5% } 
    .hero-block.text-width-50 h1, .hero-block.text-width-50 .text-long h1 { margin-bottom: 4% }
    .hero-block .container-upper-label + .text-long { margin-top: 12% }
}

/* Bigger screens */
@media (min-width: 1921px) and (max-width: 2560px) {
    .hero-block h1 { margin-bottom: 1.25% } 
    .hero-block .text-long h1 { margin-bottom: 2.5% } 
    .hero-block.text-width-50 h1, .hero-block.text-width-50 .text-long h1 { margin-bottom: 4% }
    .hero-block .container-upper-label + .text-long { margin-top: 10% }
}

/* Modern desktops/laptops */
@media (min-width: 1441px) and (max-width: 1920px) { 
    .hero-block h1 { margin-bottom: 1.25% } 
    .hero-block .text-long h1 { margin-bottom: 2.5% } 
    .hero-block.text-width-50 h1, .hero-block.text-width-50 .text-long h1 { margin-bottom: 3% }
    .hero-block .container-upper-label + .text-long { margin-top: 8% }
}

/* Regular desktops/laptops */
@media (min-width: 1025px) and (max-width: 1440px) { 
    .hero-block h1 { margin-bottom: 1.25% } 
    .hero-block .text-long h1 { margin-bottom: 2.5% } 
    .hero-block.text-width-50 h1, 
    .hero-block.text-width-50 .text-long h1 { margin-bottom: 5% } 

}
/*
@media (min-width: 1201px) and (max-width: 1440px) { 
    .hero-block .container-upper-label + .text-long { margin-top: 12% }
}

@media (min-width: 1025px) and (max-width: 1200px) { 
    .hero-block .container-upper-label + .text-long { margin-top: 9% }
} */


/* Tablets: Landscape */
@media (min-width: 811px) and (max-width: 1024px) {
    .hero-block h1 { margin-bottom: 1.25% } 
    .hero-block .text-long h1 { margin-bottom: 2.5% } 
    .hero-block.text-width-50 h1, .hero-block.text-width-50 .text-long h1 { margin-bottom: 8% } 
    .hero-block .container-upper-label + .text-long { margin-top: 7% }
}

/* Smaller Tablets: Portrait */
@media (min-width: 600px) and (max-width: 810px) {
    .hero-block h1 { margin-bottom: 1.25% } 
    .hero-block .text-long h1 { margin-bottom: 2.5% } 
    .hero-block .container-upper-label + .text-long { margin-top: 9% }
}

/* Mobiles wide */
@media (min-width: 413px) and (max-width: 599px) { 
    .hero-block h1 { margin-bottom: 5% } 
    .hero-block .text-long h1 { margin-bottom: 6%; line-height: 1.2 } 
    .hero-block .container-upper-label + .text-long { margin-top: 11% }
}

/* Mobiles narrow */
@media (max-width: 412px) { 
    .hero-block h1 { margin-bottom: 5% } 
    .hero-block .text-long h1 { margin-bottom: 6%; line-height: 1.2 } 
    .hero-block .container-upper-label + .text-long { margin-top: 14% }
}

/* Start text 50% horizontally */
@media (min-width: 811px) {
    .hero-block.text-width-50.text-start-center .container-upper-label { margin-left: 49.25% }
    .hero-block.text-width-50.text-start-center .container-text,
    .hero-block.text-width-50.text-start-center .container-btn { margin-left: 50% }
}


/* ELEMENTS: Buttons */
.hero-block a.btn {
    position: relative; display: inline-block;
    text-decoration: none; font-weight: 600; border-style: solid;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px)/(1920 - 320)));
}

@media (min-width: 1025px) { .hero-block a.btn { padding: 15px 22px 16px 22px; border-width: 2px } }
@media (max-width: 1024px) { .hero-block a.btn { padding: 12px 22px 13px 22px; border-width: 2px } }

/* ====== Button positioning ====== */

.hero-block .container-btn,
.hero-block.text-center-desktop .container-btn,
.hero-block.text-center-mobile .container-btn { display: flex } 

@media (min-width: 768px) {
    .hero-block .container-btn a.btn { justify-content: flex-start } 
    .hero-block.text-center-desktop .container-btn { justify-content: center }  
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-block.text-width-50 a.btn { padding: 16px 22px;
        font-size: calc(17px + (21 - 16) * ((100vw - 768px)/(1920 - 768)));
    }
}

@media (min-width: 1025px) {
    .hero-block.text-width-50 a:nth-child(2) { margin-left: var(--spacing-m) }
}

@media (min-width: 601px) and (max-width: 767px) { 
    .hero-block .container-btn { flex-direction: row } 
    .hero-block .container-btn a.btn { justify-content: flex-start } 
    .hero-block.text-center-mobile .container-btn { justify-content: center }  
    .hero-block a:nth-child(2) { margin-left: var(--spacing-m) } 
}

@media (max-width: 600px) { 
    .hero-block .container-btn { flex-direction: column; align-self: flex-start }
    .hero-block .container-btn a.btn { align-self: flex-start } 
    .hero-block.text-center-mobile .container-btn a.btn { align-self: center }   
    .hero-block a:last-child { margin-top: var(--spacing-m) }
}

/* =========== 'HERO BLOCK': SINGLE-COLUMN VISUAL ========== */

/* Height and horizontal/vertical padding */
@media (min-width: 1537px) { .hero-block > figure {  margin-bottom: 5% } } 
@media (min-width: 1140px) and (max-width: 1536px) { .hero-block > figure { margin-bottom: 6% } } 
@media (min-width: 1025px) and (max-width: 1139px) { .hero-block > figure { margin-bottom: 7% } } 
@media (min-width: 768px) and (max-width: 1024px) { .hero-block > figure { margin-bottom: 5% } }
@media (min-width: 540px) and (max-width: 767px) { .hero-block > figure { margin-bottom: 9% } }
@media (max-width: 539px) { .hero-block > figure { margin-bottom: 14% } }
/* No buttons */
@media (max-width: 412px) { .hero-block .container-text + figure { margin-top: -10% } }

/* Figure widths: 100% */
@media (min-width: 1921px) {
    /* left-aligned */
    .hero-block.figure-width-100 > figure { width: 150%  }    
    /* center-aligned */
    .hero-block.text-center-desktop.figure-width-100 > figure { 
        width: 150%; margin-left: -25%; margin-right: -25%
    }
}

/* Video widths on desktops/laptops only */
@media (max-width: 1920px) {
    /* left-aligned */ 
    .hero-block.figure-width-100 > figure { width: 130% }    
    /* center-aligned */
    .hero-block.text-center-desktop.figure-width-100 > figure { 
        width: 130%; margin-left: -15%; margin-right: -15%
    }
}

/* Figure widths: 50% */
@media (min-width: 600px) {
    /* left-aligned */
    .hero-block.figure-width-50 > figure { width: 65% }    
    /* center-aligned */
    .hero-block.text-center-desktop.figure-width-50 > figure { 
        width: 65%; margin-left: auto; margin-right: auto
    }
}


/* ====== 'HERO BLOCK': FULL WIDTH/HEIGHT IMAGE OR VIDEO ====== */

/* Default colours */
.hero-bg { background-color: var(--slate-900) }
.hero-bg .container-upper-label span { color: var(--slate-050) }
.hero-bg h1 { color: var(--slate-050) }
.hero-bg h2 { color: var(--slate-050) }

.hero-bg a.btn-primary:link, 
.hero-bg a.btn-primary:visited {
    color:            var(--slate-900);
    background-color: var(--slate-050);
    border-color:     var(--slate-050);
} 

.hero-bg a.btn-primary:focus, 
.hero-bg a.btn-primary:hover, 
.hero-bg a.btn-primary:active {
    color:            var(--slate-050);
    background-color: var(--slate-600);
    border-color:     var(--slate-600);
}

.hero-bg a.btn-secondary:link, 
.hero-bg a.btn-secondary:visited {
    color:            var(--slate-050);
    background-color: var(--trans-000);
    border-color:     var(--slate-050);
} 

.hero-bg a.btn-secondary:focus, 
.hero-bg a.btn-secondary:hover, 
.hero-bg a.btn-secondary:active {
    color:            var(--slate-050);
    background-color: var(--slate-600);
    border-color:     var(--slate-600);
}

.hero-bg .container-upper-label { color: var(--slate-050) }
.hero-bg .container-upper-label span { font-weight: 600 }


/* ====== Minimum heights ====== */

/* Biggest screens */
@media (min-width: 2561px) { 
    .hero-bg { min-height: calc(100vw / 3.2); padding: 0 var(--spacing-l) } 
    .hero-bg .container-upper-label { margin-top: 7%; margin-bottom: -6%  } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 12% } 
    .hero-bg .container-btn { margin-bottom: 6% }
    .hero-bg .container-text.text-long + .container-btn { margin-top: -5% }
}

/* Biggest screens */
@media (min-width: 2561px) { 
    .hero-bg { min-height: calc(100vw / 3.2);  padding: 0 var(--spacing-l) } 
    .hero-bg .container-upper-label { margin-top: 8%; margin-bottom: -4%  } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 12% } 
    .hero-bg .container-btn { margin-bottom: 6% }
    .hero-bg .container-text.text-long + .container-btn { margin-top: -5% }
}

/* Bigger screens */
@media (min-width: 1921px) and (max-width: 2560px) {
    .hero-bg { min-height: calc(100vw / 3.2); padding: 0 var(--spacing-l) }  
    .hero-bg .container-upper-label { margin-top: 8%; margin-bottom: -4%  } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 12% } 
    .hero-bg .container-btn { margin-bottom: 6% }
    .hero-bg .container-text.text-long + .container-btn { margin-top: -5% }
}

/* Modern desktops/laptops */
@media (min-width: 1441px) and (max-width: 1920px) { 
    .hero-bg { min-height: calc(100vw / 3.2) } 
    .hero-bg .container-upper-label { margin-top: 8%; margin-bottom: -4%  } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 12% } 
    .hero-bg .container-btn { margin-bottom: 6% }
    .hero-bg .container-text.text-long + .container-btn { margin-top: -4% }
}

/* Regalar desktops/laptops */
@media (min-width: 1025px) and (max-width: 1440px) {
    .hero-bg { min-height: calc(100vw / 3.2) }  
    .hero-bg .container-upper-label { margin-top: 6%; margin-bottom: -4% } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 10% } 
    .hero-bg .container-btn { margin-bottom: 6% }
    .hero-bg .container-text.text-long + .container-btn { margin-top: -2.8% }
}

/* Tablets: Landscape */
@media (min-width: 811px) and (max-width: 1024px) {
    .hero-bg { min-height: calc(100vw / 3.5); padding: 0 var(--spacing-s) } 
    .hero-bg .container-upper-label { margin-top: 6%; margin-bottom: -4% } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 10% } 
    .hero-bg .container-btn { margin-bottom: 8% }
    .hero-bg .container-text.text-long + .container-btn { margin-top: -2.8% }
}

/* Smaller Tablets: Portrait */
@media (min-width: 600px) and (max-width: 810px) {
    .hero-bg { min-height: calc(100vw / 3.8 ); padding: 0 var(--spacing-m) } 
    .hero-bg .container-upper-label { margin-top: 6%; margin-bottom: -4%  } 
    .hero-bg .container-text { margin-top: 8%; margin-bottom: 14% } 
    .hero-bg .container-btn { margin-bottom: 12% }
    .hero-bg .container-text.text-long { margin-top: 14% } 
}

/* Mobiles */
@media (max-width: 599px) { 
    .hero-bg { min-height: 400px; padding: 0 var(--spacing-m) } 
    .hero-bg .container-upper-label { margin-top: 10%; margin-bottom: -4% } 
    .hero-bg .container-text { margin-top: 10%; margin-bottom: 18% } 
    .hero-bg .container-btn { margin-bottom: 16% } 
    .hero-bg .container-text.text-long { margin-top: 14% } 
}


/* ====== Stacking order (Z-INDEX) of 'hero block' elements ====== */

/* Text IN FRONT of overlay and full-width image */

.hero-block .container-upper-label,
.hero-block .container-text, 
.hero-block .container-btn { z-index: 3 } 

/* Full-width image/video BEHIND text and BEHIND overlay */
.hero-block .container-media {
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
}

/* Full-width image BEHIND text and BEHIND overlay */
.hero-block .container-media {
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden;
}

/* Image/video completely FILLS hero block */
.hero-block .container-media {
    display: flex; justify-content: center; align-items: center; overflow: hidden 
}

.hero-block .container-media * { 
    position: absolute; height: 100%; width: 100%; object-fit: cover;
}

@media (max-width: 767px) {
    .hero-bg .container-media.push-to-right * { object-position: 10% center }
    .hero-bg .container-media.pull-to-left * { object-position: 82% center }
}

/* On mobiles, only left side of image visible. */
@media (max-width: 767px) {
    .hero-block .container-media.show-left { justify-content: flex-start }
}

/* On mobiles, only right side of image visible. */
@media (max-width: 767px) { 
    .hero-block .container-media.show-right { justify-content: flex-end }
}

/* Headings sizes */
.hero-bg h1 { font-size: calc(var(--hero-h1-full) * 1.2); line-height: 1.2 }
.hero-bg h2 { font-size: calc(var(--hero-h2-full) * 1.1); font-weight: 400; line-height: 1.3 }

/* Overlay BEHIND text and IN FRONT of full-width image */
.hero-bg .container-overlay {
    position: absolute; z-index: 2;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: linear-gradient(rgba(0,0,0,var(--overlay-opacity)),rgba(0,0,0,var(--overlay-opacity)));
}

/*
@media (min-width: 768px) {
    .hero-block .container-overlay {
        background-image: linear-gradient(var(--overlay-direction-desktop), rgba(0,0,0,var(--overlay-trans-start-desktop)),rgba(0,0,0,var(--overlay-trans-end-desktop)));
    }
}

@media (max-width: 767px) {
    .hero-block .container-overlay {
        background-image: linear-gradient(var(--overlay-direction-mobile), rgba(0,0,0,var(--overlay-trans-start-mobile)),rgba(0,0,0,var(--overlay-trans-end-mobile)));
    }
}
*/

/* ============== 'HERO BLOCK': TWO COLUMN =========== */

/* ====== Maximun width of content ====== */

/* ====== Minimum heights ====== */

/* Biggest screens */
@media (min-width: 2561px) { 
    .hero-half { min-height: calc(100vw / 3.8);  
        padding-left: calc((100% - 1140px)/2);
        padding-right: calc((100% - 1140px)/2);
    } 
    .hero-half .container-upper-label { margin-top: 8%; margin-bottom: -4%  } 
    .hero-half .container-text { margin-top: 8%; margin-bottom: 6% } 
    .hero-half .container-btn { margin-bottom: 6% }
    .hero-half .container-text.text-long + .container-btn { margin-top: -5% }
}

/* Bigger screens */
@media (min-width: 1921px) and (max-width: 2560px) {
    .hero-half { min-height: calc(100vw / 4); 
        padding-left: calc((100% - 1140px)/2);
        padding-right: calc((100% - 1140px)/2);
    }  
    .hero-half .container-upper-label { margin-top: 8%; margin-bottom: -4%  } 
    .hero-half .container-text { margin-top: 8%; margin-bottom: 0% } 
    .hero-half .container-btn { margin-bottom: 6% }
    .hero-half .container-text.text-long + .container-btn { margin-top: -5% }
}

/* Modern desktops/laptops */
@media (min-width: 1441px) and (max-width: 1920px) { 
    .hero-half { min-height: calc(100vw / 3.4);
        padding-left: calc((100% - 1140px)/2);
        padding-right: calc((100% - 1140px)/2);
    } 
    .hero-half .container-upper-label { margin-top: 8%; margin-bottom: -4%  } 
    .hero-half .container-text { margin-top: 8%; margin-bottom: 6% } 
    .hero-half .container-btn { margin-bottom: 6% }
    .hero-half .container-text.text-long + .container-btn { margin-top: -4% }
}

/* Regular desktops/laptops */
@media (min-width: 1025px) and (max-width: 1440px) {
    .hero-half { min-height: calc(100vw / 3.2);
        padding-left: calc((100% - 1140px)/2);
        padding-right: calc((100% - 1140px)/2);
    }  
    .hero-half .container-upper-label { margin-top: 0; margin-bottom: 32px  } 
    .hero-half .container-text { margin-top: 8%; margin-bottom: 10% } 
    .hero-half .container-btn { margin-bottom: 6% }
    .hero-half .container-text.text-long + .container-btn { margin-top: -2.8% }
}

/* Tablets: Landscape */
@media (min-width: 811px) and (max-width: 1024px) {
    .hero-half { min-height: calc(100vw / 3.5); padding: 0 var(--spacing-s) } 
    .hero-half .container-upper-label { margin-top: 6%; margin-bottom: -4% } 
    .hero-half .container-text { margin-top: 8%; margin-bottom: 10% } 
    .hero-half .container-btn { margin-bottom: 8% }
    .hero-half .container-text.text-long + .container-btn { margin-top: -2.8% }
}

/* Smaller Tablets: Portrait */
@media (min-width: 600px) and (max-width: 810px) {
    .hero-half { min-height: calc(100vw / 3.8 ); padding: 0 var(--spacing-xs) } 
    .hero-half .container-upper-label { margin-top: 6%; margin-bottom: -4%  } 
    .hero-half .container-text { margin-top: 8%; margin-bottom: 42px} 
    .hero-half .container-btn { margin-bottom: 12% }
    .hero-half .container-text.text-long { margin-top: 14% } 
}

/* Mobiles */
@media (max-width: 599px) { 
    .hero-half { min-height: 400px; padding: 0 var(--spacing-m) } 
    .hero-half .container-upper-label { margin-top: 10%; margin-bottom: -4% } 
    .hero-half .container-text { margin-top: 10%; margin-bottom: 36px } 
    .hero-half .container-btn { margin-bottom: 16% } 
    .hero-half .container-text.text-long { margin-top: 14% } 
}

/* Column order */
@media (min-width: 768px) {
    .hero-half.half-image-right .col-2:nth-child(1) { order: 1; }
    .hero-half.half-image-right .col-2:nth-child(2) { order: 2; }
    .hero-half.half-image-left  .col-2:nth-child(1) { order: 2; }
    .hero-half.half-image-left  .col-2:nth-child(2) { order: 1; }
}

/* Desktop */
@media (min-width: 768px) {
    /* Columns side-by-side */
    .hero-half { 
        display: flex; flex-direction: row; justify-content: center; 
    }
    /* Column content top-to-bottom */
    .hero-half .col-2 { 
        display: flex; flex-direction: column; justify-content: space-evenly; 
        width: 50%; overflow: hidden;
    }
    /* Media container and media */
    .hero-half .col-2 .container-media { display: block }
    .hero-half .container-media * { 
        display: block; width: 50vw; height: 100%; object-fit: cover 
    }
    /* When text at left and image at right */
    .hero-half .col-2:nth-child(2) .container-media { margin-left: 50% }
}

/* Desktops: horizontal padding in column with text */
@media (min-width: 1537px) { 
    .hero-half .col-2 > *:not(.container-media) { padding: 0 var(--spacing-l) } 
}

@media (min-width: 1140px) and (max-width: 1536px) { 
    .hero-half .col-2 > *:not(.container-media) { padding: 0 var(--spacing-m) } 
}

@media (min-width: 768px) and (max-width: 1139px) { 
    .hero-half .col-2 > *:not(.container-media) { padding: 0 var(--spacing-m) } 
}

/* Mobiles */
@media (max-width: 767px) {
    /* Top-to-bottom */
    .hero-half { flex-direction: column; justify-content: flex-start; padding: 0 }
    /* Columns are blocks, not flex */
    .hero-half .col-2 { width: 100%; display: block }
    .hero-half .container-upper-label, 
    .hero-half .container-text,
    .hero-half .container-btn,
    .hero-half .container-media { position: relative } 
    .hero-half .container-media * { position: relative; display: block }
    /* Horozontal padding in text column */
    .hero-half .col-2 > :not(.container-media) { padding: 0 var(--spacing-m) }
}

/* Headings size */
.hero-half h1 {
    font-size: calc(40px + (43 - 40) * ((100vw - 320px) / (560 - 320)));
}

.hero-half h2 {
    font-size: calc(21px + (22 - 21) * ((100vw - 320px) / (560 - 320)));
}

@media (min-width: 768px) {
    .hero-half .text-long h1 {
        font-size: calc(32px + (58 - 32) * ((100vw - 768px) / (560 - 768)));
    }
    .hero-half .text-long h2 {
        font-size: calc(20px + (28 - 20) * ((100vw - 768px) / (560 - 768)));
    }
}

/* Buttons size */
@media (min-width: 1440px) {
    .hero-half a.btn {
        padding: 16px 28px 18px 28px; border-width: 2px;
        font-size: calc(18px + (21 - 18) * ((100vw - 320px)/(1920 - 320)));
    }
}

@media (min-width: 1025px) and (max-width: 1439px) { 
    .hero-half .col-2 a.btn { padding: 16px 20px } 
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-half .col-2 .container-btn a.btn { padding: 12px 26px 14px 22px }
}

/* Button positioning */
@media (min-width: 1025px) {
    .hero-half .col-2 a.btn { display: inline-block } /* Side-by-side */
    .hero-half .col-2 .container-btn a:nth-child(2) { margin-left: var(--spacing-m) }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-half .container-btn { /* Stacked */
        display: flex; flex-direction: column; align-self: flex-start
    }
    .hero-half .col-2 .container-btn a:last-child  { 
        margin-left:0 ;margin-top: var(--spacing-xl) 
    }
}

@media (min-width: 767px) {
    .hero-block a:nth-child(2) { margin-left: var(--spacing-s) }
}

@media (max-width: 767px) {
    .hero-half .col-2 { max-width: 500px; margin-bottom: 0  }

    .hero-half .col-2 .container-media { 
        max-width: 500px; text-align: center; margin-left: auto; margin-right: auto;  
    }

    .hero-half .col-2 .container-media * { max-width: 50vh; width: auto }

    .hero-half .col-2:nth-child(1) .container-upper-label { margin-top: var(--spacing-m) } 
    .hero-half .col-2:nth-child(2) .container-upper-label { margin-top: 0 } 

    .hero-half .col-2 .container-btn { 
        display: flex; 
        flex-direction: column; 
        display: inline-block;
        max-width: 400px;
        margin-top: 12px;
    }
  
   .hero-half.text-center-mobile .container-btn { 
        align-self: center;
    }

    .hero-half .col-2 .container-btn a:last-child  { 
        margin-left: 0;
        margin-top: var(--spacing-m) 
    }

    .hero-half .col-2 .container-btn {
        margin-bottom: 48px;
    }

    .hero-half .col-2 figure { margin-bottom: 48px; }
    /* (.hero-half .col-2 { min-height: 50vh } */

    /* Text in left column. Visual in right */
    /* Flex first column, space evenly */
    /* Visual in right column. Text in left */
    /* Flex second column, space evenly */
}

/* Text at left. Visual at right */
@media (max-width: 599px) {
    .hero-half .col-2:nth-child(1) .container-text { margin-top: var(--spacing-m) }
    .hero-half .col-2:nth-child(1) .container-upper-label { margin-top: var(--spacing-m) }
}

/* Text at left. Visual at right */
@media (min-width: 600px) and (max-width: 769px) {
    .hero-half .col-2:nth-child(1) { margin-top: var(--spacing-s) }
    .hero-half .col-2:nth-child(1) .container-upper-label { margin-top: var(--spacing-xl) * -1 }
}

/* Visual at left. Text at right */
@media (max-width: 385px) {
    .hero-half .col-2:nth-child(2) .container-text { margin-top: 0 !important }
}

@media (min-width: 386px) and (max-width: 599px) {
    .hero-half .col-2:nth-child(2) .container-text { margin-top: -20px !important }
}

@media (min-width: 600px) and (max-width: 769px) {
    .hero-half .col-2:nth-child(2) .container-text { margin-top: 0px !important }
}

/* On mobiles, only left side of image visible. */
@media (max-width: 767px) {
    .hero-half .container-media.show-left { justify-content: flex-start }
}

/* On mobiles, only right side of image visible. */
@media (max-width: 767px) { 
    .hero-half .container-media.show-right { justify-content: flex-end }
}


/* ========== MENUS AND TWO COLUMN HEADER =========== */

@media (min-width: 1921px) { 
    nav.container-menu.menu-sticky ~ header.hero-half { min-height: calc(540px + 72px) }
}

@media (min-width: 1367px) and (max-width: 1920px) { 
    nav.container-menu.menu-sticky ~ header.hero-half { min-height: calc(520px + 72px) }
}

@media (min-width: 1140px) and (max-width: 1366px) { 
    nav.container-menu.menu-sticky ~ header.hero-half { min-height: calc(500px + 72px) }
}

@media (min-width: 1025px) and (max-width: 1139px) { 
    nav.container-menu.menu-sticky ~ header.hero-half { min-height: calc(440px + 72px) }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    nav.container-menu.menu-sticky ~ header.hero-half { min-height: calc(500px + 72px) }
}

@media (max-width: 767px) {
    nav.container-menu.menu-sticky ~ header.hero-half { min-height: calc(480px + 72px) }
}


