
.col-1 h2 {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 12px;
}

.col-1 h3 { margin-top: 42px; margin-bottom: 4px; }
.col-1 p { font-size: 18px; margin-bottom: 20px; font-weight: 700 }
.col-1 p { font-weight: 600 }

.col-1 h4 { 
    background-color: #222; color: #fff; padding: 8px 18px; 
    margin-top: 20px; margin-bottom: 10px; display: inline-block; font-size: 20px; 
}