

h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 4px;
    margin-bottom: 64px;
}

h2 {
    font-size: 28px;
    margin-bottom: 4px;
    margin-top:54px;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-top:0;
}
