/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 72px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* Help prevent overflow of long words/names/URLs */
/* h1, h2, h3, h4, p, li { word-break: break-word; hyphens: auto } */
/* p, li { word-break: break-word; hyphens: auto } */
  
/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }

/* Default font and colours */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4 { 
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
	color: #000;
	margin-bottom: 4px
}

h5 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	margin-bottom: 4px
}

p, li, td { font-family: 'Open Sans', sans-serif; color: #023753; }


/* ==== CONTAINER FOR SINGLE COLUMN OF CONTENT ==== */

/* Desktop */
@media (min-width:768px) { 
	section { padding: 3% 21% 1% 21% } 
}

/* Mobiles */
@media (max-width:767px) { 
	section { padding: 4% 8% 2% 9% }
}

/* Headings */
h1 {
	line-height: 1.3; margin-bottom: 12px;
	 font-size: calc(32px + (58 - 32) * ((100vw - 320px)/(1600 - 320)));
}

h2 {
	line-height: 1.2;
	font-size: calc(26px + (38 - 26) * ((100vw - 320px)/(1600 - 320)));
	color: #000;
}

h3 {
	line-height: 1.3;
	color: #333;
	font-size: calc(22px + (30 - 22) * ((100vw - 320px)/(1600 - 320)));
}

h4 {
	line-height:1.3;
	font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
	border-top: solid 2px #222; 
	padding-top: 6px; margin-top: 64px; margin-bottom: 12px;
}

h5 {
	font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320)));
	font-weight: bold;
}

/* Paragraphs and bullets */
section p, section li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #023753;
	font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1600 - 320)));
}

ul li { list-style-type: none }
ul li:before { 
	display: inline-block;
	color: #888;
	transform: translateY(2px);
	content: '\279C';
	font-size: 130%;
}

p b,
ul li b,
ol li b,
ol li ul li b { color: #222 }

p a, li a { 
	font-weight: normal;
	color: #230cea;
	color:#000;
	text-decoration: none;
	padding-bottom:2px;
	border-bottom-width: 2px;
	border-bottom-style: solid
}

p a:link, li a:link,
p a:visited, li a:visited {
	border-bottom-color: #230cea;
	border-bottom-color: #000;
}

p a:hover, li a:hover,
p a:active, li a:active {
	border-bottom-color: #f7df1e;
}

/* Desktops */
@media screen and (min-width: 768px) {
	h2 { margin: 0 0 4px 0 }
	h3 { margin: 48px 0 4px 0 }
	p  { margin: 0 0 24px 0; line-height: 1.6 }
	ul, ol { margin: 0 0 24px 20px }

	p + ul { margin-top: -12px }
	p + ol { margin-top: 0px }
	ul { margin: 0 0 32px 0 }
	ul { list-style-position: inside }
	ul li { 
		padding-left: 20px ;
		text-indent: -23px ;
		margin: 0 32px 12px 20px;
		line-height: 1.6
	}
	ul li:before { margin-right: 20px }

	ol li.space-below-extra { margin-bottom: 30px }
}


/* Mobiles */
@media screen and (max-width: 767px) {
	h2 { margin: 0 0 4px 0 }
	h3 { margin: 12px 0 4px 0 }
	p  { margin: 0 0 16px 0; line-height: 1.4 }
	ul, ol { margin: 0 0 12px 20px }

	p + ul { margin-top: -4px }
	p + ol { margin-top: -4px }
	ul { margin: 0 0 24px 0 }
	ul { list-style-position: inside }
	ul li { 
		line-height: 1.4;
		padding-left: 18px ;
		text-indent: -18px ;
		margin: 0 0 18px 18px
	}
	ul li:before { margin-right: 18px; font-size: 90% }
}

img { margin: 32px 0 40px 0 }

/* === Numbered Lists === */

      ol { list-style-type: none; counter-reset: li-counter }
 ol > li { position: relative }

ol >  li:before {
	position: absolute; top: 5px; left: -32px; line-height: 1; text-align: center; 
	border-radius: 50%; padding: 2px 4px 2px 3px; font-weight: bold; color: #fff; 
	background-color: #fff;
	content: counter(li-counter); counter-increment: li-counter;
	border:solid 2px #023753;
	color: #023753;
	font-size: 15px;

}

/* Desktops */
@media screen and (min-width: 768px) {
	ol { margin: 28px 0 20px 32px }
	ol > li:before { width: 26px; height: 26px; padding-top: 4px; padding-bottom: 12px }
	ol > li { margin-bottom: 16px; padding-left: 20px; line-height: 1.7; font-weight: normal  }
	ol > li img { margin: 20px 0 30px 0 }
	ol > li span.inside-ol,
	ul > li span.inside-ol { display: block; line-height:1 }
	ol > li > ul { margin: 12px 0 0 16px; list-style-type: disc }
	ol > li > ul > li { padding-left: 24px; margin: 0 0 12px 0 }
}

/* Mobiles */
@media screen and (max-width: 767px) {
	ol { margin: 0 0 20px 32px }
	ol > li:before { width: 20px; height: 22px; padding-top: 1px }
	ol > li { margin-bottom: 16px; padding-left: 16px; line-height: 1.4; font-weight: normal !important; }
	ol > li img { margin: 8px 0 12px 0 }

	li span.inside-ol { line-height: 0.6; display: block }
	ol > li > ul { margin: 4px 0 0 16px; list-style-type: disc }
	ol > li > ul > li { padding-left: 4px; margin: 0 0 12px 0 }
}


.console-log-outer-hide {
	max-height: 0;
	transition: max-height 0.4s ease-out;
	overflow: hidden;
}

.console-log-outer-show {
    max-height: 500px;
    transition: max-height 0.9s ease-in;
}

.console-log-show {
	opacity: 1;
	transition: opacity 0.4s;
	background-color: rgb(35,35,39);
	border-color: rgb(107,107,116);
}

.console-log-hide { 
    overflow: hidden;
	opacity: 0;
	transition: opacity 0.15s;
}

/* =================== JUMBOTRON =================== */

.jumbotron { 
	background: linear-gradient(#0460CD, #021b79); 
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 { font-weight:bold; color: #fff; letter-spacing: 1px; line-height: 1.2 }

.jumbotron h2 { font-weight: normal }

.jumbotron h1 { 
	font-size: calc(30px + (48 - 30) * ((100vw - 320px)/(1600 - 320)));
}

.jumbotron h2 { 
	font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
}

.jumbotron h3 { 
	text-transform:uppercase; font-family: sans-serif;
	margin-top: 0;
	font-size: calc(15px + (20 - 15) * ((100vw - 320px)/(1600 - 320)));
} 

.jumbotron h3 a { 
	text-decoration: none; color: #fff;
	border-bottom-width:2px;
	border-bottom-style: solid;
	padding-bottom: 3px
}

.jumbotron h3 a:link,
.jumbotron h3 a:visited { border-bottom-color: #fff  }
.jumbotron h3 a:hover,
.jumbotron h3 a:active { border-bottom-color: transparent }

/* Desktop */
@media (min-width:768px) {
	.jumbotron { 
		text-align: left;
		padding: 4% 20% 4% 20%;
		margin-bottom:32px;
	}
	.jumbotron h2 { margin-bottom: 3% }
	.jumbotron h3 { margin-bottom: 4% }
}


/* Mobiles */
@media (max-width:767px) {
	.jumbotron { 
		text-align: center; 
		padding: 6% 8% 8% 8%;
		margin-bottom: 5%;
	}
	.jumbotron h2 { margin-bottom: 6% }
	.jumbotron h3 { margin-bottom: 9% }
}

/* ============== LEARNING GOALS ================= */

.box-goals { 
	border: solid 1px lightgray; 
	background: #eee; 
	padding: 12px 20px 12px 30px;
	border-radius: 3px;
	margin-bottom: 20px;
	margin-top: -8px;
	background-color: #f3f5f9;
}

@media(max-width: 767px) {
	.box-goals { 
		padding: 12px 20px 10px 18px;
	}
}

.box-goals li { 
	font-size: calc(16px + (17 - 16) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.4;
	margin: 0 0 7px 20px;
	font-family: 'Open Sans', sans-serif;
}

.box-goals ul li::before {
    display: inline-block;
    color: #222;
    content: '\f058';
	font-family: "Font Awesome 5 Free", serif;
    font-size: 100%;
}

/* ============== TABLE OF CONTENTS ================= */


.box-toc { 
	border: solid 1px #d8f5fe; background: lightyellow; padding: 0 20px 24px 30px
}

.box-toc h2 { 
	font-weight: 400;
	color: #000;
}

.box-toc p a { 
	font-weight: normal;
	color: #000;
	text-decoration: none;
	padding-bottom:2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-weight: bold;
}

.box-toc p.toc-indent a { 
	font-weight: normal;
}


.box-toc p a:link,
.box-toc p a:visited {
	border-bottom-color: #000;
}

.box-toc p a:hover,
.box-toc p a:active {
	border-bottom-color: #f7df1e;
}

.box-toc p a.further-title { font-weight: bold }


.box-toc p.toc-indent {
	margin-left: 40px;
}


/* Desktops */
@media screen and (min-width: 768px) {
	.box-toc { padding: 22px 20px 22px 30px }
	.box-toc p { line-height: 1.8; margin-bottom: 8px; margin-top: 18px }
	.box-toc p.toc-indent { line-height: 1.4; margin-bottom: 6px; margin-top: 0px }
}

/* Mobiles */
@media screen and (max-width: 767px) {
	.box-toc { padding: 20px 20px 18px 20px }
	.box-toc p { line-height: 1.6 }
}


pre {
	font-family: 'Roboto Mono', monospace, sans-serif;
	color: #fff;
	font-weight: bold;
	font-weight: 400;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.8;
	margin: 12px 0 24px 0;
	padding: 16px 16px 18px 24px;
	background-color: rgb(24,53,75);
	background-color: rgb(26,53,91);
	background-color: rgb(36,58,94);
	background-color: #000;
	word-break: normal;
	hyphens: none;
	white-space: pre;
	border-radius: 6px;
	overflow-x: auto;
}

pre.language-html { color: rgb(128,128,128); color: #fff;  }
pre.language-html .token.selector { color: rgb(206,145,120) }
pre.language-html .token.content { color: #fff }
pre.language-html .blue-dark { color: rgb(86,156,202 ) }
pre.language-html .blue-light { color: rgb(156,220,254 ) }
pre.language-html .brown { color: rgb(206,145,120) }
pre.language-html .yellow { color: rgb(220,220,170) }
pre.language-html .green-bright { color: rgb(78,201,143) }
pre.language-html .white { color: #fff }

pre.language-css .token.asterisk { color: rgb(62,196,202) }
pre.language-css .token.class { color:  rgb(215,186,125) }
pre.language-css .token.punctuation { color: #fff }
pre.language-css .token.property { color: rgb(123,220,254) }
pre.language-css .token.number, pre.language-css .token.unit { color: rgb(181,206,168) }
pre.language-css .token.value-text { color: rgb(206,145,81) }
pre.language-css .purple { color: rgb(197,134,161); }

pre.language-html .token.comment,
pre.language-css  .token.comment { color: rgb(106,153,85) }
pre.language-html .yellow,
pre.language-css  .yellow { color: rgb(220,220,170) }
/*
span.bold { font-weight: bold}
span.comment { color: rgb(106,153,85) }
span.white { color: #fff; font-weight: bold }



span.green-light { color: rgb(147,206,168); font-style: normal; font-weight: bold }


span.green-bright { color: rgb(78,201,143) }

span.green-dark { color: rgb(106,153,85) }

span.var, span.purple { color: rgb(130,167,255); font-weight: bold }
span.blue-em { color: rgb(103,216,219); font-style:italic; font-weight: bold }

span.string { color: rgb(255,51,51); font-style:italic; font-weight: bold }
span.red { color: rgb(255,51,51); font-weight: bold }
span.green { color: #7FFF00; font-weight: bold }

span.orange { color: #FF7F50; font-style: normal; font-weight: bold }
span.orange-light { color: rgb(215,186,125); font-style: normal; font-weight: bold }
span.purple { color: rgb(197,134,161); font-style: normal; font-weight: bold }

span.orangered { color: orangered; font-style: italic; font-weight: bold }
span.erroneousLine { background: yellow; color: red; font-weight: bold }


.brown-code    { color: #f08d49}
.string        { color: #00fbca }
.blue-light    { color: rgb(123,220,254) }
.blue-dark     { color: rgb(86,156,214) }
.comment-code  { color: rgb(106,153,85) }
.keyword-code  { color: rgb(197,134,161) }
.function-code { color: rgb(220,220,170) }
.green-number  { color: rgb(181,206,168) } 
.deep-purple   { color: rgb(197,134,192) }

*/

p .fake-link,
ol > li .fake-link, 
ol > li > ul > li .fake-link, ul > li .fake-link { color: rgb(3,102,217) }
p .fake-link b, 
ol li .fake-link b,
ol li ul li .fake-link b {  font-weight: bold; color: rgb(3,102,217) }

h1 .text-mono, h2 .text-mono, h3 .text-mono { font-size: 92% }
p .text-mono, ul li .text-mono, ol li .text-mono { font-size: 78% }


span.syn { 
	color: #fff; 
	padding: 1px 6px 1px 6px;
	font-size: 90%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
	background-color: #f7df1e;
	color: #000;
}

span.syn-html { 
	color: #000;
	background-color: #230cea; 
	background-color: lightgray; 
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;

}



span.csyn { 
	background-color: #222; 
	color: rgb(241,199,51);
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}

span.atsyn { 
	background-color: #d8f5fe; 
	color: #222;
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}


/*
span.bold { font-weight: bold}
span.comment { color: rgb(106,153,85) }
span.white { color: #fff; font-weight: bold } */





/* ==== Text definitions === */
.defhead {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 48px 0 0 0;
	background-color: #f7df1e;
	padding: 6px 14px 6px 21px;
	color: #222;
	font-size: calc(15px + (16 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.deftext {
	margin: 0 0 48px 0;
	padding: 8px 14px 10px 20px;
	background-color: #ffffe0;
	border-left: solid 1px #f7df1e;
	border-right: solid 1px #f7df1e;
	border-bottom: solid 1px #f7df1e;
	color: #222;
	font-size: calc(15px + (16 - 15) * ((100vw - 320px)/(1600 - 320)));
	margin-bottom: 20px
}

h2 span, h3 span {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-weight: 500;
    letter-spacing: -2.5px;
	color:#888;
	font-size:98%;
}


/* ============== TABLES =================== */

.table-geo-one {
	margin: 24px 0 40px 0;
	border-top: solid 2px #044d6c;
	min-width: 50%;
	border-bottom: solid 1px #044d6c;
}

.table-geo-one th, .table-geo-one td {
	text-align: left;
	line-height: 1.4; margin: 0; padding: 7px 0 9px 0;
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
	vertical-align: top;
}

.table-geo-one td p { margin-bottom: 8px; font-size: 96%; letter-spacing: 0 }
.table-geo-one td p:last-child { margin-bottom:0 }

.table-geo-one th {
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.table-geo-one td hr { height: 2px; padding: 0; margin: 0}

table.table-gray {
	background-color: #f0f5f4;
	width: 100%;
	margin-bottom: 32px;
	padding:20px 20px 10px 20px;
}

table.table-gray td {
  vertical-align: top;
}

table.table-gray td p:not(:last-child) {
  margin-bottom: 12px;
}

table.table-gray thead {
	background-color: gray;
	color: #fff;
}

table.table-gray thead th p {
	background-color: gray;
	color: #fff;
}

.table-js {
	background-color: #f0f5f4;
	background-color: #ecf0f1;
	width: 100%;
	padding: 0;
	margin: 0 0 32px 0;
	border-collapse: collapse;
}

.table-js thead th {
	text-align: left;
	background-color: gray;
	background-color: #636e72;
	border-color: gray;
	color: #fff;
}

.table-js thead tr th p {
	margin: 0; color: #023753;
}

.table-js thead tr th p b {
	margin: 0; color: #fff;
}


.table-js th, .table-js td {
	vertical-align: top;
	padding: 10px 18px 10px 20px;
}

.table-js tbody td p { 
	margin-bottom: 8px; 
}

h3 span.exercise-number {
	padding: 1px 10px 2px 10px;
	background-color: #183153;
	color: #f7df1e;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0;
	margin-right: 10px;
} 

/* =========== Screenshots ============= */
img.wider-110 { width: 110% }
img.wider-115 { width: 115% }
