.text-center { 
    text-align: center !important;
    margin-left: auto;
    margin-right: auto
}

.slide-in-top {
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom {
	animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes slide-in-top {
    0%   { transform: translateY(-1000px); opacity: 0 }
    100% { transform: translateY(0); opacity: 1 }
}

@keyframes slide-in-left {
    0% { transform: translateX(-1000px); opacity: 0 }
    100% { transform: translateX(0); opacity: 1 }
}

@keyframes slide-in-right {
    0% { transform: translateX(1000px); opacity: 0 }
    100% { transform: translateX(0); opacity: 1 }
}

@keyframes slide-in-bottom {
    0%   { transform: translateY(1000px); opacity: 0 }
    100% { transform: translateY(0); opacity: 1 }
}

@keyframes fade-in { 
    0%   { opacity: 0; }
    100% { opacity: 1 }
}


/* ==================== Videos ================== */

/* Video file */
.container-video-file {
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
}

.container-video-file video {
    width: 100%;
    height: auto;
}

/* YouTube Video */
.container-video-yt {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 32px;
 }
 
 .container-video-yt::after {
    padding-top: 56.25%;
    display: block;
    content: '';
 }
 
 .container-video-yt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

/* ============ IMAGE FANCY EFFECTS =========== */

figure { margin-top: 24px }
.img-shadow figure img {
    filter: drop-shadow(8px 8px 10px var(--drop-shadow));
}

.img-border figure img {
    border: solid 2px var(--img-border);
}

.img-corners-soft figure img {
    border-radius: 15px;
}

.img-rotate-clock figure img { transform: rotate(1deg) }
.img-rotate-cclock figure img { transform: rotate(-1deg) }

/* For square images only */
img.rounded { border-radius: 50% }

