<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Template Download | IBAT Web Design </title>

	<meta name="description" content="How to download the templates ZIP file. Developed for the Web Design Diploma course at IBAT College, Dublin.">

	<meta name="author" content="Brendan Munnelly">

	<link href="../assets/css/web-design-exercises.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-N54G36T');</script>
	<!-- End Google Tag Manager -->

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N54G36T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->




<div class="jumbotron">
	<h2>How to download the templates ZIP file</h2>
	<h3><a href="index.html" title="All HTML projects">Contents&nbsp;&nbsp;></a></h3>
	<h1>Project Templates</h1>
</div>

<section id="introduction" class="wrapper-content bg-white">
	<h2>Introduction</h2>
	<p>This takes you through the steps for downloading the HTML, CSS and image template files for use with your projects.</p>


</section>



<section id="project-folder-files" class="wrapper-content">
	<h2>Template folder and files</h2>
	<p>Here are the steps to follow.</p>
	<ol>
		<li>Download the following compressed file to your computer:<span class="inside-ol">&nbsp;</span>
		<a href="templates.zip">templates.zip</a></li>

		<li>Uncompress the ZIP file into your <b>websites</b> folder as shown below.
		<img src="assets/img/file-explorer-unzip-files.png" alt="file-explorer-unzip-files"></li>

		<li>This will create a sub-folder named <b>templates</b> inside your <b>websites</b> folder.

		<img src="assets/img/file-explorer-template-folder.png" alt="file-explorer-unzip-files"></li>

	</ol>

	<p>The contents of your <b>websites/templates</b> sub-folder should now look as shown below.</p>

	<img src="assets/img/file-explorer-full.png" alt="file-explorer-full">

	<p>That's it.</p>

	<p>Return to <a href="index.html">Contents</a>.</p>

	<p>&nbsp;</p>
</section>


<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
	window.cookieconsent.initialise({
	  "palette": {
		"popup": {
		  "background": "#000"
		},
		"button": {
		  "background": "#f1d600"
		}
	  },
	  "content": {
		"href": "https://www.munnelly.com/legal/"
	  }
	});
</script>


</body>
</html>

