/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto;
min-height: 100vh; text-rendering: optimizeSpeed }
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

body { font-family: 'Open Sans', sans-serif }


/* ============ SEMANTIC BLOCKS =========== */

header { width: 100% }

/* ============ WRAPPER FOR CONTENT =========== */

.wrapper {
	margin: 0 auto; padding: 0 16px; position: relative;
	display: flex; justify-content: space-between; flex-wrap: wrap
}

@media (max-width: 575px)                          { .wrapper { max-width: 90% } }
@media (min-width: 576px)  and (max-width: 767px)  { .wrapper { max-width: 90% } }
@media (min-width: 768px)  and (max-width: 1024px) { .wrapper { max-width: 92% } }
@media (min-width: 1025px) and (max-width: 1199px) { .wrapper { max-width: 88% } }
@media (min-width: 1200px) and (max-width: 1399px) { .wrapper { max-width: 94% } }
@media (min-width: 1400px)                         { .wrapper { max-width: 80% } }


/* ================== HEADER ==================== */

header {
	background: linear-gradient(#0460CD, #021b79);
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px 0;
}

/* Main content of header */
header h1, header h2, header content p { color: #fff }
header h1 {
    font-weight: 800; line-height: 1.3; letter-spacing: -1px;
    margin-bottom: 20px;
    font-size: calc(30px + (46 - 30) * ((100vw - 320px)/(1600 - 320)));
}

header h2 {
    font-weight: 400; line-height: 1.8;
    font-size: calc(16px + (20 - 16) * ((100vw - 320px)/(1600 - 320)));
}

header h2 a { text-decoration: underline solid; text-underline-position: under; font-weight: 600 }

header h2 a:link, header h2 a:visited  {
	color: #fff; text-decoration-color: #fff;
}

header h2 a:hover, header h2 a:hover, header h2 a:active  {
	color: yellow; text-decoration-color: yellow;
}

header content p { line-height: 1.6; color: #fff }

/* Small Mobiles */
@media (max-width: 500px) {
	header { padding: 9% 0 10% 0 }
	header .sidebar, header .content { width: 100% }
}

/* Big Mobiles */
@media (min-width: 501px) and (max-width: 767px) {
	header { padding: 6% 0 7% 0 }
	header .sidebar, header .content { width: 100% }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
	header { padding: 3.5% 0 3.7% 0; margin-bottom: 32px }
	header .sidebar { width: 25% }
	header .content { width: 72% }
    header h1 { font-size: calc(22px + (36 - 22) * ((100vw - 320px)/(1600 - 320))); }
    header h2 { font-size: calc(16px + (20 - 16) * ((100vw - 320px)/(1600 - 320))); }
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1199px){
	header { padding: 2.5% 0 2.7% 0; margin-bottom: 32px }
	header .sidebar { width: 24% }
	header .content { width: 70% }
}

/* Big Desktops */
@media (min-width: 1200px) {
	header { padding: 2.5% 0 2.7% 0; /* margin-bottom: 32px */ }
	header .sidebar { width: 25% }
	header .content { width: 75%; padding-right: 16% }
}

/* Sidebar of header */
header .sidebar picture img { margin-bottom: 20px; max-width: 300px }
header .sidebar div { display: flex }

/* Viewports */
@media (max-width: 767px) {
    header .sidebar div { flex-direction: row; margin-bottom: 22px }
    header .sidebar div p { margin-left: 14px; align-self: center }
}

@media (min-width: 768px) and (max-width: 1299px) {
    header .sidebar div { flex-direction: column }
    header .sidebar div p { margin-left: 0; margin-top: 12px; align-self: flex-start }
}

@media (min-width: 1300px)  {
    header .sidebar div { flex-direction: column }
    header .sidebar div p {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
		word-break: break-all;
    }
}

header .sidebar div img { border-radius: 50%; max-width: 60px; max-height: 60px; margin-bottom: 12px }
header .sidebar div p { color: #fff; line-height: 1 }

header .sidebar div .emailAnimation {
    animation: emailTextColor 2s step-end both;
}

@keyframes emailTextColor {
    from { color: yellow }
    to   { color: white }
}



/* ================== CONTENTS BLOCK ==================== */

/* Desktops  */
@media (min-width: 768px) { nav { padding: 1% 10% 1% 10%; margin-bottom: 24px } }

/* Mobiles */
@media (max-width: 767px) { nav { padding: 9% 8% 10% 8% } }

/* ============== TABLE OF CONTENTS ================= */

nav.box-toc {
	border: solid 1px #d8f5fe; background: #d8f5fe; padding: 0 20px 18px 30px
}

nav.box-toc h2 { font-weight: 400;	color: #230cea }

nav.box-toc p a {
	font-weight: 600;
	color: #230cea;
	text-decoration: none;
	padding-bottom:2px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

nav.box-toc p.toc-indent a { font-weight: 400 }


nav.box-toc p a:link, nav.box-toc p a:visited {
	border-bottom-color: #230cea;
}

nav.box-toc p a:hover, nav.box-toc p a:active {
	border-bottom-color: #000;
	transition: 0.2s
}

nav.box-toc p a.further-title { font-weight: 600 }

nav.box-toc p.toc-indent { margin-left: 40px }


/* Desktops */
@media (min-width: 768px) {
	nav.box-toc { padding: 18px 20px 32px 30px }
	nav.box-toc p { line-height: 1.8; margin-bottom: 8px; margin-top: 18px }
	nav.box-toc p.toc-indent { line-height: 1.4; margin-bottom: 6px; margin-top: 0 }
}

/* Mobiles */
@media (max-width: 767px) {
	nav.box-toc { padding: 20px 20px 18px 20px }
	nav.box-toc p { line-height: 1.6 }
}





/* ================== MAIN CONTENT AREA ==================== */

main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktops  */
@media (min-width: 768px) {
	/* main { padding: 3% 20% 2% 0 } */
	main { padding: 3px 20% 2% 0 }

	main section:last-child { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { main { padding: 9% 8% 10% 8% } }


/* ================== ASIDE AND ARTICLE ==================== */

/* Desktops  */
@media (min-width: 768px) {
	aside {
        width: 27.7%;
        top: 0.5%; height: 110vh; min-height: 200px; overflow: auto;
        position: -webkit-sticky; position: sticky;
        padding: 0 3% 0 5%;
		background-color: #ECF0F1;
		margin-bottom: -26px;
    }
    article { padding-top: 32px; width: 66%; min-height: 1000px }
}

/* Mobiles */
@media (max-width: 767px) { aside, article { width: 100% } }

aside:last-child, article:last-child { margin-bottom: 0 }
aside   > *:last-child,
article > *:last-child { margin-bottom: 0 }

/* Aside hyperlinks */
main aside h3 {
	font-size: calc(15px + (16 - 15) * ((100vw - 320px)/(1600 - 320)));
	margin-top: 18px; line-height: 1.4;
}

aside p {
	font-size: calc(15px + (15 - 15) * ((100vw - 320px)/(1600 - 320)));
	margin-bottom: 12px; line-height: 1.4;
}

aside p i, aside li i { color: #230cea }

aside p a, aside li a {
	text-decoration: underline solid;
	text-underline-position: under;
	font-weight: 600;
}

main aside p a:link,
main aside p a:visited,
main aside li a:link,
main aside li a:visited {
	color: #230cea
}

main aside p a:focus,
main aside p a:hover,
main aside p a:active,
main aside li a:focus
main aside li a:active,
main aside li a:hover {
	color: #222;
	transition: 0.3s;
}

main aside p a.menu-item-selected { font-weight: 700 }

/* ================== SECTIONS ==================== */

/* Desktops */
@media (min-width: 768px) { section { padding: 1.5% 0 5% 0 } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 4% 0 2% 0 } }

/* Section: headings */
section h1, section h2, section h3, section h4 {
	font-weight: 400;
    color: #230cea;
	line-height: 1.1;
	font-family: 'Open Sans Condensed', 'Georgia', serif;
}

/* Desktops */
@media (min-width: 768px) {
	section h2 { margin: 0 0 4px 0 }
	section h3 { margin: 48px 0 4px 0 }
}

/* Mobiles */
@media (max-width: 767px) {
	section h2 { margin: 0 0 4px 0 }
	section h3 { margin: 28px 0 4px 0 }
}

section h2 {
	font-size: calc(26px + (44 - 26) * ((100vw - 320px)/(1600 - 320)));
}

section h3 {
	font-size: calc(22px + (36 - 22) * ((100vw - 320px)/(1600 - 320)));
}

section h4 {
	font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
	border-top: solid 2px #222;
	padding-top: 6px; margin-top: 64px; margin-bottom: 12px;
}

/* Section: text */
section p, section li {
	font-weight: 400;
    color: #023753;
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* Section: bold text */
section p b, section ul li b, section ol li b,
section ol li ul li b { color: #222; font-weight: 600 }

/* Section: hyperlinks */
section p a, section li a {
	font-weight: 600;
	text-decoration: underline solid;
	text-underline-position: under;
	text-decoration-thickness: 2px;
}

section p a:link, section li a:link,
section p a:visited, section li a:visited {
	color: #230cea;
}

section p a:hover, section li a:hover,
section p a:active, section li a:active {
	color: #000;
	transition: 0.2s
}

/* Mobiles */
@media (max-width: 767px) {
	section p a, section li a {
		text-decoration-thickness: 1px;
	}
}



/* Section: images */
section img { margin: 20px 0 20px 0 }

/* Section: paragraphs */

/* Desktops */
@media (min-width: 768px) {
	section p { margin: 0 0 16px 0; line-height: 1.6 }
}

/* Mobiles */
@media (max-width: 767px) {
	section p { margin: 0 0 16px 0; line-height: 1.6 }
}

/* Section lists */
section ul, section ol,
section ul li ul, section ol li ul { list-style-type: none }
section ul > li span.inside-ol,
section ol > li span.inside-ol {
	display: block;
	line-height: 1.6;
	margin: -18px 0 6px 0;
}

/* Desktops */
@media (min-width: 768px) {
	section ul > li img, section ol > li img { margin: 20px 0 18px 0 }
}

/* Mobiles */
@media (max-width: 767px) {
	section ul > li img, section ol > li img { margin: 8px 0 12px 0 }
}

/* ========= Learning Goals ======== */

#learning-goals {
	background-color: #d8f5fe;
	border-radius: 5px;
	margin: 20px 0 24px 0;
	padding: 14px 24px 28px 24px;
}

#learning-goals p, #learning-goals ul li {
	color: #000;
}

#learning-goals p {
    margin-bottom: 8px;
    line-height: 1.5;
}

#learning-goals ul li {
    margin-bottom: 12px;
    line-height: 1.5;
}

/* Bullet character */
#learning-goals ul > li:before {
	color: #230cea;
	transform: translateY(2px);
	content: '\2714';
	font-size: 100%;
}

#learning-goals ul,
#learning-goals ul li:last-child {
    margin-bottom: 0;
}

/* Desktops */
@media (min-width: 768px) {
	#learning-goals ul li {
		padding-left: 20px ;
		text-indent: -21px ;
		margin: 0 0 12px 21px;
		line-height: 1.5
	}
}

/* Mobiles */
@media (max-width: 767px) {
	#learning-goals { margin-top: 30px }
	#learning-goals p, #learning-goals ul li {
		font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
	}

	#learning-goals p { margin-bottom: 10px }

	#learning-goals ul li {
		margin: 0 0 10px 18px;
		padding-left: 10px;
		text-indent: -14px;
		line-height: 1.5;
	}
	#learning-goals ul li:before { margin-right: 14px }
}



/* Lists following paragraph */

/* Desktops */
@media (min-width: 768px) {
	/* section p + ul, section p + ol { margin-top: -4px } */
}

/* Mobiles */
@media (max-width: 767px) {
	section p + ul, section p + ol { margin-top: -4px }
}

/* Lists with images */

/* Desktops */
@media (min-width: 768px) {
	ul li img, ol li img { margin-bottom: 14px }
}

/* Mobiles */
@media (max-width: 767px) {
	ul li img, ol li img { margin-bottom: 14px }
}

/* Section: unordered lists */
section ul { list-style-position: inside }

/* Bullet character */
section ul > li:before {
	display: inline-block;
	color: #230cea;
	transform: translateY(2px);
	content: '\279C';
	font-size: 130%;
}

/* Desktops */
@media (min-width: 768px) {
	section ul { margin: 0 0 24px 0 }
	section ul li {
		padding-left: 20px ;
		text-indent: -22px ;
		margin: 0 0 20px 21px;
		line-height: 1.5
	}
	section ul li:before { margin-right: 20px }
}

/* Mobiles */
@media (max-width: 767px) {
	section ul { margin: 0 0 12px 0 }
	section ul li {
		line-height: 1.5;
		padding-left: 18px;
		text-indent: -20px;
		margin: 0 0 12px 18px
	}
	section ul li:before { margin-right: 18px }
}

/* Unordered lists - tighter */

section p + ul.tighter { margin-top: -4px }
section ul.tighter { margin-bottom: 0 }
section ul.tighter li { margin-bottom: 12px }


/* Section ordered lists */

section ol { counter-reset: li-counter }
section ol > li { position: relative }
section ol > li > ul { list-style-type: none }

section ol > li:before {
    position: absolute; top: 2px; left: -32px; line-height: 1; text-align: center;
    border-radius: 50%; padding: 2px 4px 2px 3px; font-weight: bold;
    content: counter(li-counter); counter-increment: li-counter;
    color: #023753; background-color: #fff;
    border: solid 2px #023753;
	font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* Desktops */
@media (min-width: 768px) {
	section ol { margin: 28px 0 20px 32px }
   	section ol > li { margin-bottom: 20px; padding-left: 30px; line-height: 1.6 }

	section ol > li:before {
		line-height: 1.3;
		width: 28px; height: 28px;
		padding: 0;
	}
	section ol > li > ul { margin: 12px 0 0 16px }
   	section ol > li > ul > li { padding-left: 24px; margin: 0 0 12px 0 }
}

/* Mobiles */
@media  (max-width: 767px) {
	section ol { margin: 0 0 20px 32px }
	section ol > li { margin-bottom: 20px; padding-left: 16px; line-height: 1.4 }
	section ol > li:before {
		line-height: 1.3;
		width: 24px; height: 24px;
		padding: 0;
	}
	section ol > li > ul { margin: 6px 0 0 22px }
	section ol > li > ul > li { padding-left: 18px; margin: 0 0 8px 0; text-indent:-20px }
}


/* ========== BUTTONS ========== */

/* ============== TABLES =================== */

.table-geo-one {
	margin: 24px 0 40px 0;
	border-top: solid 2px #044d6c;
	min-width: 50%;
	border-bottom: solid 1px #044d6c;
}

.table-geo-one th, .table-geo-one td {
	text-align: left;
	line-height: 1.4; margin: 0; padding: 7px 0 9px 0;
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
	vertical-align: top;
}

.table-geo-one td p { margin-bottom: 8px; font-size: 96%; letter-spacing: 0 }
.table-geo-one td p:last-child { margin-bottom:0 }

.table-geo-one th {
	font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.table-geo-one td hr { height: 2px; padding: 0; margin: 0}

table.table-gray {
	background-color: #f0f5f4;
	width: 100%;
	margin-bottom: 32px;
	padding:20px 20px 10px 20px;
}

table.table-gray td {
  vertical-align: top;
}

table.table-gray td p:not(:last-child) {
  margin-bottom: 12px;
}

table.table-gray thead {
	background-color: gray;
	color: #fff;
}

table.table-gray thead th p {
	background-color: gray;
	color: #fff;
}

.table-js {
	background-color: #ecf0f1;
	width: 100%;
	padding: 0;
	margin: 0 0 32px 0;
	border-collapse: collapse;
}

.table-js thead th {
	text-align: left;
	background-color: gray;
	background-color: #636e72;
	border-color: gray;
	color: #fff;
}

.table-js thead tr th p {
	margin: 0; color: #023753;
}

.table-js thead tr th p b {
	margin: 0; color: #fff;
}

.table-js th, .table-js td {
	vertical-align: top;
	padding: 10px 18px 10px 20px;
}

.table-js tbody td p {
	margin-bottom: 8px;
}

/* =========== Screenshots ============= */

/* Desktops */
@media (min-width: 768px) {
	img.wider-105 { width: 105% }
	img.wider-110 { width: 110% }
	img.wider-115 { width: 115% }
}

/* ================== FOOTER ==================== */

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: linear-gradient(#0460CD, #021b79);
}

footer:last-child { margin-bottom: 0 }

/* Desktops  */
@media (min-width: 768px) {
	footer { padding: 4% 7% 4% 7% }
	footer .item-3:nth-child(1) { width: 25% }
	footer .item-3:nth-child(2) { width: 50% }
	footer .item-3:nth-child(3) { width: 22% }
}

/* Mobiles */
@media (max-width: 767px) {
	footer { padding: 10% 8% 4% 8% }
	footer .item-3 { width: 100%; margin-bottom: 10% }
	footer .item-3:nth-child(2) { order: 1 }
	footer .item-3:nth-child(1) { order: 2 }
	footer .item-3:nth-child(3) { order: 3 }
}

/* Styles for footer background, text, icons and links */

footer .item-3 h4, footer .item-3 p, footer .item-3 p i, footer .item-3 p a {
	color: #fff
}

footer .item-3 h4 {
	font-weight: 700;
	margin-bottom: 12px;
	font-size: calc(17px + (19 - 17) * ((100vw - 320px)/(1600 - 320)));
}

footer .item-3 p {
	font-weight: normal;
	margin-bottom: 12px;
	font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.6
}

footer .item-3 i {
	padding-right: 26px;
}

footer .item-3 p a {
	font-weight: 600;
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 2px;
}

footer .item-3 p a:link,
footer .item-3 p a:visited  {
	border-bottom-color: transparent;
}

footer .item-3 p a:hover,
footer .item-3 p a:active {
	border-bottom-color: #fff
}




.ui-kit-instructions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 6px;
	border-bottom: solid 1px #000;
	margin-bottom: 12px;
	width: 90%;
}

.ui-kit-instructions.border-top {
	border-top: solid 1px #000;
}


.ui-kit-instructions div:nth-child(1) {
	width: 25%
}

.ui-kit-instructions div:nth-child(2) {
	width: 72%
}

section .ui-kit-instructions div p {
	margin: 6px auto 6px auto;
}

section .ui-kit-instructions div:nth-child(1) p {
	font-weight: bold;
}

section img.menu-pic { max-height: 58px; width: auto }



/* ========== SOME BACKGROUND COLOURS ========== */

.bg-gray-light    { background-color: #f0f5f4 }
.bg-beige-light   { background-color: #fde8cd }
.bg-green-light   { background-color: #e1ffe1 }
.bg-salmon-light  { background-color: #F7CACA }
.bg-purple-light  { background-color: #f2e1f9 }
.bg-teal-light    { background-color: #d0f8f8 }
.bg-yellow-light  { background-color: #f3fcce }
.bg-yellow-less-light  { background-color: #ffce01 }
.bg-orange-light  { background-color: #ffe6d0 }
.bg-brown-light   { background-color: #fef8f1 }
.bg-blue-light    { background-color: #dde9fa }

.bg-slate-gray-dark { background-color: #556271 }
.bg-purple-dark   { background-color: #6b5b95 }
.bg-crimson-dark  { background-color: #af0069 }
.bg-blue-dark     { background-color: #3c40c6 }
.bg-brown-dark    { background-color: #380312 }
.bg-teal-dark     { background-color: #007188 }
.bg-green-dark    { background-color: #066756 }
.bg-black-dark    { background-color: #000000 }

.bg-shadow-light {
	background-color: #fff;
	box-shadow: rgba(160,160,160,0.8) 5px 5px 20px;
	border-radius: 12px;
}


/* ================== UTILITY CLASSES =================== */

section.text-center > * { text-align: center  }




pre {
	font-family: 'Roboto Mono', monospace, sans-serif;
	color: #fff;
	font-weight: bold;
	font-weight: 400;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
	line-height: 1.8;
	margin: 12px 0 24px 0;
	padding: 16px 16px 18px 24px;
	background-color: rgb(24,53,75);
	word-break: normal;
	hyphens: none;
	white-space: pre;
	border-radius: 6px;
	overflow-x: auto;
}

pre.language-html { color: rgb(128,128,128) }
pre.language-html .token.selector { color: rgb(206,145,120) }
pre.language-html .token.content { color: #fff }
pre.language-html .blue-dark { color: rgb(86,156,202 ) }
pre.language-html .blue-light { color: rgb(156,220,254 ) }
pre.language-html .brown { color: rgb(206,145,120) }
pre.language-html .yellow { color: rgb(220,220,170) }
pre.language-html .green-bright { color: rgb(78,201,143) }
pre.language-html .white { color: #fff;font-weight: 400 }

pre.language-css .token.asterisk { color: rgb(62,196,202) }
pre.language-css .token.class { color:  rgb(215,186,125) }
pre.language-css .token.punctuation { color: #fff }
pre.language-css .token.property { color: rgb(123,220,254) }
pre.language-css .token.number, pre.language-css .token.unit { color: rgb(181,206,168) }
pre.language-css .token.value-text { color: rgb(206,145,81) }
pre.language-css .purple { color: rgb(197,134,161); }

pre.language-html .token.comment,
pre.language-css  .token.comment { color: rgb(106,153,85); color: rgb(34,170,68) }
pre.language-html .yellow,
pre.language-css  .yellow { color: rgb(220,220,170) }

span.syn {
	color: #fff;
	background-color: #230cea;
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}

span.csyn {
	background-color: #000;
	color: rgb(241,199,51);
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}

span.csyn-blue-light {
	background-color: #000;
	color: rgb(123,220,254);
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}

span.csyn-orange {
	background-color: #000;
	color:  #FF7F50;
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}

span.csyn-green {
	background-color: #000;
	color:  rgb(78,201,143);
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}



span.atsyn {
	background-color: #d8f5fe;
	color: #000;
	padding: 1px 6px 1px 6px;
	font-size: 92%;
	font-family: 'Roboto Mono', sans-serif;
	border-radius: 4px;
	font-style: normal;
}



span.bold { font-weight: bold}
span.comment { color: rgb(106,153,85) }
span.white { color: #fff; font-weight: bold }



span.green-light { color: rgb(147,206,168); font-style: normal; font-weight: bold }


span.green-bright { color: rgb(78,201,143) }

span.green-dark { color: rgb(106,153,85) }

span.var, span.purple { color: rgb(130,167,255); font-weight: bold }
span.blue-em { color: rgb(103,216,219); font-style:italic; font-weight: bold }

span.string { color: rgb(255,51,51); font-style:italic; font-weight: bold }
span.red { color: rgb(255,51,51); font-weight: bold }
span.green { color: #7FFF00; font-weight: bold }

span.orange { color: #FF7F50; font-style: normal; font-weight: bold }
span.orange-light { color: rgb(215,186,125); font-style: normal; font-weight: bold }
span.purple { color: rgb(197,134,161); font-style: normal; font-weight: bold }

span.orangered { color: orangered; font-style: italic; font-weight: bold }
span.erroneousLine { background: yellow; color: red; font-weight: bold }


.brown-code    { color: #f08d49}
.string        { color: #00fbca }
.blue-light    { color: rgb(123,220,254) }
.blue-dark     { color: rgb(86,156,214) }
.comment-code  { color: rgb(106,153,85) }
.keyword-code  { color: rgb(197,134,161) }
.function-code { color: rgb(220,220,170) }
.green-number  { color: rgb(181,206,168) }
.deep-purple   { color: rgb(197,134,192) }

/* EXERCISES */

h2 code, h3 code {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	letter-spacing: -2px; padding-left: 4px; padding-right: 4px;
	color: #888
 }

.flex-exercises {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 42px;
	background-color: #d8f5fe;
}

.flex-exercises .flex-exercises-item {
	margin: 0 0 16px 0;
	padding: 16px 16px 0 16px;
}



.flex-exercises .flex-exercises-item:first-child {
	background-color: #0000ff;
	background-image: linear-gradient(#1435b3,#0575e6);
	margin-bottom:0;
	width: 50%;
}

.flex-exercises .flex-exercises-item:last-child {
	width: 50%;
	padding-left: 26px
}


/* Mobiles */
@media screen and (max-width: 767px) {
	.flex-exercises .flex-exercises-item { width: 100% }
}

.flex-exercises .flex-exercises-item > h3 {
	font-size: calc(18px + (26 - 18) * ((100vw - 320px)/(1600 - 320)));
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin: 0 0 8px 0;
	color:#fff;
}

.flex-exercises .flex-exercises-item > p,
.flex-exercises .flex-exercises-item > p b {
	font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
	font-family: 'Roboto', sans-serif;
	margin: 0 0 16px 0;
	line-height: 1.5;
	color:#fff;
}

.flex-exercises .flex-exercises-item h3 > a {
	text-decoration: none;
	color: blue;
	padding-bottom: 3px;
	color:#fff;
}

.flex-exercises .flex-exercises-item > h3 a:link,
.flex-exercises .flex-exercises-item > h3 a:visited {
	border-bottom: solid 2px #fff;
}

.flex-exercises .flex-exercises-item > h3 a:hover,
.flex-exercises .flex-exercises-item > h3 a:active {
	color: lightblue;
	border-bottom: solid 2px lightblue;
}

.flex-exercises .flex-exercises-item .flex-exercises-sub {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flex-exercises .flex-exercises-item .flex-exercises-sub .flex-exercises-sub-item {
	width: 47%;
	margin-bottom: 32px;
}

.flex-exercises .flex-exercises-item .flex-exercises-sub .flex-exercises-sub-item img {
	margin: 0 0 8px 0;
	width: 100%;
	height: auto;
}
.flex-exercises .flex-exercises-item .flex-exercises-sub-item a {
	text-decoration: none;
	margin:  0;
}

.four-samples div a.link-exercise,
a.link-exercise {
	text-decoration: none;
	color:#fff;
	padding: 6px 12px;
	display: inline-block;
	margin:  0;
	font-weight: bold;
}

.four-samples div a.link-exercise { margin-bottom: 20px }


a.link-exercise:link, a.link-exercise:visited {
	background-color: blue;
}

a.link-exercise:hover, a.link-exercise:active {
	background-color: deeppink;
}

.four-samples {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}

.four-samples div { width: 47% }

.four-samples div img { margin: 0 0 -20px 0 }

.four-samples div a {
	display: block; margin: 0 0 32px 0; line-height: 1;
	font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
}

span.link-bold { font-weight: bold }







/* ==== FOR MARKING UP WITH HTML TUTORIAL  ==== */
div.typewriter {
	margin-top: 5%;
	border: solid 1px #000;
	padding: 2%;
	background: rgb(234,234,234);
}

div.typewriter h1,
div.typewriter h2,
div.typewriter h3,
div.typewriter p { font-family: 'Roboto Mono', monospace; color: #000; font-size: 15px }

/* === Chapters TOC ==== */

div.box-toc {
	margin: 0;
	background-color:  #d8f5fe;
	border-radius: 5px;
	margin-bottom: 24px;
	color:#000;
	padding: 14px 24px 14px 24px;
}

div.box-toc p {
	font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
}

div.box-toc p a {
	border-bottom-width: 1px;
	padding-bottom: 2px;
}

	.box-warning {
		border-radius: 5px;
		margin-bottom:24px;
		background-color: #FFFF99;
		color:#000;
		padding: 18px 14px 10px 14px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.box-warning div:first-child img { margin: 0 }
	.box-warning div:last-child p {
		font-size: calc(15px + (17 - 15) * ((100vw - 320px)/(1600 - 320)));
		margin-bottom: 8px;
		line-height: 1.6;
	}

	.box-warning div:first-child { width: 18%; padding: 0 10px 0 0 }
	.box-warning div:last-child  { width: 76% }
	.box-warning div:last-child span {
		background-color:red; color: #fff;
		font-weight:bold; padding: 0 4px
	}

	pre.language-html { color: rgb(128,128,128) }
	pre.language-html .token.selector { color: rgb(206,145,120) }
	pre.language-html .token.content { color: #fff }
	pre.language-html .blue-dark { color: rgb(86,156,202 ) }
	pre.language-html .blue-light { color: rgb(156,220,254 ) }
	pre.language-html .brown { color: rgb(206,145,120) }
	pre.language-html .yellow { color: rgb(220,220,170) }
	pre.language-html .green-bright { color: rgb(78,201,143) }
	pre.language-html .white { color: #fff; font-weight: 400 }

	pre.language-css .token.asterisk { color: rgb(62,196,202) }
	pre.language-css .token.class { color:  rgb(215,186,125) }
	pre.language-css .token.punctuation { color: #fff }
	pre.language-css .token.property { color: rgb(123,220,254) }
	pre.language-css .token.number, pre.language-css .token.unit { color: rgb(181,206,168) }
	pre.language-css .token.value-text { color: rgb(206,145,81) }
	pre.language-css .purple { color: rgb(197,134,161); }

	pre.language-html .token.comment,
	pre.language-css  .token.comment { color: rgb(106,153,85); color: rgb(34,170,68) }
	pre.language-html .yellow,
	pre.language-css  .yellow { color: rgb(220,220,170) }


	kbd.tutorial-key, ol li kbd.tutorial-key {
		display: inline-block;
		background-color: #eee;
		border-radius: 5px;
		border: 1px solid #b4b4b4;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
		color: #555;
		font-weight: 600;
		line-height: 1;
		padding: 3px 5px;
		white-space: nowrap;
		cursor: default;
		letter-spacing: 1px;
		user-select: none;
		font-family: 'Open Sans', sans-serif;
		display: inline-block;
		margin: 0 2px;
		font-size: 98%;
	}


	.no-margin-top { margin-top: 0 }
	.no-margin-bottom { margin-bottom: 0 }

	aside p.toc-indent { margin-left: 26px }
aside p.toc-indent a { font-weight: 500 }