
/* Desktops */
@media (min-width: 768px) { 
    header { padding: 4% 20% 0 20%; } 
    main { padding: 0 20% 4% 20%; } 
}

/* Mobiles */
@media (max-width: 767px) { 
    header { padding: 12% 8% 0 8% } 
    main { padding: 0 20% 4% 20%; } 
}


/* Web page */
body {
    background-color: #FFFFBD;
    font-family: 'Merriweather', serif;
}

header {
    margin-top: 72px;
}

/* Embedded YouTube video */

header .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 32px;
 }
 
 header  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
 }
 
 header  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

/* Main heading */
header h1 {
    font-size: calc(48px + (84 - 48) * ((100vw - 320px) /(1600 - 320)));
    line-height: 1.1;
    font-weight: normal;
    color: #3434B0;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 32px;
}

/* Small headings */
main h2 { 
    font-size: calc(18px + (26 - 18) * ((100vw - 320px) /(1600 - 320)));
    color:#3434B0;
    line-height: 1.5;
    margin-bottom: 42px;
}

/* Smaller headings */
main h3 {  
    font-size: calc(32px + (38 - 32) * ((100vw - 320px) /(1600 - 320)));
    color: #000;
    letter-spacing:-1px;
    margin-top: 40px;
    margin-bottom: 2px;
    line-height: 1.2;
}

/* Text paragraphs */
main p {
    font-size: calc(16px + (21 - 16) * ((100vw - 320px) /(1600 - 320)));
    color: #455C80;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 22px;
}

/* Images */
main img { 
    margin-bottom: 42px;
    /* Drop shadow effect at right and bottom of image */
    box-shadow: 8px 10px 8px #888;    
}

/* ====== HYPERLINK STYLES ====== */
            
         
/* Passive link styles */
            
main a:link, main a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: #000;
    border-bottom: solid 2px #000;
} 
            
/* Interactive link styles */
            
main a:hover, main a:focus, main a:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #f26f21;
    border-bottom: solid 2px blue;
}
