
/* ============ SECTIONS TYPE MENU ============*/

#content-0 a {
    display: block;
    padding: 3px 6px;
    margin-bottom: 6px;
    text-decoration: none;
    color: #000
}

#content-0 a.selected {
    color:orangered
}

#content-0 a.in-progress {
    color:darkgray; 
    font-weight: 400;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

#content-0 a.in-progress:focus,
#content-0 a.in-progress:hover,
#content-0 a.in-progress:active {
    background-color: #ffdb99;
}



/* ============ CONTENT-1 MENU ============ */

#content-1 label { min-width: 160px }
#content-1 .input-group { margin-bottom: 0 }
#content-1 .input-group .label-outer { min-width: 170px }
#content-1 .radio-group > label { min-width: 60px }


/* ============ CONTENT-2 (UPPER BLOCK) MENU ============ */

#content-2 .input-group:last-child { margin-bottom: 0 }

#content-2 .dialog-box .input-group > label { min-width: 168px }


/* ============ CONTENT-3 (COLUMN PROPERTIES) MENU ============ */

#content-3 .dialog-box .input-group > label {  min-width: 160px; margin: 4px 0 }


/* ============ CONTENT-4 (BUTTONS) MENU ============ */

#content-4 h4 { margin-left: 8px }
#content-4 label { min-width: 120px }
#content-4 .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#content-4 .input-group:last-child { margin-bottom: 0 }


/* ============ CONTENT-5 (ILLUSTRATIONS) MENU ============ */
  
#content-5 .dialog-box { min-width: 400px }
#content-5 .dialog-box label { font-weight: 700 }
#content-5 .dialog-box .flex-two-col { min-width: 300px }

#content-5 .flex-two-col div:nth-child(1)  { margin-right: 30px }

#content-5 .input-group:last-child { margin-bottom: 0 }

.flex-two-col { display: flex; justify-content: space-between; flex-wrap: nowrap }

.flex-two-col div:nth-child(1)  { margin-right: 54px }


#content-5 .flex-two-col .input-group-vertical label { display: inline-block; min-width: 100px }

#vis-types-all .input-group-vertical {
    padding: 4px 6px 4px 8px; margin-bottom: 6px; min-width: 160px;
}

#vis-types-all .input-group-vertical:last-child { margin-bottom: 0 }

#vis-types-all input[type="radio"] { margin-right: 10px }

#vis-types-all .input-group-vertical:hover { background-color: orange }

#vis-properties-all label { min-width: 120px }

#vis-properties-all select { padding: 3px 6px; font-weight: 400 }

#vis-properties-all .input-group-vertical:nth-child(7) { margin-top: 7px }

#vis-properties-all #btn_icon_color.btn_style { margin-left: -12px; margin-top: -10px }

button#btn_a_primary_passive_text:disabled,
button#btn_a_primary_active_text:disabled,
button#btn_a_primary_passive_bg:disabled,
button#btn_a_primary_active_bg:disabled,
button#btn_a_primary_passive_border:disabled,
button#btn_a_primary_active_border:disabled,
button#btn_a_secondary_passive_text:disabled,
button#btn_a_secondary_active_text:disabled,
button#btn_a_secondary_passive_bg:disabled,
button#btn_a_secondary_active_bg:disabled,
button#btn_a_secondary_passive_border:disabled,
button#btn_a_secondary_active_border:disabled,
button#btn_a_ghost_passive_text:disabled,
button#btn_a_ghost_passive_border:disabled,
button#btn_a_ghost_active_text:disabled,
button#btn_a_ghost_active_bg:disabled,
button#btn_a_ghost_active_border:disabled,
button#btn_icon_color:disabled,
button#btn_col_border_color:disabled,
button#btn_upper_label:disabled,
button#btn_head:disabled,
button#btn_text:disabled,
button#btn_col_subhead:disabled,
button#btn_col_head:disabled,
button#btn_bg_onscroll_menu:disabled,
button#btn_link_onscroll_passive:disabled,
button#btn_link_onscroll_active:disabled,
button#btn_a_cta_onscroll_passive_text:disabled,
button#btn_a_cta_onscroll_active_text:disabled,
button#btn_a_cta_onscroll_passive_bg:disabled,
button#btn_a_cta_onscroll_active_bg:disabled,
button#btn_a_cta_onscroll_passive_border:disabled,
button#btn_a_cta_onscroll_active_border:disabled {
    background-color: var(--gray-200);
    color: var(--gray-500); 
} 

/* ============ HOME PAGE MAIN CONTENT  ============*/

section.user-options { min-height: 540px }

@media (min-width: 768px) { 
	section.user-options {
		padding: 6% 0 2% 0; 
		padding-left: calc( (100% - 1140px)/2 );
		padding-right: calc( (100% - 1140px)/2 );
		margin-left: auto; margin-right: auto;
	} 
}

@media (max-width: 767px) {
	section.user-options { padding: 7% 10% 9% 10% } 
}
















/* ============= SECTION CONTAINERS ============ */

/* Desktops  */
@media (min-width: 768px) { section { padding: 3% 0 4% 0 } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 10% 7% 10% 7% } }




.menu-sticky { top: 58px !important }

.container-menu ul.mobile-display { top: 130px !important }

.header.unhide-content-under-sticky-menu { margin-top: 0px !important }