#content-1 a {
    display: block;
    padding: 3px 6px;
    margin-bottom: 6px;
    text-decoration: none;
    color: #000;
    font-size: 15px
}

#content-1 a:last-child {
    margin-bottom: 0;
}

#content-1 a.selected {
    color:orangered
}

#content-1 a.in-progress {
    color:darkgray; 
    font-weight: 400;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

#content-1 a.in-progress:focus,
#content-1 a.in-progress:hover,
#content-1 a.in-progress:active {
    background-color: #ffdb99;
}
    
#control-menu li a.selected {
    background-color: orange;
    color: #000;
}

#control-menu .input-group-vertical {
    padding: 6px 0;
}

.input-group-vertical select {
    font-size: 16px;
}

/* ============ SECTIONS TYPE MENU ============*/

#content-0 a {
    display: block;
    padding: 3px 6px;
    margin-bottom: 6px;
    text-decoration: none;
    color: #000
}

#content-0 a:last-child {
    margin-bottom: 0;
}

#content-0 a.selected {
    color:orangered
}

#content-0 a.in-progress {
    color:darkgray; 
    font-weight: 400;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

#content-0 a.in-progress:focus,
#content-0 a.in-progress:hover,
#content-0 a.in-progress:active {
    background-color: #ffdb99;
}
    
.input-group div button { 
    font-size: 16px;
    color: #fff;
    background-color: #000;
    padding: 5px 16px;
}

 .input-group div button i { 
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
}

.input-group div button:hover,
.input-group div button:active  { 
    color: #fff;
    background-color:#555;
}


/* ============ HOME PAGE MAIN CONTENT  ============*/

section.user-options { min-height: 540px }

@media (min-width: 768px) { 
	section.user-options {
		padding: 6% 0 2% 0; 
		padding-left: calc( (100% - 1140px)/2 );
		padding-right: calc( (100% - 1140px)/2 );
		margin-left: auto; margin-right: auto;
	} 
}

@media (max-width: 767px) {
	section.user-options { padding: 7% 10% 9% 10% } 
}



/* ============ COLUMNS AND COLUMN PROPERTIES ============*/

#content-2 > .dialog-box > .input-group > label { 
    display: inline-block;
    min-width: 200px 
}

/* #content-2 > .dialog-box  { 
   min-width: 400px
} */

#col-content h4 {
    margin-left: 8px;
    font-size: 18px;
}

#col-properties h4 {
    margin-left: 7px 
}

#col-properties .input-group label { min-width: 160px }

#control-menu ul li.dropdown .dropdown-content .dialog-box h4 {
    font-size: 17px;
}

#content-2 .flex-two-col div:nth-child(1)  {
    margin-right: 30px;
}

#content-2 .flex-two-col div:nth-child(1)  {
    margin-right: 30px;
}

#col-content .input-group {
    padding: 4px 6px 4px 8px;
    margin-bottom: 6px;
}

#col-properties .input-group {
    padding: 0 6px 0 8px;
    margin-bottom: 6px;
}

#col-content .input-group:last-child,
#col-properties .input-group:last-child {
    margin-bottom: 0;
}

#col-content input[type="radio"] {
    margin-right: 10px;
}

#col-content label  {
    display: inline-block;
    min-width: 156px;
}

#col-properties label  {
    display: inline-block;
    min-width: 108px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#col-properties select {
    padding: 3px 6px;
    font-weight: normal;
    margin-top: 4px;
    margin-bottom: 4px;
}

#content-1 .input-group .label-outer {
    min-width: 170px;
    font-weight: bold;
}

#content-1 .radio-group > label {
    min-width: 60px;
}

#content-2.dropdown-content .dialog-box {
    min-width: 400px;
}

#content-2.dropdown-content .dialog-box .flex-two-col {
    min-width: 300px
}

.input-group.two-col {
    display: flex;
    flex-direction: row;
}

.input-group.two-col .column.column-wider {
    width: 47%;
    min-width: 300px;
    padding-right: 20px
}

.input-group.two-col label, .input-group.two-col div {
    display: inline-block
}

/* ============ VISUALS AND VISUAL PROPERTIES ============*/

.flex-two-col {
    display: flex;  
    justify-content: space-between; 
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-two-col div:nth-child(1)  {
    margin-right: 54px;
}

#vis-types-all .input-group-vertical {
    padding: 4px 6px 4px 8px;
    margin-bottom: 6px;
}

#vis-types-all .input-group-vertical:last-child {
    margin-bottom: 0;
}

#vis-types-all input[type="radio"] {
    margin-right: 10px;
}

#vis-types-all .input-group-vertical:hover  {
    background-color: orange;
}

#vis-properties-all label  {
    display: inline-block;
    min-width: 120px;
}

#vis-properties-all select {
    padding: 3px 6px;
    font-weight: normal
}

.controls-top li.dropdown .dropdown-content .dialog-box button {
    padding: 8px 16px 9px 14px;
    font-weight: 400;
}

button#btn_a_primary_passive_text:disabled,
button#btn_a_primary_active_text:disabled,
button#btn_a_primary_passive_bg:disabled,
button#btn_a_primary_active_bg:disabled,
button#btn_a_primary_passive_border:disabled,
button#btn_a_primary_active_border:disabled,
button#btn_a_secondary_passive_text:disabled,
button#btn_a_secondary_active_text:disabled,
button#btn_a_secondary_passive_bg:disabled,
button#btn_a_secondary_active_bg:disabled,
button#btn_a_secondary_passive_border:disabled,
button#btn_a_secondary_active_border:disabled,
button#btn_a_ghost_passive_text:disabled,
button#btn_a_ghost_passive_border:disabled,
button#btn_a_ghost_active_text:disabled,
button#btn_a_ghost_active_bg:disabled,
button#btn_a_ghost_active_border:disabled,
button#btn_icon_color:disabled,
button#btn_col_border_color:disabled,
button#btn_upper_label:disabled,
button#btn_head:disabled,
button#btn_text:disabled,
button#btn_col_subhead:disabled,
button#btn_col_head:disabled,
button#btn_bg_onscroll_menu:disabled,
button#btn_link_onscroll_passive:disabled,
button#btn_link_onscroll_active:disabled,
button#btn_a_cta_onscroll_passive_text:disabled,
button#btn_a_cta_onscroll_active_text:disabled,
button#btn_a_cta_onscroll_passive_bg:disabled,
button#btn_a_cta_onscroll_active_bg:disabled,
button#btn_a_cta_onscroll_passive_border:disabled,
button#btn_a_cta_onscroll_active_border:disabled {
    background-color: var(--gray-200);
    color: var(--gray-500); 
} 

button#btn-copy-css:disabled {
    background-color: var(--gray-200);
    color: var(--gray-600); 
}

#content-1 button, #content-2 button, 
#content-3 button, #content-4 button { border-width: 0 }

nav#control-menu ul li.dropdown .dialog-box .input-group div button,
nav#control-menu button { border-width: 0 !important }

/* ============= SECTION CONTAINERS ============ */

/* Desktops  */
@media (min-width: 768px) { section { padding: 3% 0 4% 0 } }

/* Mobiles */
@media (max-width: 767px) { section { padding: 10% 7% 10% 7% } }



.menu-sticky { top: 58px !important }


.container-menu ul.mobile-display { top: 130px !important }

.header.unhide-content-under-sticky-menu { margin-top: 0px !important }

@media (min-width: 1921px) { 
    .hero-block { min-height: 540px } 
    .hero-block.header-under-menu-sticky { min-height: calc(540px + 100px) }
    .hero-block.header-under-menu-sticky h1 { margin-top: 7% }
    .hero-block.header-under-menu-sticky .container-btn { margin-top: 4% }
}

@media (min-width: 1367px) and (max-width: 1920px) { 
    .hero-block { min-height: 520px } 
    .hero-block.header-under-menu-sticky { min-height: calc(520px + 100px) }
    .hero-block.header-under-menu-sticky h1 { margin-top: 6% }
    .hero-block.header-under-menu-sticky .container-btn { margin-top: 4% }
}

@media (min-width: 1140px) and (max-width: 1366px) { 
    .hero-block { min-height: 480px } 
    .hero-block.header-under-menu-sticky { min-height: calc(480px + 100px) }
    .hero-block.header-under-menu-sticky h1 { margin-top: 5% }
    .hero-block.header-under-menu-sticky .container-btn { margin-top: 5% }
}

@media (min-width: 1025px) and (max-width: 1139px) { 
    .hero-block { min-height: 440px } 
    .hero-block.header-under-menu-sticky { min-height: calc(440px + 110px) }
    .hero-block.header-under-menu-sticky h1 { margin-top: 10% }
    .hero-block.header-under-menu-sticky .container-btn { margin-top: 4% }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .hero-block { min-height: 440px } 
    .hero-block.header-under-menu-sticky { min-height: calc(440px + 64px) }
    .hero-block.header-under-menu-sticky h1 { margin-top: 10% }
    .hero-block.header-under-menu-sticky .container-btn { margin-top: 5% }
}

@media (max-width: 767px) { 
    .hero-block { min-height: 480px; padding: 8% 0 } 
    .hero-block.header-under-menu-sticky { min-height: calc(440px + 160px) }
    .hero-block.header-under-menu-sticky h1 { margin-top: 15% }
    .hero-block.header-under-menu-sticky .container-btn { margin-top: 10% }
}



@media (min-width: 1921px) { 
    .hero-block.bg-img-left, .hero-block.bg-img-right { min-height: 600px }
    .hero-block.header-under-menu-sticky.bg-img-left,
    .hero-block.header-under-menu-sticky.bg-img-right { min-height: calc(600px + 72px) }
}

@media (min-width: 1367px) and (max-width: 1920px) { 
    .hero-block.bg-img-left, .hero-block.bg-img-right { min-height: 580px }
    .hero-block.header-under-menu-sticky.bg-img-left,
    .hero-block.header-under-menu-sticky.bg-img-right { min-height: calc(580px + 72px) }
}

@media (min-width: 1140px) and (max-width: 1366px) { 
    .hero-block.bg-img-left, .hero-block.bg-img-right { min-height: 520px }
    .hero-block.header-under-menu-sticky.bg-img-left,
    .hero-block.header-under-menu-sticky.bg-img-right { min-height: calc(520px + 72px) }
}

@media (min-width: 1025px) and (max-width: 1139px) { 
    .hero-block.bg-img-left, .hero-block.bg-img-right { min-height: 460px }
    .hero-block.header-under-menu-sticky.bg-img-left,
    .hero-block.header-under-menu-sticky.bg-img-right { min-height: calc(460px + 72px) }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .hero-block.bg-img-left, .hero-block.bg-img-right { min-height: 460px }
    .hero-block.header-under-menu-sticky.bg-img-left,
    .hero-block.header-under-menu-sticky.bg-img-right { min-height: calc(460px + 72px) }
}

@media (max-width: 767px) {
    .hero-block.bg-img-left, .hero-block.bg-img-right  { min-height: 480px; padding: 8% 0 }
    .hero-block.header-under-menu-sticky.bg-img-left,
    .hero-block.header-under-menu-sticky.bg-img-right { min-height: calc(480px + 72px) }
}


@media (min-width: 1921px) { 
    .hero-block.hero-half { min-height: 540px }
    .hero-block.header-under-menu-sticky.hero-half { min-height: calc(540px + 72px) }
}

@media (min-width: 1367px) and (max-width: 1920px) { 
    .hero-block.hero-half { min-height: 520px }
    .hero-block.header-under-menu-sticky.hero-half { min-height: calc(520px + 72px) }
}

@media (min-width: 1140px) and (max-width: 1366px) { 
    .hero-block.hero-half { min-height: 500px }
    .hero-block.header-under-menu-sticky.hero-half { min-height: calc(500px + 72px) }
}

@media (min-width: 1025px) and (max-width: 1139px) { 
    .hero-block.hero-half { min-height: 440px }
    .hero-block.header-under-menu-sticky.hero-half { min-height: calc(440px + 72px) }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    .hero-block.hero-half { min-height: 500px }
    .hero-block.header-under-menu-sticky.hero-half { min-height: calc(500px + 72px) }
}

@media (max-width: 767px) {
    .hero-block.hero-half { min-height: 480px; padding: 8% 0 }
    .hero-block.header-under-menu-sticky.hero-half { min-height: calc(480px + 72px) }
}