/* ============ HEADER LAYOUT MENU ============*/

#control-menu #menu-type-options a {
    display: block; font-size: calc(14px + (15 - 14) * ((100vw - 320px)/(1920 - 320)));
    padding: 3px 6px; margin-bottom: 6px; font-weight: 700;
    text-decoration: none; color: #000; height: auto;
}

#control-menu #content-1 a:last-child { margin-bottom: 0 }

#control-menu #content-1 a.selected { color:orangered }

#control-menu #content-1 a.in-progress {
    color:darkgray; font-weight: 400;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

#control-menu #content-1 a.in-progress:focus,
#control-menu #content-1 a.in-progress:hover,
#control-menu #content-1 a.in-progress:active {
    background-color: #ffdb99;
}

#control-menu #content-1 .input-group .label-outer { min-width: 170px; font-weight: bold }
#control-menu #content-1 .radio-group > label { min-width: 60px }


/* ============ TEXT MENU ============*/

#content-2 > .dialog-box  { min-width: 260px }
#content-2 > .dialog-box > .input-group > label { min-width: 170px }
#content-2 .flex-two-col div:nth-child(1) { margin-right: 30px }
#content-2 .col-properties .dialog-box .input-group label { min-width: 300px }


/* ============ BUTTONS MENU ============ */

#col-content .input-group { padding: 4px 6px 4px 8px; margin-bottom: 6px }
#col-content .input-group:last-child { margin-bottom: 0 }
#col-content input[type="radio"] { margin-right: 10px }
#col-content label { display: inline-block; min-width: 156px }
#content-3 h4 { font-size: 18px; margin-top: 12px; margin-bottom: 4px; margin-left: 8px }

button#btn_a_primary_passive_text:disabled,
button#btn_a_primary_active_text:disabled,
button#btn_a_primary_passive_bg:disabled,
button#btn_a_primary_active_bg:disabled,
button#btn_a_primary_passive_border:disabled,
button#btn_a_primary_active_border:disabled,
button#btn_a_secondary_passive_text:disabled,
button#btn_a_secondary_active_text:disabled,
button#btn_a_secondary_passive_bg:disabled,
button#btn_a_secondary_active_bg:disabled,
button#btn_a_secondary_passive_border:disabled,
button#btn_a_secondary_active_border:disabled,
button#btn_bg:disabled,
button#btn_upper_label:disabled {
    background-color: var(--gray-200);
    color: var(--gray-500); 
} 


/* ============ ILLUSTRATINS MENU ============*/

/* ============ CONTENT-5 (ILLUSTRATIONS) MENU ============ */
  
#content-5 .dialog-box { min-width: 400px }
#content-5 .dialog-box label { font-weight: 700 }
#content-5 .dialog-box .flex-two-col { min-width: 300px }

#content-5 .flex-two-col div:nth-child(1)  { margin-right: 30px }

#content-5 .input-group:last-child { margin-bottom: 0 }

.flex-two-col { display: flex; justify-content: space-between; flex-wrap: nowrap }

.flex-two-col div:nth-child(1)  { margin-right: 54px }


#content-5 .flex-two-col .input-group-vertical label { display: inline-block; min-width: 100px }

#vis-types-all .input-group-vertical {
    padding: 4px 6px 4px 8px; margin-bottom: 6px; min-width: 160px;
}

#vis-types-all .input-group-vertical:last-child { margin-bottom: 0 }

#vis-types-all input[type="radio"] { margin-right: 10px }

#vis-types-all .input-group-vertical:hover { background-color: orange }

#vis-properties-all label { min-width: 120px }

#vis-properties-all select { padding: 3px 6px; font-weight: 400 }

#vis-properties-all .input-group-vertical:nth-child(7) { margin-top: 7px }

#vis-properties-all #btn_icon_color.btn_style { margin-left: -12px; margin-top: -10px }

