
/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px }
img { width: 100%; height: auto; display: block }


body { 
	background-color: lightgray;
	font-family: sans-serif
}

/* ========================== FORM WRAPPER  ============================== */

.container-form {
    background:#fff;
    margin: 0 auto 40px auto;
    padding: 130px 32px 80px 32px;
}

.container-form h1 { 
	line-height: 1; 
	font-weight: bold;
    text-align:center;
	font-size: calc(30px + (48 - 30) * ((100vw - 320px)/(1600 - 320)))
}

/* Desktop */
@media all and (min-width:768px) {
	.container-form { 
        width: 50%; 
	}
	.container-form h1 { margin: 0 0 1% 0 }
}

/* Mobiles */
@media all and (max-width:767px) {
	.container-form { 
        width: 90%; 
	}
	.container-form h1 { margin: 0 0 8% 0 }
}

/* ================= FORM ===================== */

	.flex-row {
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	/* Desktop */
	@media all and (min-width:768px) { .flex-row { margin-bottom: 32px } }

	/* Mobiles */
	@media all and (max-width:767px) { .flex-row { margin-bottom: 20px } }

	.flex-row div:first-child {
		width: 48px;
		background: blue;
		z-index: 9
	}

	.flex-row div:last-child {
		flex-grow: 1;
		margin-left: -1px;
	}

	.contact-form label {
		margin: 0 0 12px 0;
		font-size: 16px;
		display:block;
		font-weight: bold;
		font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320))); line-height: 1.6;
	}

	.contact-form input.form-field {
		vertical-align: middle;
		margin: 0;
		padding: 10px;
		background-color: #fff;
		outline: none;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		border-bottom: solid 2px gray;
		border-left: solid 2px #fff;
		border-radius: 0;
		-webkit-appearance: none;
		-webkit-box-sizing: border-box;
		font-family: sans-serif;
		box-shadow: none;
		font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)))
	}


	/* Desktop */
	@media all and (min-width:768px) { .contact-form input.form-field { width: 94% } }

	/* Mobiles */
	@media all and (max-width:767px) { .contact-form input.form-field { width: 98% } }

	.contact-form input.form-field:focus {
		border-top: solid 2px #ECECFF;
		border-right: solid 2px #ECECFF;
		border-bottom: solid 2px blue;
		border-left: solid 2px #ECECFF;
		background-color: #ECECFF
	}

	#contact-form .validate {
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		border-bottom: solid 2px red;
		border-left: solid 2px #fff;
	}

	.contact-form textarea.form-field {
		display: block;
		width:94%;
		padding: 10px;
		outline: none;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		border-bottom: solid 2px gray;
		border-left: solid 2px #fff;
		font-family: sans-serif;
	}

	.contact-form textarea.form-field:focus {
		background-color: #ECECFF;
		border-top: solid 2px #ECECFF;
		border-right: solid 2px #ECECFF;
		border-bottom: solid 2px blue;
		border-left: solid 2px #ECECFF;
	}

	.contact-form span.field-icon {
		background: blue;
		color:#fff;
	}

	.contact-form span.field-icon i {
		color:#fff;
		margin: 10px auto;
		font-size: 22px;
		text-align: center;
		display: block
	}

	.contact-form .btn-submit {
		padding: 14px 26px;
		background-color: blue;
		cursor: pointer;
		text-align:right;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
		line-height: 1;
		display: inline-block;
		float: right;
		outline: none;
		box-shadow: none;
		color:#fff;
		font-family:sans-serif;
		border: none;
		letter-spacing:1px
	}

	/* Desktop */
	@media all and (min-width:768px) { 
		.contact-form .btn-submit { 
			margin-right: 34px
		}
	}

	/* Mobiles */
	@media all and (max-width:767px) { 
		.container-form form#contact-form.contact-form button#btn-submit.btn-submit {
			margin-top:12px;
			margin-right: 20px;
		}
	}


	#contact-form .btn-submit:active,
	#contact-form .btn-submit:hover {
		color: #fff;
		background: #27ae60;
		border-color: #27ae60
	}

	.contact-form .btn-submit i { margin-left: 6px}

	.contact-form p.form-msg {
		display: none;
		color:red;
		font-size: calc(13px + (14 - 13) * ((100vw - 320px)/(1600 - 320))); line-height: 1;
	}

	/* Desktop */
	@media all and (min-width:768px) { .contact-form p.form-msg { margin: -20px 0 20px 58px; } }

	/* Mobiles */
	@media all and (max-width:767px) { .contact-form p.form-msg { margin: -4px 0 20px 58px; } }


	.contact-form p.form-msg i {
		margin-right: 6px;
	}

	.contact-form  p.form-msg.show-error-message {
		display: block;
	}

