
/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px }
img { width: 100%; height: auto; display: block }


body { 
	background-color: #fff;
	font-family: sans-serif
}

/* ========================== EMAIL SIGN UP FORM  ============================== */

/* == EMAIL SIGN UP FORM WRAPPER == */

/* All screens */
.container-form-email-signup { text-align: center; background-color: #fff  }

/* Desktop */
@media all and (min-width:768px) { .container-form-email-signup { padding: 4% 20% 6% 20% } }

/* Mobiles */
@media all and (max-width:767px) { .container-form-email-signup { padding: 10% 8% 10% 8% } }


/* == EMAIL SIGN UP FORM HEADING AND TEXT == */

/* Heading */
.container-form-email-signup h3 { 
	font-weight: bold; 
	color: #000;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: -1px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

/* Desktop */
@media all and (min-width:768px) { .container-form-email-signup h3 { margin: 0 0 3% 0 } }

/* Mobiles */
@media all and (max-width:767px) { .container-form-email-signup h3 { margin: 0 0 10% 0 } }

/* Text */
.container-form-email-signup p { 
    font-weight: normal;
    color: #000; 
	line-height: 2;
	letter-spacing: 1px;
	text-align: center;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
	color: #000
}

/* Desktop */
@media all and (min-width:768px) { .container-form-email-signup p { margin: 0 0 6% 0 } }

/* Mobiles */
@media all and (max-width:767px) { .container-form-email-signup p { margin: 0 0 8% 0 } }


/* == EMAIL SIGN UP FORM FIELDS == */

.form-email-flexbox-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Desktop */
@media all and (min-width:768px) { 
	.form-email-flexbox-container { flex-direction: row }
	.form-email-flexbox-container #email {
		flex: 1; margin: 0 30px 0 20px;
	}
}

/* Mobiles */
@media all and (max-width:767px) { 
	.form-email-flexbox-container { flex-direction: column; text-align: center }
	.form-email-flexbox-container #email {
		flex: 1; margin: 30px 0 30px 0;
	}
}

#email-signup-form label,
#email-signup-form input.form-field,
#email-signup-form #btn-submit {
	font-family: sans-serif; 
	font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1600 - 320)));
	display: inline-block;
}

#email-signup-form label { font-size: 104%; padding: 12px 0 }

#email-signup-form label,
#email-signup-form #btn-submit { font-weight: bold }

#email-signup-form input.form-field,
#email-signup-form #btn-submit { padding: 12px 20px }

#email-signup-form input.form-field {
	background-color: #f0f0f0;
	border-style: solid;
	border-width: 2px;
	border-color: #777;
}

#email-signup-form input.form-field:focus { 
	background-color: #fff; 
}

#email-signup-form input.form-field.validate { border-color: red }

#email-signup-form #btn-submit {
	color:#fff;
	border-style: solid;
	background-color: blue;
    border: solid 2px blue;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px */
}

#email-signup-form #btn-submit:hover {
	background-color: darkblue;
	color: #fff;
	border: solid 2px darkblue
}

#email-signup-form #btn-submit i {
	margin-left: 8px
}

/* Mobiles */
@media all and (max-width:767px) { 
	#email-signup-form label { padding: 0 0 14px 0  }
	#email-signup-form input.form-field { margin: 0 0 24px 0 }
	#email-signup-form #btn-submit { margin: 0 auto; width: 70% }
}

/* == EMAIL SIGN UP FORM ERROR MESSAGES == */

.container-form-email-signup p.form-msg {
    display: none;
	color: red;
	font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320))); 
	line-height: 1;
	font-family: sans-serif;
}

.container-form-email-signup p.form-msg.show-error-message {
	display: block;
}

.container-form-email-signup p.form-msg { margin: 40px 0 20px 0 }

.container-form-email-signup p.form-msg i.fas {
	margin-right: 9px;
	font-size: 104%
}