/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }

/* HTML5 container elements full viewport width */
header, section, footer { width: 100% }
/* Last element at bottom of header or section */
header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }


/* Sans-serif system font */

:root {
    /* Global font */
    --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

    /* Color variables */
    --blue: #0d6efd;
    --blue-100: #cfe2ff;
    --blue-200: #9ec5fe;
    --blue-300: #6ea8fe;
    --blue-400: #3d8bfd;
    --blue-500: #0d6efd;
    --blue-600: #0a58ca;
    --blue-700: #084298;
    --blue-800: #052c65;
    --blue-900: #031633;

    --indigo: #6610f2; 
    --indigo-100: #e0cffc;
    --indigo-200: #c29ffa;
    --indigo-300: #a370f7;
    --indigo-400: #8540f5;
    --indigo-500: #6610f2;
    --indigo-600: #520dc2;
    --indigo-700: #3d0a91;
    --indigo-800: #290661;
    --indigo-900: #140330;

    --purple: #6f42c1;
    --purple-100: #e2d9f3;
    --purple-200: #c5b3e6;
    --purple-300: #a98eda;
    --purple-400: #8c68cd;
    --purple-500: #6f42c1;
    --purple-600: #59359a;
    --purple-700: #432874;
    --purple-800: #2c1a4d;
    --purple-900: #160d27;

    --pink: #d63384;
    --pink-100: #f7d6e6;
    --pink-200: #efadce;
    --pink-300: #e685b5;
    --pink-400: #de5c9d;
    --pink-500: #d63384;
    --pink-600: #ab296a;
    --pink-700: #801f4f;
    --pink-800: #561435;
    --pink-900: #2b0a1a;

    --red: #dc3545;
    --red-100: #f8d7da;
    --red-200: #f1aeb5;
    --red-300: #ea868f;
    --red-400: #e35d6a;
    --red-500: #dc3545;
    --red-600: #b02a37;
    --red-700: #842029;
    --red-800: #58151c;
    --red-900: #2c0b0e;

    --orange: #fd7e14;
    --orange-100: #ffe5d0;
    --orange-200: #fecba1;
    --orange-300: #feb272;
    --orange-400: #fd9843;
    --orange-500: #fd7e14;
    --orange-600: #ca6510;
    --orange-700: #984c0c;
    --orange-800: #653208;
    --orange-900: #331904;

    --yellow: #ffc107;
    --yellow-100: #fff3cd;
    --yellow-200: #ffe69c;
    --yellow-300: #ffda6a;
    --yellow-400: #ffcd39;
    --yellow-500: #ffc107;
    --yellow-600: #cc9a06;
    --yellow-700: #997404;
    --yellow-800: #664d03;
    --yellow-900: #332701;

    --green: #198754;
    --green-100: #d1e7dd;
    --green-200: #a3cfbb;
    --green-300: #75b798;
    --green-400: #479f76;
    --green-500: #198754;
    --green-600: #146c43;
    --green-700: #0f5132;
    --green-800: #0a3622;
    --green-900: #051b11;

    --teal: #20c997;
    --teal-100: #d2f4ea;
    --teal-200: #a6e9d5;
    --teal-300: #79dfc1;
    --teal-400: #4dd4ac;
    --teal-500: #20c997;
    --teal-600: #1aa179;
    --teal-700: #13795b;
    --teal-800: #0d503c;
    --teal-900: #06281e;

    --cyan: #0dcaf0;
    --cyan-100: #cff4fc;
    --cyan-200: #9eeaf9;
    --cyan-300: #6edff6;
    --cyan-400: #3dd5f3;
    --cyan-500: #0dcaf0;
    --cyan-600: #0aa2c0;
    --cyan-700: #087990;
    --cyan-800: #055160;
    --cyan-900: #032830;

    --gray: #adb5bd;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --white: #fff;
    --black: #000;
}

/* BUTTONS */
.btn {
    text-decoration: none; font-weight: bold; line-height: 1; display: inline-block;
    padding: 12px 26px 15px 26px;
    border-width: 2px; border-style: solid; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1140 - 320)));
}

/* Solid buttons */
.btn-solid:any-link {
    background-color: var(--blue-600); 
    border-color:  var(--blue-600); 
    color: #fff;
    transition: all 0.2s linear;
}

:is(.btn-solid:focus, .btn-solid:hover,.btn-solid:active) {
    background-color: var(--blue); 
    border-color: var(--blue); 
    color: #fff;
}

/* Gradient buttons */
.btn-gradient:any-link {
    background-image: linear-gradient(90deg,#e052a0,#f15c41); color: #fff;
} 

:is(.btn-gradient:focus, .btn-gradient:hover, .btn-gradient:active)  {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4); color: #fff;
} 

/* Ghost buttons */
.btn-ghost:any-link {
    border: solid 2px #fff; color: #fff; background-color: transparent; 
} 

:is(.btn-ghost:focus, .btn-ghost:hover, .btn-ghost:active)  {
    border: solid 2px blue; background-color: blue;  color: #fff;
} 

.btn-ghost i { color: #fff }
.btn-ghost:focus i, 
.btn-ghost:hover i, 
.btn-ghost:active i { color: #fff } 

/* Buttons: corner styles */
.btn-soft    { border-radius: 5px }
.btn-rounded { border-radius: 30px }

/* Buttons: Font Awesome icons */
.btn i { margin-right: 12px; }



