/* Add your custom CSS here */
.section-selector-1 > p { color: var(--purple-800) }

.section-selector-2 { background-color: var(--pink-200) }
.section-selector-2 h2 { color: var(--red-700) }

.section-selector-3 { background-color: var(--green-200) }
.section-selector-3 h2 { color: var(--green-700) }


