/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
img { width: 100%; height: auto; display: block }


/* Container for web page blocks */
.container-block { padding: 50px 18% 50px 18% }

/* Main heading */
.container-block h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 84px;
    color: #1435b3;
    letter-spacing: -3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* Smaller headings */
.container-block h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    color: #696969;
    line-height: 1.6;
    text-align: center;
   /* margin-bottom: 24px; */
}

/* Smallest headings */
.container-block h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    letter-spacing: -3px;
    color: #000;
    margin-bottom: 12px;
}

/* Text paragraphs */
.container-block p {
    font-family: 'Arvo', sans-serif;
    font-size: 21px;   
    color: #fff;
    line-height: 1.8;   
    margin-bottom: 20px;
}

/* Last paragraph at bottom of container block */
.container-block *:last-child { margin-bottom: 0 }


/* Images */
.container-block img { margin-bottom: 32px }


/* Coloured backgrounds */
.bg-hero-block { background-color: #f5f9fb }
.bg-blue-light { background-color: #d8f0f5 }
.bg-blue-dark  { background-color: #1435b3 }

/* Linear gradient, top to bottom */
.bg-blue-dark { background-image: linear-gradient(#0575e6, #1435b3) } 

/* Linear gradient, left to right */
.bg-blue-dark { background-image: linear-gradient(90deg,#0575e6, #1435b3) } 

/* Light blue background: h3 sub-headings and p text paragraphs */
.container-block.bg-blue-light h3 { color: #1435b3 }
.container-block.bg-blue-light p  { color: #000 }

/* Dark blue background: h3 sub-headings and p text paragraphs */
.container-block.bg-blue-dark h3 { color: #fff }
.container-block.bg-blue-dark p  { color: #fff }

