/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
img { width: 100%; height: auto; display: block }

/* Container for web page blocks */
.container-block { padding: 50px 18% 50px 18% }

/* Main heading */
.container-block h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 84px;
    color: #3e414f;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/* Smaller headings */
.container-block h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    color: #000000;
    line-height: 1.6;
    text-align: center;
}

/* Smallest headings */
.container-block h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
    text-transform: uppercase;    
    color: #e1f5fe;
    margin-bottom: 12px;
}

/* Text paragraphs */
.container-block p {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: #fff;
    line-height: 1.8;   
    margin-bottom: 20px;
}

/* Last paragraph at bottom of container block */
.container-block *:last-child { margin-bottom: 0 }

/* Images */
.container-block img { margin-bottom: 32px }

/* Coloured backgrounds */
.bg-hero-block { background-color: #f5f9fb }

.bg-dark-1 { background-color: #000000 }
.bg-dark-2 { background-color: #3e414f }
