/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box }
img { width: 100%; height: auto; display: block }


/* Container for web page blocks */
.container-block { padding: 50px 18% 50px 18% }

/* Main heading */
.container-block h1 {
	font-family: 'Noto Serif', serif;
    font-size: 84px;
    color: #1f364d;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 20px;
}

/* Smaller headings */
.container-block h2 {
	font-family: 'Noto Serif', serif;
    font-size: 28px;
    color: #2F4F4F;
    line-height: 1.6;
    text-align: center;
   /*  margin-bottom: 24px; */
}

/* Smallest headings */
.container-block h3 {
	font-family: 'Noto Serif', serif;
    font-size: 48px;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 12px;
}

/* Text paragraphs */
.container-block p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #2F4F4F;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Last paragraph at bottom of container block */
.container-block *:last-child { margin-bottom: 0 }


/* Images */
.container-block img { margin-bottom: 32px }

/* Coloured backgrounds */
.bg-hero-block { background-color: #f5f9fb }
.bg-pastel-1   { background-color: #BEC7B4 }
.bg-pastel-2   { background-color: #DEE2D9 }

