/* ============ GLOBAL CUSTOM PROPERTIES ============  */

:root {
    /* Nicer than default sans-serif font */
    --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

    /* Color variables */
    --black-000: #000;
    --white-000: #fff;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --blue-100: #cfe2ff;
    --blue-200: #9ec5fe;
    --blue-300: #6ea8fe;
    --blue-400: #3d8bfd;
    --blue-500: #0d6efd;
    --blue-600: #0a58ca;
    --blue-700: #084298;
    --blue-800: #052c65;
    --blue-900: #031633;

    --indigo-100: #e0cffc;
    --indigo-200: #c29ffa;
    --indigo-300: #a370f7;
    --indigo-400: #8540f5;
    --indigo-500: #6610f2;
    --indigo-600: #520dc2;
    --indigo-700: #3d0a91;
    --indigo-800: #290661;
    --indigo-900: #140330;

    --purple-100: #e2d9f3;
    --purple-200: #c5b3e6;
    --purple-300: #a98eda;
    --purple-400: #8c68cd;
    --purple-500: #6f42c1;
    --purple-600: #59359a;
    --purple-700: #432874;
    --purple-800: #2c1a4d;
    --purple-900: #160d27;

    --pink-100: #f7d6e6;
    --pink-200: #efadce;
    --pink-300: #e685b5;
    --pink-400: #de5c9d;
    --pink-500: #d63384;
    --pink-600: #ab296a;
    --pink-700: #801f4f;
    --pink-800: #561435;
    --pink-900: #2b0a1a;

    --red-100: #f8d7da;
    --red-200: #f1aeb5;
    --red-300: #ea868f;
    --red-400: #e35d6a;
    --red-500: #dc3545;
    --red-600: #b02a37;
    --red-700: #842029;
    --red-800: #58151c;
    --red-900: #2c0b0e;

    --orange-100: #ffe5d0;
    --orange-200: #fecba1;
    --orange-300: #feb272;
    --orange-400: #fd9843;
    --orange-500: #fd7e14;
    --orange-600: #ca6510;
    --orange-700: #984c0c;
    --orange-800: #653208;
    --orange-900: #331904;

    --yellow-100: #fff3cd;
    --yellow-200: #ffe69c;
    --yellow-300: #ffda6a;
    --yellow-400: #ffcd39;
    --yellow-500: #ffc107;
    --yellow-600: #cc9a06;
    --yellow-700: #997404;
    --yellow-800: #664d03;
    --yellow-900: #332701;

    --green-100: #d1e7dd;
    --green-200: #a3cfbb;
    --green-300: #75b798;
    --green-400: #479f76;
    --green-500: #198754;
    --green-600: #146c43;
    --green-700: #0f5132;
    --green-800: #0a3622;
    --green-900: #051b11;

    --teal-100: #d2f4ea;
    --teal-200: #a6e9d5;
    --teal-300: #79dfc1;
    --teal-400: #4dd4ac;
    --teal-500: #20c997;
    --teal-600: #1aa179;
    --teal-700: #13795b;
    --teal-800: #0d503c;
    --teal-900: #06281e;

    --cyan-100: #cff4fc;
    --cyan-200: #9eeaf9;
    --cyan-300: #6edff6;
    --cyan-400: #3dd5f3;
    --cyan-500: #0dcaf0;
    --cyan-600: #0aa2c0;
    --cyan-700: #087990;
    --cyan-800: #055160;
    --cyan-900: #032830;

    --ontrend-100: #fff4d9;
    --ontrend-200: #fdd0bb;
    --ontrend-300: #fea8b3;
    --ontrend-400: #7dcfe7;
    --ontrend-500: #0b6655;
    --ontrend-600: #400c3e;
    --ontrend-700: #2c4763;
    --ontrend-800: #1f364d;
    --ontrend-900: #0e2439;

    --global-font: var(--sans-serif);
    --drop-shadow: var(--gray-500);
    --img-border: var(--gray-700);
}

/* Global font */
body { font-family: var(--global-font) }


/* ========= THEME ONE ========== */

/* Background colour */
.theme-one { background-color: var(--white-000) }
/* Headings colours */
.theme-one .upper-label { color: var(--black-000) }
/* Single column */
.theme-one > h2 { color: var(--black-000) }
.theme-one > h3 { color: var(--black-000) }
/* Multi column */ 
.theme-one .col-1 h2 { color: var(--black-000) }
.theme-one .col-1 h3 { color: var(--gray-700) }
.theme-one .col-2 h3,
.theme-one .col-3 h3,
.theme-one .col-4 h3 { color: var(--black-000) }
/* Text colours */
.theme-one p, 
.theme-one li, 
.theme-one figcaption { color: var(--black-000) }
/* Hyperlinks colours */
.theme-one a:link, 
.theme-one a:visited { color: var(--blue-600) }  
.theme-one a:focus, 
.theme-one a:hover, 
.theme-one a:active { 
    color: var(--black-000);
    text-decoration: none;
    background-color: var(--gray-400);
} 
/* Buttons colours */
.theme-one a.btn-primary:link, 
.theme-one a.btn-primary:visited { 
    color: var(--white-000);
    background-color: var(--black-000);
    border-color: var(--black);
}  
.theme-one a.btn-primary:focus, 
.theme-one a.btn-primary:hover, 
.theme-one a.btn-primary:active { 
    color: var(--white-000);
    background-color: var(--gray-700);
    border-color: var(--gray-700);
} 
.theme-one a.btn-secondary:link, 
.theme-one a.btn-secondary:visited { 
    color: var(--black-000);
    background-color: var(--white-000);
    border-color: var(--black-000);
}  
.theme-one a.btn-secondary:focus, 
.theme-one a.btn-secondary:hover, 
.theme-one a.btn-secondary:active { 
    color: var(--black-000);
    background-color: var(--gray-400);
    border-color: var(--black-000);
} 

.theme-one a.btn-ghost:link, 
.theme-one a.btn-ghost:visited { 
    color: var(--black-000);
    background-color: transparent;
    border-color: var(--black-000);
}  
.theme-one a.btn-ghost:focus, 
.theme-one a.btn-ghost:hover, 
.theme-one a.btn-ghost:active { 
    color: var(--black-000);
    background-color: var(--gray-400);
    border-color: var(--black-000);
} 
/* Icons */
.theme-one figure.icon { color: var(--gray-700) }


/* ========= THEME TWO ========== */

/* Background colour */
.theme-two { background-color: var(--orange-100) }
/* Headings colour */
.theme-two .upper-label { color: var(--pink-500) }
/* Single column */
.theme-one > h2 { color: var(--black-000) }
.theme-one > h3 { color: var(--black-000) }
/* Multi column */ 
.theme-one .col-1 h2 { color: var(--black-000) }
.theme-one .col-1 h3 { color: var(--gray-700) }
.theme-one .col-2 h3,
.theme-one .col-3 h3,
.theme-one .col-4 h3 { color: var(--black-000) }

/* Text colour */
.theme-two p, 
.theme-two li, 
.theme-two figcaption { color: var(--black-000) }
/* Hyperlinks colours */
.theme-two a:link, 
.theme-two a:visited { color: var(--pink-600) }  
.theme-two a:focus, 
.theme-two a:hover, 
.theme-two a:active { 
    color: var(--white-000);
    text-decoration: none;
    background-color: var(--pink-500);
}
/* Buttons colours */
.theme-two a.btn-primary:link, 
.theme-two a.btn-primary:visited { 
    color: var(--white-000);
    background-color: var(--pink-600);
    border-color: var(--pink-600);
}  
.theme-two a.btn-primary:focus, 
.theme-two a.btn-primary:hover, 
.theme-two a.btn-primary:active { 
    color: var(--white-000);
    background-color: var(--pink-500);
    border-color: var(--pink-500);
} 
.theme-two a.btn-secondary:link, 
.theme-two a.btn-secondary:visited { 
    color: var(--pink-600);
    background-color: var(--orange-100);
    border-color: var(--pink-600);
}  
.theme-two a.btn-secondary:focus, 
.theme-two a.btn-secondary:hover, 
.theme-two a.btn-secondary:active { 
    color: var(--white-000);
    background-color: var(--pink-400);
    border-color: var(--pink-400);
} 
.theme-two a.btn-ghost:link, 
.theme-two a.btn-ghost:visited { 
    color: var(--black-000);
    background-color: transparent;
    border-color: var(--black-000);
}  
.theme-two a.btn-ghost:focus, 
.theme-two a.btn-ghost:hover, 
.theme-two a.btn-ghost:active { 
    color: var(--black-000);
    background-color: var(--gray-400);
    border-color: var(--black-000);
} 
/* Icons */
.theme-two figure.icon { color: var(--pink-500) }


/* ========= THEME THREE ========== */

.theme-three { background-color: var(--ontrend-600) }
.theme-three .upper-label { color: var(--ontrend-200) }
.theme-three h2 { color: var(--ontrend-200) }
.theme-three h3 { color: var(--ontrend-200) }
.theme-three p, 
.theme-three li, 
.theme-three figcaption { color: var(--white-000) }

.theme-three a:link, .theme-three a:visited { color: var(--ontrend-200) }  
.theme-three a:focus, .theme-three a:hover, .theme-three a:active { 
    color: var(--ontrend-600);
    text-decoration: none;
    background-color: var(--ontrend-200);
}
/* Buttons colours */
.theme-three a.btn-primary:link, 
.theme-three a.btn-primary:visited { 
    color: var(--ontrend-600);
    background-color: var(--ontrend-200);
    border-color: var(--ontrend-200);
}  
.theme-three a.btn-primary:focus, 
.theme-three a.btn-primary:hover, 
.theme-three a.btn-primary:active { 
    color: var(--ontrend-600);
    background-color: var(--yellow-100);
    border-color: var(--yellow-100);
}
.theme-three a.btn-secondary:link, 
.theme-three a.btn-secondary:visited { 
    color: var(--ontrend-200);
    background-color: var(--ontrend-600);
    border-color: var(--ontrend-200);
}  
.theme-three a.btn-secondary:focus, 
.theme-three a.btn-secondary:hover, 
.theme-three a.btn-secondary:active { 
    color: var(--ontrend-600);
    background-color: var(--ontrend-200);
    border-color: var(--ontrend-200);
}
.theme-three a.btn-ghost:link, 
.theme-three a.btn-ghost:visited { 
    color: var(--black-000);
    background-color: transparent;
    border-color: var(--black-000);
}  
.theme-three a.btn-ghost:focus, 
.theme-three a.btn-ghost:hover, 
.theme-three a.btn-ghost:active { 
    color: var(--black-000);
    background-color: var(--gray-400);
    border-color: var(--black-000);
} 
/* Icons */
.theme-three figure.icon { color: var(--ontrend-200) }


/* ========= THEME FOUR ========== */

/* Background colour */
.theme-four { background-color: var(--ontrend-900) }
/* Headings colours */
.theme-four .upper-label { color: var(--blue-100) }
.theme-four h2 { color: var(--blue-100) }
.theme-four h3 { color: var(--blue-100) }

/* Multi column */ 
.theme-four .col-1 h2 { color: var(--blue-100) }
.theme-four .col-1 h3 { color: var(--gray-100) }
.theme-four .col-2 h3,
.theme-four .col-3 h3,
.theme-four .col-4 h3 { color: var(--blue-100) }
/* Text colours */
.theme-four p, 
.theme-four li, 
.theme-four figcaption { color: var(--white-000) }
/* Hyperlink colours */
.theme-four a:link, 
.theme-four a:visited { color: var(--blue-100) }  
.theme-four a:focus, 
.theme-four a:hover, .theme-four a:active { 
    color: var(--ontrend-900);
    text-decoration: none;
    background-color: var(--blue-100);
}
/* Buttons colours */
.theme-four a.btn-primary:link, 
.theme-four a.btn-primary:visited { 
    color: var(--white-000);
    background-color: var(--red-500);
    border-color: var(--red-500);
}  
.theme-four a.btn-primary:focus, 
.theme-four a.btn-primary:hover, 
.theme-four a.btn-primary:active { 
    color: var(--white-000);
    background-color: var(--red-600);
    border-color: var(--red-600);
}
.theme-four a.btn-secondary:link, 
.theme-four a.btn-secondary:visited { 
    color: var(--blue-100);
    background-color: var(--ontrend-900);
    border-color: var(--blue-100);
}  
.theme-four a.btn-secondary:focus, 
.theme-four a.btn-secondary:hover, 
.theme-four a.btn-secondary:active { 
    color: var(--ontrend-900);
    background-color:  var(--blue-100);
    border-color:  var(--blue-100);
} 
.theme-four a.btn-ghost:link, 
.theme-four a.btn-ghost:visited { 
    color: var(--black-000);
    background-color: transparent;
    border-color: var(--black-000);
}  
.theme-four a.btn-ghost:focus, 
.theme-four a.btn-ghost:hover, 
.theme-four a.btn-ghost:active { 
    color: var(--black-000);
    background-color: var(--gray-400);
    border-color: var(--black-000);
} 
/* Icons */
.theme-four figure.icon { color:var(--blue-100) }