/* ============= THREE COLUMNS ============ */

/* Non-mobiles */
@media (min-width: 768px) { 
    .col-3 { width: 30%; margin-bottom: 24px }
    .col-3:nth-last-child(-n+3) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    /* 3 columns to 1 column */
    .col-3 { 
        width: 100%;
        max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 48px
    }

    /* 3 columns to 2 columns */
   .mobile-col-2 .col-3 { 
       width: 49%;
       margin-bottom: 20px 
    }
    .mobile-col-2 .col-3:nth-child(odd) { margin-right: -3% }
    .mobile-col-2 .col-3:nth-child(even) { margin-left: -3% }
    .mobile-col-2 .col-3:nth-last-child(-n+2) { margin-bottom: 0 }

    .mobile-col-2 .col-3 p, 
    .mobile-col-2 .col-3 li { line-height: 1.4 }
    .mobile-col-2 .col-3 li { padding-left: 2px }
}

/* =================== TYPOGRAPHY  ================== */

.col-3 h3 { 
    font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1140 - 320)));
    font-weight: 700; line-height: 1.15; margin-bottom: 6px;
}

@media (max-width: 767px) { 
    .mobile-col-2 .col-3 h3 { font-size: 19px }
}

.col-3 p {
    font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.5; margin-bottom: 16px;
}

.col-3 li { 
    font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1140 - 320))); 
    line-height: 1.4; margin-bottom: 10px; 
    margin-left: 15px; padding-left: 12px; 
}

/* Padding on columns */
.col-padding .col-3 {
    padding: 18px 18px 18px 18px;
}

/* =============== FAUX BUTTONS ================ */
.col-3 a.btn { 
	padding: 16px 32px;
	font-size: calc(17px + (18 - 17) * ((100vw - 320px)/(1600 - 320)));
}

/* ================= IMAGES, DRAWINGS, BIG ICONS ================= */

@media (min-width: 1200px) {
    .col-3 figure { margin-bottom: 32px }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .col-3 figure { margin-bottom: 26px }
}

@media (max-width: 767px) { 
    .col-3 figure { margin-bottom: 20px }
}

/* ================= ICONS AS ILLUSTRATIONS  ================= */

/* Font Awesome: Larger and smaller icons */
.col-3 figure.icon i[class*='fa'] { font-size: 116px }
.icon-small .col-3 figure.icon i[class*='fa'] { font-size: 80px; }

/* Light Awesome: Larger and smaller icons */
.col-3 figure.icon i[class*="la"] { font-size: 150px }
.icon-small .col-3 figure.icon i[class*="la"] { font-size: 110px }

/* Material UI (Outline): Larger and smaller icons */
.col-3 figure.icon { font-family: 'Material Icons'; display: inline-block }
.col-3 figure.icon span.material-icons-outlined { font-size: 140px }
.icon-small .col-3 figure.icon span.material-icons-outlined { font-size: 140px }

/* Font Awesome: Vertical spacing */
@media (min-width: 768px) { 
    .col-3 figure.icon i[class*='fa'] { margin-top: 24px; margin-bottom: 0 }
}
@media (max-width: 767px) { 
    .col-3 figure.icon i[class*='fa'] { margin-top: 0; margin-bottom: 18px }
}

/* Light Awesome: Vertical spacing */
.col-3 figure.icon i[class*="la"] { margin-top: 0; margin-bottom: -12px }

/* Material UI: Vertical spacing */
@media (min-width: 768px) { 
    .col-3 figure.icon span.material-icons-outlined { margin-top: 24px; margin-bottom: -72px }
}

@media (max-width: 768px) { 
    .col-3 figure.icon span.material-icons-outlined { margin-top: 12px; margin-bottom: -56px }
}

