
/* ============= TWO COLUMNS: SPLIT TEXT AND IMAGE ============ */

/* Desktops/Laptops */
@media (min-width: 1200px) { 
	.cols-2-split { 
        padding-left: 10%;
        padding-right: 10%;
		margin: 0 auto;
	} 
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) {
    .cols-2-split { 
        padding-left: 10%;
        padding-right: 10%;
        margin: 0 auto;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
    .cols-2-split { 
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
    }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
    .cols-2-split { 
        padding-left: 13%;
        padding-right: 13%;
        margin: 0 auto; 
    }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
    .cols-2-split { 
        padding-left: 10%;
        padding-right: 10%;
        margin: 0 auto;
    }
}

/* Individual Columns */
.cols-2-split .col-2 {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    overflow: hidden;
}

/* Non-mobiles */
@media (min-width: 768px) { 
    .cols-2-split .col-2 { width: 47%; margin-bottom: 72px }
    .cols-2-split .col-2:nth-last-child(-n+2) { margin-bottom: 0 }
}

/* Mobiles */
@media (max-width: 767px) { 
    .cols-2-split .col-2 { 
        width: 100%; 
        max-width: 400px; 
        margin-left: auto; margin-right: auto; 
        margin-bottom: 48px;
    }
}

/* Column order */
@media (min-width: 768px) {
    .cols-2-split.split-image-right .col-2:nth-child(2) { order: 1; }
    .cols-2-split.split-image-right .col-2:nth-child(3) { order: 2; }
    .cols-2-split.split-image-left  .col-2:nth-child(2) { order: 2; }
    .cols-2-split.split-image-left  .col-2:nth-child(3) { order: 1; }
}

/* =================== TYPOGRAPHY  ================== */

/* Column sub-headings */
.cols-2-split .col-2 h3 {
    font-size: calc(19px + (32 - 19) * ((100vw - 320px) / (1140 - 320)));
    font-weight: 700; line-height: 1.15; margin-bottom: 6px;
}

/* Paragraphs and Lists */
.cols-2-split .col-2 p {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1140 - 320)));
    line-height: 1.5; margin-bottom: 16px;
}

.cols-2-split .col-2 li { 
    font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1140 - 320))); 
    line-height: 1.4; margin-bottom: 10px; 
    margin-left: 15px; padding-left: 12px; 
}

/* =============== FAUX BUTTONS ================ */
.cols-2-split .col-2 a.btn {
    display: flex; 
    flex-direction: row; 
    align-self: flex-start;
    margin-top: 12px;
	padding: 16px 32px;
	font-size: calc(17px + (18 - 17) * ((100vw - 320px)/(1600 - 320)));
    margin-top: 12px; margin-bottom: 12px !important;
}





/* ================= IMAGES, DRAWINGS, BIG ICONS ================= */

.cols-2-split .col-2 figure { margin-bottom: 0 }






