/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 20px; 
    left: 0; top: 0; width: 100%;
    overflow: auto; /* Enable scroll if needed */
    transition: all .4s;
    height: 100vh;
}

.modal-content {
    background-color: #fefefe;
    margin: auto; padding: 12px 40px;
    border: 1px solid #888;
    border-radius: 4px;
    position: relative;
    max-width: 900px;
}

/* The Close Button */
#myModal .close {
    position: absolute; top: 10px; right: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #585858;
    text-decoration: none;
}

#myModal .close:hover, #myModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myModal .container-two-col {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    align-items: stretch;
    /* position: relatve; */ 
}

#myModal .col-2-picker {
    width: 48%;
    margin-bottom: 16px;
}

#myModal .col-2-picker form {
    display: inline-block;
    padding: 0
}

#myModal .col-2-picker input {
    padding: 0; margin: 0
}

#myModal .col-2-picker h3 {
    font-size: 17px;
    margin-bottom: 4px;
    font-weight: bold;
}

#myModal label {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
    border: solid 1px #888;
}

#myModal label:hover span {
    transform: scale(1.25);
}

#myModal label span {
    display: block; width: 100%; height: 100%;
    transition: transform 0.2s ease-in-out;
}

form#picker-box label span.blue  { background: var(--blue) }
label .blue-100  { background: var(--blue-100) }
label .blue-200  { background: var(--blue-200) }
label .blue-300  { background: var(--blue-300) }
label .blue-400  { background: var(--blue-400) }
label .blue-500  { background: var(--blue-500) }
label .blue-600  { background: var(--blue-600) }
label .blue-700  { background: var(--blue-700) }
label .blue-800  { background: var(--blue-800) }   
label .blue-900  { background: var(--blue-900) }

form#picker-box label span.indigo  { background: var(--indigo) }
label .indigo-100  { background: var(--indigo-100) }
label .indigo-200  { background: var(--indigo-200) }
label .indigo-300  { background: var(--indigo-300) }
label .indigo-400  { background: var(--indigo-400) }
label .indigo-500  { background: var(--indigo-500) }
label .indigo-600  { background: var(--indigo-600) }
label .indigo-700  { background: var(--indigo-700) }
label .indigo-800  { background: var(--indigo-800) }   
label .indigo-900  { background: var(--indigo-900) }


form#picker-box label span.purple  { background: var(--purple) }
label .purple-100  { background: var(--purple-100) }
label .purple-200  { background: var(--purple-200) }
label .purple-300  { background: var(--purple-300) }
label .purple-400  { background: var(--purple-400) }
label .purple-500  { background: var(--purple-500) }
label .purple-600  { background: var(--purple-600) }
label .purple-700  { background: var(--purple-700) }
label .purple-800  { background: var(--purple-800) }   
label .purple-900  { background: var(--purple-900) }

form#picker-box label span.pink  { background: var(--pink) }
label .pink-100  { background: var(--pink-100) }
label .pink-200  { background: var(--pink-200) }
label .pink-300  { background: var(--pink-300) }
label .pink-400  { background: var(--pink-400) }
label .pink-500  { background: var(--pink-500) }
label .pink-600  { background: var(--pink-600) }
label .pink-700  { background: var(--pink-700) }
label .pink-800  { background: var(--pink-800) }   
label .pink-900  { background: var(--pink-900) }

form#picker-box label span.red  { background: var(--red) }
label .red-100  { background: var(--red-100) }
label .red-200  { background: var(--red-200) }
label .red-300  { background: var(--red-300) }
label .red-400  { background: var(--red-400) }
label .red-500  { background: var(--red-500) }
label .red-600  { background: var(--red-600) }
label .red-700  { background: var(--red-700) }
label .red-800  { background: var(--red-800) }   
label .red-900  { background: var(--red-900) }

form#picker-box label span.orange  { background: var(--orange) }
label .orange-100  { background: var(--orange-100) }
label .orange-200  { background: var(--orange-200) }
label .orange-300  { background: var(--orange-300) }
label .orange-400  { background: var(--orange-400) }
label .orange-500  { background: var(--orange-500) }
label .orange-600  { background: var(--orange-600) }
label .orange-700  { background: var(--orange-700) }
label .orange-800  { background: var(--orange-800) }   
label .orange-900  { background: var(--orange-900) }

form#picker-box label span.yellow  { background: var(--yellow) }
label .yellow-100  { background: var(--yellow-100) }
label .yellow-200  { background: var(--yellow-200) }
label .yellow-300  { background: var(--yellow-300) }
label .yellow-400  { background: var(--yellow-400) }
label .yellow-500  { background: var(--yellow-500) }
label .yellow-600  { background: var(--yellow-600) }
label .yellow-700  { background: var(--yellow-700) }
label .yellow-800  { background: var(--yellow-800) }   
label .yellow-900  { background: var(--yellow-900) }

form#picker-box label span.green  { background: var(--green) }
label .green-100  { background: var(--green-100) }
label .green-200  { background: var(--green-200) }
label .green-300  { background: var(--green-300) }
label .green-400  { background: var(--green-400) }
label .green-500  { background: var(--green-500) }
label .green-600  { background: var(--green-600) }
label .green-700  { background: var(--green-700) }
label .green-800  { background: var(--green-800) }   
label .green-900  { background: var(--green-900) }

form#picker-box label span.teal  { background: var(--teal) }
label .teal-100  { background: var(--teal-100) }
label .teal-200  { background: var(--teal-200) }
label .teal-300  { background: var(--teal-300) }
label .teal-400  { background: var(--teal-400) }
label .teal-500  { background: var(--teal-500) }
label .teal-600  { background: var(--teal-600) }
label .teal-700  { background: var(--teal-700) }
label .teal-800  { background: var(--teal-800) }   
label .teal-900  { background: var(--teal-900) }

form#picker-box label span.cyan  { background: var(--cyan) }
label .cyan-100  { background: var(--cyan-100) }
label .cyan-200  { background: var(--cyan-200) }
label .cyan-300  { background: var(--cyan-300) }
label .cyan-400  { background: var(--cyan-400) }
label .cyan-500  { background: var(--cyan-500) }
label .cyan-600  { background: var(--cyan-600) }
label .cyan-700  { background: var(--cyan-700) }
label .cyan-800  { background: var(--cyan-800) }   
label .cyan-900  { background: var(--cyan-900) }

form#picker-box label span.gray  { background: var(--gray) }
label .gray-100  { background: var(--gray-100) }
label .gray-200  { background: var(--gray-200) }
label .gray-300  { background: var(--gray-300) }
label .gray-400  { background: var(--gray-400) }
label .gray-500  { background: var(--gray-500) }
label .gray-600  { background: var(--gray-600) }
label .gray-700  { background: var(--gray-700) }
label .gray-800  { background: var(--gray-800) }   
label .gray-900  { background: var(--gray-900) }

label .ontrend-100  { background: var(--ontrend-100) }
label .ontrend-200  { background: var(--ontrend-200) }
label .ontrend-300  { background: var(--ontrend-300) }
label .ontrend-400  { background: var(--ontrend-400) }
label .ontrend-500  { background: var(--ontrend-500) }
label .ontrend-600  { background: var(--ontrend-600) }
label .ontrend-700  { background: var(--ontrend-700) }
label .ontrend-800  { background: var(--ontrend-800) }   
label .ontrend-900  { background: var(--ontrend-900) }

label .black-000  { background: var(--black-000) }   
label .white-000  { background: var(--white-000); border: solid 1px #000 }

#myModal input[type=radio] {
    display: none;
}

#myModal input[type=radio]:checked + label span {
    transform: scale(1.25);
}

#myModal input[type=radio]:checked + label  {
    border: 2px solid #222;
}