/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; font-family: sans-serif }
img { width: 100%; height: auto; display: block }
* { margin:0; padding:0; box-sizing: border-box }

body { background-color: #eff8f5; font-family: sans-serif }
html { scroll-behavior: smooth }

/* ==== PAGE WIDTH ==== */

/* Mobiles */
@media all and (max-width:767px) {
    .container-page {
       padding-left: 5%;
       padding-right: 5%
    }
}

/* Desktop */
@media all and (min-width:768px) {
    .container-page {
       padding-left: 20%;
       padding-right: 20%
    }
}


/* ==== HEADINGS ==== */

h1 {
	font-weight: bold;
	font-size: calc(42px + (64 - 42) * ((100vw - 320px)/(1600 - 320)));
	letter-spacing: -1px;
}


/* Desktop */
@media all and (min-width:768px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 5%;
   }
}

/* Mobiles */
@media all and (max-width:767px) {
    h1 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 6%;
   }
}


 
h2 {
    font-weight: bold;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px)/(1600 - 320)));
}
 
 
/* Mobiles */
@media all and (max-width:767px) {
    h2 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 3%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    h2 {
       line-height: 1.3;
       margin-top: 12%;
       margin-bottom: 2%;
    }
} 
 
h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 28px;
}
 
 
/* Mobiles */
@media all and (max-width:767px) {
    h3 {
       font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
       margin-top: 6%;
       margin-bottom: 1%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    h3 {
       line-height: 1.3;
       margin-top: 5%;
       margin-bottom: 1%;
    }
}

/* ==== PARAGRAPHS ==== */

p {
   font-weight: normal;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}


/* Mobiles */
@media all and (max-width:767px) {
   p {
      line-height: 1.5;
      margin-bottom: 5%;
   }
}

/* Desktop */
@media all and (min-width:768px) {
   p {
      line-height: 1.6;
      margin-bottom: 2%;
   }
}
 
/* ==== BULLETS ==== */

ul li, ol li {
   font-weight: normal;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

/* Mobiles */
@media all and (max-width:767px) {
   ul, ol { margin-left: 5% }
   ul li, ol li {
      line-height: 1.5;
      margin-bottom: 5%;
   }
}
 
/* Desktop */
@media all and (min-width:768px) {
   ul, ol { margin-left: 3% }
   ul li, ol li {
      line-height: 1.6;
      margin-bottom: 2%;
   }
}

/* ==== HYPERLINKS ==== */

a.fancy-link:link,
a.fancy-link:visited,
a.fancy-link:hover,
a.fancy-link:active { 
    text-decoration: none;
    color: inherit;
    border-bottom-style: solid;
    border-bottom-width:2px;
    padding-bottom: 2px;
}

a.fancy-link:link,
a.fancy-link:visited { border-bottom-color: blue}

a.fancy-link:hover,
a.fancy-link:active { color: red; border-bottom-color: red }


/* ============ FOOTER STYLES ================= */

/* Outer parent container */
.container-footer { 
	display: flex;
	justify-content: space-between;
   flex-wrap: wrap;
   background:#2c3e50
}

/* Desktop - inside padding  */
@media all and (min-width:768px) {
	.container-footer { padding: 3% 8% 5% 8% }
}

/* Mobiles - inside padding */
@media all and (max-width:767px) {
	.container-footer { padding: 12% 8% 1% 8% }
}

/* Inner columns */

/* Desktops - 3 columns */
@media all and (min-width:768px) { 
   .container-footer .item-3:nth-child(1) { width: 20% }
   .container-footer .item-3:nth-child(2) { width: 50% }
   .container-footer .item-3:nth-child(3) { width: 20% }
}

/* Mobiles - 1 column */
@media all and (max-width:767px) { 
	.container-footer .item-3 { 
      width: 100%;
      margin-bottom: 10%
   }
   .container-footer .item-3:nth-child(2) { order: 1 }
   .container-footer .item-3:nth-child(1) { order: 2 }
   .container-footer .item-3:nth-child(3) { order: 3 } 
}

/* Styles for background, text and links */

.container-footer .item-3 h4,
.container-footer .item-3 p,
.container-footer .item-3 p i,
.container-footer .item-3 p a {
   color: #fff
}

.container-footer .item-3 h4 {
   font-weight: bold;
   margin-bottom: 12px;
   font-size: calc(18px + (20 - 18) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer .item-3 p {
   font-weight: normal;
   margin-bottom: 12px;
   font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer .item-3 i { 
   padding-right: 26px;
} 

.container-footer .item-3 p a {
   text-decoration: none;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   padding-bottom:2px;
}

.container-footer .item-3 p a:link, 
.container-footer .item-3 p a:visited  {
   border-bottom-color: transparent;
}

.container-footer .item-3 p a:hover, 
.container-footer .item-3 p a:active  {
   border-bottom-color: #fff

}

