        #cookie-banner {
            position: fixed;
            bottom: 0; left: 0; right: 0; background-color: #111;
            padding: 20px 32px; 
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
            display: none;
        }
        
        @media(max-width: 767px) {
            #cookie-banner { padding: 20px 18px }
        }

        #cookie-banner.show {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #cookie-banner p { 
            font-family: Helvetica,Calibri,Arial,sans-serif; font-size: 16px; line-height: 1.5em;
            margin: 0; padding-right: 20px; color: #fff; 
        }

        #cookie-banner p a:link, 
        #cookie-banner p a:visited { 
            color: #fff; text-underline-offset: 5px; text-decoration-thickness: 1.5px
        }  

        #cookie-banner p a:hover, 
        #cookie-banner p a:active { color: lightblue; text-decoration: none }  

        #cookie-banner .buttons { display: flex; gap: 10px }
        #cookie-banner button {
            border: none;
            padding: 6px 16px;
            border-radius: 3px;
            cursor: pointer;
            font-weight: bold;
            font-family: Helvetica,Calibri,Arial,sans-serif; font-size: 16px; line-height: 1.5em;
        }
        #accept-cookies {
            background-color: rgb(255, 252, 38);
            color: #111;
        }

        #accept-cookies:hover, #accept-cookies:focus, #accept-cookies:active {
            background-color: lightgreen;
            color: #111;
        }