body { font-family: 'Inter', sans-serif }

  /* inter-300 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-300.woff2") format('woff2'); 
  }
  
  /* inter-regular - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-regular.woff2") format('woff2'); 
  }
  
  /* inter-500 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-500.woff2") format('woff2'); 
  }
  
  /* inter-600 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-600.woff2") format('woff2'); 
  }
  
  /* inter-700 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-700.woff2") format('woff2'); 
  }
  
  /* inter-800 - latin */
  @font-face {
	font-display: swap; 
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/inter-v13-latin/inter-v13-latin-800.woff2") format('woff2'); 
  }


 /* inter-tight-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter Tight';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter-tight-v7-latin/inter-tight-v7-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* inter-tight-600italic - latin */
  @font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Inter Tight';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/inter-tight-v7-latin/inter-tight-v7-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
 
section.theme-light {
	background-color: #fff;
} 

header.theme-dark .container-overlay { 
    background-image: linear-gradient(rgba(0, 0, 0,0.1));
}

.hero-bg .container-overlay {
	background-image: linear-gradient(rgba(0, 0, 0,0.1));
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}

section.theme-light h2 { color: #230cea }

section.theme-light .col-1 h3 { color:  #3f3e42 }


.col-4 .btn-soft { border-radius: 4px }

section.theme-light .col-4 a.col-4-h3:link, 
section.theme-light .col-4 a.col-4-h3:visited { 
	color:#230cea; text-decoration-color: #230cea }
section.theme-light .col-4 a.col-4-h3:focus, 
section.theme-light .col-4 a.col-4-h3:hover, 
section.theme-light .col-4 a.col-4-h3:active { 
	color:#230cea; text-decoration-color: #0C75EA }


section.theme-light .col-4 p { 
	font-size: calc(var(--font-size-base) * 0.9); 
	color: #3f3e42
}

.btn-small { padding: 7px 18px 8px 18px; font-size: calc(var(--font-size-sm) * 1.2 )}

.section-selector-1 a.btn:link,
.section-selector-1 a.btn:visited { background-color: #230cea; border-color: #230cea }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: #0C75EA; border-color: #0C75EA }


