

/* Base sans-serif system font */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/* This technique doesn't naturally cause horizontal overflow, but once there is natural vertical overflow, it causes horizontal overflow, so stopping here. */
body {
    overflow-x: hidden;
    font: 100%/1.5 system-ui, sans-serif;
  }
  
  img { 
    max-width: 100%; 
  }
  
  main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  
  p, figure {
    margin: 15px 0;
  }
  figcaption {
    text-align: center;
    color: #999;
  }