<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Login Form</title>
    <meta name="description" content="User Login Form">
    <link rel="stylesheet" href="https://lunevedy.com/assets/2.0/css/lunevedy.min.css" />

    <style>
        body, header, section {background-color: #e8e7d5;}
        header { padding: 2% 5% !important}
        header h1 { font-size: var(--font-size-xl); letter-spacing: 0 }


        section { padding-top: 0px }

        #system-response p {
            background-color: lightpink;
            border-color: deeppink;
            border-width: 1px;
            color: #000;
            font-size: var(--font-size-base);
            padding: 12px 20px
        }
    </style>


</head>


<body>

    <header class="text-center-desktop text-center-mobile">
        <h1>User Authorisation Required</h1>
    </header>

        <section class="w-820px text-center-desktop text-center-mobile">

            <p>Please <a href="user_login.html">Sign in</a> or <a href="user_add.html">Create an Account</a>.</p>

        </section>


</body>
</html>
