<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express / MongoDB App Home Page</title>
    <meta name="description" content="An Express app for interacting with soccer player data hosted on MongoDB Atlas.">
    <link rel="stylesheet" href="https://lunevedy.com/assets/2.0/css/lunevedy.min.css" />
    
    <style>
    body, header, section {background-color: #e8e7d5;}
    header { padding: 2% 5% !important}
    header h1 { font-size: var(--font-size-xl); letter-spacing: 0 }

    header p button { padding: 8px 16px; font-size: calc(var(--font-size-sm) * 1.2 ); background-color: #4db33d; color: #fff; border: none; border-radius: 4px; cursor: pointer; transition: background-color 0.3s }  

    section { padding-top: 20px }
    </style>


</head>

<body>
    <header class="text-center-desktop text-center-mobile">
    <h1>Express / MongoDB App Home Page</h1>
    </header>

    <section  class="text-center-desktop text-center-mobile">
        <p><a href="list.html">List all soccer players</a>.</p>

    </section>
    
</body>
</html>