/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1920px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
/* h1, h2, h3, h4 { width: 100% } */
input, button, textarea, select { font: inherit }


/* Web page font  */
body { font-family: 'Roboto', sans-serif }

/* ============ SECTIONS: VERTCAL AND HORIZONTAL PADDING ============ */

@media (min-width: 1200px) { 
	section { 
        padding-left: calc( (100% - 1140px)/2 );
		padding-right: calc( (100% - 1140px)/2 );
        padding-top: 3.5%;
		padding-bottom: 5%; 
        margin-left: auto;
		margin-right: auto;
	} 
}

/* Tablets and smaller desktops */
@media (min-width: 1025px) and (max-width: 1199px ) { 
	section { padding: 3% 12% 3% 12% } 
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) { 
	section { padding: 4% 5% 4% 5% }
}

/* Larger mobiles */
@media (min-width: 400px) and (max-width: 767px)  { 
	section { padding: 7% 13% 8% 13% }
}

/* Smaller mobiles */
@media (max-width: 399px) { 
	section { padding: 7% 10% 8% 10% } 
}

/* ======== FLEXBOX: PARENT AND CHILD ELEMENTS ======== */

.container-flexbox { 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
}


/* Desktops only - inside padding  */
@media (min-width:768px) {
	.container-flexbox { }
}

/* Mobiles only - inside padding */
@media (max-width:767px) {
	.container-flexbox { }
}

/* Background colors */
.container-flexbox.bg-light-gray { background-color: #f5f5f5 }
.container-flexbox.bg-green      { background-color: #5ba745 }


/* ======== FLEXBOX ITEM COLUMNS: 1 ITEM COLUMN EVERY SCREEN ========= */

.container-flexbox .item-col-1 { 
	width: 100%;
}


/* ===== FLEXBOX ITEM COLUMNS: 2 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES ==== */

/* For 'hero' section at top of web page */

/* Desktops - 2 columns */
@media (min-width:768px) { 
	.container-flexbox .item-col-2 { 
		width: 50%;
	}
}

/* Mobiles - 1 column */
@media (max-width:767px) { 
	.container-flexbox .item-col-2 {
		text-align: center; 
		width: 100%;
	}
}

/* === FLEXBOX ITEM COLUMNS: 3 COLUMNS ON DESKTOPS, 1 COLUMN ON MOBILES === */

/* Desktops - 3 columns */
@media (min-width:768px) { 
	.container-flexbox .item-col-3 { 
		width: 33.33%;
	}
}

/* Mobiles - 1 column */
@media (max-width:767px) { 
	.container-flexbox .item-col-3 { 
		width: 100%;
	}
}

/* ================== HEADINGS, PARAGRAPHS, IMAGES ================= */

/* Single column item-col-1 */
.container-flexbox .item-col-1 h2 { 
	font-weight: 900; 
	color: #5ba745;
	line-height: 1.2;
	margin-bottom: 12px;
	letter-spacing: -1px;
	text-align: center;
	font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-col-1 p { 
	font-weight: 400; 
	line-height: 2;
	letter-spacing: 1px;
	text-align: center;
	font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1600 - 320))); 
	color: #000
}

.container-flexbox.bg-green .item-col-1 p.big-text {
	font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1600 - 320))); 
	margin-bottom:20px;
	font-weight: 500;
}

.container-flexbox.bg-green .item-col-1 p.big-text,
.container-flexbox.bg-green .item-col-1 p.big-text a {
	color: #fff;
}

.container-flexbox.bg-green .item-col-1 p.big-text a {
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px #fff;
	padding-bottom:3px;
}

.container-flexbox.bg-green .item-col-1 p.big-text a:hover,
.container-flexbox.bg-green .item-col-1 p.big-text a:active {
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px #5ba745;
}

/* Two columns item-col-2 */
.container-flexbox .item-col-2 h1 { 
	font-weight: 900; 
	color: #000;
	line-height: 1.1;
	margin-bottom: 12px;
	letter-spacing: -1px;
	margin-bottom: 20px;
	font-size: calc(30px + (72 - 30) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-col-2 p { 
	font-weight: 500; 
	color: gray;
	line-height: 1.3;
	font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

/* Three columns item-col-3 */
.container-flexbox .item-col-3 h3 { 
	font-weight: 500; 
	color: #000;
	line-height: 1.2;
	margin-bottom: 2px;
	font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1600 - 320))); 
}

.container-flexbox .item-col-3 p { 
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); 
	line-height: 1.5;
	margin-bottom: 14px;
	color: rgb(82, 95, 127);
}

/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ----------------------------------------------
*/

.scale-up-center {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
  
section { 
    border-width: 2px;
    border-style: solid;
    border-color: red
}

section div { 
    border-width: 2px;
    border-style: solid;
    border-color: blue
}

